<div id="certifications_form">
    {% csrf_token %}
    <input type="hidden" name="model" value="{{ model }}">
    <input type="hidden" name="app" value="{{ app }}">

    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer">

        <table id="dt_basic" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th data-class="expand" class="" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label=" Name: activate to sort column ascending"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Certification Name</th>
                    <th data-class="expand" class="" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label=" Document: activate to sort column ascending"><i class="fa fa-fw fa-file text-muted hidden-md hidden-sm hidden-xs"></i> Document</th>
                    <th data-hide="phone,tablet" class="" tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label=" Date obtained: activate to sort column ascending"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Date Obtained</th>
                    <th tabindex="0" aria-controls="dt_basic" rowspan="1" colspan="1" aria-label=" Actions: activate to sort column ascending"><i class="fa fa-fw fa-pencil txt-color-blue hidden-md hidden-sm hidden-xs"></i> Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if app == 'users' %}
                    {% for row in profile.individualcert_set.all %}
                        {% include 'profile/individual_cert.html' with row=row %}
                    {% endfor %}
                {% else %}
                    {% for row in profile.businesscert_set.all %}
                        {% include 'profile/individual_cert.html' with row=row %}
                    {% endfor %}
                {% endif %}
                <tr role="row" class="odd">
                    <td><span class="responsiveExpander"></span>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input data-required='true' maxlength="30" name="certification_name" placeholder="Certification Name" type="text" />
                        </label>
                    </td>
                    <td><span class="responsiveExpander"></span>
                        <label class="input">
                            <div class="input input-file">
                                <span class="button"><input type="file" name="document" id="id_document" onchange="$(this).parent().next().val($(this).val().split('\\').pop());">Add</span>
                                <input type="text" placeholder="Certification" readonly="">
                            </div>
                        </label>
                    </td>
                    <td>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input class="datepicker" data-dateformat="yy-mm-dd" data-mask="9999-99-99" data-required='true' maxlength="30" name="date_obtained" placeholder="Date Obtained" type="text" />
                        </label>
                    </td>
                    <td class="text-right">
                        <input type="hidden" name="user" value="{{ profile.id }}"/>
                        <a href="javascript:void(0);" class="add-cert btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        var $form = $('#certifications_form');
        $form.find('input').each(function(i, el){
            $(el).on('keyup', function(){
                var $field = $(this);
                var $label = $field.parent();
                $label.removeClass('state-error');
                $field.removeClass('invalid');
                $label.find('em').remove();
            });
        });
        $('.add-cert').click(function(){
            var data = new FormData();
            $form.find('input').each(function(i, el){
                var $el = $(el);
                data.append($el.attr('name'), $el.val());//[$el.attr('name')]=  $el.val();
            });
            var formData = new FormData();
            $.each($('#certifications_form').find("input[type='file']"), function(i, tag) {
              $.each($(tag)[0].files, function(i, file) {
                data.append(tag.name, file);
              });
            });
            
            $.ajax({
                url: {% url 'create_individual_certificate' %},
                data: data,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function(data){
                    if ((typeof data == "object") && (data !== null)){
                        for (var name in data.errors){
                            var $field = $form.find('input[name="'+name+'"]');
                            var $label = $field.parent();
                            $label.addClass('state-error');
                            $field.addClass('invalid');
                            $label.find('em').remove();
                            $field.after('<em for="'+name+'" class="invalid">'+data.errors[name]+'</em>');
                        }

                    } else {
                        $form.find('table tr:eq(-1)').before(data);
                        $form.find('input[name="certification_name"]').empty();
                        $form.find('input[name="document"]').empty();
                        $form.find('input[name="date_obtained"]').empty();
                    }
                }
            });
        });
    });
    function certDelete(id){
        var $form = $('#certifications_form');
        $.ajax({
            url: {% url 'delete_individual_certificate' %},
            data: {
                pk: id,
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                app: $form.find('input[name="app"]').val(),
                model: $form.find('input[name="model"]').val(),
                user: "{{ profile.id }}"
            },
            type: 'POST',
            success: function(data){
                if(data.status === 'success') {
                    $('#certifications_form').find('table tr[data-id=' +  id+ ']').remove();
                }
            }
        });
    }
</script>
