<form action="/delete-profile-field/{{ field.id }}/" method="post">

                             {% csrf_token %}
<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">Delete
                                    {{ field.name }} from user profiles?
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">


									<div class="col-md-12">
										Are you sure you want to delete {{ field.name  }} from user profiles,
                                        all data will be lost!
									</div>
								</div>



							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="submit" class="btn btn-danger">
									Delete
								</button>
							</div>
    </form>