{% extends 'admin_base.html' %}
{% load static %}
{% load code_tags %}

{% block extra_css %}
    <style>
        #searchResultTable tr.rowSelected td{
            background: lightgreen !important;
        }

        #selectedResultTable tr.rowSelected td{
            background: #C79121!important;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'dashboard' %}">DashBoard</a>
    </li>
    <li>
        <a href="{% url 'profile' %}">My Profile</a>
    </li>
    <li>
        <a href="#">Update</a>
    </li>
{% endblock breadcrumb %}

{% block content %}

<div id="content">

    <!-- row -->
    <div class="row " >

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-block alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                <a href="#" data-dismiss="alert" class="close">×</a>
                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> {{ message }}</h4>
                                <p>Remember you can always choose what to share using the privacy settings</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-block alert-info">
                            <a href="#" data-dismiss="alert" class="close">×</a>
                            <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Please update personal profile{% if not user.profile_complete %} before you can continue to other pages{% endif %}</h4>
                            <p>Required fields are marked by bold font</p>
                            <p>Remember you can always choose what to share using the privacy settings</p>
                        </div>
                    {% endif %}

                    <section class="" id="widget-grid">
                        {% if form.instance.is_com %}
                            {% include "users/includes/com_user_edit_form.html" %}
                        {% endif %}
                        {% if form.instance.is_gov %}
                            {% include "users/includes/gov_user_edit_form.html" %}
                        {% endif %}
                    </section>

                </div>



            </div>

                <!-- end row -->

        </div>

    </div>
</div>

    <!-- search modal -->
    {% code_modal %}
    <!-- end search modal -->

{% endblock content %}

{% block page_js %}
    <script type="text/javascript" src="{% static "js/libs/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>
    {% include 'company/include/products-widget-js.html' with app='users' model='user' %}
{% endblock page_js %}
