{%  load crispy_forms_field %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Search Company - MatchMaker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<!-- Open Sans font from Google CDN -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

	<!-- Pixel Admin's stylesheets -->
	<link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
		<script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
	<![endif]-->


<!-- $DEMO =========================================================================================

	Remove this section on production

	<style>
		#signin-demo {
			position: fixed;
			right: 0;
			bottom: 0;
			z-index: 10000;
			background: rgba(0,0,0,.6);
			padding: 6px;
			border-radius: 3px;
		}
		#signin-demo img { cursor: pointer; height: 40px; }
		#signin-demo img:hover { opacity: .5; }
		#signin-demo div {
			color: #fff;
			font-size: 10px;
			font-weight: 600;
			padding-bottom: 6px;
		}
	</style>
 / $DEMO -->

</head>


<!-- 1. $BODY ======================================================================================

	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'     - Sets text direction to right-to-left
-->
<body class="theme-default page-signin">
<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
<![endif]-->
<script>
	var init = [];
	init.push(function () {
		var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
		    bgs  = [ '{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-2.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-3.jpg',
		    		 '{{ STATIC_URL }}hassets/demo/signin-bg-4.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-5.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-6.jpg',
					 '{{ STATIC_URL }}hassets/demo/signin-bg-7.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-8.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-9.jpg' ];
		for (var i=0, l=bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
		$div.find('img').click(function () {
			var img = new Image();
			img.onload = function () {
				$('#page-signin-bg > img').attr('src', img.src);
				$(window).resize();
			}
			img.src = $(this).attr('src');
		});
		$('body').append($div);
	});
</script>
<!-- <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>  / Demo script -->

	<!-- Page background -->
	<div id="page-signin-bg">
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image -->
		<img src="{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg" alt="">
	</div>
	<!-- / Page background -->

	<!-- Container -->
	<div class="signin-container">

		<!-- Left side -->
		<div class="signin-info">
			<a href="/" class="logo">
				<img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
				MatchMaker
			</a> <!-- / .logo -->
			<div class="slogan">
				Attend Events.
			</div> <!-- / .slogan -->
			<ul>
				<li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
				<li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
				<li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
				<li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
			</ul> <!-- / Info list -->
		</div>
		<!-- / Left side -->

		<!-- Right side -->
		<div class="signin-form">

			<!-- Form -->
			<form action="" id="company-search-form" name="change-form" method="post">
				<div class="signin-text">
					<span class="fa fa-search "><span id="errors3"> Search Your Company</span></span>
				</div> <!-- / .signin-text -->

                {% csrf_token %}
                <div class="form-group ">
                    {% crispy_field form.industry %}
                    <div class="error">{{ form.industry.errors.0 }}</div>
                </div>

                <div class="form-group ">
                    {% crispy_field form.small_business_category %}
                    <div class="error">{{ form.small_business_category.errors.0 }}</div>
                </div>

                <div class="form-group ">
                    {% crispy_field form.company %}
                    <div class="error">{{ form.company.errors.0 }}</div>
                </div>

				<div class="form-actions">
					<input type="submit" value="Next" class="signin-btn bg-primary">
					<a href="/add-company-profile/" class="forgot-password" >Can't Find Company?</a>
				</div> <!-- / .form-actions -->
                <input type="hidden" name="name" value="not in use"/>
			</form>
			<!-- / Form -->




		</div>
		<!-- Right side -->
	</div>
	<!-- / Container -->

	<div class="not-a-member">
		Welcome {{ request.user.username }}
	</div>

<!-- Pixel Admin's javascripts -->
<script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax.js"></script>

<script type="text/javascript">
	// Resize BG
	init.push(function () {
		var $ph  = $('#page-signin-bg'),
		    $img = $ph.find('> img');

		$(window).on('resize', function () {
			$img.attr('style', '');
			if ($img.height() < $ph.height()) {
				$img.css({
					height: '100%',
					width: 'auto'
				});
			}
		});
	});




	init.push(function () {



	window.PixelAdmin.start(init);
</script>
<script>
     $("#id_small_business_category").select2({
							placeholder: "Select Business Categories"
						});
 $("#id_company").select2({
							placeholder: "Select Company"
						});

</script>
<style>
    .error{
        color: red;
    }
</style>

</body>
</html>
