<tr role="row" class="odd" data-id="{{ row.id }}">
    <td><span class="responsiveExpander"></span>{{ row.certification_name }}</td>
    <td><span class="responsiveExpander"></span>{% if row.document %}<a href='{{ row.document.url }}' title="certificate" target="_blank" download="{{ row.file_name }}">{{ row.file_name }}</a>{% endif %}</td>
    <td>{{ row.date_obtained|date:'M. d, Y' }}</td>
    <td class="text-right">
        <a href="javascript:certDelete({{ row.id }});" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-remove"></i></a>
    </td>
</tr>
