


<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">
                                    Create a new  question
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">



									<div class="col-md-12">




                                        <div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
                    {% if error %}
                    <div class="alert danger">
                    {{ error }}

                    </div>
                    {% endif %}




						<form novalidate="novalidate" class="smart-form" id="order-form"
                              action="/add-question/{{ survey.id }}/" method="post" >

                             {% csrf_token %}


							<fieldset>
								<div class="row">
									<section class="col col-6">
                                         <strong>Question </strong>
										<label class="input"> <i class="icon-append fa fa-info-o"></i>
											<input type="text" placeholder="Question" name="name"  required="">
										</label>
									</section>
									<section class="col col-6">
                                        <strong>Question Type</strong>
										<label class="select">
											<select name="question_type" required="">
                                                 <option value="char">TextField</option>
												<option selected="selected" value="text">TextArea</option>
                                                    <option value="radio">Radio</option>
                                                    <option  value="select">Select</option>
                                                    <option value="select-multiple">CheckBox</option>
                                                    <option value="int">Number</option>

                                                </select> <i></i> </label>
									</section>
								</div>



								<section>
                                    <strong>Choices eg YES,NO, Prefer not to say</strong>
									<label class="textarea"> <i class="icon-append fa fa-comment"></i>
										<textarea placeholder="if the question type is radio select or select multiple provide a comma-separated list of options for this question" name="choices">{{ field.choices|safe }}</textarea>
									</label>
								</section>
                                <section>
									<label class="checkbox"><input type="checkbox" id="copy"
                                                                  {% if field.required %}checked{% endif %} name="required"><i>

									</i>Required</label>
								</section>
                                <section>
									<label class="checkbox"><input type="checkbox" id="copy"
                                                   {% if field.active %}checked{% endif %} name="active"><i>

									</i>Active</label>
								</section>
							</fieldset>
                        <footer>
								<button class="btn btn-primary" type="submit">
									Create Question
								</button>
							</footer>



</form>
					</div>
					<!-- end widget content -->

				</div>




									</div>
								</div>



							</div>

