


<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">
                                    edit question
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">



									<div class="col-md-12">




                                        <div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">




						<form novalidate="novalidate" class="smart-form" id="order-form"
                              action="/edit-question/{{ q.id }}/" method="post" >

                             {% csrf_token %}


							<fieldset>
								<div class="row">
									<section class="col col-6">
                                        <strong>Question</strong>
										<label class="input"> <i class="icon-append fa fa-info-o"></i>
											<input type="text" placeholder="Question" name="name"  value="{{ q.text }}" required="">
										</label>
									</section>
									<section class="col col-6">
                                        <strong>Question Type</strong>
										<label class="select">
											<select name="question_type" required="">


                                                <option  selected="selected" value="{{ q.question_type }}">{{ q.get_question_type_display }}</option>
                                                <option value="char">Characters</option>
												<option value="text">TextArea</option>
                                                    <option value="radio">Radioadio</option>
                                                    <option  value="select">Select</option>
                                                    <option value="select-multiple">CheckBox</option>
                                                    <option value="int">Number</option>

                                                </select> <i></i> </label>
									</section>
								</div>



								<section>
                                    <strong>Choices eg YES,NO, Prefer not to say</strong>
									<label class="textarea">
										<textarea placeholder="eg Yes,NO" name="choices">{{ q.choices|safe }}</textarea>
                                        Only applies for Radio,Select or Checkbox provide a comma-separated
									</label>
								</section>
                                <section>
									<label class="checkbox"><input type="checkbox" id="copy"
                                                                  {% if q.required %}checked{% endif %} name="required"><i>

									</i>Required</label>
								</section>
                                <section>
									<label class="checkbox"><input type="checkbox" id="copy"
                                                   {% if q.active %}checked{% endif %} name="active"><i>

									</i>Active</label>
								</section>
							</fieldset>
                        <footer>
								<button class="btn btn-primary" type="submit">
								Update Question
								</button>
							</footer>



</form>
					</div>
					<!-- end widget content -->

				</div>




									</div>
								</div>



							</div>

