{% extends 'survey_base.html' %}
{% load survey_extras %}

{% block body %}

<h1> Thankyou {{ request.user.usernname }}. Please answer the following questions</h1>
<div class="survey-description">
	{{survey.description|safe}}
</div>

<div>
	<form action="/survey/{{survey.id}}/" method="post">{% csrf_token %}




		<ol class="survey-questions">
		{% for category in categories %}
			<h3 class="collapsible">{{category|title}} Questions<span></span></h3>
			<div class="category-container">
			{% for field in response_form %}
				{% if field.field.widget.attrs.category == category %}
					<li class="q-item" value="{% counter %}">
					{% if field.field.required %} 
					<div class="field-wrapper question-required"> 
						{{ field.errors }}
						<span class="asterix"> * </span><label class="label-inline">{{ field.label }}</label>
					{% else %} 
					<div class="field-wrapper"> 
						{{ field.errors }}
						<label class="label-inline">{{ field.label }}</label>
					{% endif %}
						<span class="form-help-text">{{ field.help_text}}</span>
						<div class="form-field-body">
							{{ field }}
						</div>
					</div>
					</li>
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
		</ol>
    <input type="hidden" name="interviewer" maxlength="400" id="id_interviewer" value="me">
    <input type="hidden" name="interviewee" maxlength="400" id="you" value="me">
        <input type="hidden" name="user" id="you" value="{{ request.user.id}}">

		<div class="submit-button"><input type="submit" value="Submit Survey"></div>
	</form>

</div>

{% endblock %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}survey/js/jquery.collapsible.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//collapsible management
			$('.collapsible').collapsible({defaultOpen: 'response_metadata'});
		});
	</script>
{% endblock %}