{% extends 'admin_base.html' %}
{% block title %}
{% endblock title %}
Event Surveys
{% block breadcrumb %}
    <li><a href="/my-surveys/">Survey List</a></li>
    
    <li>{{ survey.name|title }}</li>

{% endblock breadcrumb %}
{% block content %}


			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i>
								{{ survey.name|title }}  details
							<span>

							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5>  Sent <span class="txt-color-blue">47,171</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">

								</div>
							</li>
							<li class="sparks-info">
								<h5> Responded <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">

								</div>
							</li>


                            {% if survey.active %}
                            <li class="sparks-info">
								&nbsp;<a  class="btn btn-info " href="/send-survey/{{ survey.id }}/">
                                <i class="fa fa-envelope"></i> <i class="fa fa-mobile-phone"></i> Re Send Survey
								</a>

								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">

								</div>

							</li>
                           {% else %}

                            <li class="sparks-info">
								&nbsp;<a  class="btn btn-info " href="/send-survey/{{ survey.id }}/">
                                <i class="fa fa-envelope"></i> <i class="fa fa-mobile-phone"></i> Send Survey
								</a>

								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">

								</div>

							</li>
                           {% endif %}
						</ul>
					</div>
				</div>

				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">

						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken"  data-widget-editbutton="false">



								<!-- widget div-->
								<div>


									<!-- widget content -->
									<div class="widget-body no-padding">


			<div class=" col-md-6">

						<form class="smart-form" >

                        <fieldset>
                                            {% for qs in  questions %}
                                    {% if qs.question_type == 'char' %}
                                       <section>
                                     <strong>{{ qs.text }}</strong>  }
									<label class="input"> <i class="icon-append fa fa-text "></i>
										<input type="text" >
										<b class="tooltip tooltip-bottom-right">{{ qs.name }} </b> </label>
								        </section>

                                        {% elif qs.question_type == 'select'%}
                                        <section >
										<label class="select">
                                        <strong>{{ qs.text }}</strong>
											<select name="" {% if qs.required %}required {% endif %}>

                                                {% for x in qs.get_single_choice%}
                                                <option value="{{ x }}">{{ x|safe }}</option>


                                                {% endfor %}


											</select> </label>
									</section>


                                        {% elif qs.question_type == 'text' %}
                                   <section>
									<label class="textarea">
                                        <strong>{{ qs.text }}</strong>
										<textarea placeholder="{{ qs.name }}" name="{{ qs.name }}" rows="3"></textarea>
                                        <b class="tooltip tooltip-bottom-right">{{ qs.name }}</b>
									</label>
								    </section>

                                     {% elif qs.question_type == 'int' %}
                                   <div class="row">

									<section class="col col-6">
										<strong>{{ qs.text }}</strong>
									</section>
									<section class="col col-6">
										<label class="input">
											<input type="number" placeholder="{{ qs.name }}" name="{{ qs.name }}">
                                            <b class="tooltip tooltip-bottom-right">{{ qs.name }}</b>
										</label>
									</section>
								</div>



                            {% elif qs.question_type == 'select-multiple' %}
                                <section>

                                    <strong>{{ qs.text }}</strong>

                                    <br/>
                                {% for x in qs.get_single_choice %}
                                    <label >
										<input type="checkbox"  name="{{ qs.name }}" value="{{ x|safe }}">
										 {{ x|safe }} </label><br/>

                                {% endfor %}

								</section>

                              {% elif qs.question_type == 'radio' %}
                                <section>

                                    <strong>{{ qs.text}}</strong>

								</section>
                                <section>
                                {% for x in qs.get_single_choice %}
                                    <label class="radio">
										<input type="radio"  name="{{ qs.name }}" value="{{ x|safe }}">
										<i></i> {{ x|safe }} </label>

                                {% endfor %}

								</section>
                                    {% endif %}



                                {% endfor %}


</fieldset>
                            </form>


                                            
										</div>
            <div class="col-md-4">

<span class="sparks-info">
    <br/><br/><br/><br/>
								&nbsp;<button data-target="#mymodal" data-toggle="modal"
                                                                    data-remote="/add-question/{{ survey.id }}/"
                                                                    class="btn btn-primary ">
                                                                    <i class="fa fa-plus"></i> Create New Question
                                                              </button>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">

								</div>
							</span>
            </div>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->



						</article>
						<!-- WIDGET END -->

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->

			</div>
    <!-- Modal -->
				<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content">

						</div>
                        <!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
{% endblock content %}
{% block page_js %}

    <script src="{{ STATIC_URL }}js/ajax.js"></script>


    <style>
          #s2id_groupSelect, .select2-no-results, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>

  <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>
{% endblock page_js %}