{% load crispy_forms_tags %}
   <div class="modal fade" id="searchProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" >Keyword/Code Lookup</h4>
                </div>
                <div class="modal-body">
                    <div class="widget-body">
                            {% crispy form %}
                    </div>
                    <div>
                        <div role="content">
                            <div class="widget-body">
                                <table id="searchResultTable" class="table table-striped table-bordered dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addSelected">Add selected</button>
                </div>
            </div>
        </div>
    </div>