{% extends 'admin_base.html' %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'dashboard' %}">DashBoard</a>
    </li>
    <li>
        <a href="{% url 'profile' %}">Messages</a>
    </li>

{% endblock breadcrumb %}

{% block content %}

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="inbox-nav-bar no-content-padding">
				
					<h1 class="page-title txt-color-blueDark hidden-tablet"><i class="fa fa-fw fa-inbox"></i>
                        Messages &nbsp;
					<div class="btn-group">

					</div></h1>
				
					<div class="btn-group hidden-desktop visible-tablet">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Inbox <i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu pull-left">
							<li>
								<a href="javascript:void(0);" class="inbox-load">Inbox <i class="fa fa-check"></i></a>
							</li>
							<li>
								<a href="javascript:void(0);">Sent</a>
							</li>
							<li>
								<a href="javascript:void(0);">Trash</a>
							</li>
							<li class="divider"></li>

						</ul>
				
					</div>
				
					<div class="inbox-checkbox-triggered">
				
						<div class="btn-group">


							<a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete" class="deletebutton btn btn-default"><strong><i class="fa fa-trash-o fa-lg"></i></strong></a>
						</div>
				
					</div>
				

				</div>
				
				<div id="inbox-content" class="inbox-body no-content-padding">
				
					<div class="inbox-side-bar">
				
						<a href="javascript:void(0);" id="compose-mail" class="btn btn-primary btn-block"> <strong>Compose</strong> </a>
				

				
						<ul class="inbox-menu-lg">
							<li class="active">
								<a class="inbox-load" href="javascript:void(0);">All Messages  </a>
							</li>

						</ul>
				

				
						<div class="air air-bottom inbox-space">



							<div class="progress progress-micro">
								<div class="progress-bar progress-primary" style="width:100%;"></div>
							</div>
						</div>
				
					</div>
				
					<div class="table-wrap custom-scroll animated fast fadeInRight">
						<!-- ajax will fill this area -->
						LOADING...
				
					</div>
				
					<div class="inbox-footer">
				
						<div class="row">
				
							<div class="col-xs-6 col-sm-1">
				
								<div class="txt-color-white hidden-desktop visible-mobile">

									<div class="progress progress-micro">
										<div class="progress-bar progress-primary" style="width: 100%;"></div>
									</div>
								</div>
							</div>
				
							<div class="col-xs-6 col-sm-11 text-right">
								<div class="txt-color-white inline-block">
									<i class="txt-color-blueLight hidden-mobile"> Total  <i class="fa fa-clock-o"></i>| 55</i> Messages<strong></strong>
								</div>
							</div>
				
						</div>
				
					</div>
				
				</div>


			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
		<div id="shortcut">
			<ul>
				<li>
					<a href="#inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="#calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="#gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="#invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="#gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="javascript:void(0);" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->
    <script type="text/javascript">

		$(document).ready(function() {

			// DO NOT REMOVE : GLOBAL FUNCTIONS!
			pageSetUp();

			// PAGE RELATED SCRIPTS

			/*
			 * Fixed table height
			 */

			tableHeightSize()

			$(window).resize(function() {
				tableHeightSize()
			})

			function tableHeightSize() {
				var tableHeight = $(window).height() - 212;
				$('.table-wrap').css('height', tableHeight + 'px');
			}

			/*
			 * LOAD INBOX MESSAGES
			 */
			loadInbox();
			function loadInbox() {
				loadURL("/email-list/", $('#inbox-content > .table-wrap'))
			}
            function loadSms() {
				loadURL("/sms-list/", $('#inbox-content > .table-wrap'))
			}

			/*
			 * Buttons (compose mail and inbox load)
			 */
			$(".inbox-load").click(function() {
				loadInbox();
			});
            $(".sms-load").click(function() {
				loadSms();
			});

			// compose email
			$("#compose-mail").click(function() {
				loadURL("/email-compose/", $('#inbox-content > .table-wrap'));
			})

		});


		</script>


{% endblock content %}
		<!--================================================== -->
{% block page_js %}
		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ STATIC_URL }}assets/js/plugin/pace/pace.min.js"></script>







		<script src="{{ STATIC_URL }}assets/js/plugin/delete-table-row/delete-table-row.js"></script>



{% endblock page_js %}


