{% load humanize %}
<table id="inbox-table" class="table table-striped table-hover">
	<tbody>
    {% for email in emails %}




		<tr id="{{ email.id }}">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
					{{ email.creator.get_full_name }}
				</div>
			</td>
			<td class="inbox-data-message">
				<div>
					<span><span class="label bg-color-orange">{{ email.get_type }}</span> {{ email.get_recipients }}</span> {{ email.email_subject }}
				</div>
			</td>
			<td class="inbox-data-attachment hidden-xs">
                {% if email.att %}
				<div>
					<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Attachments Available" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
				</div>
                {% else %}
                <div>
					<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Attachments Not Available" class="txt-color-darken"><i class="fa fa-warning fa-lg"></i></a>
				</div>
                {% endif %}
			</td>
			<td class="inbox-data-date hidden-xs">
				<div>
					{{ email.created_at|naturaltime }}
				</div>
			</td>
		</tr>
{% endfor %}

	</tbody>
</table>

<script>
	
	//Gets tooltips activated
	$("#inbox-table [rel=tooltip]").tooltip();

	$("#inbox-table input[type='checkbox']").change(function() {
		$(this).closest('tr').toggleClass("highlight", this.checked);
	});

	$("#inbox-table .inbox-data-message").click(function() {
		$this = $(this);
		getMail($this);
	})
	$("#inbox-table .inbox-data-from").click(function() {
		$this = $(this);
		getMail($this);
	})
	function getMail($this) {
		console.log($this.closest("tr").attr("id"));
        var msgid = $this.closest("tr").attr("id")
		loadURL("/email-open/"+msgid+'/', $('#inbox-content > .table-wrap'));
	}


	$('.inbox-table-icon input:checkbox').click(function() {
		enableDeleteButton();
	})

	$(".deletebutton").click(function() {
		$('#inbox-table td input:checkbox:checked').parents("tr").rowslide();
        //alert($('#inbox-table td input:checkbox:checked').parents("tr").attr("id"))
		//$(".inbox-checkbox-triggered").removeClass('visible');
		//$("#compose-mail").show();
	});

	function enableDeleteButton() {
		var isChecked = $('.inbox-table-icon input:checkbox').is(':checked');

		if (isChecked) {
			$(".inbox-checkbox-triggered").addClass('visible');
			//$("#compose-mail").hide();
		} else {
			$(".inbox-checkbox-triggered").removeClass('visible');
			//$("#compose-mail").show();
		}
	}
	
</script>
