{% load humanize %}
<h2 class="email-open-header">
Email Message: {{ email.subject }} <span class="label txt-color-white">Sent Email Message</span>
	<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Print" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>	
</h2>

<div class="inbox-info-bar">
	<div class="row">
		<div class="col-sm-9">
			<img src="{{ STATIC_URL }}images/avatar.jpg" alt="me" class="away">
			<strong>{{ email.get_type }}</strong>
			<span class="hidden-mobile"> <strong>{{ email.get_recipients }}</strong> on <i>
                {{ email.created_at|naturaltime }}</i></span>
		</div>

		</div>
	</div>
</div>

<div class="inbox-message">
    <div>
        {{ email.email_txt|safe }}
    </div>



    <div class="inbox-download">



	<ul class="inbox-download-list">
		<li>
            <h2>Voice Text</h2>
			<div class="well well-sm">

				<p>
            {{ email.voice_txt }}
        </p>
			</div>
		</li>
		<li>
            <h2>SMS Text</h2>
			<div class="well well-sm">

				<p>{{ email.sms_txt }}</p>
			</div>
		</li>
	</ul>
</div>
<div class="inbox-download">
	{{ att }} attachment(s) — <a href="javascript:void(0);"> Attachments Sent</a>

	<ul class="inbox-download-list">
		<li>
			<div class="well well-sm">

				<a href="javascript:void(0);"> Download</a> </a>
			</div>
		</li>
		<li>
			<div class="well well-sm">

				<a href="javascript:void(0);"> Download</a> </a>
			</div>
		</li>
	</ul>
</div>



</div>

<script type="text/javascript">
	
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	//pageSetUp();
	
	// PAGE RELATED SCRIPTS
	
	$(".table-wrap [rel=tooltip]").tooltip();

	$(".replythis").click(function(){
		loadURL("ajax/email-reply.html", $('#inbox-content > .table-wrap'));
	})
	
</script>
