<link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />

<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<h2 class="email-open-header">
	Compose New Email, SMS, Voice Call

	<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Print" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>	
</h2>
<br/>
<div class="row well">

<form enctype="multipart/form-data" action="/email-compose/" method="POST" class="form-horizontal" id="email-compose-form" name="email-compose">
<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Choose Recipients</strong></label>
				<div class="col-md-6" id="rec-list">
					<select  style="width:100%"class="form-control"
                             name="recipients" id="rec-select">
                        <option value="all" selected>All users in the system</option>


						<option value="user">Specific User(s)</option>
                        <option value="event">All users attending an event</option>
                        <option value="activity">All users attending an activity</option>
                        <option value="all">All users in the system</option>


					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Usernames"></a></em>
				</div>
			</div>
		</div>
	</div>

	<div class=" no-padding" id="user" style="display: none">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Users</strong></label>
				<div class="col-md-6" id="rec-list">
					<select multiple style="width:100%" class=" form-control select2"
                            data-select-search="true" name="users" >
                        {% for user in users %}
						<option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}

					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Usernames"></a></em>
				</div>
			</div>
		</div>	
	</div>
<div class=" no-padding" id="event" style="display: none">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Events</strong></label>
				<div class="col-md-6" id="rec-list">
					<select multiple style="width:100%;text-align: center" class=" form-control select2"
                            data-select-search="true" name="events" >
                        {% for event in events %}
						<option value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}

					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Event Names"></a></em>
				</div>
			</div>
		</div>
	</div>
<div class=" no-padding" id="activit" style="display: none">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Activities</strong></label>
				<div class="col-md-6" id="rec-list">
					<select multiple style="width:100%;text-align: center" class=" form-control select2"
                            data-select-search="true" name="activities" >
                        {% for activity in activities %}
						<option value="{{ activity.id }}">{{ activity.name }}</option>
                        {% endfor %}

					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Activity names"></a></em>
				</div>
			</div>
		</div>
	</div>



	<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Subject</strong></label>
				<div class="col-md-6">
					<input class="form-control" placeholder="Email Subject" type="text" name="subject"  style="width:100%" >
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Click to add SMS"><i class="fa fa-paperclip fa-lg"></i></a></em>
				</div>
			</div>
		</div>	
	</div>

    <div class=" no-padding hidden">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Attachments</strong></label>
				<div class="col-md-6">
					<input class="form-control fileinput" type="file" multiple="multiple" name="att">
				</div>
			</div>
		</div>
	</div>

<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Email Body</strong></label>
				<div class="col-md-6">
                    {{ form.email_txt }}
                    <textarea name="sms_txt" id="sms" cols="15" rows="7" style="display: none"></textarea>
        <textarea name="voice_txt" id="voice" cols="15" rows="7" style="display: none"></textarea>


				</div>
			</div>
		</div>
	</div>
<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>SMS TEXT</strong></label>
				<div class="col-md-6">
<textarea id="sms" rows="3" name="sms_txt" cols="40" style="width: 100%;"></textarea>



				</div>
			</div>
		</div>
	</div>
<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>VOICE  TEXT</strong></label>
				<div class="col-md-6">
<textarea id="voice" rows="3" name="voice_txt" cols="40" style="width: 100%;"></textarea>



				</div>
			</div>
		</div>
	</div>


<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-6"><strong></strong></label>
				<div class="col-md-2">

	<button data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; &nbsp; Sending..." class="btn btn-primary pull-right" type="submit" id="send">
		Send <i class="fa fa-arrow-circle-right fa-lg"></i>
	</button>


				</div>
			</div>
		</div>
	</div>


	







</form>


</div>

<script type="text/javascript">
	
	// DO NOT REMOVE : GLOBAL FUNCTIONS!

	runAllForms();

	 // PAGE RELATED SCRIPTS

	$(".table-wrap [rel=tooltip]").tooltip();






	$(".show-next").click(function () {
	    $this = $(this);
	    $this.hide();
	    $this.parent().parent().parent().parent().parent().next().removeClass("hidden");
	})



         $('#email-compose-form').submit(function (e) {



             var formData = new FormData(document.forms['email-compose']);


             var formURL = '/email-compose/'


             $.ajax({
                 url: formURL,
                 type: "POST",
                 data: formData,
                 dataType: 'html',
                 async: false,
                 cache: false,
                 contentType: false,
                 processData: false,
                 success: function (response, textStatus, jqXHR) {


                     data = $.parseJSON(response)
                     if (data.success) {
                         loadURL("/email-list/", $('#inbox-content > .table-wrap'))

                     }
                     else {
                         alert('Check and try again')

                     }


                 },
                 error: function (jqXHR, textStatus, errorThrown) {
                 }
             });

             e.preventDefault();	//STOP default action
             e.stopImmediatePropagation();


         });



$('#rec-select').change(function(){



   if ($(this).val()=='user'){

       $('#user').show()
        $('#event').hide()
        $('#activit').hide()

   }
    else if ($(this).val()=='event'){

       $('#user').hide()
        $('#event').show()
        $('#activit').hide()

   }
    else if ($(this).val()=='activity'){

        $('#activit').show()

       $('#user').hide()
        $('#event').hide()

   }
    else if ($(this).val()=='all'){

       $('#user').hide()
        $('#event').hide()
        $('#activit').hide()

   }
    else{

   }


});
         // Load inbox once send is complete



	
</script>



