{% extends 'admin_base.html' %}

{% block breadcrumb %}
<li>Communication</li>
<li>New SMS</li>
{% endblock breadcrumb %}

{% block content %}

<!-- MAIN CONTENT -->
<div id="content">

  <h2 class="email-open-header">
    Create New SMS Campaign
    <a href="javascript:void(0);" rel="tooltip"
      data-placement="left" data-original-title="Print Page"
      class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>
  </h2>
  <br />

  <div class="row well">

    <form enctype="multipart/form-data" action="/sms-compose/"
      method="POST" class="form-horizontal" id="sms-compose-form"
      name="sms-compose">

      <div class=" no-padding">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>Campaign Name</strong></label>
            <div class="col-md-6">
              <input class="form-control" placeholder="Enter Campaign Name" type="text" name="campaign_name" style="width: 100%">
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>Campaign Description</strong></label>
            <div class="col-md-6">
              <textarea rows="3" name="campaign_description" cols="40" style="width: 100%;"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2">
              <strong>Choose Recipients</strong></label>
            <div class="col-md-6" id="rec-list">
              <select style="width: 100%" class="form-control" name="recipients" id="rec-select">
                <option value="all" selected>All users in the system</option>
                <option value="user">Specific User(s)</option>
                <option value="event">All users attending an event</option>
                <option value="activity">All users attending an activity</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding" id="user" style="display: none">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>Users</strong></label>
            <div class="col-md-6" id="rec-list">
              <select multiple style="width: 100%"
                class=" form-control select2" data-select-search="true"
                name="users">
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding" id="event" style="display: none">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>Events</strong></label>
            <div class="col-md-6" id="rec-list">
              <select multiple style="width: 100%; text-align: center"
                class=" form-control select2" data-select-search="true"
                name="events">
                {% for event in events %}
                  <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding" id="activit" style="display: none">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>Activities</strong></label>
            <div class="col-md-6" id="rec-list">
              <select multiple style="width: 100%; text-align: center"
                class=" form-control select2" data-select-search="true"
                name="activities">
                {% for activity in activities %}
                  <option value="{{ activity.id }}">{{ activity.name }}</option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>
      </div>

      <div class=" no-padding">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-2"><strong>SMS TEXT</strong></label>
            <div class="col-md-6">
              <textarea id="sms" rows="3" name="sms_txt" cols="40" style="width: 100%;" maxlength="160"></textarea>
            </div>
            <em>160 Characters</em>
          </div>
        </div>
      </div>

      <div class=" no-padding">
        <div class="row">
          <div class="form-group">
            <label class="control-label col-md-6"><strong></strong></label>
            <div class="col-md-2">

              <button
                data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; &nbsp; Sending..."
                class="btn btn-primary pull-right" type="submit"
                id="send">
                Send <i class="fa fa-arrow-circle-right fa-lg"></i>
              </button>

            </div>
          </div>
        </div>
      </div>

    </form>

  </div>

</div>

<script type="text/javascript">

$(document).ready(function() {

  // PAGE RELATED SCRIPTS

  $(".table-wrap [rel=tooltip]").tooltip();

  $(".show-next").click(function() {
    $this = $(this);
    $this.hide();
    $this.parent().parent().parent().parent().parent().next().removeClass("hidden");
  })

  $('#rec-select').change(function() {

    if ($(this).val() == 'user') {

      $('#user').show()
      $('#event').hide()
      $('#activit').hide()

    } else if ($(this).val() == 'event') {

      $('#user').hide()
      $('#event').show()
      $('#activit').hide()

    } else if ($(this).val() == 'activity') {

      $('#activit').show()

      $('#user').hide()
      $('#event').hide()

    } else if ($(this).val() == 'all') {

      $('#user').hide()
      $('#event').hide()
      $('#activit').hide()

    }

  });

});
</script>

<!-- END MAIN PANEL -->

{% endblock content %}
<!--================================================== -->
{% block page_js %}
<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }'
  src="{{ STATIC_URL }}assets/js/plugin/pace/pace.min.js"></script>
<script
  src="{{ STATIC_URL }}assets/js/plugin/delete-table-row/delete-table-row.js"></script>
{% endblock page_js %}
