{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
<div id="content">
{{ form.media }}

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	                           <a href="#" data-dismiss="alert" class="close">×</a>
	                           <h4 class="alert-heading"><i class="fa fa-calendar-o"></i> create profile </h4>
	                           <p>

	                           </p>
                            </div>
								<section class="" id="widget-grid">

                                     <form action="{% url 'create_office' %}" method="post" enctype="multipart/form-data" class="well"> {% csrf_token %}
                                         {{ form|crispy }}
                                         <br/>
                                         <button class="btn btn-primary btn-large btn-block">Submit</button>
                                     </form>

                                 </section>
							</div>

						</div>

					</div>

				<!-- end row -->

			    </div>
</div>
{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
var date = new Date();
date.setDate(date.getDate());
 $('#reg_start').datetimepicker({startDate: date});
    $('#reg_end').datetimepicker({startDate: date});
     $('#start_time').datetimepicker({startDate: date});
     $('#end_time').datetimepicker({startDate: date});
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}