{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
<div id="content">
{{ form.media }}

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	                           <a href="#" data-dismiss="alert" class="close">×</a>
	                           <h4 class="alert-heading"><i class="fa fa-calendar-o"></i> Edit profile </h4>
	                           <p>

	                           </p>
                            </div>
								<section class="" id="widget-grid">

                                     <form action="{% url 'edit_vosb' id %}" method="post" enctype="multipart/form-data" class="well"> {% csrf_token %}
                                         {{ form|crispy }}
                                         <br/>
                                         <button class="btn btn-primary btn-large btn-block">Submit</button>
                                     </form>

                                 </section>
							</div>

						</div>

					</div>

				<!-- end row -->

			    </div>
</div>
{% endblock content %}
{% block page_js %}

{% endblock page_js %}