{% load crispy_forms_tags %}


<!-- START ROW -->



		<!-- NEW COL START -->
		<article>


            <div data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
					<h2>New Activity </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
{% block form %}
               <form action="{% url 'activities' %}" method="post" enctype="multipart/form-data" class="well dynamic-form"> {% csrf_token %}
{% endblock form %}
                   <div class="col-md-12">
                      <span class="col-md-6">
                          {{ form.name|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.type|as_crispy_field }}
                      </span>
                       <span class="col-md-12">
                          {{ form.description|as_crispy_field }}
                      </span>
                       <span class="col-md-6">
                          {{ form.start_time|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.end_time|as_crispy_field }}
                      </span>

                      <span class="col-md-6">
                          {{ form.limit|as_crispy_field }}
                      </span>
                      <span class="col-md-4">
                          {{ form.facility|as_crispy_field }}
                      </span>


                      <span class="col-md-2">
                          <label for="id_building" class="control-label ">
                            &nbsp;
			              </label>
                          <div class="controls ">
                            <a href="#modal-activities"  class="btn btn-success" data-toggle="modal" ><i class="fa fa-question-circle"></i> Check availability</a>
                          </div>
                      </span>


                      <span class="col-md-12"></span>
                      <span class="col-md-6">
                          {{ form.seat_notification_threshold|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.slots|as_crispy_field }}
                      </span>
                      <span class="col-md-12">&nbsp;</span>
                      <span class="col-md-6">
                          {{ form.host|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.co_host|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.industry|as_crispy_field }}
                      </span>
                      <fieldset class="col-sm-6">
                             <section >
							<strong>Compatibilty Score Match</strong>
							</section>
							<section>
							<input id="range-slider-3" type="text" name="range_2a" data-postfix=" %" value="0;100">
							</section>
                      </fieldset>
                      <span class="col-md-12">&nbsp;</span>
                      <span class="col-md-6">&nbsp;</span>
                      <span class="col-md-6">
                       {{ form.email_presentation|as_crispy_field }}
                      </span>
                      <span class="col-md-12">&nbsp;</span>
                      <span class="col-md-6">&nbsp;</span>
                      <span class="col-md-6">
                       {{ form.presentation_file|as_crispy_field }}
                      </span>
                      <span class="col-md-6">&nbsp;</span>
                      <span class="col-md-6">
                       {{ form.visibility|as_crispy_field }}
                      </span>
                      <span class="col-md-6">&nbsp;</span>
                      <span class="col-md-6">
                          {{ form.feedback|as_crispy_field }}
                      </span>
                   </div><br/>
                    <!--<div class="col-sm-6">
						<div class="form-group">
							<input id="range-slider-3" type="text" name="range_2a" value="">
						</div>
					</div>-->

                   <button class="btn btn-primary btn-large btn-block">Create</button>
               </form>


					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->