{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
<div id="content">
{{ form.media }}

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	<a href="#" data-dismiss="alert" class="close">×</a>
	<h4 class="alert-heading"><i class="fa fa-calendar-o"></i> You got an upcoming event, add it here</h4>
	<p>

	</p>
</div>
								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


            <div data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
					<h2>New Event </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" class="smart-form" id="addevent-1"
                              enctype="multipart/form-data" name="add-event-1" method="post">
							<fieldset>


								<section>
									<label class="input"> <i class="icon-append fa fa-bullseye"></i>
										<input type="text" placeholder="Name of Event" name="name">
										<b class="tooltip tooltip-bottom-right">The name of event </b> </label>
								</section>

								<section>
									<label class="input"> <i class="icon-append fa fa-envelope"></i>
										<input type="email" id="c_email" placeholder="Subject or Theme" name="subject">
										<b class="tooltip tooltip-bottom-right">Subject</b> </label>
								</section>
                                <div class="row">

									<section class="col col-6">
										<label class="select">
											<select name="mm_type">
												<option disabled="" selected="" value="0">Event Type</option>
												<option value="1">One to One Matchmaking</option>
												<option value="2">One to many Matchmaking</option>
												<option value="3">Speed Networking</option>
                                                <option value="4">Workshops</option>
											</select> <i></i> </label>

									</section>

                                    <section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Presenter's name" name="presenter">
										 <b class="tooltip tooltip-bottom-right">Presenters Name</b>
                                        </label>
									</section>

								</div>


                                <section>
									<label class="textarea">
										<textarea placeholder="Description" name="description" rows="3">

										</textarea> <b class="tooltip tooltip-bottom-right">Description of the event</b>
									</label>
								</section>
                                <section>
									<div class="input input-file ">
										<span class="button"><input type="file" onchange="this.parentNode.nextSibling.value = this.value" name="cover" id="cphoto">Choose Photo</span><input type="text" readonly="" placeholder="Upload a profile photo">
									</div>
								</section>
							</fieldset>

							<fieldset>
                                <section>
									<label class="input"> <i class="icon-append fa fa-location-arrow"></i>
										<input type="text" placeholder="Venue of the event" name="venue">
										<b class="tooltip tooltip-bottom-right"> Venue of event </b> </label>
								</section>
                                <div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-building"></i>
											<input type="text" placeholder="Room" name="room">
                                            <b class="tooltip tooltip-bottom-right">Room Name</b>
										</label>
									</section>
									<section class="col col-6">
										<label class="input">
											<input type="number" placeholder="Room Capacity" name="room_capacity">
                                            <b class="tooltip tooltip-bottom-right">Room Capacity</b>
										</label>
									</section>
								</div>
                                <div class="row">

									<section class="col col-6">
										<label class="select">
											<select name="paid">
												<option disabled="" selected="" value="0">Free or paid Event</option>
												<option value="1">Free Event</option>
												<option value="2">Paid Event</option>

											</select> <i></i> </label>

									</section>

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-money"></i>
											<input type="text" placeholder="Event fee" name="fee">
										 <b class="tooltip tooltip-bottom-right">Event Fee if paid blank if free</b>
                                        </label>
									</section>

								</div>
                                <div class="row">

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Event starts on" name="start_time" id="start_time">
										 <b class="tooltip tooltip-bottom-right">Event start date and time</b>
                                        </label>
									</section>



                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Event End Time" name="end_time" id="end_time">
										 <b class="tooltip tooltip-bottom-right">Event end date and time</b>
                                        </label>
									</section>


								</div>
                                 <div class="row">

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Registration Starts on" name="reg_start" id="reg_start">
										 <b class="tooltip tooltip-bottom-right">Registration start date and time</b>
                                        </label>
									</section>



                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Registration end Time" name="reg_end" id="reg_end">
										 <b class="tooltip tooltip-bottom-right">Registration end date and time</b>
                                        </label>
									</section>


								</div>





							</fieldset>



						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-comment-o"></i> </span>
					<h2> Other Details </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form" id="add-event-2"  name="add-event-2"
                              novalidate="novalidate" class="add-event" method="post">



                            <fieldset>
                                <div class="row">

									<section class="col col-6">
										<label class="checkbox">
										<input type="checkbox"  name="feedback">
										<i></i>Require code to register</label>

									</section>

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-unlock-o"></i>
											<input type="text" placeholder="Registration Code" name="reg_code">
										 <b class="tooltip tooltip-bottom-right">Registration Code</b>
                                        </label>
									</section>

								</div>
                                <div class="row">

									<section class="col col-6">
										<label class="select">
											<select name="rcr">
												<option disabled="" selected="" value="0">Visibility - Public or Private</option>
												<option value="1">Private - Invite only</option>
												<option value="2">Public - Open</option>

											</select> <i></i></label>

									</section>

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-unlock-o"></i>
											<input type="text" placeholder="Zip Code" name="zip_code">
										 <b class="tooltip tooltip-bottom-right">Zip Code of where event is held</b>
                                        </label>
									</section>

								</div>






                                <div class="row">
									<section class="col col-4">
										<label class="select">
											Company Country  </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											State

                                        </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											City

                                        </label>
									</section>

								</div>
								<div class="row">
									<section class="col col-4">
										<label class="select">
											{{ form.country }}
                                             <i></i>
										</label>
									</section>
									<section class="col col-4">
										<label class="select">
											{{ form.region }}
                                            <i></i>
										</label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											{{ form.city }}
                                            <i></i>
										</label>
									</section>
								</div>
                                {% csrf_token %}




							</fieldset>
                             <fieldset>
                            <section>
									<label class="checkbox">
										<input type="checkbox"  name="feedback">
										<i></i>Available for feedback</label>

							</section>
                            <section>
									<label class="checkbox">
										<input type="checkbox"  name="survey">
										<i></i> Create survey for the event </label>

								</section>

                                 <section>
									<label class="checkbox">
										<input type="checkbox"  name="active">
										<i></i> Notify me if room capacity is full </label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox"  name="feedback">
										<i></i> Allow sharing via social media </label>

								</section>
                                 <section>
									<label class="checkbox">
										<input type="checkbox"  name="active">
										<i></i> Publish this event - Active </label>

								</section>


                                 <br/><br/><br/> <br/>

                        </fieldset>


							<footer>
								<button class="btn btn-primary" type="submit">
									Create Event Now
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div
                    >
{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
var date = new Date();
date.setDate(date.getDate());
 $('#reg_start').datetimepicker({startDate: date});
    $('#reg_end').datetimepicker({startDate: date});
     $('#start_time').datetimepicker({startDate: date});
     $('#end_time').datetimepicker({startDate: date});
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}