{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <!--<link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>-->
{% endblock extra_css %}
{% block content %}
<div id="content" xmlns="http://www.w3.org/1999/html">

<div class="row">
    <div class="col-md-12">



        <div class="col-md-12 well well-sm accordion">

            <div class="alert alert-block alert-success">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <h4 class="alert-heading"><i class="fa fa-calendar-o"></i> You got an upcoming activity, add it here</h4>
            </div>

             {% include 'events/old/_add_activity_form.html' %}

        </div>

    </div>

</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal-activities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-activities-width" style="width: 1000px; position: absolute; margin-left: -200px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Check room availability</h4>
      </div>
      <div class="modal-body">
          <div class="row">
             <div class="col-md-5">
                <form>
                    <div class="col-md-12">
                        <span class="control-label input-label col-md-4"> Building </span>
                        <select class="col-md-8">
                            <option value="">Select building</option>
                            <option value="building-a">Building A</option>
                            <option value="building-b">Building B</option>
                        </select>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Theater capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Classroom capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Banquet capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Square feet</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>




                    <div class="col-sm-12">
						<div class="form-group">
							<label>Select a date:</label>
								<div class="input-group">
								    <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-dateformat="dd/mm/yy">
							        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
						</div>
					</div>




                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                       <button type="button" class="btn btn-success pull-right"  ><i class="fa fa-search"> </i>  Search</button>
                    </div>
                </form>
                <div class="dotted-border">&nbsp;</div>
                <h1>Results</h1>
                 <ul style="list-style: none">
                     <li>
                        <input type="radio" checked  name="results" value="A401"> A401<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A402"> A402<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A403"> A403<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A404"> A404<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A405"> A405<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A406"> A406<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A407"> A407<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A408"> A408<br/>
                     </li>
                 </ul>
             </div>
             <div class="dotted-border-vertical col-md-1">&nbsp;</div>
             <div class="col-md-5">
                 <h2>A401 availability</h2>
                 <table border="1px">
                     <tr class="oddb">
                         <td colspan="2" class="text-center">12 PM</td>
                         <td colspan="2" class="text-center">1 AM</td>
                         <td colspan="2" class="text-center">2 AM</td>
                         <td colspan="2" class="text-center">3 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">4 AM</td>
                         <td colspan="2" class="text-center">5 AM</td>
                         <td colspan="2" class="text-center">6 AM</td>
                         <td colspan="2" class="text-center">7 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">8 AM</td>
                         <td colspan="2" class="text-center">9 AM</td>
                         <td colspan="2" class="text-center">10 AM</td>
                         <td colspan="2" class="text-center">11 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">12 Am</td>
                         <td colspan="2" class="text-center">1 PM</td>
                         <td colspan="2" class="text-center">2 PM</td>
                         <td colspan="2" class="text-center">3 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">4 PM</td>
                         <td colspan="2" class="text-center">5 PM</td>
                         <td colspan="2" class="text-center">6 PM</td>
                         <td colspan="2" class="text-center">7 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">8 PM</td>
                         <td colspan="2" class="text-center">9 PM</td>
                         <td colspan="2" class="text-center">10 PM</td>
                         <td colspan="2" class="text-center">11 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>
                 </table>

             </div>
          </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->
{% endblock content %}
{% block page_js %}

        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.confirm.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/ion-slider/ion.rangeSlider.min.js"></script>





    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */

           $(".regActivity").click(function(e){
            e.preventDefault();

            activityid = $(this).attr('id');

            $.ajax({

            url: "/events/register-activity/"+activityid+"/",
            dataType: 'json',
            context: document.body
            }).done(function(data) {

               $( ".class"+data.id ).html("<span class='btn btn-success'><i class='fa fa-check-circle' tooltip='Registered'></i> Registered </span><br/>" );
            })
          });


		})



</script>
 <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>


 <script>
$(document).ready(function() {

    $("#range-slider-2").ionRangeSlider();
    $("#range-slider-3").ionRangeSlider();
     });
    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');



});



       $("#select-code").select2({
							allowClear: true,
							placeholder: "Enter Code or Keyword"
						});





</script>
<style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:310px;
}
</style>


<script type="text/javascript">
        $(document).ready(function(){
               $("#activityToggleBtn").click(function(){
                  $("#activityToggle").css('visibility', 'visible');// Show the div
               });
        });
</script>

{% endblock page_js %}