{% extends 'admin_base.html' %}
{% load humanize %}
{% block title %}
{% endblock title %}
{% block extra_css %}
<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.css"/>-->
{% endblock extra_css %}

{{ schedule.name }}
{% block breadcrumb %}
    <li>Schedules</li>
    <li>{{ schedule.name }}</li>


{% endblock breadcrumb %}
{% block content %}


			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i>
								Schedule {{ schedule.id }}
							<span>


							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> Total Sessions <span class="txt-color-blue">{{ total_sessions }}</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">

								</div>
							</li>
							<li class="sparks-info">
								<h5> VOSB Experience <span class="txt-color-purple">
                                    <i class="fa fa-shopping-cart " data-rel="bootstrap-tooltip"
                                       title="Total Users registered for thios activity"></i>&nbsp;{{ gov_users }}</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">

								</div>
							</li>
                            <li class="sparks-info">
								<h5> VOSB's
                                    <span class="txt-color-purple">
                                        <i class="fa fa-suitcase">

                                        </i>&nbsp;{{ com_users }}</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"></div>


							</li>

                            <li class="sparks-info">
								<h5> Session Length
                                    <span class="txt-color-purple">
                                        <i class="fa fa-clock-o">

                                        </i>&nbsp;{{ session_length }} Min</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"></div>


							</li>

                            <li class="sparks-info">
								<h5> Session break
                                    <span class="txt-color-purple">
                                        <i class="fa fa-clock-o">

                                        </i>&nbsp;{{ session_break }} Min</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"></div>


							</li>


						</ul>
					</div>
				</div>
          	<!-- widget grid -->

<div class="row">
    <div role="widget" style=""
         class="jarviswidget jarviswidget-sortable col-md-12" data-widget-editbutton="false" data-widget-custombutton="false">


				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" action="/create-schedule/" method="get" id="comment-form" class="smart-form">
                                                        <!-- {% csrf_token %} -->
							<header>
								Event Schedule
							</header>

							<fieldset>
                                <div class="row">
									<label class="label col col-3" style="text-align: right"><strong>Event - Activity</strong></label>
									<section class="col col-9">
										<label class="select">
											<select name="activity_id">
						{% for a in activities %}
                                                <option value="{{a.id}}">{{a.name}} - {{a.event.name}}</option>
						{% endfor %}
											</select> <i></i> </label>
									</section>

								</div>



							</fieldset>
                            <fieldset>
								<div class="row">

                                                                        <section class="col col-4">
										<label class="label">VOSB's Per Session</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type='number' name="seats_per_table">
										</label>
									</section>
									<section class="col col-4">
										<label class="label">Lunch Break Duration</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="number" name="lunch_duration">
										</label>
									</section>
                                                                        <section class="col col-4">
										<label class="label">Luch Time</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="number" name="tables">
										</label>
									</section>

								</div>


								<div class="row">
									<section class="col col-4">
										<label class="label">Total Tables</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="number" name="total_tables">
										</label>
									</section>
									<section class="col col-4">
										<label class="label">Session Duration</label>
										<label class="input"> <i class="icon-append fa fa-envelope-o"></i>
											<input type="number" name="meeting_duration">
										</label>
									</section>
									<section class="col col-4">
										<label class="label">Session Break</label>
										<label class="input"> <i class="icon-append fa fa-globe"></i>
											<input type='number' name="interval_between_meetings">
										</label>
									</section>
								</div>


							</fieldset>


                                <footer>

								<button type="submit" name="submit" class="btn btn-primary">
									Run Matchmaker
								</button><br/><br/><br/><br/><br/>
							</footer>




						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

</div>





				<section id="widget-grid" class="">
				
					<!-- row -->
					<div class="row">
				
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken"  data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Please Choose an Activity and Run Matchmaker</h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
				
										</div>
										
										<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" >
											<thead>
												<tr>
													<th>Buyer</th>
													<th>Supplier</th>
                                                    <th>&nbsp;&nbsp;&nbsp;Session</th>
                                                    <th>&nbsp;&nbsp;&nbsp;Start</th>
                                                    <th>&nbsp;&nbsp;&nbsp;End&nbsp;&nbsp</th>
													<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Matched By</th>
                                                    <th>Confirmed</th>
                                                    <th style="background-color:#8b0000">Edit</th>

                                                    <th style="background-color:#8b0000">Delete</th>

												</tr>
											</thead>
											<tbody>

                                            {% for s in schedule_calculated %}
                                                {% for m, m_value in s.meetings.items %}
						<tr>
                                                  <td>{{ m_value.buyer_name }} {{m.0}}</td>
						  <td id="session_cell_{{s.total_session_idx}}_{{m_value.table}}">
                                                      {% for s in m_value.suppliers %}
                                                         {{ s.full_name }} (rank: {{ s.r.rank }})<br>
                                                      {% endfor %}
                                                  </td>
                                                  <td>{{ s.session }}</td>
                                                  <td>{{ s.ts }}</td>
                                                  <td>{{ s.ts_end}}</td>
                                                  <td id="session_cell_match_{{s.total_session_idx}}_{{m_value.table}}">
                                                    {% for s in m_value.suppliers %}
                                                       {% for sr in s.r.intersected %}
                                                         {{ sr }} &nbsp;
                                                       {% endfor %}
                                                       <br>
                                                    {% endfor %}
                                                  </td>
                                                  <td>
                                                  <i class="fa fa-times-circle "></i>
                                                  </td>
                               <td><a data-toggle="modal" href="" data-target="#mymodal" onclick="loadmodal({{schedule_id}},{{m_value.table}},{{s.total_session_idx}})">
                                                    <i class="fa fa-edit"></i></a></td>
                                                  <td style="color: red">
                                                    <a data-toggle="modal" href="" data-target="#mymodal">
                                                        <i class="fa fa-trash-o"></i></a>
                                                  </td>
						</tr>
                                                 {% endfor %}
                                             {% endfor %}


											</tbody>
										</table>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->


				
						</article>
						<!-- WIDGET END -->
				
					</div>
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
    <!-- Modal -->
				<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content">

<div class="panel panel-default" style="margin-bottom:0">
  <div class="panel-heading">
    <h3 class="panel-title">Edit the meeting session</h3>
  </div>
  <div class="panel-body" id="meeting_panel_editor">
    Panel content
  </div>
</div>                                                

						</div>
                        <!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
{% endblock content %}
{% block page_js %}

    <script src="{{ STATIC_URL }}js/ajax.js"></script>

    <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
	<!--	<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script> -->
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>



    <style>
          #s2id_groupSelect, .select2-no-results, .select2-input, .select2-container, .select2-search-field, .select2-choices {
          width:500px;
          }
        </style>
    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */
		})

		</script>
  <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
       $(this).removeData('bs.modal');
    });


    {% verbatim %}
    var source = '<table class="table">';
    source += '<tr><th>Supplier<th><span class="pull-right">Action</span></tr>';
    source += '{{#each suppliers}}<tr><td>{{ full_name }}'
    source += '<td><div onclick="delete_supplier({{../table_id}},{{../total_session_idx}},{{id}})" class="btn btn-danger btn-xs pull-right">Remove supplier from this meeting</div></tr>{{/each}}';
    source += '</table>';
    source += '<div class="btn btn-link" onclick="add_suplier()">Add new supplier to this meeting</div>';
    source += '<div id="supplier_adder" style="display:none"><input id="supplier_adder_user_id">';
    source += '<div class="btn btn-success" style="margin-top:15px" onclick="add_supplier({{table_id}},{{total_session_idx}})">Add selected supplier</div>';
    source += "</div>";
    var template = Handlebars.compile(source);

    var source = '{{#each suppliers}}'
    source += '{{full_name}} (rank: {{r.rank}})<br>';
    source += '{{/each}}';    
    var template_cell = Handlebars.compile(source);

    var source = '{{#each suppliers}}'
    source += '{{# each r.intersected }}{{this}} {{/each}}<br>';
    source += '{{/each}}';    
    var template_cell_match = Handlebars.compile(source);

    {% endverbatim %}

    function get_base_meeting_url(total_session_idx, table_id){
        var url = '/schedule_meeting_details/?schedule_id={{schedule_id}}';
        url += '&t_s_idx='+total_session_idx+'&table_id='+table_id;
        return url;
    }
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
    {% verbatim %}
    function loadmodal(schedule_id,table_id,total_session_idx){
       var url = get_base_meeting_url(total_session_idx,table_id);
       load_meeting_data(url);
       activate_select2_to_one("#supplier_adder_user_id","/apiv2/v2/users/user/","{{first_name}} {{last_name}}","{{first_name}} {{last_name}}");

    }

    function add_suplier(){
       $("#supplier_adder").show();
       activate_select2_to_one("#supplier_adder_user_id","/apiv2/v2/users/user/","{{first_name}} {{last_name}}","{{first_name}} {{last_name}}");
    }
    {% endverbatim %}

    

    function delete_supplier(table_id,total_session_idx,supplier_id){
       var url = get_base_meeting_url(total_session_idx,table_id);
       url += '&remove_id='+supplier_id;
       load_meeting_data(url);
    }

    function add_supplier(table_id,total_session_idx){
        var supplier_id = $("#supplier_adder_user_id").val();
        var url = get_base_meeting_url(total_session_idx,table_id);
        url += '&add_id='+supplier_id;
        load_meeting_data(url);
    }

    function load_meeting_data(url){
       $.ajax({
         url: url,
         success: function(data){
          var data_s = {
            suppliers: data.suppliers,
            schedule_id: data.schedule_id,
            table_id: data.table_id,
            total_session_idx: data.total_session_idx
          }
          var html = template(data_s);
          $("#meeting_panel_editor").html(html);
          var html_cell = template_cell(data_s);
          $("#session_cell_"+data.total_session_idx+"_"+data.table_id).html( html_cell );
          var html_cell_match = template_cell_match(data_s);
          $("#session_cell_match_"+data.total_session_idx+"_"+data.table_id).html( html_cell_match );
         },
       });
    }
</script>
{% endblock page_js %}
