{% load static %}
<script type="text/template" id="FacilityResultsTmpl">
    <h1>Results</h1>
    <div class="alert alert-danger hide" id="facilityAlert"></div>
    <% if(facility_list.length > 0){ %>
        <ul style="list-style: none;" id="facilityList">
            <% _.each(facility_list, function(facility){ %>
                <li>
                    <input type="radio" id="room<%= facility.id %>" name="results" data-url="<%= facility.available_url %>" value="<%= facility.id %>">&nbsp;<label for="room<%= facility.id %>"><%= facility.name %></label><br/>
                </li>
            <% }); /* _.each(facility_list) */ %>
        </ul>
    <% } else { %>
            No facility found
    <% } /* if(facility_list.length > 0) */ %>

</script>
<script type="text/javascript">
    var searchFacilityUrl =  '{% url 'search-facility' %}'
</script>
<script type="text/javascript" src="{% static "js/search-facility.js" %}"></script>