{% load facility_tags %}
{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="modal-activities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-activities-width" style="width: 1000px; position: absolute; margin-left: -200px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Check room availability</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        {% get_search_facility_form as facility_form %}
                        {% crispy facility_form %}
                        <div class="dotted-border">&nbsp;</div>
                        <div id="facilitySearchResult">
                        </div>
                    </div>
                    <div class="dotted-border-vertical col-md-1">&nbsp;</div>
                    <div class="col-md-5 hide" id="availabilityList">
                        <h2 id="facilityAvailableTitle">Availability</h2>
                        <div class="alert alert-danger hide" id="timeAlert"></div>
                        <table border="1px">
                            <tr class="oddb">
                                <td colspan="2" class="text-center">12 PM</td>
                                <td colspan="2" class="text-center">1 AM</td>
                                <td colspan="2" class="text-center">2 AM</td>
                                <td colspan="2" class="text-center">3 AM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num0 text-center" data-num="0"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num1 text-center" data-num="1"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num2 text-center" data-num="2"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num3 text-center" data-num="3"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num4 text-center" data-num="4"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num5 text-center" data-num="5"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num6 text-center" data-num="6"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num7 text-center" data-num="7"><div>30</div> <i class="fa fa-square-o"></i></td>
                            </tr>

                            <tr class="oddb">
                                <td colspan="2" class="text-center">4 AM</td>
                                <td colspan="2" class="text-center">5 AM</td>
                                <td colspan="2" class="text-center">6 AM</td>
                                <td colspan="2" class="text-center">7 AM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num8 text-center" data-num="8"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num9 text-center" data-num="9"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num10 text-center" data-num="10"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num11 text-center" data-num="11"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num12 text-center" data-num="12"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num13 text-center" data-num="13"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num14 text-center" data-num="14"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num15 text-center" data-num="15"><div>30</div> <i class="fa fa-square-o"></i></td>

                            </tr>

                            <tr class="oddb">
                                <td colspan="2" class="text-center">8 AM</td>
                                <td colspan="2" class="text-center">9 AM</td>
                                <td colspan="2" class="text-center">10 AM</td>
                                <td colspan="2" class="text-center">11 AM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num16 text-center" data-num="16"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num17 text-center" data-num="17"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num18 text-center" data-num="18"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num19 text-center" data-num="19"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num20 text-center" data-num="20"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num12 text-center" data-num="21"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num22 text-center" data-num="22"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num23 text-center" data-num="23"><div>30</div> <i class="fa fa-square-o"></i></td>

                            </tr>

                            <tr class="oddb">
                                <td colspan="2" class="time-num text-center">12 Am</td>
                                <td colspan="2" class="time-num text-center">1 PM</td>
                                <td colspan="2" class="time-num text-center">2 PM</td>
                                <td colspan="2" class="time-num text-center">3 PM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num24 text-center" data-num="24"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num25 text-center" data-num="25"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num26 text-center" data-num="26"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num27 text-center" data-num="27"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num28 text-center" data-num="28"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num29 text-center" data-num="29"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num30 text-center" data-num="30"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num31 text-center" data-num="31"><div>30</div> <i class="fa fa-square-o"></i></td>
                            </tr>

                            <tr class="oddb">
                                <td colspan="2" class="text-center">4 PM</td>
                                <td colspan="2" class="text-center">5 PM</td>
                                <td colspan="2" class="text-center">6 PM</td>
                                <td colspan="2" class="text-center">7 PM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num32 text-center" data-num="32"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num33 text-center" data-num="33"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num34 text-center" data-num="34"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num35 text-center" data-num="35"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num36 text-center" data-num="36"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num37 text-center" data-num="37"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num38 text-center" data-num="38"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num39 text-center" data-num="39"><div>30</div> <i class="fa fa-square-o"></i></td>

                            </tr>

                            <tr class="oddb">
                                <td colspan="2" class="text-center">8 PM</td>
                                <td colspan="2" class="text-center">9 PM</td>
                                <td colspan="2" class="text-center">10 PM</td>
                                <td colspan="2" class="text-center">11 PM</td>
                            </tr>
                            <tr class="evenb">
                                <td class="time-num num40 text-center" data-num="40"><div>00</div> <i class="fa fa-square-o" ></i></td>
                                <td class="time-num num41 text-center" data-num="41"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num42 text-center" data-num="42"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num43 text-center" data-num="43"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num44 text-center" data-num="44"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num45 text-center" data-num="45"><div>30</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num46 text-center" data-num="46"><div>00</div> <i class="fa fa-square-o"></i></td>
                                <td class="time-num num47 text-center" data-num="47"><div>30</div> <i class="fa fa-square-o"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="selectTime" class="btn btn-success">Select</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal -->
