/*!
 * Matchmaker CSS
 */
/*
 * CSS by: eLEOAPRD Design Studios (www.eleopard.in)
 */

#header {
	background: #42a2e0;
}

#logo-group{
	background: #3192d1;
	-moz-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
}

#logo img {
    width: 227px;
    height: auto;
    padding-left: 3px;
    padding-top: 1px;
}

#header > :first-child, aside {
    width: 320px;
}

#main {
    margin-left: 320px;
}

#header {
    height: 60px;
}

#header > div {
    height: 60px;
}

#left-panel {
    top: 60px;
}

.btn-header > :first-child > a {
    border-radius: 0;
    cursor: default !important;
    display: inline-block;
    font-weight: 700;
    height: 44px;
    min-width: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    background-color: rgb(248, 248, 248);
    background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241));
    border: 1px solid #ffffff;
    color: #42a2e0;
    font-size: 28px;
    margin: 8px 0px 0px 7px;
}

.hidden-menu #left-panel {
    left: -320px;
}

.hidden-menu #main {
    margin-left: 0px;
}

.header-search > input[type="text"] {
    height: 40px;
    border-color: #3b90c7;
	border-radius: 100px;
}

.header-search > button {
    right: 5px;
    top: 13px;
}

.header-search.pull-right {
    margin-right: 15px;
}

.header-dropdown-list > li > .dropdown-toggle {
    margin-top: 0;
    display: block;
    min-width: 150px;
	padding: 10px;
}

.header-dropdown-list {
    margin-right: -12px;
    background: #3192d1;
	padding: 0;
	-moz-box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.1) inset;
}

.user-profile-top img {
    width: 40px;
	height: auto;
	margin-right: 10px;
}

.user-profile-top{
	color: #ffffff;
	font-size: 14px;
}

.user-profile-top:hover, .user-profile-top:active, .user-profile-top:focus{
	color: #ffffff;
	text-decoration: none;
}

.fa-angle-down{
	font-size: 20px;
	font-weight : bold;
	margin-left: 20px;
	margin-top: 4px;
}

.dropdown-menu{
	min-width: 187px;
	margin: -2px;
	border-radius: 0;
    padding: 0;
}

.dropdown-menu > li > a  {
    padding: 10px 20px;
	font-size: 14px;
}

.dropdown-menu > li > a > i, .support a > i{
	margin-right: 10px;
}

.logout{
	background: #e9edf2;
	color: #ffffff;
}

.support{
	padding: 18px 0;
}

.support a{
	color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 18px 20px;
	text-decoration: none;
}

.support a:hover, .support a:active, .support a:focus{
	text-decoration: none;
	color: #dedede;
}

aside {
    background: #e9edf2;
	-moz-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
	box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.1) inset;
}

#left-panel, #content {
    transition: left .3s ease-in-out 0s;
}

#main {
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a {
    font-size: 16px;
    color: #4f4f4f;
    background: transparent;
    border-bottom: 1px solid #ccd4de;
	padding: 20px 10px;
}

nav ul li a:hover, nav ul li.open > a, nav ul li.open > a b, nav ul li a:active  {
    color: #959595 !important;
}

nav ul li a:active {
	background: transparent !important;
}

nav > ul > li > a b {
    top: 20px;
	font-size: 18px;
}

nav ul li a  i {
    margin-right: 22px;
	margin-left: 12px;
}

nav > ul > li > ul:before {
    border-left: 0;

}

nav ul ul {
    padding: 0;
	background: rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

nav ul ul li > a:hover {
    background-color: rgba(0,0,0,0.1);
    color: #ffffff !important;
}

nav > ul > li > ul > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
	border-top: 0;
	padding-left: 76px;
}
nav ul li a {
	border-bottom: 0;
}

nav > ul ul li:before {
    border-top: 0;
}

nav ul li a:focus {
    color: #4f4f4f;
}

a{
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;	
}

.page-heading{
	font-size: 20px;
	color: #7b7b7b;
}

#ribbon {
    min-height: 40px;
    background: #eeeded;
    padding: 20px 16px;
	border-bottom: 1px solid #f8f8f8;
}

body {
    background: #f6f6f6;
}

#login .container {
	max-width:480px;
	display: block;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	max-height: 400px;
}

#login{
	background: url("../img/init-bg.jpg") #44a0db;
	background-size: cover;
	background-repeat: no-repeat;
}

#login #main {
    background: transparent;
}

.client-form header {
    background: url("../img/init-icon.png") #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 40px;
	border: 0;
	-moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 2px rgba(0,0,0,0.1);
}

.init-description{
	text-align: center;
	color: #9d9d9d;
	margin-bottom:30px;
}

.well {
    background: none repeat scroll 0% 0% rgb(251, 251, 251);
    border: 0;
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.smart-form .input input{
	border: 0;
	border-bottom: 2px solid #2895dc;
	font-size: 18px;
	height: 50px;
}

.smart-form fieldset {
    padding: 25px;
}

.smart-form .btn{
	width: 100%;
	padding: 16px;
	background: none repeat scroll 0% 0% rgb(40, 149, 220);
	border: 0px none;
	border-radius: 0px;
	font-size: 18px;
	margin-top: 10px;
}

.init-bottom{
	font-weight: normal;
	color: #ffffff;
}

.init-bottom:hover, .init-bottom:active, .init-bottom:focus{
	color: #d0d0d0;
}

.smart-form .col {
	width: 100%;
}