.top-most-header {
position: relative;
height: 100px;
border: 1px solid #DDD;
}

.top-menu {
position: relative;
margin-top: 57px;
}
.event-container {
margin-top: 10px;
}
.events-left-menu {
margin-left: -16px;
}

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

fieldset.scheduler-border {
    border: 3px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

/*spinner*/

#fake-container {
    width: 60px;
}

#fake-container input {
    width: 50px;
    height: 30px;
}

.spin-control {
    font-size: 0.7em;
}

#spinner-input {
   padding: 10px;
   height: 5px;
}

.spin-down {
    margin-left: -5px;
}

.spinner {
    padding: 1px 3px !important;
}

/* Table */
* { padding: 0; margin: 0; }
  table.cruises {
    font-family: verdana, arial, helvetica, sans-serif;
    /*font-size: 11px;*/
    cellspacing: 0;
    border-collapse: collapse;
    width: 100%;
    }
  table.cruises td {
    border: 3px solid #000;
    padding: 2px 4px;
    }

  table.cruises th {
    border: 3px solid #000;
    padding: 2px 4px;
    height: 40px !important;
    background-color: #357EC7;
    color: white;
    border-radius: 4px;
      -moz-border-radius: 5px;
    /*width:100%*/
    font-variant: small-caps;
    }
  table.cruises td {
    overflow: hidden; }
  div.scrollableContainer {
    position: relative;
    width: 100%;
    padding-top: 3em;
    border: 2px solid #000;
    border-radius: 5px;
      -moz-border-radius: 5px;
    }
  div.scrollingArea {
    max-height: 400px;
    overflow: auto;
    }

  table.scrollable thead tr {
    left: -1px; top: 0;
    position: absolute;
    width: 100% !important;
    }


  table.cruises .no { width: 2%; text-align:center;}
  table.cruises .buyer { width: 20%; text-align:center;}
  table.cruises .meeting-time { width: 20%; text-align:center; }
  table.cruises .supplier { width: 40%; text-align:center; }
  table.cruises .matched-by { width: 18%; text-align:center;}

  /**/

   .colorx {
    background-color:#BDE3FB;
    }
   table.cruises .inmeeting{
   background-color: #8bbf61;
    }
  .colorx a {
    display: block;
    width: 100%;
    height: 100%;
    color:#000;
    }

    a {
    color:#000
    }

    .matches{
    color: #8bbf61;
    font-size: 100%;
    }

#header #logo img{
    width: auto;
    height: auto;
}


.ui-dialog-title{
    margin: 13px 0 !important;
    line-height: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.smart-form .required label {
	font-weight: bold;
}

#s2id_groupSelect, .select2-no-results, .select2-input, .select2-container, .select2-search-field, .select2-choices {
    width: 100% !important;
    max-width: 500px !important;
}

.text-muted > span {
    padding-left: 5px;
}

#performance_formset_table .textarea.form-control {
    max-height: 32px;
}