    .fst1{
        width: 8%; text-align:center;
    }
        .fst2{
        width: 25%; text-align:center;
    }
        .fst3{
        width: 48%; text-align:center;
    }
        .fst4{
        width: 20%; text-align:center;
    }

    td {
      border-bottom: 2px solid #ccc;
      padding: 5px;
      text-align: left; /* IE */
    }
    td + td {
      bobrder-left: 2px solid #ccc;
    }
    th {
      padding: 0 5px;
      text-align: left; /* IE */
    }
    .header-background {
      border-bottom: 2px solid black;
    }

    /* above this is decorative */

    .fixed-table-container {
      width: 100%;
      height: 500px;
      border: 2px solid black;
      margin: 10px auto;
      background-color: white;
      /* above is decorative or flexible */
      position: relative; /* could be absolute or relative */
      padding-top: 30px; /* height of header */
      border-radius: 4px;
      -moz-border-radius: 5px;
    }

    .fixed-table-container-inner {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }

    .header-background {
      background-color: #1b4b98;
      text-color: white;
      height: 30px; /* height of header */
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    table {
      background-color: white;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    /* color the table body background */
    table tbody.colorall td{
        border: 2px solid #000;
        background-color: #c0d8fe;
    }
    /* Un-color empty cells */
    table tbody.colorall td:empty{
        border: 2px solid #000;
        background-color: #ffffff;
    }
    /* Get rid of empty cells */
    table{
      border-collapse:separate;
      empty-cells:hide;
    }
    .th-inner {
      position: absolute;
      top: 0;
      line-height: 30px; /* height of header */
      text-align: left;
      border-left: 2px solid black;
      padding-left: 5px;
      margin-left: -5px;
    }


    /*end table css*/

    /*-------------------------------*/

    .accordion {
	  background: #efefef;
	  padding: 20px 40px;
	  overflow: hidden;
      border-radius: 4px;
        -moz-border-radius: 5px;
    }

    .unaccordion{
      background: #ffffff;
      padding-bottom:5px;
      border: 2px solid black;
      /*margin-right: -2px;
      margin-left: 4px;*/
      margin-bottom: 20px;
      /*width: 32%;*/
      border-radius: 4px;
        -moz-border-radius: 5px;
    }

    .rel-div{
      position:relative;
    }

    .button-bottom {
        position: absolute;
        right: 5px;
        bottom: 10px;
    }


    /*---------------------*/

    i.green {
        color: green;
    }

    i.red{
        color: red;
    }

    .search-bar {
    height: 29px;
    background-color: #e1e1e1;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	position:relative;
    width:230px
    }

    .dotted-border {
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    }

    .dotted-border:after {
    border-top: 1px solid #d1d1d1;
    content: "\2022\2022\2022";
    display: block;
    font-size: 8px;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    }



    .dotted-border-vertical {
    border-right: 1px solid #d1d1d1;
    height: 550px;
    position: relative;

    }

    .dotted-border-vertical:after {
    border-left: 1px solid #d1d1d1;
    content: "\2022\A\2022\A\2022";
    display: inline-block;
    font-size: 8px;
    height: 550px;
    line-height: 0.9;
    padding-top: 300px;
    position: absolute; right: 0; top: 0;
    text-align: center;
    width: 8px;

    }

    .evenb {
        height: 50px;
    }

    table.sortable th div.th-inner:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after {
    content: " \25B4\25BE"
    }


