<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sign In - MatchMaker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

        <!-- $DEMO =========================================================================================

        Remove this section on production
        -->
        <style>
            #signin-demo {
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 10000;
                background: rgba(0,0,0,.6);
                padding: 6px;
                border-radius: 3px;
            }
            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }
            #signin-demo img:hover {
                opacity: .5;
            }
            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
            /* captcha */
            .js-captcha-refresh {
              border-bottom: 1px dashed #bbb;
              color: #999;
              display: inline-block;
              font-size: 11px;
              margin-left: 10px;
              padding-bottom: 1px;
              cursor: pointer;
            }
            .js-captcha-refresh:hover {
              color: #555555;
              text-decoration: none;
            }
            #id_captcha_1 {
                margin-top: 10px;
            }
        </style>
        <!-- / $DEMO -->
        <style>
            .error {
                color: red;
            }
        </style>

    </head>

    <!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signin">

        <script>
            var init = [];

        </script>
        <!-- Demo script -->
        <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>
        <!-- / Demo script -->

        <!-- Page background -->
        <div id="page-signin-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg" alt="">
        </div>
        <!-- / Page background -->

        <!-- Container -->
        <div class="signin-container">

            <!-- Left side -->
            <div class="signin-info">
                <a href="../index.html" class="logo"> <img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                MatchMaker </a><!-- / .logo -->
                <div class="slogan">
                    Attend Events.
                </div>
                <!-- / .slogan -->
                <ul>
                    <li>
                        <i class="fa fa-sitemap signin-icon"></i> Flexible modular structure
                    </li>
                    <li>
                        <i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files
                    </li>
                    <li>
                        <i class="fa fa-outdent signin-icon"></i> RTL direction support
                    </li>
                    <li>
                        <i class="fa fa-heart signin-icon"></i> Crafted with love
                    </li>
                </ul>
                <!-- / Info list -->
            </div>
            <!-- / Left side -->

            <!-- Right side -->
            <div class="signin-form">

                <!-- Form -->
                <form action="" id="signin-form_id" method="POST">
                    <div class="signin-text">
                        <span >Enter new password</span>
                    </div>

                    <div class="signin-text" id="error-div">
                        <span id="errors" style="color: red">
                            {{ form.new_password2.errors.0 }}
                        </span>
                    </div>

                    {% csrf_token %}


                    <div class="form-group w-icon">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control input-lg" placeholder="Password">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <div class="form-group w-icon">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control input-lg" placeholder="Confirm Password">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <p class="help-block">Password must be at least 8 characters.</p>
                    <div class="form-actions">
                        <input type="submit" value="RESET" class="signin-btn bg-primary">
                    </div>

                </form>
                <!-- / Form -->

            </div>
            <!-- Right side -->
        </div>
        <!-- / Container -->

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->

        <!-- Pixel Admin's javascripts -->
        <script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>

        <script type="text/javascript">
        $(document).ready(function() {

            // Resize BG
            init.push(function() {
                var $ph = $('#page-signin-bg'), $img = $ph.find('> img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height : '100%',
                            width : 'auto'
                        });
                    }
                });
            });

            // Setup Sign In form validation
            init.push(function() {
                $("#signin-form_id").validate({
                    focusInvalid : true,
                    errorPlacement : function() {
                    }
                });

                // Validate username
                $("#id_new_password1").rules("add", {
                    required : true,
                    minlength : 8
                });

                // Validate password
                $("#id_new_password2").rules("add", {
                    required : true,
                    minlength : 8,
                    equalTo: "#id_new_password1"
                });
            });

            window.PixelAdmin.start(init);
        });
        </script>

    </body>
</html>
