
{% extends 'campaigns/base.html' %}
{% block title %} Create Follow Up Campaign {{ campaign.name }}
{% endblock title %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
 {% endblock css %}
{% block content %}
		<div class="page-content">

			<!-- BEGIN PAGE HEADER-->

			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">

					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-mail-reply"></i> Add follow ups to {{ campaign.name }}  Campaign in 4 quick steps
										</div>

									</div>
									<div class="portlet-body form" style="min-height:500px">
										<!-- BEGIN FORM-->

                                         <form action="." role="form" method="POST"  enctype="multipart/form-data" class="form-horizontal"  id="add-fucp">

											<div class="form-body">

                                            <div class="form-group last">
													<label class="col-md-3 control-label"> Campaign</label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:green" id="show_company_detail" class="hand">  <i class="fa fa-bullhorn"></i> Add follow up to {{ campaign.name }}  Campaign </strong>
														</p>
													</div>
												</div>
                                             <div class="form-group">
													<label class="col-md-3 control-label">Name of campaign</label>
													<div class="col-md-4">
														<input type="text" placeholder="Facebook Ads Campaign" name="name"  required class="form-control">
														<span class="help-block">
															 A reminder of what the follow up  is about
														</span>
													</div>
												</div>


                               <!--  end  comapny deatails -->


                              <!--  Ask if voice campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label"> Step 1</label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:deepskyblue" id="use_voice" class="hand">  <i class="fa fa-volume-up"></i> Click to add  Voice</strong>
														</p>
													</div>
												</div>

                            <!--  if voice campaign -->

                                                <span id="voice" style="display: none">

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Voice MP3 </label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary ' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-microphone"></i>

                                                                    <input type="file"  name="audio" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info"></span>
                                                        </div>

                                                    </div>

											    </div>




                                                    <div class="form-group">
													<label class="col-md-3 control-label">Voice to Text</label>
													<div class="col-md-4">
                                                         <textarea rows="3" class="form-control" name="voice_text"></textarea>

														<span class="help-block">
															Only enter text incase you have no audio
														</span>
													</div>
												</div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Phone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-phone"></i>
															</span>
															<input type="text" name="sample_phone" placeholder="eg +480768907678" class="form-control ">

														</div>
                                                        <span class="help-block">
															 Enter sample phone to receive sample Voice Call
														</span>
													</div>
												</div>

                                               <div class="form-group">
													<label class="col-md-3 control-label">Use Voice campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="v_cp">

														</div>
                                                        <span class="help-block">
															 Check to use voice campaign
														</span>
													</div>
												</div>

                                                </span>
                               <!--  end voice campaign -->

                                <!--  Ask if sms  campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label"> Step 2 </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:purple" id="use_sms" class="hand">  <i class="fa fa-mobile-phone"></i> Click here to add SMS</strong>
														</p>
													</div>
												</div>

                            <!--  if sms campaign -->

                                                <span id="sms" style="display: none">


                                                    <div class="form-group">
													<label class="col-md-3 control-label">SMS Text </label>
													<div class="col-md-4">

                                                         <textarea rows="3" class="form-control" name="sms_text" maxlength="135" id="sms_text"></textarea>
                                                        <span id="charleft" style="color: Red"></span>

														<span class="help-block">
															Do not add 'Send STOP to unsubscribe' its added automatically
														</span>
													</div>
												</div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Phone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-phone"></i>
															</span>
															<input type="text" name="sample_sms" placeholder="eg +480768907678" class="form-control">

														</div>
                                                        <span class="help-block">
															 Enter sample phone to receive sample SMS
														</span>
													</div>
												</div>
                                              <div class="form-group">
													<label class="col-md-3 control-label">Use SMS campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="sms_cp">

														</div>
                                                        <span class="help-block">
															 Check to use sms campaign
														</span>
													</div>
												</div>

                                                </span>
                               <!--  end sms campaign -->




                            <!--  Ask if email campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label">Step 3 </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:orange" id="use_email" class="hand"><i class="fa fa-envelope"></i>  Click here to add Email </strong>
														</p>
													</div>
												</div>

                            <!--  email campaign -->

                                                <span id="email" style="display: none">


                                                   <div class="form-group">
													<label class="col-md-3 control-label">From Email</label>
													<div class="col-md-4">
														<input type="email"  name="from_email" class="form-control">
														<span class="help-block">
															 Emails appear to have been sent from this email
														</span>
													</div>
												</div>


                                                    <div class="form-group">
													<label class="col-md-3 control-label">Email Subject</label>
													<div class="col-md-4">
														<input type="text"  name="email_subject" class="form-control">
														<span class="help-block">
															 A reminder of what the campaign is about
														</span>
													</div>
												</div>

                                                 <div class="form-group">
													<label class="col-md-3 control-label">Email Body</label>
													<div class="col-md-4">
                                                         <textarea rows="3" class="form-control" name="email_body"></textarea>

														<span class="help-block">
															This is the first email your leads get ie Email Greeting
														</span>
													</div>
												</div>

                                                <div class="form-group last">
													<label class="col-md-3 control-label"> </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong id="show_tpl" style="color:purple;" class="hand">  <i class="fa fa-chevron-circle-down "></i> Click here to choose a template</strong>
														</p>
													</div>
												</div>

                                             <span id="choose_tpl" style="display: none">

                                                <div class="form-group">

													<label class="col-md-3 control-label hand">Choose a Template</label>
													<div class="col-md-8">



                                                                {% if templates %}




                                                             {% for tpl in templates %}
                                                        <label>

                                                            <span><input type="radio"   value="{{ tpl.name }}" id="" name="tpl">
                                                            </span>
                                                            <img src="{{ tpl.image.url }}" alt="" class="img-rounded" style="max-height:200px;max-width: 150px"/> </label>

                                                             {% endfor %}
                                                                    <span class="help-block">
															Hover on template image to see enlarged template check on radio button to select
														</span>

                                                                    {% else %}
                                                                    <span class="help-block">
															No Templates yet, the default will be used
														</span>


                                                                 {% endif %}




													</div>
												</div>
                                              </span>




												<div class="form-group">
													<label class="col-md-3 control-label">Attachment</label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary yellow' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-paperclip"></i>

                                                                    <input type="file"  name="att1" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info"></span>
                                                        </div>

                                                    </div>

											    </div>

                                                <div class="form-group">
													<label class="col-md-3 control-label">Attachment  2</label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary yellow' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-paperclip"></i>

                                                                    <input type="file"  name="att2" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info1").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info1"></span>
                                                        </div>

                                                    </div>

											    </div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Email</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-envelope"></i>
															</span>
															<input type="email" placeholder="Sample Email Address" class="form-control">

														</div>
                                                        <span class="help-block">
															 Enter Email to receive sample Email Campaign
														</span>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Use email campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="e_cp">

														</div>
                                                        <span class="help-block">
															 Check to use email campaign
														</span>
													</div>
												</div>


                                                </span>
                               <!--  end email campaign -->


                               <!--  Ask if schedule   -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label"> Step 4 </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#8b0000" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i> Click here to schedule</strong>
														</p>
													</div>
												</div>

                            <!--  if schedule  -->

                                                <span id="set_schedule" style="display: none">


                                                    <div class="form-group">
													<label class="col-md-3 control-label">Choose Schedule</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</span>
															<select name="which_schedule" class="form-control" id="which_schedule">
                                                                <option value="0" selected >-------------------</option>
                                                                <option value="1"  >Immidiately a lead is captured</option>
                                                                <option value="2">Specific Date</option>
                                                                <option value="3">Immidiately for existing leads only</option>
                                                                <option value="4"> Recurring </option>
                                                                <option value="5"> Custom period</option>


                                                                </select>

														</div>
                                                        <span class="help-block">
															 Choose type of schedule
														</span>
													</div></div>

                                                        <br/>


                                                          <!--  specific date and time-->
                                                        <span id="specific" style="display: none">

                                                    <div class="form-group last">
													<label class="col-md-3 control-label">  </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#808080" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i> Specific date and time for existing leads</strong>
														</p>
													</div>
												    </div>

                                                   <div class="form-group">
													<label class="col-md-3 control-label">Use email campaign</label>
													<div class="col-md-4">
														<div class="input-group">
                                                         <div data-date="2014-{{ month }}-21T15:25:00Z" class="input-group date form_meridian_datetime">
                                                            <input  name="sp_date" type="text" class="form-control " readonly="" size="28">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn default date-reset"><i class="fa fa-times"></i></button>
                                                            </span>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn default date-set"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                        </div>


														</div>
                                                        <span class="help-block">
															 Check to use email campaign
														</span>
													</div>
												</div>


                                                            </span>

                                                         <!--  end immidiately we capture lead -->

                                                        <span id="onleadcapture" style="display: none">

                                                    <div class="form-group last">
													<label class="col-md-3 control-label">  </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#808080" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i>Immidiately I get a lead</strong>
														</p>
													</div>
												</div>

                                                            </span>


                                                         <!--  end immidiately for existing leads -->

                                                        <span id="now4leads" style="display: none">

                                                    <div class="form-group last">
													<label class="col-md-3 control-label">  </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#808080" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i>Immidiately for existing leads</strong>
														</p>
													</div>
												</div>

                                                            </span>



                                                         <!--  custom  -->

                                                        <span id="custom" style="display: none">

                                                    <div class="form-group last">
													<label class="col-md-3 control-label">  </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#808080" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i> Custom</strong>
														</p>
													</div>
												</div>
                                                   <div class="form-group">
                                                      <label class="col-md-3 control-label"></label>

													<div class="col-md-4">
														<select   name="custom_step" class="form-control">
                                                            <option value="1">Day</option>
                                                             <option value="2">Hour</option>
                                                            <option value="3">Minute</option>
														</select>
														<span class="help-block">
															 Choose day or Hour or Minute
														</span>
													</div>
												</div>

                                                            <div class="form-group">
													<label class="col-md-3 control-label"> Duration</label>
													<div class="col-md-4">
														<input type="number"  name="custom_duration" class="form-control">
														<span class="help-block">
															 A whole number eg Day  2 after lead capture
														</span>
													</div>
												</div>




                                                            </span>

                                                    <!--  Recurring -->

                                                        <span id="recur" style="display: none">

                                                    <div class="form-group last">
													<label class="col-md-3 control-label">  </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:#808080" id="show_schedule" class="hand">  <i class="fa fa-clock-o"></i> Recurring</strong>
														</p>
													</div>
												</div>
                                                 <div class="form-group">
													<label class="col-md-3 control-label">Every X hour(s) or days(s)</label>
													<div class="col-md-4">
														<input type="number"  name="recur_duration" class="form-control">
														<span class="help-block">
															 A whole number eg Every 2 hours or Every 2 Days
														</span>
													</div>
												</div>
                                                  <div class="form-group">
                                                      <label class="col-md-3 control-label"></label>

													<div class="col-md-4">
														<select   name="recur_step" class="form-control">
                                                            <option value="1">Day</option>
                                                             <option value="2">Hours</option>
														</select>
														<span class="help-block">
															 Choose day or Hours
														</span>
													</div>
												</div>



                                                            </span>

                                               <!--  Timezone-->

                                                        <span id="timezone">

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Choose Timezone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-globe"></i>
															</span>
															<select name="tz" class="form-control" id="tz">

                                                                    {% for tz in timezones %}

                                                                    <option value="{{ tz }}" >{{ tz }}</option>
                                                                    {% endfor %}

                                                                </select>

														</div>
                                                        <span class="help-block">
															 Choose Timezone to be used by this Campaign
														</span>
													</div></div>



                                                            </span>




                                                </span>
                               <!--  end sms campaign -->




											</div>

                                            <div class="form-group">
                                                      <label class="col-md-3 control-label"></label>

													<div class="col-md-4">
                                                        <div class="alert alert-danger" style="display: none" id="error_div">
								        <strong>Error!</strong> <span id="error"></span>
							                </div>


													</div>
												</div>



                                            <span id="show_submit" style="display:none">
											<div class="form-actions fluid">
												<div class="col-md-offset-3 col-md-9">
													<button class="btn blue" type="submit">Add Follow to Campaign</button>

												</div>
											</div>
                                            </span>
										</form>
										<!-- END FORM-->
									</div>
								</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>

    <style>
    .hand { cursor: pointer; cursor: hand; }
    </style>
{% endblock content %}





















