<div class="clearfix">
        <span id="form_content">

        <h4 class="block"> Campaign  </h4>
                    <div class="form-group blue">
            <label class="control-label input-medium"> What do you want to do </label>
                <select class="form-control input-sm"   id="cp-options" required>
                <option  selected >--------------------------</option>
                <option value="yes">Add SMS/Voice/MMS/Email etc to existing Campaign</option>
                <option value="no">Start a New Campaign</option>


            </select>
            </div>

      <span id="add_options" style="display: none">
                      <h4 class="block"> Choose Campaign  </h4>
                    <div class="form-group blue">
            
                <select class="form-control input-sm"   id="campaigns" >


               {% for campaign in campaigns %}
                   <option value="{{ campaign.id }}">{{ campaign.name }}</option>

               {% endfor %}


            </select>

                    <h4>Add </h4>
                    <button class="btn btn-primary mms" type="button"><i class="fa fa-instagram"></i> MMS</button>
        <!-- Indicates a successful or positive action -->
        <button class="btn btn-success voice" type="button"><i class="fa fa-volume-up"></i> Voice</button>
        <!-- Contextual button for informational alert messages -->
        <button class="btn btn-info sms" type="button"><i class="fa fa-mobile-phone"></i> SMS</button>
        <!-- Indicates caution should be taken with this action -->
        <button class="btn btn-warning email" type="button"><i class="fa fa-envelope"></i> Email</button>
        <!-- Indicates a dangerous or potentially negative action -->


            </div>


                    </span>

        <span  style="display: none" id="existing-cp">


            <form action="/add-campaign/" role="form" method="POST"  enctype="multipart/form-data" class="xform" id="add-cp">


             <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-bullhorn"></i>
                        </span>
                         <input type="text" name="name"  required placeholder="Campaign Name" class="form-control input-medium">
             </div>
                <br/>
            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-briefcase"></i>
                        </span>
                         <input type="text" name="company"  required placeholder="Company Name" class="form-control input-medium">
             </div>
                <br/>
             <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-upload fa-picture-o" > Company Logo</i>
                                            <input type="file"  name="logo" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info3").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info3"></span>
                                            </div>

                                     </div>

             <br/>
             <div class="form-group input-medium">
             {% if phones %}


            <label class="control-label">Choose Number</label>
                <select class="form-control input-sm input-medium" required name="number">
                {% for phone in phones %}
                    {% if not phone.in_use %}

                         <option value="{{ phone.id }}">{{ phone.twilio_number }}</option>

                    {% endif %}

                {% endfor %}
        </select>
                 {% else %}
                 <label class="control-label">No Phone Numbers left</label>
              {% endif %}

            </div>
            <div class="form-group blue">
            <label class="control-label input-medium"> Require Team ? </label>
                <select class="form-control input-sm  input-medium"   id="team" >
                <option value="no">No its personal</option>
                <option value="yes">Yes</option>


            </select>
            </div>
            <span class="teams" style="display:none">
            <div class="form-group blue">
            <label class="control-label input-medium">Choose Team</label>
                <select class="form-control input-sm input-medium" name="team" >
                {% for team in teams %}

                        <option value="{{ team.id }}">{{ team.name }}</option>



                {% endfor %}
            </select>
            </div>
            </span>
               <div class="form-group blue">
             <label class="control-label">Campaign Description</label>
            <textarea rows="3" class="form-control" name="desc"></textarea>

            </div>
            <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-volume-up" ></i> Upload Voice greeting (MP3)
                                            <input type="file"  name="audio" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info1").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info1"></span>
                                            </div>

                                     </div>

               <div class="form-group blue">
             <label class="control-label">Voice Greeting Text( if you have no audio)</label>
            <textarea rows="3" class="form-control" name="voice_text"></textarea>

            </div>
            <div class="form-group blue">
             <label class="control-label">SMS greeting text</label>
            <textarea rows="3" class="form-control" name="sms_text" maxlength="130"></textarea>
               Do not include 'Send STOP to unsubscribe' We do it for you

            </div>
            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                         <input type="text" name="from_email"  required placeholder="From Email" class="form-control input-medium">
             </div>
                <br/>
             <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                         <input type="text" name="subject"  required placeholder="Greeting Email Subject" class="form-control input-medium">
             </div>
            <div class="form-group blue">
             <label class="control-label">Email greeting body</label>
            <textarea rows="3" class="form-control" name="e_body"></textarea>

            </div>
            <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-upload fa-paperclip" > Attachment</i>
                                            <input type="file"  name="att" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info2").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info2"></span>
                                            </div>

                                     </div>
             <br/>

                    {% csrf_token %}

             <br/>


<div class="margiv-top-10">

     <input class="btn purple" type="submit" value="Create Campaign"/>
        </div>

    </form>
        </span>


                           </span>

							</div>