<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">Campaigns</h4>
</div>
<div class="modal-body">
<div class="clearfix">

        <h4 class="block"> Edit Campaign  </h4>


            <form action="/edit-campaign/{{ campaign.id }}/" role="form" method="POST"  enctype="multipart/form-data" class="xform" id="edit-cp">


             <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-bullhorn"></i>
                        </span>
                         <input type="text" name="name" value="{{ campaign.name }}" required placeholder="Campaign Name" class="form-control input-medium">
             </div>
                <br/>
            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-briefcase"></i>
                        </span>
                         <input type="text" name="company" value="{{ campaign.company }}" required placeholder="Company Name" class="form-control input-medium">
             </div>
                <br/>
             <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-upload fa-picture-o" > Company Logo</i>
                                            <input type="file" name="logo" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info3").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info3">{{ campaign.logo }}</span>
                                            </div>

                                     </div>

             <br/>
             <div class="form-group input-medium">
             {% if phones %}


            <label class="control-label">Choose Number</label>
                <select class="form-control input-sm input-medium" required name="number">
                {% for phone in phones %}
                    {% if not phone.in_use %}

                         <option value="{{ phone.id }}">{{ phone.twilio_number }}</option>

                    {% endif %}

                {% endfor %}
        </select>
                 {% else %}
                 <label class="control-label">No Phone Numbers left</label>
              {% endif %}

            </div>
            <div class="form-group blue">
            <label class="control-label input-medium"> Require Team ? </label>
                <select class="form-control input-sm  input-medium"   id="team" >
                <option value="no">No its personal</option>
                <option value="yes">Yes</option>


            </select>
            </div>
            <span class="teams" style="display:none">
            <div class="form-group blue">
            <label class="control-label input-medium">Choose Team</label>
                <select class="form-control input-sm input-medium" name="team" >
                {% for team in teams %}

                        <option value="{{ team.id }}">{{ team.name }}</option>



                {% endfor %}
            </select>
            </div>
            </span>
               <div class="form-group blue">
             <label class="control-label">Campaign Description</label>
            <textarea rows="3" class="form-control" name="desc" >{{ campaign.description }}</textarea>

            </div>
            <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-volume-up" ></i> Upload Voice greeting (MP3)
                                            <input type="file" name="audio" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info1").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info1">{{ campaign.voice_greeting }}</span>
                                            </div>

                                     </div>

               <div class="form-group blue">
             <label class="control-label">Voice Greeting Text( if you have no audio)</label>
            <textarea rows="3" class="form-control" name="voice_text" >{{ campaign.greeting_text }}</textarea>

            </div>
            <div class="form-group blue">
             <label class="control-label">SMS greeting text</label>
            <textarea rows="3" class="form-control" name="sms_text" maxlength="130">{{ campaign.sms_greeting }}</textarea>
                Do Not add 'Send STOP to unsubscribe. We do it for you!
            </div>
            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                         <input type="text" name="from_email" value="{{ campaign.from_email }}" required placeholder="From Email" class="form-control input-medium">
             </div>
                <br/>
             <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                         <input type="text" name="subject" value="{{ campaign.e_greeting_subject }}" required placeholder="Greeting Email Subject" class="form-control input-medium">
             </div>
            <div class="form-group blue">
             <label class="control-label">Email greeting body</label>
            <textarea rows="3" class="form-control" name="e_body" >{{ campaign.e_greeting }}</textarea>

            </div>
            <div class="form-group purple">

							            <div style="position:relative;">
                                        <a class='btn btn-primary blue' href='javascript:;'>
                                          <i class="fa fa-upload fa-paperclip" > Attachment</i>
                                            <input type="file" name="att" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info2").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info2">{{ campaign.attachment }}</span>
                                            </div>

                                     </div>
             <br/>

                    {% csrf_token %}

             <br/>


        <div class="margiv-top-10">

            <input class="btn purple" type="submit" value="Edit Campaign"/>
        </div>

    </form>

</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn default" data-dismiss="modal">Close</button>

</div>
