<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">Campaigns</h4>
</div>
<div class="modal-body">
<div class="clearfix">

<h4> Edit MMS for {{ campaign.campaign.name }}</h4>
<form action="/edit-mms/{{ campaign.id }}/" role="form" method="POST"  enctype="multipart/form-data" class="xform" id="edit-mms-form">

                                                        {% csrf_token %}




                                                    <div class="form-group blue">
                                                         <label class="control-label">SMS Text max 140 characters</label>
                                                        <textarea rows="3" class="form-control" name="text">{{ campaign.text }}</textarea>

														</div>
                                      <div style="position:relative;">
                                        <a class='btn btn-primary ' href='javascript:;'>
                                           <i class="fa fa-picture-o"></i> Image 1
                                            <input type="file"   name="image" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info">{{ campaign.image }}</span>
                                        </div>
                                    <br/><br/>
                                        <div style="position:relative;">
                                        <a class='btn btn-primary ' href='javascript:;'>
                                          <i class="fa fa-picture-o"></i> Image 2
                                            <input type="file"   name="image1" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info1").html($(this).val());'>
                                                    </a>
                                                    &nbsp;
                                                    <span class='label label-info' id="upload-file-info1">{{ campaign.image1 }}</span>
                                        </div>

                                                       <div class="form-group blue">

													<input type="checkbox" class="form-control" name="active"> Activate Auto responding text
													</div>

                                                 <hr/>
                                             <label for=""> <strong>Send MMS after <a href="javascript:;"><i class="fa fa-calendar" id="show_schedule"></i></a></strong></label>
                <span id="schedule" style="display: none">

                                      <div class="form-group">

										<select class="form-control input-medium" id="dates">
											<option value="0" selected>Immediately</option>
											<option value="1">Custom </option>

										</select>
									</div>
                                            <span id="mini-schedule" style="display: none">
                                           <div class="form-group" style="width:60%">
											<div data-date="2014-3-21T15:25:00Z" class="input-group date form_meridian_datetime">
												<input  name="interval" type="text" class="form-control" readonly="" size="16">
												<span class="input-group-btn">
													<button type="button" class="btn default date-reset"><i class="fa fa-times"></i></button>
												</span>
												<span class="input-group-btn">
													<button type="button" class="btn default date-set"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->

										</div>
                                                <div class="form-group">
                                                    <br/>
                                                            <label for="">Select Time zone</label>
                                                <select class="form-control input-medium" id="tz" name="tz" required>
                                                    {% for tz in timezones %}

                                                    <option value="{{ tz }}" >{{ tz }}</option>
                                                    {% endfor %}


                                                </select>
                                            </div>
                                                </span>
                                </span>


                                                 <hr/>
                                                 <br/>



                                                        <div class="form-group blue">

													<input type="checkbox" class="form-control" name="send_sample"> Send Sample on Create Campaign
													</div>
                                                        <div class="form-group">

                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <input type="text" name="sample_no" value="{{ campaign.sample_no }}" placeholder="No to receive sample eg +446567898765" class="form-control">
                                                        </div>
                                                    </div>



													<div class="margiv-top-10">
                                                        <input type="hidden" name="campaign" value="{{ campaign.campaign.id }}"/>
														<input class="btn green" type="submit" value="Edit Campaign"/>
													</div>
												</form>
												</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn default" data-dismiss="modal">Close</button>

</div>
