
{% extends 'campaigns/base.html' %}
{% block title %} Create Campaign {{ campaign.name }}
{% endblock title %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
 {% endblock css %}
{% block content %}
		<div class="page-content">

			<!-- BEGIN PAGE HEADER-->

			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">

					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-reorder"></i> Create Campaign in four quick steps
										</div>

									</div>
									<div class="portlet-body form" style="min-height:500px">
										<!-- BEGIN FORM-->

                                         <form action="/add-campaign/" role="form" method="POST"  enctype="multipart/form-data" class="form-horizontal"  id="add-cp">

											<div class="form-body">

                                            <div class="form-group last">
													<label class="col-md-3 control-label"> Step 1</label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:green" id="show_company_detail" class="hand">  <i class="fa fa-bullhorn"></i> Campaign Details</strong>
														</p>
													</div>
												</div>
                                       <span id="company_detail" style="display:none">
                                            <div class="form-group">
													<label class="col-md-3 control-label">Company Name</label>
													<div class="col-md-4">
														<input type="text" placeholder="My Company" name="company" required class="form-control">
														<span class="help-block">
															 The name of your Company - used in emails
														</span>
													</div>
											</div>
                                            <div class="form-group">
													<label class="col-md-3 control-label">Company Logo </label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary ' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-picture-o"></i>

                                                                    <input type="file"  name="logo" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info2").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info2"></span>
                                                        </div>

                                                    </div>

											    </div>
												<div class="form-group">
													<label class="col-md-3 control-label">Name of campaign</label>
													<div class="col-md-4">
														<input type="text" placeholder="Facebook Ads Campaign" name="name"  required class="form-control">
														<span class="help-block">
															 A reminder of what the campaign is about
														</span>
													</div>
												</div>

                                                <div class="form-group">
													<label class="col-md-3 control-label">Campaign Description</label>
													<div class="col-md-4">
                                                         <textarea rows="3" class="form-control" name="description"></textarea>

														<span class="help-block">
															 A Small Description of what the campaign is about
														</span>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Campaign Number</label>
													<div class="col-md-4">
                                                    {% if phones %}
                                                   <select class="form-control input-sm input-medium" required name="number">
                                                    {% for phone in phones %}
                                                        {% if not phone.in_use %}

                                                             <option value="{{ phone.id }}">{{ phone.twilio_number }}</option>

                                                        {% endif %}

                                                    {% endfor %}

                                                        </select>
                                                        <span class="help-block">
															 Choose a phone number for your campaign
														</span>
                                                     {% else %}
                                                        <span class="help-block">
															 You have no phone numbers left, purchase one to add campaign
														</span>

                                                  {% endif %}

													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Choose Team</label>
													<div class="col-md-4">
                                                    {% if teams %}
                                                   <select class="form-control input-sm input-medium"  name="team">
                                                    {% for team in teams %}
                                                        {% if not team.in_use %}

                                                             <option value="{{ team.id }}">{{ team.name }}</option>

                                                        {% endif %}

                                                    {% endfor %}

                                                        </select>
                                                        <span class="help-block">
															 Choose a team for  your campaign - optional
														</span>
                                                     {% else %}
                                                        <span class="help-block">
															 You have no teams, campaign will default to personal
														</span>

                                                  {% endif %}

													</div>
												</div>
                                            </span>
                               <!--  end  comapny deatails -->


                              <!--  Ask if voice campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label"> Step 2</label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:deepskyblue" id="use_voice" class="hand">  <i class="fa fa-volume-up"></i> Click to add  Voice</strong>
														</p>
													</div>
												</div>

                            <!--  if voice campaign -->

                                                <span id="voice" style="display: none">

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Voice MP3 </label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary ' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-microphone"></i>

                                                                    <input type="file"  name="audio" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info"></span>
                                                        </div>

                                                    </div>

											    </div>




                                                    <div class="form-group">
													<label class="col-md-3 control-label">Voice to Text</label>
													<div class="col-md-4">
                                                         <textarea rows="3" class="form-control" name="voice_text"></textarea>

														<span class="help-block">
															Only enter text incase you have no audio
														</span>
													</div>
												</div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Phone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-phone"></i>
															</span>
															<input type="text" name="sample_phone" placeholder="eg +480768907678" class="form-control spinner">

														</div>
                                                        <span class="help-block">
															 Enter sample phone to receive sample Voice Call
														</span>
													</div>
												</div>

                                               <div class="form-group">
													<label class="col-md-3 control-label">Use Voice campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="v_cp">

														</div>
                                                        <span class="help-block">
															 Check to use voice campaign
														</span>
													</div>
												</div>

                                                </span>
                               <!--  end voice campaign -->

                                <!--  Ask if sms  campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label"> Step 3</label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:purple" id="use_sms" class="hand">  <i class="fa fa-mobile-phone"></i> Click here to add SMS</strong>
														</p>
													</div>
												</div>

                            <!--  if sms campaign -->

                                                <span id="sms" style="display: none">


                                                    <div class="form-group">
													<label class="col-md-3 control-label">SMS Text </label>
													<div class="col-md-4">

                                                         <textarea rows="3" class="form-control" name="sms_text" maxlength="135" id="sms_text"></textarea>
                                                        <span id="charleft" style="color: Red"></span>

														<span class="help-block">
													Do NOT ADD 'Send STOP to unsubscribe' its added automatically
														</span>
													</div>
												</div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Phone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-phone"></i>
															</span>
															<input type="text" name="sample_sms" placeholder="eg +480768907678" class="form-control spinner">

														</div>
                                                        <span class="help-block">
															 Enter sample phone to receive sample SMS
														</span>
													</div>
												</div>
                                              <div class="form-group">
													<label class="col-md-3 control-label">Use SMS campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="sms_cp">

														</div>
                                                        <span class="help-block">
															 Check to use sms campaign
														</span>
													</div>
												</div>

                                                </span>
                               <!--  end sms campaign -->




                            <!--  Ask if email campaign -->
                                                <div class="form-group last">
													<label class="col-md-3 control-label">Step 4 </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong style="color:orange" id="use_email" class="hand"><i class="fa fa-envelope"></i>  Click here to add Email </strong>
														</p>
													</div>
												</div>

                            <!--  email campaign -->

                                                <span id="email" style="display: none">


                                                   <div class="form-group">
													<label class="col-md-3 control-label">From Email</label>
													<div class="col-md-4">
														<input type="email"  name="from_email" class="form-control">
														<span class="help-block">
															 Emails appear to have been sent from this email
														</span>
													</div>
												</div>


                                                    <div class="form-group">
													<label class="col-md-3 control-label">Email Subject</label>
													<div class="col-md-4">
														<input type="text"  name="email_subject" class="form-control">
														<span class="help-block">
															 A reminder of what the campaign is about
														</span>
													</div>
												</div>

                                                 <div class="form-group">
													<label class="col-md-3 control-label">Email Body</label>
													<div class="col-md-4">
                                                         <textarea rows="3" class="form-control" name="email_body"></textarea>

														<span class="help-block">
															This is the first email your leads get ie Email Greeting
														</span>
													</div>
												</div>

                                                <div class="form-group last">
													<label class="col-md-3 control-label"> </label>
													<div class="col-md-4">
														<p class="form-control-static">
															<strong id="show_tpl" style="color:purple;" class="hand">  <i class="fa fa-chevron-circle-down "></i> Click here to choose a template</strong>
														</p>
													</div>
												</div>

                                             <span id="choose_tpl" style="display: none">

                                                <div class="form-group">

													<label class="col-md-3 control-label hand">Choose a Template</label>
													<div class="col-md-8">



                                                                {% if templates %}




                                                             {% for tpl in templates %}
                                                        <label>

                                                            <span><input type="radio"   value="{{ tpl.name }}" id="" name="tpl">
                                                            </span>
                                                            <img src="{{ tpl.image.url }}" alt="" class="img-rounded" style="max-height:200px;max-width: 150px"/> </label>

                                                             {% endfor %}
                                                                    <span class="help-block">
															Hover on template image to see enlarged template check on radio button to select
														</span>

                                                                    {% else %}
                                                                    <span class="help-block">
															No Templates yet, the default will be used
														</span>


                                                                 {% endif %}




													</div>
												</div>
                                              </span>




												<div class="form-group">
													<label class="col-md-3 control-label">Attachment</label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary yellow' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-paperclip"></i>

                                                                    <input type="file"  name="att1" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info"></span>
                                                        </div>

                                                    </div>

											    </div>

                                                <div class="form-group">
													<label class="col-md-3 control-label">Attachment  2</label>
													<div class="col-md-4">
														<div style="position:relative;">
                                                                <a class='btn btn-primary yellow' href='javascript:;'>
                                                                   <i class="fa fa-upload"></i> <i class="fa fa-paperclip"></i>

                                                                    <input type="file"  name="att2" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info1").html($(this).val());'>
                                                                            </a>
                                                                            &nbsp;
                                                                            <span class='label label-info' id="upload-file-info1"></span>
                                                        </div>

                                                    </div>

											    </div>

                                                    <div class="form-group">
													<label class="col-md-3 control-label">Sample Email</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-envelope"></i>
															</span>
															<input type="email" placeholder="Sample Email Address" class="form-control spinner">

														</div>
                                                        <span class="help-block">
															 Enter Email to receive sample Email Campaign
														</span>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Use email campaign</label>
													<div class="col-md-4">
														<div class="input-group">

															<input type="checkbox" class="form-control" name="e_cp">

														</div>
                                                        <span class="help-block">
															 Check to use email campaign
														</span>
													</div>
												</div>


                                                </span>
                               <!--  end email campaign -->





											</div>

                                            <div class="alert alert-danger" style="display: none" id="error_div">
								        <strong>Error!</strong> <span id="error"></span>
							                </div>


                                            <span id="show_submit" style="display:none">
											<div class="form-actions fluid">
												<div class="col-md-offset-3 col-md-9">
													<button class="btn blue" type="submit">Create Campaign</button>

												</div>
											</div>
                                            </span>
										</form>
										<!-- END FORM-->
									</div>
								</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>

    <style>
    .hand { cursor: pointer; cursor: hand; }
    </style>
{% endblock content %}





















