{% extends 'admin_base.html' %}

{% block extra_css %}

	<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jBox.css">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
{% endblock extra_css %}

{% block content %}
	<div id="ribbon">
		<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
       		<li>
           		<a href="/dashboard/">DashBoard</a>
			</li>
			<li>
           		<a href="/reports/">Reports</a>
			</li>
			<li>
           		<a href="">Activities</a>
			</li>
    	</ol>
	</div>

	<div id="content">
		<div class="row"></div>
	

		<div class="col-md-12 well-sm well-light" style="max-height: 230px;">
	 		<div class="col-md-12 well"><br/>

				<h2 class="col-md-12">Activity Report - Event Lookup</h2>

						 
				<div class="fixed-table-container pull-left" style="height: auto;border:none;">
					<div class="fixed-table-container-inner" style="border:none">
						<div class="col-md-3">
							Events :  
							<select name="events" id="eventdropdown" onchange="showActivity()">
								<option>------</option>
								{% if events %}
									{% for event in events %}
										<option value="{{ event.id }}"> {{ event.name }} </option>
									{% endfor %}
								{% else %}
									<option></option>
								{%endif%}
							</select>
						</div>
						<div class="col-md-3 hide" id="activitydrop"></div>
						<div class="col-md-3 hide" id="actmodal">
							<a href="#" data-toggle="modal" data-target="#actModal">View Details</a>
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-success pull-right" id="event_submit">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Generate report
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-12 well-sm well-light" id="showLine"></div>
		<div id="showDonut"></div>


	
		<div class="col-md-12 well hide" id="activity_table" style="margin-top: 39px;"><br/></div>
	
	
	
	</div>
	<div id="modals"> </div>

<script type="text/template" class="actdropdown">
	Activities :  
	<select name="activities" id="activitydropdown">
		<% for (var i in datas){ %>
			
				<option value="<%= datas[i].id %>"> <%= datas[i].name %> </option>
			
		<% } %>
	</select>
</script>

<script type="text/template" class="activitymodal">
	
	<div class="modal fade" id="actModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Activity Details</h4>
      			</div>
      			<div class="modal-body">
        			
        				Name: <%= datas[0].name %> <br>
						Type: <%= datas[0].type %> <br>
						Created By: <%= datas[0].created_by %> <br>
						Description: <%= datas[0].description %> <br>
						Location: <%= datas[0].location %> <br>
						Start Time: <%= datas[0].start_time %> <br>
						End Time: <%= datas[0].end_time %> <br>
														
        			
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
    		</div>
  		</div>
	</div>
	


</script>


	
 
 <script type="text/template" class="template">
 	<div class="col-md-12">
		<div class="pull-right">
			<span class="col-md-8"> <input class="form-control" type="text" placeholder="{{ request.user.username }} Events & Activities"></span>
			<button type="submit" class="btn btn-success">
								&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
			</button>
		</div>

	</div>
 	<div class="fixed-table-container pull-left" style="height: auto">
		<div class="fixed-table-container-inner" style="margin-top: -30px">
			<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
				<thead >
					<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
						<th class="">
							Select
						</th>
						<th class="">
							Activity Name
						</th>
						<th class="">
							Type
						</th>
						<th class="">
							Created By
						</th>
						<th class="">
							Description
						</th>
						<th class="">
							Location
						</th>
						<th class="">
							Start Date
						</th>
						<th class="">
							End Date
						</th>
					</tr>
				</thead>
				<tbody class="">
					<% for (var i in datas){ %>
						<tr  class="eventActivity">
							<td><input type="checkbox" id="viewactivity" name="checkboxActivity" value="<%= datas[i].id %>" data-name="<%= datas[i].name %>"/></td>
							<td> <%= datas[i].name %> </td>
							<td> <%= datas[i].type %> </td>
							<td> <%= datas[i].created_by %> </td>
							<td> <%= datas[i].description %> </td>
							<td> <%= datas[i].location %> </td>
							<td> <%= datas[i].start_time %> </td>
							<td> <%= datas[i].end_time %> </td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-8">
		<button type="submit" id="getactivity" class="btn btn-success pull-right" onclick="getactivity()">
			&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-bar-chart-o fa-lg"></i>&nbsp; Get analytics
		</button>
	</div>
	<div class="col-md-4">
		<button type="submit" class="btn btn-success pull-right" onclick="location.href='export/<%= eventid %>'">
			&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Export activity reports
		</button>
	</div>
 </script>


<script type="text/template" class="line">
	
	<div class="col-md-12 column">
		<div class="row clearfix">
			<div class="jarviswidget" id="wid-id-11" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2 id="textDataTitle">Line Graph</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div id="attende-bar" class="chart no-padding"></div>
					</div>
					<div id="viewbutton">
						<button type="submit" class="btn btn-success pull-right" style="top: -17px;position: relative;" data-toggle="modal" data-target="#regModal">
							&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; View Details
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</script>

<script type="text/template" class="modalbutton" >
	
	<button type="submit" class="btn btn-success pull-right" style="top: -17px;position: relative;" data-toggle="modal" data-target="#<%= data %>Modal">
		&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; View Details
	</button>

</script>

<script type="text/template" class="donut">
	
	<div class="col-md-12 column" id="donentsData">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<div class="jarviswidget " id="wid-id-6" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
						<h2><%= regCount %> of registrants/<%= cancelCount %> of cancelled</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div id="cancReg-graph_<%= activityId %>" class="chart no-padding"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 column">
				<div class="jarviswidget " id="wid-id-7" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
						<h2><%= regCount %> of registrants / <%= atendeCount %> of attendees</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div id="regAtnd-graph_<%= activityId %>" class="chart no-padding"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 column">
				<div class="jarviswidget " id="wid-id-6" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
						<h2><%= allattendees %> of total attendees/<%= activities %> of total activities</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div id="atteact" class="chart no-padding"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</script>



<script type="text/template" class="regModal">
	
	<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Registrants</h4>
      			</div>
      			<div class="modal-body">
        			<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
						<thead >
							<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
								<th class="">
									First Name
								</th>
								<th class="">
									Last Name
								</th>
								<th class="">
									Phone
								</th>
								<th class="">
									Company
								</th>
								<th class="">
									Position
								</th>
								<th class="">
									User Type
								</th>
								<th class="">
									Role
								</th>
							</tr>
						</thead>
						<tbody class="">
							<% for (var i in datas){ %>
								<tr >
									<td> <%= datas[i].user.first_name %> </td>
									<td> <%= datas[i].user.last_name %> </td>
									<td> <%= datas[i].user.phone %> </td>
									<td> <%= datas[i].user.company %> </td>
									<td> <%= datas[i].user.position %> </td>
									<td> <%= datas[i].user.user_type %> </td>
									<td> <%= datas[i].user.role %> </td>
								</tr>
							<% } %>
						</tbody>
					</table>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
    		</div>
  		</div>
	</div>

</script>


<script type="text/template" class="canModal">
	
	<div class="modal fade" id="canModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Cancelled Registrations</h4>
      			</div>
      			<div class="modal-body">
        			<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
						<thead >
							<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
								<th class="">
									First Name
								</th>
								<th class="">
									Last Name
								</th>
								<th class="">
									Phone
								</th>
								<th class="">
									Company
								</th>
								<th class="">
									Position
								</th>
								<th class="">
									User Type
								</th>
								<th class="">
									Role
								</th>
							</tr>
						</thead>
						<tbody class="">
							<% for (var i in datas){ %>
								<% if ((datas[i].active==0)||(datas[i].active=='false')){ %>
									<tr >
										<td> <%= datas[i].user.first_name %> </td>
										<td> <%= datas[i].user.last_name %> </td>
										<td> <%= datas[i].user.phone %> </td>
										<td> <%= datas[i].user.company %> </td>
										<td> <%= datas[i].user.position %> </td>
										<td> <%= datas[i].user.user_type %> </td>
										<td> <%= datas[i].user.role %> </td>
									</tr>
							<% } }%>
						</tbody>
					</table>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       			</div>
    		</div>
  		</div>
	</div>

</script>


<script type="text/template" class="atteModal" >
	
	<div class="modal fade" id="attModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Attendees</h4>
      			</div>
      			<div class="modal-body">
        			<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
						<thead >
							<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
								<th class="">
									First Name
								</th>
								<th class="">
									Last Name
								</th>
								<th class="">
									Phone
								</th>
								<th class="">
									Company
								</th>
								<th class="">
									Position
								</th>
								<th class="">
									User Type
								</th>
								<th class="">
									Role
								</th>
							</tr>
						</thead>
						<tbody class="">
							<% for (var i in datas){ %>
								<% if ((datas[i].active==1)||(datas[i].active=='true')){ %>
									<tr >
										<td> <%= datas[i].user.first_name %> </td>
										<td> <%= datas[i].user.last_name %> </td>
										<td> <%= datas[i].user.phone %> </td>
										<td> <%= datas[i].user.company %> </td>
										<td> <%= datas[i].user.position %> </td>
										<td> <%= datas[i].user.user_type %> </td>
										<td> <%= datas[i].user.role %> </td>
									</tr>
							<% }} %>
						</tbody>
					</table>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
    		</div>
  		</div>
	</div>

</script>



{% endblock content %}

{% block page_js %}
	<script src="{{ STATIC_URL }}js/sorttable.js"></script>
	<script src="{{ STATIC_URL }}js/jBox.min.js"></script>
	<script type="text/javascript">
		var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/activity");
		s.onopen = function() {
			console.log('connected')
			s.send('test')
		};
		s.onmessage = function(e) {
			console.log(e.data)
		};
		$("body").css("height","auto");
	
	</script>
		
	<script type="text/javascript">
		function showActivity() {
			$( "#showDonut" ).html("");
    		var eventId = document.getElementById("eventdropdown").value;
    		$.getJSON(eventId,function(data){
    			var template = _.template($( "script.actdropdown" ).html());
				var templateData = data;
				$( "#activitydrop" ).html(template({'datas':templateData}  ));
				$( "#activitydrop" ).removeClass("hide");
				

    		});
    	}
    	$( "#event_submit" ).click(function() {
			var activityId = document.getElementById("activitydropdown").value;
			$( "#showDonut" ).html("");
			$("#modals").html("");
			$.getJSON('details/'+activityId,function(data){
				$( "#actmodal" ).removeClass("hide");
				var template = _.template($( "script.activitymodal" ).html());
				var templateData = data;
				$( "#modals" ).html(template({'datas':templateData }  ));
				
			});
			$.getJSON('./activityattendee/'+activityId,function(data){
				
				var templateData = data;
				template = _.template($( "script.regModal" ).html());
				$( "#modals" ).append(template({'datas':templateData}  ));
			});
			$.getJSON('attendee/'+activityId,function(data){
				
				var registrants = data[0].registrants;
				var cancelees = data[0].cancelees;
				var attendees = data[0].attendees;
				var allattendees = data[0].allattendees
				var activities = data[0].activities
				var activityName = data[0].name;
				var template = _.template($( "script.donut" ).html());
				$( "#showDonut" ).html(template({'activityId':activityId,"regCount":registrants,'cancelCount':cancelees,'atendeCount':attendees,'activity':activityName,'allattendees':allattendees,'activities':activities }  ));
				var template = _.template($( "script.line" ).html());
				$( "#showLine" ).html(template({'activityId':activityId }  ));
				var graphData=[];
				for(i in data){
					var count=1;
					for(j in data)
					{
						if(data[i].created==data[j].created && i!=j)
						{
							count++;
							delete data[j]
						}
					}
					graphData.push ({"y":data[i].created,"a":count})
				}
				var line_graph = Morris.Line({
					element: 'attende-bar',
					data: graphData,
					xkey: 'y',
					ykeys: ['a'],
	  				labels: ['Registrants'],
					xLabels : 'day'
				});
				Morris.Donut({
					element : 'cancReg-graph_'+activityId,
					data : [{
						value : registrants,
						label : 'registrants',
						class:'id1'
					}, {
						value : cancelees,
						label : 'cancelled registrations',
						id:'id2'
					}],
					formatter : function(x) {
						return x + "%"
					}
				});
				Morris.Donut({
					element : 'regAtnd-graph_'+activityId,
					data : [{
						value : registrants,
						label : 'registrants',
						class:'id1'
					}, {
						value : attendees,
						label : 'attendees',
						id:'id2'
					}],
					formatter : function(x) {
						return x + "%"
					}
				});
				
				Morris.Donut({
					element : 'atteact',
					data : [{
						value : allattendees,
						label : 'attendees',
						class:'id1'
					}, {
						value : activities,
						label : 'activities',
						id:'id2'
					}],
					formatter : function(x) {
						return x + "%"
					}
				});
				$( "#cancReg-graph_"+activityId ).click(function() {
					$("#modals").html("");
					$.getJSON('./activityattendee/'+activityId,function(data){
						var templateData = data;
						console.log(data);
						if($($($($("#cancReg-graph_"+activityId+" text")[0]).html())[0]).html()=="registrants"){
							$("#viewbutton").html("");
							var template = _.template($( "script.modalbutton" ).html());
							$( "#viewbutton" ).append(template({'data':'reg'}  ));
							template = _.template($( "script.regModal" ).html());
							$( "#modals" ).append(template({'datas':templateData}  ));
							graphData = [];
							for(i in data){
								var count=1;
								for(j in data)
								{
									if(data[i].created==data[j].created && i!=j)
									{
										count++;
										delete data[j];
									}
								}
								graphData.push ({"y":data[i].created,"a":count})
							}
							$("#attende-bar").html("");
							var line_graph = Morris.Line({
								element: 'attende-bar',
								data: graphData,
								xkey: 'y',
								ykeys: ['a'],
	  							labels: ['Registrants'],
								xLabels : 'day'
							});
							// line_graph.setData(graphData);
	  					}
	  					else if($($($($("#cancReg-graph_"+activityId+" text")[0]).html())[0]).html()=="cancelled registrations"){
	  						$("#viewbutton").html("");
							var template = _.template($( "script.modalbutton" ).html());
							$( "#viewbutton" ).append(template({'data':'can'}  ));
	  						template = _.template($( "script.canModal" ).html());
	  						$( "#modals" ).append(template({'datas':templateData}  ));
							graphData = [];
							for(i in data){
								if ((data[i].active==0)||(data[i].active=='false')){
									var count=1;
									for(j in data)
									{
										if(data[i].created==data[j].created && i!=j && (data[j].active==0)||(data[j].active=='false'))
										{
											
											count++;
											delete data[j]
										}
									}
									graphData.push ({"y":data[i].created,"a":count})
								}
							}
							$("#attende-bar").html("");
							var line_graph = Morris.Line({
								element: 'attende-bar',
								data: graphData,
								xkey: 'y',
								ykeys: ['a'],
	  							labels: ['Cancelled Registrations'],
								xLabels : 'day'
							});
							// line_graph.setData(graphData);
	  					}
						
						
						
	  					
  					});
 				});
				$("#cancReg-graph_"+activityId).jBox('Mouse', {
					content: 'Click on donut to change line graph'
				});
				$("#regAtnd-graph_"+activityId).jBox('Mouse', {
					content: 'Click on donut to change line graph'
				});
				$( "#regAtnd-graph_"+activityId ).click(function() {
					$("#modals").html("");
					$.getJSON('./activityattendee/'+activityId,function(data){
						var templateData = data;
						console.log(data);
						if($($($($("#regAtnd-graph_"+activityId+" text")[0]).html())[0]).html()=="registrants"){
							$("#viewbutton").html("");
							var template = _.template($( "script.modalbutton" ).html());
							$( "#viewbutton" ).append(template({'data':'reg'}  ));
							template = _.template($( "script.regModal" ).html());
							$( "#modals" ).append(template({'datas':templateData}  ));
							graphData = [];
							for(i in data){
								var count=1;
								for(j in data)
								{
									if(data[i].created==data[j].created && i!=j)
									{
										count++;
										delete data[j];
									}
								}
								graphData.push ({"y":data[i].created,"a":count})
							}
							$("#attende-bar").html("");
							console.log(graphData)
							Morris.Line({
								element: 'attende-bar',
								data: graphData,
								xkey: 'y',
								ykeys: ['a'],
	  							labels: ['Registrants'],
								xLabels : 'day'
							});
							// line_graph.setData(graphData);
	  					}
	  					else if($($($($("#regAtnd-graph_"+activityId+" text")[0]).html())[0]).html()=="attendees"){
	  						$("#viewbutton").html("");
							var template = _.template($( "script.modalbutton" ).html());
							$( "#viewbutton" ).append(template({'data':'att'}  ));
	  						template = _.template($( "script.atteModal" ).html());
	  						$( "#modals" ).append(template({'datas':templateData}  ));
							graphData = [];
							for(i in data){
								if ((data[i].active==1)||(data[i].active=='True')){
									var count=1;
									for(j in data)
									{
										if(data[i].created==data[j].created && i!=j && (data[j].active==1)||(data[j].active=='True'))
										{
											
											count++;
											delete data[j]
										}
									}
									graphData.push ({"y":data[i].created,"a":count})
								}
							}
							$("#attende-bar").html("");
							console.log(graphData)
							Morris.Line({
								element: 'attende-bar',
								data: graphData,
								xkey: 'y',
								ykeys: ['a'],
	  							labels: ['Attendees'],
								xLabels : 'day'
							});
							// line_graph.setData(graphData);
	  					}
						
						
						
	  					
  					});
				});

			
			});
		});
		
		
	</script>
{% endblock page_js %}