{% extends 'admin_base.html' %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>


{% endblock extra_css %}

{% block content %}

	<div id="ribbon">
		<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
       		<li>
        		<a href="">DashBoard</a>
			</li>
			<li>
        		<a href="">Reports</a>
			</li>
			<li>
        		<a href="">Admin</a>
			</li>
    	</ol>
	</div>

	<div id="content">
		<div class="row">
			<div class="col-md-12 well-sm well-light" style="max-height: 193px;">
	 			<div class="col-md-12 well"><br/>
	 				<h2 class="col-md-12">Admin System Reports</h2>
	 				<div class="fixed-table-container pull-left" style="height: auto;border:none;">
						<div class="fixed-table-container-inner" style="border:none">
							<div class="jarviswidget col-md-4" id="wid-id-6" data-widget-editbutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
									<h2><strong>{{ no_of_users }} of total users / {{ no_of_users_system }} of users in system</strong></h2>
								</header>
								<div>
									<div class="widget-body no-padding">
										<div id="donut1" class="chart no-padding"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
							
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 well">
					<div class="col-md-6">
						Events :  
						<select name="events" id="eventdropdown" onchange="showActivity()">
							<option>------</option>
							{% if events %}
								{% for event in events %}
									<option value="{{ event.id }}"> {{ event.name }} </option>
								{% endfor %}
							{% else %}
								<option></option>
							{%endif%}
						</select>
					</div>
					<div class="col-md-6 column " id="activitydonut">
							
					</div>
				</div>
			</div>



		</div>
	</div>


	<script type="text/template" class="donutscript">
		<div class="jarviswidget " id="wid-id-6" data-widget-editbutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
				<h2><%= eventName %> activity </h2>
			</header>
			<div>
				<div class="widget-body no-padding">
					<div id="actdonut" class="chart no-padding"></div>
				</div>
			</div>
		</div>
	</script>
		
				 
{% endblock content %}

{% block page_js %}

	<script src="{{ STATIC_URL }}js/sorttable.js"></script>
	<script type="text/javascript">
	setTimeout(function() {
		$("body").css("min-height","1000px");
	}, 10);
	
		var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/host");

		s.onopen = function() {
			console.log('connected')
			s.send('test')
		};
		s.onmessage = function(e) {
			console.log(e.data)
		};


		Morris.Donut({
			element : 'donut1',
			data : [{
				value : {{ no_of_users }},
				label : 'no of users registered',
				class:'id1'
			}, {
				value : {{ no_of_users_system }},
				label : 'no of users in system',
				id:'id2'
			}],
			formatter : function(x) {
				return x 
			}
		});
	

		function showActivity() {
			$( "#activitydonut" ).html("");
    		var eventId = document.getElementById("eventdropdown").value;
    		$.getJSON(eventId,function(data){
    			var template = _.template($( "script.donutscript" ).html());
				var templateData = data;
				var eventName = $("#eventdropdown option:selected").text();
				$( "#activitydonut" ).html(template({'eventName':eventName}  ));
				$( "#activitydonut" ).removeClass("hide");
				var donutData = [];
				for (var i in data){
					var temp = {};
					temp['value'] = data[i].attendee_count;
					temp['label'] = data[i].activity_name;
					donutData.push(temp);
				}
				Morris.Donut({
			element : 'actdonut',
			data : donutData,
			formatter : function(x) {
				return x 
			}
		});
				

    		});
    	}
	</script>
		
	 
{% endblock page_js %}