{% extends 'admin_base.html' %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    
    <script src="http://underscorejs.org/underscore-min.js"></script>
    

{% endblock extra_css %}

{% block content %}
<div id="ribbon">
  <span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
  <!-- breadcrumb -->
  <ol class="breadcrumb">
        <li>
            <a href="/dashboard">DashBoard</a>
    </li>
    </ol>
</div>

<div id="content">
  <div class="row">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6 column" >
          <div id="3dbarchart"></div>

        </div>
      </div>
    </div>
    <div class="col-md-12 well-sm well-light" >
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12 column"><h3><strong>Event - Stats Industry</strong></h3></div>
          <div class="col-md-6 column">
            
            <div id="barchart"></div>
          </div>
          <div class="col-md-5 column">
            <table>
              {% if newData %}
                {% for data in newData %}

              <tr>
                  <th>{{ data.name }}</th>
                  <td>{{ data.count }}</td>
                  <td>{{ data.share }}%</td>
              </tr>
              {% endfor %}
              <tr>
                  <th>Grand Total</th>
                  <td>{{ total }}</td>
                  <td>100%</td>
              </tr>
              
              {%endif%}
            </table>
          </div>
        
        </div>
      </div>

      <div class="col-md-4 column">
        <div class="panel-group" id="panel-724948">
          <strong> Events Attending </strong>
          {% if activityusers %}
            
            {% for activityuser in activityusers %}


              <div class="panel panel-default">
                <div class="panel-heading">
                  <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-724948" href="#panel-element-2{{ activityuser.activity.event.id }}">{{ activityuser.activity.event.start_time|date:"d M Y" }} - {{ activityuser.activity.event.name }}</a>
                </div>
                <div id="panel-element-2{{ activityuser.activity.event.id }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    

                  </div>
                </div>
              </div>
              
            {% endfor %}
          {% endif %}
                    
        
        
        </div>
      </div>
         
      
      <div class="col-md-4 column">
      
      </div>
      <div class="col-md-4 column">
        <div class="panel-group" id="panel-724948">
          <strong>Activity Agendas</strong>
          {% if activityusers %}
            {% for activityuser in activityusers %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-724948" href="#panel-element-1{{ activityuser.activity.id }}">{{ activityuser.activity.start_time|date:"d M Y" }} - {{ activityuser.activity.name }}</a>
                </div>
                <div id="panel-element-1{{ activityuser.activity.id }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche...
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
                    
        
        
        </div>
      </div>
    </div>
   
   
  </div>
 </div>

 

{% endblock content %}

{% block page_js %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts-3d.js"></script>
<script src="{{ STATIC_URL }}js/exporting.js"></script>
<script src="{{ STATIC_URL }}js/sorttable.js"></script>
<script>
  var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/business");
  s.onopen = function() {
    console.log('connected')
    s.send('test')
  };
  s.onmessage = function(e) {
    console.log(e.data)
  };
  $(function () {
    var chart;
    $(document).ready(function () {
      // Build the chart
      piechartData = [];
      {% if newData %}
        {% for data in newData %}
          tempdata = []
          tempdata.push('{{ data.name }}',{{ data.count }})
          piechartData.push(tempdata)
        {% endfor %}
      {%endif%} 
      $('#piechart').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
        },
        title: {
          text: 'Total Participants by Industry'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
          }
        },
        series: [{
                  type: 'pie',
                  name: 'Industry share',
                  data: piechartData,
                  events: {
                        click: function (event) {
                          console.log(event.point.name);
                          $.getJSON('/reports/business/json/',{'name':event.point.name},function(data){
                            var xAxis=[];
                            var yAxis=[];
                            for(i in data){
                              xAxis.push(data[i].code)
                              yAxis.push(data[i].count)
                            }
                            $('#3dbarchart').highcharts({
                              chart: {
                                  type: 'column',
                                  margin: 75,
                                  options3d: {
                              enabled: true,
                                      alpha: 10,
                                      beta: 25,
                                      depth: 70
                                  }
                              },
                              title: {
                                  text: 'Keyword/Code Match by Selected Industries'
                              },
                              subtitle: {
                                  text: ''
                              },
                              plotOptions: {
                                  column: {
                                      depth: 25
                                  }
                              },
                              xAxis: {
                                  categories: xAxis
                              },
                              yAxis: {
                                  opposite: true
                              },
                              series: [{
                                  name: event.point.name,
                                    data: yAxis
                              }]
                            });
                          });
                    }
                  }
              }]
          });
                      setTimeout(function(){
                        $.getJSON('/reports/business/json/',{'name':'{{maxName}}'},function(data){
                            var xAxis=[];
                            var yAxis=[];
                            for(i in data){
                              xAxis.push(data[i].code)
                              yAxis.push(data[i].count)
                            }
                            $('#3dbarchart').highcharts({
                              chart: {
                                  type: 'column',
                                  margin: 75,
                                  options3d: {
                              enabled: true,
                                      alpha: 10,
                                      beta: 25,
                                      depth: 70
                                  }
                              },
                              title: {
                                  text: 'Keyword/Code Match by Selected Industries'
                              },
                              subtitle: {
                                  text: ''
                              },
                              plotOptions: {
                                  column: {
                                      depth: 25
                                  }
                              },
                              xAxis: {
                                  categories: xAxis
                              },
                              yAxis: {
                                  opposite: true
                              },
                              series: [{
                                  name: '{{maxName}}',
                                    data: yAxis
                              }]
                            });
                          });
                      },1000);
      });
    
      barchartData = [];
      {% if newData %}
        {% for data in newData %}
          tempdata = []
          tempdata.push('{{ data.name }}',{{ data.count }})
          barchartData.push(tempdata)
        {% endfor %}
      {%endif%} 
      console.log(barchartData)
      $('#barchart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '',
            },
            series: [{
                name: 'Population',
                data: barchartData,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    
    

    

    
  });

  
  $( "#piechart" ).click(function() {
          alert("hi");
          console.log("clicked");
      });

    $( ".highcharts-series highcharts-tracker" ).click(function() {
          alert("hi");
          console.log("clicked");
      });

</script>
{% endblock page_js %}