{% extends 'admin_base.html' %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
{% endblock extra_css %}

{% block content %}

	<div id="ribbon">
		<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
       		<li>
           		<a href="">DashBoard</a>
			</li>
			<li>
           		<a href="">Reports</a>
			</li>
			<li>
           		<a href="">Dynamic</a>
			</li>
    	</ol>
	</div>

	<div id="content">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well " id="showDetailActivity">
			<span>&nbsp;</span>
			<!-- NEW WIDGET START -->
			<article >
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget" id="wid-id-11" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
						<h2 id="textDataTitle"></h2>
					</header>
					<div>
						<div class="jarviswidget-editbox">
						</div>
						<div class="widget-body no-padding">
							<div id="liveChart" class="chart no-padding"></div>
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="row">
			<div class="col-md-12 well-sm well-light" style="max-height: 193px;">
	 			<div class="col-md-12 well"><br/>
	 				<h2 class="col-md-12">Admin Event Report - Host Lookup</h2>
	 				<div class="fixed-table-container pull-left" style="height: auto;border:none;">
						<div class="fixed-table-container-inner" style="border:none">
							<div class="col-md-3">
								Hosts 
								<select name="hosts">
									{% if activities %}
										{% for host in hosts %}
											<option> {{ host.user }} </option>
										{% endfor %}
									{% else %}
										<option></option>
									{%endif%}
								</select>
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-success pull-right">
									&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Generate report
								</button>
						 	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 well" style="margin-top: 39px;">
			<div class="col-md-12">
				<div class="pull-right">
					<span class="col-md-8"> <input class="form-control" type="text" placeholder="{{ request.user.username }} Events & Activities"></span>
					<button type="submit" class="btn btn-success">
						&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
					</button>
				</div>
			</div>
			<div class="fixed-table-container pull-left" style="height: auto">
				<div class="fixed-table-container-inner" style="margin-top: -30px">
					<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
						<thead >
							<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
								<th class="">
									Register
								</th>
								<th class="">
									Event Name
								</th>
								<th class="">
									Activity Name
								</th>
								<th class="">
									Subject
								</th>
								<th class="">
									Date
								</th>
							</tr>
						</thead>
						<tbody class="">
							{% if activities %}
								{% for activity in activities %}
									<tr data-id="{{ activity.id }}" class="eventActivity">
										<td><input type="checkbox" id="register" name="checkboxActivity" value="{{ activity.id }}"/></td>
										<td> {{ activity.event.name }} </td>
										<td> {{ activity.name }} </td>
										<td> {{ activity.description }} </td>
										<td> {{ activity.start_time|date:"D d M Y" }} </td>
									</tr>
								{% endfor %}
							{% else %}
								<tr >
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-8">
				<button type="submit" id="submit" class="btn btn-success pull-right" data-toggle="modal" >
					&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-bar-chart-o fa-lg"></i>&nbsp; Register
				</button>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        				<h4 class="modal-title" id="myModalLabel">Confirm Registration</h4>
      				</div>
      				<div class="modal-body" style="height:310px">
	 					<div id="beforetemplate" >
	 					</div>
	 					<button type="submit" id="submit" class="btn btn-success pull-right" data-toggle="modal" >
							&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-bar-chart-o fa-lg"></i>&nbsp; Confirm Registration
						</button>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	</div>

 <script type="text/template" class="template">
 <div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
				<%= datas[0].event %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
				<%= datas[0].activityname %>
				</div>
				<div class="col-md-4 column">
				"<%= datas[0].description %>" 
				</div>
				<div class="col-md-4 column">
				<%= datas[0].date %>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
				Registered: <%= datas[0].registrantcount %> ppl 
				</div>
				<div class="col-md-4 column">
				Capacity: <%= datas[0].capacity %>
				</div>
				<div class="col-md-4 column">
				Location: <%= datas[0].location %>
				</div>
			</div>
		</div>
	</div>
</div>
 	
 	   <br>
 	  
 	
 	<br>
 </script>



{% endblock content %}

{% block page_js %}
		<script src="{{ STATIC_URL }}js/sorttable.js"></script>
				<script type="text/javascript">
	
	</script>
		
			<script src="{{ STATIC_URL }}js/highcharts.js"></script>
		<script src="{{ STATIC_URL }}js/exporting.js"></script>
	 <script>
			var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/dynamic");

			s.onopen = function() {
				console.log('connected')
				s.send('test')
			};
			
			$(document).ready( function() {
				Highcharts.setOptions({
		            global: {
		                useUTC: false
		            }
		        });
				 $('#liveChart').highcharts({
			            chart: {
			                events: {
                    			load: function() {
                    				var seriesLine = this.series[0];
                    				var seriesBar = this.series[1];
                    				s.onmessage = function(e) {
                    					var data=JSON.parse(e.data)
			                            seriesBar.addPoint([, parseInt(data.data2)], true, true);
			                            seriesLine.addPoint([,parseInt(data.data2)], true, true);
									};
                    			}
                    		}
			            },
			            title: {
			                text: 'Brand Posts and Total Engagment'
			            },
			             xAxis: {
			                type: 'datetime'
			            },
			             legend: {
			                enabled: false
			            },
			            exporting: {
			                enabled: false
			            },
			            yAxis: [{ // Primary yAxis
			                labels: {
			                    format: '{value}',
			                    style: {
			                        color: Highcharts.getOptions().colors[1]
			                    }
			                },
			                title: {
			                    text: 'Brand Posts',
			                    style: {
			                        color: Highcharts.getOptions().colors[1]
			                    }
			                }
			            }, { // Secondary yAxis
			                title: {
			                    text: 'Total Engagment',
			                    style: {
			                        color: Highcharts.getOptions().colors[0]
			                    }
			                },
			                labels: {
			                    format: '{value} ',
			                    style: {
			                        color: Highcharts.getOptions().colors[0]
			                    }
			                },
			                opposite: true
			            }],
			             series: [{
			                name: 'Brand Posts',
			                type: 'column',
			                yAxis: 1,
			                data: [Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1)],
			                tooltip: {
			                    valueSuffix: ''
			                }
			    
			            }, {
			                name: 'Total Engagment',
			                type: 'spline',
			                data: [Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1),Math.floor((Math.random() * 10) + 1)],
			                tooltip: {
			                    valueSuffix: ''
			                }
			            }]
			        });
			});

    	$( "#submit" ).click(function() {
    		$( "#beforetemplate" ).html('');
    		$('#register:checked').each(function(){
    			activityId = $(this).val();
    			$.getJSON(activityId,function(data){
    				var template = _.template($( "script.template" ).html());
					var templateData = data;
					$( "#beforetemplate" ).append(template({'datas':templateData}  ));
					
    			});
    		});
  			$('#myModal').modal('toggle');
  //alert( "Handler for .click() called." );
			});
$("body").css("height","auto");
		</script>
{% endblock page_js %}