{% extends 'admin_base.html' %}

{% block extra_css %}

		<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	
		<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>


{% endblock extra_css %}

{% block content %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
	<!-- breadcrumb -->
	<ol class="breadcrumb">
       	<li>
           	<a href="">DashBoard</a>
		</li>
		<li>
           	<a href="">Reports</a>
		</li>
		<li>
           	<a href="">Events</a>
		</li>
    </ol>
</div>


<div id="content">
	<div class="row">
		
		<div class="col-md-12 well-sm well-light" >
			<div class="col-md-12 well"><br/>
				<h2 class="col-md-12">Event Reports</h2>

				<div class="col-md-12">
					<div class="pull-right">
						<span class="col-md-8"> <input class="form-control" type="text" placeholder="Search..."></span>
						<button type="submit" class="btn btn-success">
										&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
						</button>
					</div>

				</div>
				<div class="fixed-table-container pull-left" style="height: auto;">
					<div class="fixed-table-container-inner" style="margin-top: -30px">

						<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
							<thead >
								<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
									<th class="">
										Select
									</th>
									<th class="">
										Event Name
									</th>
									<th class="">
										Start Time
									</th>
									<th class="">
										End Time
									</th>
									<th class="">
										Registration Start
									</th>
									<th class="">
										Registration End
									</th>
									<th class="">
										Limit
									</th>
									<th class="sorttable_nosort">
										Phone Number
									</th>
									<th class="sorttable_nosort">
										Contact
									</th>
								</tr>
							</thead>
							<tbody class="">
								{% if events %}
									{% for event in events %}
										<tr  class="eventActivity">
											<td> <input type="checkbox" id="select_event" name="checkboxActivity" value="{{ event.id }}"/> </td>
											<td> {{ event.name }} </td>
											<td> {{ event.start_time }} </td>
											<td> {{ event.end_time }} </td>
											<td> {{ event.reg_start }} </td>
											<td> {{ event.reg_end }} </td>
											<td> {{ event.limit }} </td>
											<td> {{ event.phone }} </td>
											<td> {{ event.contact }} </td>
														
										</tr>
									{% endfor %}
								{% else %}
									<tr >
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% endif %}

							</tbody>
						</table>
					</div>
				</div>





				<div class="col-md-8">
					<button type="submit" class="btn btn-success pull-right" id="get_analytics" >
										&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-bar-chart-o fa-lg"></i>&nbsp; Get analytics
					</button>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-success pull-right" onclick="location.href='export/'">
										&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Export activity reports
					</button>
				</div>

			</div>
			
			
	 	
	 
	</div>
	<div  id="donentsData"></div>
			

	 	</div>

 </div>
<script type="text/template" class="template">
	<div class="col-md-12 " >
	
		<div class="jarviswidget col-md-4" id="wid-id-6" data-widget-editbutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
				<h2><strong><%= regCount %> of registrants / <%= cancelCount %> of cancelees</strong></h2>
			</header>
			<div>
				<div class="widget-body no-padding">
					<div id="cancReggraph_<%= eventId %>" class="chart no-padding"></div>
				</div>
			</div>
		</div>
		<div class="jarviswidget col-md-4" id="wid-id-7" data-widget-editbutton="false">
			<header>
				<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
				<h2><strong><%= regCount %> of registrants / <%= atendeCount %> of attendees</strong></h2>
			</header>
			<div>
				<div class="widget-body no-padding">
					<div id="regAtndgraph_<%= eventId %>" class="chart no-padding"></div>
				</div>
			</div>
		</div>
		<div class="jarviswidget col-md-4" >
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
							Industry
						</th>
					</tr>
				</thead>
				<tbody>
					<% for (j=0;j<industry.length;j++){ %>
						<tr class="active">
							<td>
								<%= industry[j] %><span class="pull-right" style="border:grey 2px;border-style:solid;padding:4px;border-radius:50px; background-color:grey; color:white"><%= count[j] %></span>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</script>
 

 

 


 

 

 

{% endblock content %}

{% block page_js %}
		<script src="{{ STATIC_URL }}js/sorttable.js"></script>
				<script type="text/javascript">
	var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/events");

			s.onopen = function() {
				console.log('connected')
				s.send('test')
			};
			s.onmessage = function(e) {
				console.log(e.data)
			};
	</script>
		<script type="text/javascript">
		$(document).ready( function() {

		$('#sparkline03').sparkline([5,10 ], {
	type: 'pie',
	width: 'auto',
	height: '250px',
	sliceColors: ['#22beef','#a2d200'],
	class:["id1","id2"]
		});

				$("#id1").bind('click', function(){
										 alert("Clicked");
									});
});





		</script>
	<script type="text/javascript">
	$("body").css("height","auto");
		$("#get_analytics").click(function(){
			$( "#donentsData" ).html("");
	 		$('#select_event:checked').each(function(){
	 			var eventId = $(this).val();
	 			
				$.getJSON(eventId,function(data){
					
					var temp = new Array();
					temp = data[0].industry;
					var industry=new Array();
	 				temp.sort();
	 				var count=new Array();
	 				var j=1;
  					for(i=0;i<temp.length;i++){
  						
    					if(temp[i]==temp[i+1]) {
    						j++;
    						continue;
    					}
    					count[industry.length]=j;
    					j=1;
    					industry[industry.length]=temp[i];
  					}
					var registrants = data[0].registrants
					var cancelees = data[0].cancelees
					var attendees = data[0].attendees

					var template = _.template($( "script.template" ).html());
					$( "#donentsData" ).append(template({'eventId':eventId,'industry':industry,'regCount':registrants,'cancelCount':cancelees,'atendeCount':attendees,'count':count }  ));
					
					
					
					$("#donentsData").removeClass('hide');
					Morris.Donut({
						element : 'cancReggraph_'+eventId,
						data : [{
							value : registrants,
							label : 'registrants',
														class:'id1'
						}, {
							value : cancelees,
							label : 'cancelled registrations',
														id:'id2'
						}],
						formatter : function(x) {
							return x + "%"
						}
					});
					Morris.Donut({
						element : 'regAtndgraph_'+eventId,
						data : [{
							value : registrants,
							label : 'registrants',
														class:'id1'
						}, {
							value : attendees,
							label : 'attendees',
														id:'id2'
						}],
						formatter : function(x) {
							return x + "%"
						}
					});
				});
			});
	 		
	 	});
				
	
			
			
	 </script>
{% endblock page_js %}