{% extends 'admin_base.html' %}

{% block extra_css %}

		<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>


{% endblock extra_css %}

{% block content %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
	<!-- breadcrumb -->
	<ol class="breadcrumb">
       	<li>
           	<a href="">DashBoard</a>
		</li>
		<li>
           	<a href="">Reports</a>
		</li>
		<li>
           	<a href="">Host</a>
		</li>
    </ol>
</div>

<div id="content">
	<div class="row">
		<div class="col-md-12 well-sm well-light" style="max-height: 193px;">
	 		<div class="col-md-12 well"><br/>
	 			<h2 class="col-md-12">Host Registration Reports</h2>
	 			<div class="fixed-table-container pull-left" style="height: auto;border:none;">
					<div class="fixed-table-container-inner" style="border:none">
						<div class="col-md-3">
							Hosts 
							<select name="hosts">
								{% if hosts %}
									{% for host in hosts %}
										<option> {{ host.user }} </option>
									{% endfor %}
								{% else %}
									<option></option>
								{%endif%}
							</select>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-success pull-right">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Generate report
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
				 
{% endblock content %}

{% block page_js %}
		<script src="{{ STATIC_URL }}js/sorttable.js"></script>
				<script type="text/javascript">
				var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/host");

			s.onopen = function() {
				console.log('connected')
				s.send('test')
			};
			s.onmessage = function(e) {
				console.log(e.data)
			};
	
	</script>
		
	 
{% endblock page_js %}