{% extends 'admin_base.html' %}

{% block extra_css %}

		<link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>


{% endblock extra_css %}

{% block content %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh"><i class="fa fa-hand-left"></i></span> </span>
	<!-- breadcrumb -->
	<ol class="breadcrumb">
       	<li>
           	<a href="">DashBoard</a>
		</li>
		<li>
           	<a href="">Reports</a>
		</li>
		<li>
           	<a href="">Schedule</a>
		</li>
    </ol>
</div>

<div id="content">
<div class="row">

	 <div class="col-md-12 well-sm well-light" style="max-height: 230px;">
	 		<div class="col-md-12 well"><br/>

				<h2 class="col-md-12">Schedule Report - Event Lookup</h2>

						 
				<div class="fixed-table-container pull-left" style="height: auto;border:none;">
					<div class="fixed-table-container-inner" style="border:none">
						<div class="col-md-3">
							Events :  
							<select name="events" id="eventdropdown" onchange="showActivity()">
								<option>------</option>
								{% if events %}
									{% for event in events %}
										<option value="{{ event.id }}"> {{ event.name }} </option>
									{% endfor %}
								{% else %}
									<option></option>
								{%endif%}
							</select>
						</div>
						<div class="col-md-3 hide" id="activitydrop">
							
						</div>
						
						<div class="col-md-3">
							<button type="submit" class="btn btn-success pull-right" id="viewSchedules">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Generate report
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	 <div class="col-md-12 well-sm well-light hide" id="showSchedules" >
						 <div class="fixed-table-container pull-left" style="height: 250px;">
							<div class="fixed-table-container-inner" style="margin-top: -30px">

								<table id="datatable_tabletools" class="table table-striped table-bordered table-hover sortable" >
									<thead >
										<tr style="background-image:none;background-color:#1B4B98;color: #ffffff;">
											<th class="sorttable_nosort">
												Room
											</th>
											<th class="sorttable_nosort">
												Table #
											</th>
											<th class="sorttable_nosort">
												Meeting Time
											</th>
											<th class="sorttable_nosort">
												 Meet with
											</th>
											<th class="sorttable_nosort">
												Matching Criteria
											</th>
											
										</tr>
									</thead>
									<tbody class="" id="beforetemplate">

									</tbody>
								</table>
							</div>
						 </div>
						 					<div class="col-md-12">
								<a href="export/" class="btn btn-success pull-right" id="exportSchedules">
												&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp; Export CSV
								</a>
						 </div>
						</div>
	 
	 
	</div>
 </div>
 <script type="text/template" class="actdropdown">
	Activities :  
	<select name="activities" id="activitydropdown">
		<% for (var i in datas){ %>
			
				<option value="<%= datas[i].id %>"> <%= datas[i].name %> </option>
			
		<% } %>
	</select>
</script>
 <script type="text/template" class="template">
 <% for (var i in datas){ %>
 	<tr >
		<td> <%= datas[i].building %> </td>
		<td> <%= datas[i].table %></td>
		<td> <%= datas[i].start %> - <%= datas[i].end %></td>
		<td> <%= datas[i].buyer %> (<%= datas[i].seller %>) </td>
		<td>  </td>										
	</tr>
	<% } %>
 </script>

 

{% endblock content %}

{% block page_js %}
	<script src="{{ STATIC_URL }}js/sorttable.js"></script>
	<script type="text/javascript">
		var s = new WebSocket("ws://" + window.location.hostname + ":{{websocket_port}}/schedule");
		s.onopen = function() {
			console.log('connected')
			s.send('test')
		};
		s.onmessage = function(e) {
			console.log(e.data)
		};

		function showActivity() {
			$( "#showDonut" ).html("");
    		var eventId = document.getElementById("eventdropdown").value;
    		$.getJSON('/reports/activity/'+eventId,function(data){
    			var template = _.template($( "script.actdropdown" ).html());
				var templateData = data;
				$( "#activitydrop" ).html(template({'datas':templateData}  ));
				$( "#activitydrop" ).removeClass("hide");
				

    		});
    	}


	$("#viewSchedules").click(function(){
		$( "#beforetemplate" ).html('');
		
    			var activityId = document.getElementById("activitydropdown").value;
    			$("#exportSchedules").attr({"href":'export/'+activityId})
    			$.getJSON(activityId,function(data){
    				var template = _.template($( "script.template" ).html());
					$( "#beforetemplate" ).append(template({'datas':data}));
					
    			});
    		
		$("#showSchedules").removeClass('hide');
	});
	</script>
		
{% endblock page_js %}