
{{ form.media }}

<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">
                                    Create a new  Activity Type
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">



									<div class="col-md-12">




                                        <div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">




						<form novalidate="novalidate" class="smart-form" id="order-form"
                              action="/add-activity-type/" method="post" >

                             {% csrf_token %}


							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <strong>Name of Activity eg Learning Session</strong>
											<input type="text" placeholder="Name" name="name"  required="">
										</label>
									</section>

								</div>
                            	<section>
									<label class="textarea"> <strong>Description -Optional </strong>
										<textarea placeholder="" name="description"></textarea>
									</label>
								</section>

							</fieldset>
                        <footer>
								<button class="btn btn-primary" type="submit">
									Create Activity Type
								</button>
							</footer>



</form>
					</div>
					<!-- end widget content -->

				</div>




									</div>
								</div>



							</div>

