
{{ form.media }}

<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">
                                    Create a new  Role
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">



									<div class="col-md-12">




                                        <div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">




						<form novalidate="novalidate" class="smart-form" id="order-form"
                              action="/add-role/" method="post" >

                             {% csrf_token %}


							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <strong>Name of Role eg PDM</strong>
											<input type="text" placeholder="Name of Role" name="name"  required="">
										</label>
									</section>

								</div>
                                <section>
									<label class="select"> <strong>Can Change/Delete Profile Fields</strong>
                                        <input type="checkbox" value="on" name="profile"/>
									</label>
								</section>
                                <section>

									<label class="select"> <strong>Activity for the survey</strong>
                                        <select name="activity" id="activity" name="activity"  multiple>
                                            <option ></option>
                                            {% for activity in activities %}
                                                <option value="{{ activity.id }}">{{ activity.full_name }}</option>


                                            {% endfor %}


                                        </select>
									</label>
								</section>






							</fieldset>
                        <footer>
								<button class="btn btn-primary" type="submit">
									Create Survey
								</button>
							</footer>



</form>
					</div>
					<!-- end widget content -->

				</div>




									</div>
								</div>



							</div>

<script>
$(document).ready(function() { $("select#activity").select2({
placeholder: "Select Activities"

}); });





</script>