{% extends 'admin_base.html' %}
{% block title %}
{% endblock title %}
Roles
{% block breadcrumb %}
    <li>Admin</li>
    <li>Manage Roles</li>

{% endblock breadcrumb %}
{% block content %}


			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i> 
								Roles
							<span>> 

							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> Total Roles <span class="txt-color-blue">{{ roles|length }}</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">

								</div>
							</li>

                            <li class="sparks-info">
								&nbsp;<button data-target="#mymodal" data-toggle="modal"
                                                                    data-remote="/add-activity-type/"
                                                                    class="btn btn-primary ">
                                                                    <i class="fa fa-plus"></i> Create New Activity Type
                                                              </button>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">

								</div>
							</li>
							<li class="sparks-info">
								&nbsp;<button data-target="#mymodal" data-toggle="modal"
                                                                    data-remote="/add-role/"
                                                                    class="btn btn-primary ">
                                                                    <i class="fa fa-plus"></i> Create New Role
                                                              </button>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">

								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- widget grid -->
				<section id="widget-grid" class="">
				
					<!-- row -->
					<div class="row">
				
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>User Type Roles </h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
				
										</div>
										
										<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" style="text-align: center">
											<thead>
												<tr>
                                                <th>Role</th>
                                                    <th>Can Add/Edit Fields </th>
                                                 <th>Can Add/Edit Activities</th>
                                                    <th>Edit</th>
                                                    <th style="background-color:#8b0000">Delete</th>

												</tr>
											</thead>
											<tbody>





											{% for role in roles %}
                                                <tr>
                                                <td>{{ role.name }}</td>
                                                <td>{% if role.profile %} Yes {% else %}No{% endif %}</td>
                                               <td> {% for activity in role.activity.all  %}

													{{ activity.full_name }},


                                                    {% endfor %}</td>
                                                <td><a data-toggle="modal"
                                                       href="/edit-profile-field/{{ data.id }}/" data-target="#mymodal">
                                                    <i class="fa fa-edit" ></i></a></td>
                                                <td style="color: red">
                                                    <a data-toggle="modal"
                                                       href="/delete-profile-field/{{ data.id }}/" data-target="#mymodal">
                                                        <i class="fa fa-trash-o"></i></a></td>

                                                </tr>

                                            {% endfor %}



											</tbody>
										</table>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->


				
						</article>
						<!-- WIDGET END -->
				
					</div>
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
    <!-- Modal -->
				<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content">

						</div>
                        <!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
{% endblock content %}
{% block page_js %}

    <script src="{{ STATIC_URL }}js/ajax.js"></script>

    <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>


    <style>
          #s2id_groupSelect, .select2-no-results, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */
		})



		</script>
  <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>
{% endblock page_js %}