<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                {% if active == 'details' %}
                    <a href="#" class="btn btn-default active">Details</a>
                {% else %}
                    <a href="{% url 'event_details' pk=event.pk %}" class="btn btn-default">Details</a>
                {% endif %}
            </div>
            <div class="btn-group">
                {% if active == 'activities' %}
                    <a href="#" class="btn btn-default active">Activities</a>
                {% else %}
                    <a href="{% url 'activities' event_pk=event.pk %}" class="btn btn-default">Activities</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
