

                <div style="display: none">
                        <form action="{% url 'advanced_search' %}" novalidate="novalidate" class="export-form" id="order-form" method="post">
                            {% csrf_token %}

                                        <span class="col-md-4"><input  type="text" name="myFormat" value="MM_CUSTOM_FORMAT" ></span>
                                        <span class="col-md-4"><input  type="text" name="yib" value="{{ years_in_business }}" ></span>

                                        <span class="col-md-4"><input class="" type="text" name="yib-weight" value="{{ years_in_business_weight }}"></span>

                                        <span class="col-md-4">Verified?</span>
                                        <input type="text" name="verified" value="{{ verified }}" selected>
                                        </span>

                                        <span class="col-md-4"><input class="" type="text" name="verified-weight" value="{{ verified_weight }}"></span>

                                        <select name="contract-vehicle" class="col-md-12"  multiple>
                                               {% for cv in contract_vehicle %}

                                                    <option value="{{ cv }}" selected></option>

                                               {% endfor %}
                                        </select>

                                        {% for cvw in contract_vehicle_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="contract-vehicle-weight" value="{{ cvw }}" ></span>
                                        {% endfor %}

                                        <select name="revenue" class="col-md-12">
                                            <option value="{{ revenue }}" selected></option>

                                        </select>

                                        <span class="col-md-4"><input class="" type="text" name="revenue-weight" value="{{ revenue_weight }}" ></span>

                                        <span class="col-md-6"> Primary NAICS</span> <br/>
                                        {% for p_naic in primary_naics %}
                                            <input class="col-md-12" type="text" name="primary-naics" value="{{ p_naic }}"><br>
                                        {% endfor %}

                                        <span class="col-md-4"><input class="" type="text" name="primary-naics-weight" value="{{ primary_naics_weight }}" ></span>

                                            <span class="col-md-6"> Secondary NAICS</span> <br/>
                                            {% for s_naic in secondary_naics %}
                                                <input class="col-md-12" type="text" name="secondary-naics" value="{{ s_naic }}">
                                            {% endfor %}

                                            <span class="col-md-4"><input class="" type="text" name="secondary-naics-weight" value="{{ secondary_naics_weight }}" ></span>



                                        <select name="no-of-employees" class="col-md-12">
                                            <option value="{{ no_of_employees }}" selected> </option>

                                        </select>

                                        <span class="col-md-4"><input class="" type="text" name="no-of-employees-weight" value="{{ no_of_employees_weight }}" ></span>

                                        <select name="no-of-veteran-employees" class="col-md-12">
                                            <option value="{{ no_of_veteran_employees }}" selected>  </option>

                                        </select>

                                        <span class="col-md-4"><input class="" type="text" name="no-of-veteran-employees-weight" value="{{ no_of_veteran_employees_weight }}" ></span>

                                        <select name="percent-of-veteran-employees" class="col-md-12">
                                            <option value="{{ percent_of_veteran_employees }}" selected> </option>

                                        </select>

                                        <span class="col-md-4"><input class="" type="text" name="percent-of-veteran-employees-weight" value="{{ percent_of_veteran_employees_weight }}" ></span>

                                        <span class="col-md-4">DCAA compliant <br/>

                                        <input type="text" name="dcaa-compliant" value="{{ dcaa_compliant }}">

                                        </span>

                                        <span class="col-md-4"><input class="" type="text" name="dcaa-compliant-weight" value="{{ dcaa_compliant_weight }}" ></span>

                                        <span class="col-md-6"> 1st core strength </span> <br/>
                                        <input class="col-md-12" type="text" name="first-core-strength" value="{{ first_core_strength }}"><br>

                                        <span class="col-md-4"><input class="" type="text" name="first-core-strength-weight" value="{{ first_core_strength_weight }}" ></span>

                                            <span class="col-md-6"> 2nd core strength</span> <br/>
                                            {% for s_c_s in second_core_strength %}
                                                <input class="col-md-12" type="text" name="second-core-strength" value="{{ s_c_s }}">
                                            {% endfor %}

                                        {% for s_c_s_w in second_core_strength %}

                                        <span class="col-md-4"><input class="" type="text" name="second-core-strength-weight" value="{{ s_c_s_w }}" ></span>

                                        {% endfor %}


                                                <select name="business-certification" class="col-md-12"  multiple>
                                                    {% for b_c in business_certification %}
                                                    <option value="{{ b_c }}" selected> </option>
                                                    {% endfor %}

                                                </select>

                                            {% for b_c_w in business_certification_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="business-certification-weight" value="{{ b_c_w }}" ></span>
                                            {% endfor %}
                                            <select name="small-business-category" class="col-md-12"  multiple>
                                                {% for s_b_c in small_business_category %}
                                                <option value="{{ s_b_c }}" selected> </option>
                                                {% endfor %}

                                            </select>

                                            {% for s_b_c_w in small_business_category_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="small-business-category-weight" value="{{ s_b_c_w }}" ></span>
                                            {% endfor %}

                                            <span class="col-md-6"> NAICS </span> <br/>

                                            {% for n in naics %}
                                            <input class="col-md-12" type="text" name="pp-naics" value="{{ n }}"><br>
                                            {% endfor %}

                                            {% for n_w in naics_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="pp-naics-weight" value="{{ n_w }}" ></span>
                                            {% endfor %}

                                                <select name="pp-prime" class="col-md-12"  multiple>
                                                    {% for p in prime %}
                                                    <option value="{{ p }}" selected> </option>
                                                    {% endfor %}

                                                </select>

                                            {% for p_w in prime_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="pp-prime-weight" value="p_w" ></span>
                                            {% endfor %}

                                                <select name="pp-estimated-value" class="col-md-12"  multiple>
                                                    {% for estimated_value in past_p_estimated_value %}
                                                    <option value="{{ estimated_value }}" selected></option>
                                                    {% endfor %}
                                                </select>

                                            {% for estimated_value_w in past_p_estimated_value_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="pp-estimated-value-weight" value="estimated_value_w" ></span>
                                            {% endfor %}

                                            <span class="col-md-3"> Pop Start</span> <br/>
                                               {% for pop_start in past_p_pop_start %}
                                                <input class="form-control col-md-12" type="text" name="pp-pop-start" placeholder="  / /" data-dateformat="yy-mm-dd" value="pop_start">
                                               {% endfor %}

                                            <span class="col-md-3"> Pop Finish</span> <br/>
                                               {% for pop_finish in past_p_pop_finish %}
                                                <input class="form-control datepicker col-md-12" type="text" name="pp-pop-end" placeholder="  / /" data-dateformat="yy-mm-dd" value="pop_finish">
                                                {% endfor %}

                                           {% for pop-time-weight in past_p_pop_time_weight %}
                                            <span class="col-md-4"><input class="" type="text" name="pp-pop-time-weight" value="pop-time-weight" ></span>
                                           {% endfor %}

                                                <select name="pp-customer-dept" class="col-md-12"  multiple>
                                                    {% for customer_dept in past_p_customer_dept %}
                                                    <option value="{{ customer_dept }}" selected> </option>
                                                    {% endfor %}
                                                </select>

                                           {% for customer_dept_w in past_p_customer_dept_weight %}
                                            <span class="col-md-4"><input class=" add-parameter" type="text" name="pp-customer-weight" value="{{ customer_dept_w }}" ></span>
                                           {% endfor %}

								<button class="btn btn-primary" type="submit">
									Search
								</button>

						</form>

               </div>
