{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
    {{ form.media }}
    <div id="content">



				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">

								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">

            <!--basic search-->

            <div id="section1" data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable collacpsible" role="widget">

				<header role="heading" class="expand-basic">
					<span class="widget-icon"> <i class="fa fa-search"></i> </span>
					<h2>Basic Search </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content" class="content-basic" style="display:none">

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form action="{% url 'basic_search' %}" novalidate="novalidate" class="smart-form" id="order-form" method="post">

                            <fieldset>
                            <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Search for </strong> </label>
									</section>
                                    <section class="col col-8">
										<label class="select">
											<select name="gov" >
                                                 <option value="3" selected>Both</option>

												<option value="1">Government User</option>
												<option value="2">Commercial User</option>


											</select> <i></i></label>

									</section>



								</div>
                            </fieldset>





							<fieldset>


                                <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Country </strong> </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											 <strong>State</strong>

                                        </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											<strong>City</strong>

                                        </label>
									</section>

								</div>
                                <div class="row">
									<section class="col col-4">
										<label class="select">
											{{ form.country }}
                                             <i></i>
										</label>
									</section>
									<section class="col col-4">
										<label class="select">
											{{ form.region }}
                                            <i></i>
										</label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											{{ form.city }}
                                            <i></i>
										</label>
									</section>
								</div>
                                 </fieldset>
                            <fieldset>
                                <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Business size </strong> </label>
									</section>
                                    <section class="col col-8">
										<label class="select">
											<select name="size" >

												<option value="1">Small less than 50 employees</option>
												<option value="2">More than 50 employees</option>

											</select> <i></i></label>
                                    {% csrf_token %}
									</section>



								</div>
                                </fieldset>

								<fieldset>



                                    <section>
										<label class="select">
											<input id="nscodeselector"  name="code"  style="min-width:100%" id="select-code">

											<i></i></label>



									</section>




						    </fieldset>

                            <fieldset>
                             <section >
							<strong>Company Average Revenue</strong>
							</section>

							<section >
							<input id="range-slider-2" type="text" name="revenue"
                                   value="0;500000" data-type="single" data-step="500" data-postfix=" $"
                                   data-from="0" data-to="500000" data-hasgrid="false">
							</section>
                            </fieldset>

                            <fieldset>
                            <section >
							<strong>Years in Business</strong>
							</section>
                            <!-- <section>
                            <input id="range-slider-2" type="text" name="years-in-business" data-postfix=" yrs"
                                                value="0;100">
                            </section>-->
							<section >
							<input id="range-slider-3" type="text" name="yrs"
                                   value="0;100" data-type="single" data-step="1" data-postfix=" yrs"
                                   data-from="0" data-to="100" data-hasgrid="false">
							</section>
                            </fieldset>


                            <footer>
								<button class="btn btn-primary" type="submit">
									Search
								</button>
							</footer>


						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

		<!-- END of basic search -->

        <!--Advanced search-->




            <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="margin-top: 0px" role="widget">

				<header role="heading" class="expand-advanced">
					<span class="widget-icon"> <i class="fa fa-search"></i> </span>
					<h2>Advanced Search </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content" class="content-advanced" style="display:none">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form action="{% url 'advanced_search' %}" novalidate="novalidate" class="smart-form" id="order-form" method="post">
                            {% csrf_token %}
                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>Years in Business</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="yib" value="0;100" data-step="1" data-from="0" data-to="100" data-postfix=" yrs"></span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="yib-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>


                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-4">Verified? <br/>
                                        <input type="radio" name="verified" value="true">yes
                                        <input type="radio" name="verified" value="false">No
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="verified-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section>
                                        <div id="clone-contract-vehicle">
                                            <span class="col-md-6">
                                                <select name="contract-vehicle" class="col-md-12">
                                                    <option value="">Contract Vehicle</option>
                                                    <option value="1">MOBIS</option>
                                                    <option value="2">CEC</option>
                                                    <option value="3">Schedule 70</option>
                                                    <option value="4">T4</option>
                                                    <option value="5">GWAC</option>
                                                </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div id="xxxx">
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="contract-vehicle-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>
                                    <section class="contract-vehicle"></section>
                                    <a href="javascript:;" id="contract-vehicle" class="btn btn-success btn-xs add-parameter" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6">
                                        <select name="revenue" class="col-md-12">
                                            <option value="">Avg. Revenue(3 yrs)</option>
                                            <option value="1000000-5000000">$1,000,000 - $5,000,000</option>
                                            <option value="5000000-10000000">$5,000,000 - $10,000,000</option>
                                            <option value="10000000-20000000">$10,000,000 - $20,000,000</option>
                                            <option value="20000000-30000000">$20,000,000 - $30,000,000</option>
                                            <option value="gt-30000000"> >$30,000,000</option>
                                        </select>
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="revenue-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6"> Primary NAICS <br/>
                                        <!--<input class="col-md-12" type="text" name="primary-naics" placeholder="Enter code/Keyword">-->
                                        <div class="col-md-12" id="rec-list">
                                            <select multiple class=" form-control select2"
                                                    data-select-search="true" name="primary-naics" >
                                                {% for code in codes %}
                                                     <option value="{{ code.code }}">{{ code.about }}</option>

                                                {% endfor %}

                                            </select>
                                            <em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Usernames"></a></em>
                                        </div>


                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="primary-naics-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section>
                                        <div id="clone-secondary-naics">
                                            <span class="col-md-6"> Secondary NAICS <br/>
                                               <!-- <input class="col-md-12" type="text" name="secondary-naics" placeholder="Enter code/Keyword">-->
                                                <div class="col-md-12" id="rec-list">
                                                    <select multiple class=" form-control select2"
                                                            data-select-search="true" name="secondary-naics" >
                                                        {% for code in codes %}
                                                             <option value="{{ code.code }}">{{ code.about }}</option>

                                                        {% endfor %}

                                                    </select>
                                                    <em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter secondary codes"></a></em>
                                                </div>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="secondary-naics-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section><br/><br/><br/>
                                   <!-- <section class="secondary-naics"></section>
                                    <a href="javascript:;" id="secondary-naics" class="btn btn-success btn-xs add-parameter" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;-->

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6">
                                        <select name="no-of-employees" class="col-md-12">
                                            <option value=""> No. of employees </option>
                                            <option value="0-99"> 0-99 </option>
                                            <option value="100-249"> 100-249 </option>
                                            <option value="250-499"> 250-499 </option>
                                            <option value="gt-500"> 500 + </option>

                                        </select>
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="no-of-employees-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6">
                                        <select name="no-of-veteran-employees" class="col-md-12">
                                            <option value=""> No. of veteran employees </option>
                                            <option value="0-99"> 0-99 </option>
                                            <option value="100-249"> 100-249 </option>
                                            <option value="250-499"> 250-499 </option>
                                            <option value="gt-500"> 500 + </option>

                                        </select>
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="no-of-veteran-employees-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6">
                                        <select name="percent-of-veteran-employees" class="col-md-12">
                                            <option value=""> % of veteran employees </option>
                                            <option value="0-10"> 0-10% </option>
                                            <option value="11-20"> 10-20% </option>
                                            <option value="21-50"> 20-50% </option>
                                            <option value="gt-50"> 50% + </option>

                                        </select>
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="percent-of-veteran-employees-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-4">DCAA compliant <br/>
                                        <input type="radio" name="dcaa-compliant" value="true">yes
                                        <input type="radio" name="dcaa-compliant" value="false">No
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="dcaa-compliant-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <span class="col-md-6"> 1st core strength <br/>
                                        <input class="col-md-12" type="text" name="first-core-strength" placeholder="Enter code/Keyword">
                                                <!--<div class="col-md-12" id="rec-list">
                                                    <select multiple style="width:100%" class=" form-control select2"
                                                            data-select-search="true" name="users" >
                                                        {% for first in first_strength %}
                                                             <option value="{{ first.id }}">{{ code.first_core_strength }}</option>

                                                        {% endfor %}

                                                    </select>
                                                    <em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter secondary codes"></a></em>
                                                </div>-->
                                        </span>
                                        <span class="col-md-2">&nbsp;</span>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="first-core-strength-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section>

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section>
                                        <div id="clone-second-core-strength">
                                            <span class="col-md-6"> 2nd core strength <br/>
                                                <input class="col-md-12" type="text" name="second-core-strength" placeholder="Enter code/Keyword"><br>
                                            </span>
                                            <div>
                                                <span class="col-md-2">&nbsp;</span>
                                            </div>
                                        </div>
                                        <span class="col-md-4"><input class="range-slider-4" type="text" name="second-core-strength-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                    </section><br/><br/><br/>
                                    <section class="second-core-strength"></section>
                                    <a href="javascript:;" id="second-core-strength" class="btn btn-success btn-xs add-parameter" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section>
                                        <div id="clone-business-certification">
                                            <span class="col-md-6">
                                                <select name="business-certification" class="col-md-12">
                                                    <option value=""> Business Certification </option>
                                                    <option value="ITIL"> ITIL </option>
                                                    <option value="PMP"> PMP </option>
                                                    <option value="PMPEmployees"> PMP Employees </option>
                                                    <option value="CMMI"> CMMI </option>
                                                    <option value="PMP-ITILEmployees"> PMP/ITIL Employees </option>
                                                    <option value="CPAs"> CPAs </option>
                                                    <option value="CGFMs"> CGFMs </option>
                                                    <option value="ISO9001"> ISO 9001 </option>

                                                </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="business-certification-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>
                                    <section class="business-certification"></section>
                                    <a href="javascript:;" id="business-certification" class="btn btn-success btn-xs add-parameter" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;

                            </fieldset>

                            <fieldset>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section>
                                        <div id="clone-small-business-category">
                                            <span class="col-md-6">
                                            <select name="small-business-category" class="col-md-12">
                                                <option value=""> Small Business Category </option>
                                                <option value="VOSB"> VOSB </option>
                                                <option value="SDVOSB"> SDVOSB </option>
                                                <option value="Minority owned"> Minority owned </option>
                                                <option value="SDB"> SDB </option>
                                                <option value="WOSB"> WOSB </option>
                                                <option value="HUBZone"> HUBZone </option>

                                            </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="small-business-category-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>
                                    <section class="small-business-category"></section>
                                    <a href="javascript:;" id="small-business-category" class="btn btn-success btn-xs add-parameter" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;

                            </fieldset>

                            <fieldset>

                                <p>Past performance (VOSB Experience) </p>

                            </fieldset>

                            <fieldset>

                                <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                </section>
                                <section >
                                        <div id="NOclone-past-naics">
                                            <span class="col-md-6"> NAICS <br/>
                                            <!--<input class="col-md-12" type="text" name="pp-naics" placeholder="Enter code/Keyword"><br>-->
                                                <div class="col-md-12" id="rec-list">
                                                    <select multiple class=" form-control select2"
                                                            data-select-search="true" name="pp-naics" >

                                                        {% for code in codes %}

                                                            <option value="{{ code.code }}">{{ code.about }}</option>

                                                        {% endfor %}

                                                    </select>
                                                    <em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter secondary codes"></a></em>
                                                </div>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="pp-naics-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                </section>
                                <section>

                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <div id="clone-prime-sub">
                                            <span class="col-md-6">
                                                <select name="pp-prime" class="col-md-12">
                                                    <option value=""> Select </option>
                                                    <option value="1"> Prime </option>
                                                    <option value="2"> Sub </option>

                                                </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="pp-prime-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>


                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <div id="clone-estimated-value">
                                            <span class="col-md-6">
                                                <select name="pp-estimated-value" class="col-md-12">
                                                    <option value="">Estimated value of contract</option>
                                                    <option value="1-5">$1,000,000 - $5,000,000</option>
                                                    <option value="5-10">$5,000,000 - $10,000,000</option>
                                                    <option value="10-20">$10,000,000 - $20,000,000</option>
                                                    <option value="20-30">$20,000,000 - $30,000,000</option>
                                                    <option value="gt-30"> >$30,000,000</option>
                                                </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="pp-estimated-value-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>


                                    <section >
                                    <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <div id="clone-pop-time">
                                            <span class="col-md-3"> Pop Start <br/>
                                                <input class="form-control datepicker col-md-12" type="text" name="pp-pop-start" placeholder="  / /" data-dateformat="yy-mm-dd"><br>
                                            </span>
                                            <span class="col-md-1">&nbsp;</span>
                                            <span class="col-md-3"> Pop Finish <br/>
                                                <input class="form-control datepicker col-md-12" type="text" name="pp-pop-end" placeholder="  / /" data-dateformat="yy-mm-dd"><br>
                                            </span>
                                            <span class="col-md-1">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4" type="text" name="pp-pop-time-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>


                                    <section >
                                        <span class="col-md-8"><strong>&nbsp;</strong></span><span class="col-md-4">&nbsp; Weight</span>
                                    </section>
                                    <section >
                                        <div id="clone-customer-weight">
                                            <span class="col-md-6">
                                                <select name="pp-customer-dept" class="col-md-12">
                                                    <option value=""> Customer Dept/Firm </option>
                                                    <option value="VA"> VA </option>
                                                    <option value="DOD"> DOD </option>
                                                    <option value="DOT"> DOT </option>
                                                    <option value="DOS"> DOS </option>
                                                </select>
                                            </span>
                                            <span class="col-md-2">&nbsp;</span>
                                        </div>
                                        <div>
                                            <span class="col-md-4"><input class="range-slider-4 add-parameter" type="text" name="pp-customer-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>
                                        </div>
                                    </section>
                                </section><br/><br/>

                                <section class="add-more-past-performance"></section>
                                <div class="col-md-12">&nbsp;</div>
                                    <a href="javascript:;" id="add-more-past-performance" class="btn btn-success btn-xs pull-right add-parameter-group" style="margin-right:10px">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;add more</a>&nbsp;&nbsp;

                            </fieldset>

                            <footer>
								<button class="btn btn-primary" type="submit">
									Search
								</button>
							</footer>


						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

        <!--End of advanced search-->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-comment-o"></i> </span>
					<h2> Search Results </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">



                        <div class="row">

                    <div class="col-sm-12">


							<div class="well well-sm">


								<div class="row">
                                {% if users%}



                                    {% for user in users %}
                                        <div class="col-sm-12 col-md-12 col-lg-6">
										<div class="well well-light well-sm no-margin no-padding">

											<div class="row">



												<div class="col-sm-12">

													<div class="row">

														<div class="col-sm-4 ">

                                                            {% if user.user.picture %}
                                                                <img src="{{ user.user.get_picture_thumbnail_url }}" style="max-width: 80px">
                                                            {% else %}
                                                                <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width: 80px">
                                                            {% endif %}
														</div>
														<div class="col-sm-8">

															<h1><span class="semi-bold">
                                                                {{user.user.first_name|capfirst }}
                                                                {{user.user.last_name|capfirst }}</span>
															<br>
															<small> <strong>{{ user.user.role|capfirst}},</strong>
                                                                <br/>
                                                                <span title="{{ user.user.company }}"> {{ user.user.company|truncatechars:26 }} {{ user.country }}</span></small></h1>


														</div>
                                                         <div class="col-sm-12" >
                                                                <br>

														   	 &nbsp;&nbsp;<!--<button data-target="#mymodal" data-toggle="modal"
                                                                    data-remote="/connect/{{ user.user.id }}/" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-check-circle-o"></i> Connect
                                                              </button>-->
                                                             <input type="checkbox" class="pick-user-checkbox" name="pick-user" value={{ user.user.id }}>

                                                             {% if user.match <= 23 %}
                                                             <a href="javascript:;" class="btn btn-success btn-xs pull-right"
                                                                style="margin-right:10px; background-color: #ffff00; color: #000000">
                                                                <i class="fa fa-check-circle"></i>&nbsp;&nbsp;{{ user.match }}%</a>&nbsp;&nbsp;
                                                             {% elif user.match > 23 and user.match < 60%}

                                                                 <a href="javascript:;" class="btn btn-warning btn-xs pull-right"
                                                                style="margin-right:10px">
                                                                <i class="fa fa-check-circle"></i>&nbsp;&nbsp;{{ user.match }}%</a>&nbsp;&nbsp;

                                                             {% else %}

                                                                 <a href="javascript:;" class="btn btn-success btn-xs pull-right"
                                                                style="margin-right:10px">
                                                                <i class="fa fa-check-circle"></i>&nbsp;&nbsp;{{ user.match }}%</a>&nbsp;&nbsp;

                                                             {% endif %}





                                           <a href="#{{ user.user.id }}"
                                             class="btn btn-primary btn-xs pull-right" data-toggle="modal" style="margin-right:10px">
                                          <i class="fa fa-search"></i> View </a>


															<br>
															<br>
                                                            </div>


													</div>

												</div>

											</div>


											<!-- end row -->

										</div>

									</div>




                                    {% include 'users/__view_user_profile_modal.html' %}

                                    {% endfor %}
                                     <div class="col-md-12">&nbsp;</div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-md-4">
                                        <a href="javascript:;" id="export-results" class="btn btn-success btn-xs">
                                    <i class="fa fa-arrow-down"></i>&nbsp;&nbsp; Export Results </a>
                                        </div>
                                        <div class="col-md-4">
                                        <a href="#add-to-favourites" id="add-to-favourites-to" class="btn btn-success btn-xs"
                                                data-toggle="modal">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Add to favorites </a>
                                        </div>
                                        <div class="col-md-4">
                                        <a href="#send-message" id="send-message-to" class="btn btn-success btn-xs"
                                           data-toggle="modal">
                                    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; Send message </a>

                                        </div>
                                    </div>
                                {% else %}
                                     <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-block alert-success">
                                        <a href="#" data-dismiss="alert" class="close">×</a>
                                        <h4 class="alert-heading"><i class="fa fa-search"></i>
                                            Whoops! no results found! </h4>
                                        <p>
                                            Please refine your search criteria and try again
                                        </p>
                                    </div>
                                     </div>
                                {% endif %}
                                <div class="text-center col-sm-12 col-md-12 col-lg-12">
									<hr>
									<ul class="pagination no-margin">
										<li class="prev disabled">
											<a href="javascript:void(0);">Previous</a>
										</li>
										<li class="active">
											<a href="javascript:void(0);">1</a>
										</li>
										<li>
											<a href="javascript:void(0);">2</a>
										</li>
										<li>
											<a href="javascript:void(0);">3</a>
										</li>
										<li class="next">
											<a href="javascript:void(0);">Next</a>
										</li>
									</ul>
									<br>
									<br>
									<br>
								</div>


								</div>

							</div>


					</div>



					</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

                                </section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>


    {% include 'search/__export_template.html' %}


    <!-- Modal -->
				<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content">

						</div>
                        <!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->




<!-- Modal -->
<div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-activities-width" style="width: 1000px; position: absolute; margin-left: -200px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>

       <div class="modal-body">



           <form enctype="multipart/form-data" action="/email-compose/" method="POST" class="form-horizontal" id="email-compose-form" name="email-compose">
<div class=" no-padding" style="display: none">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Choose Recipients</strong></label>
				<div class="col-md-6" id="rec-list">
					<select  style="width:100%"class="form-control"
                             name="recipients" id="rec-select">
                        <option value="user">Specific User(s)</option>



					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Usernames"></a></em>
				</div>
			</div>
		</div>
	</div>

	<div class=" no-padding" id="user" style="display: none">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Users</strong></label>
				<div class="col-md-6 append-inputs-rec-list" id="rec-list">
					<select multiple style="width:100%" class=" form-control select2"
                            data-select-search="true" name="users" >


					</select>
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Recipients enter Usernames"></a></em>
				</div>
			</div>
		</div>
	</div>



	<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Subject</strong></label>
				<div class="col-md-6">
					<input class="form-control" placeholder="Email Subject" type="text" name="subject"  style="width:100%" >
					<em><a href="javascript:void(0);" class="show-next" rel="tooltip" data-placement="bottom" data-original-title="Click to add SMS"><i class="fa fa-paperclip fa-lg"></i></a></em>
				</div>
			</div>
		</div>
	</div>


<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>Email Body</strong></label>
				<div class="col-md-6">

                    <textarea name="sms_txt" id="sms" cols="15" rows="7" style="display: none"></textarea>
        <textarea name="voice_txt" id="voice" cols="45" rows="7"></textarea>


				</div>
			</div>
		</div>
	</div>
<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-2"><strong>SMS TEXT</strong></label>
				<div class="col-md-6">
<textarea id="sms" rows="3" name="sms_txt" cols="40" style="width: 100%;"></textarea>



				</div>
			</div>
		</div>
	</div>



<div class=" no-padding">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-md-6"><strong></strong></label>
				<div class="col-md-2">

	<button data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; &nbsp; Sending..." class="btn btn-primary pull-right" type="submit" id="send">
		Send <i class="fa fa-arrow-circle-right fa-lg"></i>
	</button>


				</div>
			</div>
		</div>
	</div>










</form>



      </div>

    </div>
  </div>
</div>
<!-- END Modal -->




<!-- Modal -->
<div class="modal fade" id="add-to-favourites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-activities-width">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add to favorites</h4>
      </div>

       <div class="modal-body">

           <form action="{% url 'advanced_search' %}"  method="get" enctype="multipart/form-data" class="well add-favorite-form"> {% csrf_token %}

           <div class="col-md-12">
               <!-- <label class="col-md-3">Category</label>
                <select name="pp-estimated-value" class="col-md-5">
                    <option value=""> Select category </option>
                    <option value="1">category 1</option>
                    <option value="2">category 2</option>
                    <option value="3">category 3</option>
                </select>-->


               <div class="col-md-6">
                   {{ favorites }}
                </div>

                <span class="col-md-4">
                    <a href="javascript:;" id="select-category" class="btn btn-success btn-xs">
                                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Add new category </a>
                </span>
                <div style="display: none">

                    <select multiple="multiple" id="id_favorite_results" name="favorite_results">

                    </select>

                </div>

           </div><br/><br/>


           <div class="col-md-12 toggle-add-category" style="display: none">
                <!--<label class="col-md-3">Category name</label>
                <input class="col-md-5" type="text" name="users" value="">-->
                <div class="col-md-6">
                   {{ category }}
                </div>

                <span class="col-md-4">
                   <!-- <a href="javascript:;" id="add-new-category" class="btn btn-success btn-xs">
                                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Add </a>-->
                </span>

           </div><br/><br/>

           <div class="modal-footer">

               <button type="submit" class="btn btn-success" id="dismiss-modal">  Add to favorites </button>

           </div>

           </form>

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->



{% endblock content %}
{% block page_js %}
    <!-- PAGE RELATED PLUGIN(S) -->
		<script src="{{ STATIC_URL }}assets/js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
        <script src="{{ STATIC_URL }}survey/js/jquery.collapsible.js"></script>

    <script>

    jQuery.download = function(url, data, method){
    //url and data options required
    if( url && data ){
        //data can be string of parameters or array/object
        data = typeof data == 'string' ? data : jQuery.param(data);
        //split params into form inputs
        var inputs = '';
        jQuery.each(data.split('&'), function(){
            var pair = this.split('=');
            inputs+='<input type="hidden" name="'+ pair[0] +'" value="'+ pair[1] +'" />';
        });
        //send request
        jQuery('<form action="'+ url +'" method="post">'+inputs+'</form>')
        .appendTo('body').submit().remove();
    };
};



    </script>

    <script>
$(document).ready(function() {
    $('.expand-basic').click(function(){
        $('.content-basic').slideToggle('slow');
    });

    $('.expand-advanced').click(function(){
        $('.content-advanced').slideToggle('slow');
    });

    $( "#collapse" ).accordion({
        collapsible: true,
        active: false
    });

    $(".range-slider-1").ionRangeSlider();
    $("#range-slider-2").ionRangeSlider();
    $("#range-slider-3").ionRangeSlider();
    $(".range-slider-3").ionRangeSlider();
    $(".range-slider-4").ionRangeSlider();


    $('.pick-user-checkbox').on('change', function () {
           var user_id = $(this).attr('value')
           if ($(this).is(':checked')){
             $('.append-inputs-rec-list').append('<input class="'+ user_id +'" type="text" name="users" value="'+ user_id +'" >')
             $('#id_favorite_results').append('<option class="'+ user_id +'" value="'+ user_id +'" selected></option>')
           } else{
             $('input.'+user_id).remove()
             $('select .'+user_id).remove()
           }
     });

    $('#select-category').click(function(){
        $('.toggle-add-category').toggle();
    })

    $(document).on('submit', 'form.add-favorite-form', function(e){
        e.preventDefault();


        $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(data) {

                   $('#add-to-favourites').modal('hide');

              }
          });
    })

    $(document).on('click', '#export-results', function(e){

        $('.export-form').submit()
    });

    $(document).on('submit', 'form.export-form', function(e){
        e.preventDefault();

        var form = $(this).serialize()
        $.download('/advanced_search/', form, 'filename=mySpreadsheet&format=xls');
    })

});
    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
    });

     $("#select-code").select2({
					allowClear: true,
					placeholder: "Enter Code or Keyword"
				});


    $('.add-parameter').click(function(){

        x = $(this).attr('id');

        //$( "#clone-"+x ).clone().appendTo( "."+x );
        htm = '<span class="col-md-4"><input class="range-slider-4 add-more-vehicles" type="text" name="'+x+'-weight" ' +
                'value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>';
        $("."+x).append($("#clone-"+x).html())
                .append(htm);


        $(".range-slider-4").ionRangeSlider();
        $('input.'+x).remove()

        $("."+x).append('<br/><br/><br/>');

    })

    $('.add-parameter-group').click(function(){
        $(".add-more-past-performance").append('<div class="col-md-12">&nbsp;</div>')
                .append('<div class="col-md-12"><hr/></div>')
                .append('<div class="col-md-12">&nbsp;</div>')
                .append('<br/><br/>');

        //$(".add-more-past-performance").append($("#clone-past-naics").html());
        //$(".add-more-past-performance").append('<span class="col-md-4"><input class="range-slider-4" type="text" ' +
        //        'name="pp-naics-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>')

        $(".add-more-past-performance").append('<div class="col-md-12">&nbsp;</div>')
                .append($("#clone-prime-sub").html())
                .append('<span class="col-md-4"><input class="range-slider-4" type="text" ' +
                'name="pp-prime-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>')
                .append($("#clone-estimated-value").html())
                .append('<span class="col-md-4"><input class="range-slider-4" type="text" ' +
                'name="pp-estimated-value-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>')
                .append($("#clone-pop-time").html())
                .append('<span class="col-md-4"><input class="range-slider-4" type="text" ' +
                'name="pp-pop-time-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>')
                .append('<div class="col-md-12">&nbsp;</div>')
                .append($("#clone-customer-weight").html())
                .append('<span class="col-md-4"><input class="range-slider-4 add-parameter" ' +
                'type="text" name="pp-customer-weight" value="1;10" data-step="1" data-from="1" data-to="10" data-postfix=" "></span>')
                .append('<br/><br/><br/>');

        $(".range-slider-4").ionRangeSlider();

    });



    $('#email-compose-form').submit(function (e) {



         var formData = new FormData(document.forms['email-compose']);


         var formURL = '/email-compose/'


         $.ajax({
             url: formURL,
             type: "POST",
             data: formData,
             dataType: 'html',
             async: false,
             cache: false,
             contentType: false,
             processData: false,
             success: function (response, textStatus, jqXHR) {


                 data = $.parseJSON(response)
                 if (data.success) {
                     loadURL("/email-list/", $('#inbox-content > .table-wrap'))
                     $('#send-message').modal('hide');

                 }
                 else {
                     alert('Check and try again')

                 }


             },
             error: function (jqXHR, textStatus, errorThrown) {
             }
         });

         e.preventDefault();	//STOP default action
         e.stopImmediatePropagation();


    });

{% verbatim %}
       activate_select2_to_one("#nscodeselector","/apiv2/v2/company/nscode/","{{id}} {{about}}","{{id}} {{about}}"); 
{% endverbatim %}

</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:310px;
}
    </style>

{% endblock page_js %}
