{% for activity in actlist %}
<div data-widget-fullscreenbutton="false" data-widget-deletebutton="false"
                      data-widget-togglebutton="false" id="{{ activity.id}}_{{ event.id }}"
                      data-widget-colorbutton="false"
                      class="jarviswidget jarviswidget-color-blue jarviswidget-sortable activity hightlight-a"
                      style="" role="widget" >



				<header role="heading">
					<h2> <i>{{ activity.shortname }}</i></h2>

				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<p class="alert alert-info">
                       Click to view all    {{ activity.short_name }}  for {{ event.name }}</p>


					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

{% endfor %}
