{% extends 'admin_base.html' %}
{% block breadcrumb %}
    <li>Create Tickets for {{ event }} Conference</li>

{% endblock breadcrumb %}
{% load humanize %}

{% block content %}


<div id="content">
            <!-- row -->
           <div class="row">



						<!-- NEW WIDGET START -->
               <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> Create Tickets for {{ event.name }} </h2>

						<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


							<div class="widget-body no-padding">

						<form class="smart-form" id="ticket-form" method="post" action="/create-ticket/{{ event.id }}/" novalidate="novalidate">

							<fieldset>
								<div class="row">
									<section class="col col-4">
										<label class="label">Name</label>
										<label class="input"> <i class="icon-append fa fa-list"></i>
											<input type="text" name="name">
										</label>
									</section>
									<section class="col col-4">
										<label class="label">Price</label>
										<label class="input"> <i class="icon-append fa fa-money"></i>
											<input type="number" name="price">
										</label>
									</section>
									<section class="col col-4">
										<label class="label">Quantity</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="number" name="ticket_quantity">
										</label>
									</section>
								</div>
                                <div class="row">
									<section class="col col-6">
										<label class="label">Start selling on</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="date" name="open_date" required id="start_date">
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Close Sale after</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="date" name="close_date" required id="close_date">
										</label>
									</section>

								</div>


								<section>
									<label class="label">Short Description</label>
									<label class="textarea"> <i class="icon-append fa fa-book"></i> 										<textarea name="description" rows="4"></textarea> </label>
									<div class="note">
										A short description of what the ticket offers
									</div>
								</section>
                                <section>
									<label class="checkbox"><input type="checkbox" id="popular" name="popular"><i></i>
                                        Most Popular (Best Value?)</label>
								</section>
                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
									Create Ticket
								</button>
							</footer>

							<div class="message">
								<i class="fa fa-check fa-lg"></i>
								<p>
									Your comment was successfully added!
								</p>
							</div>
						</form>

					</div>

                        </article>
						<!-- WIDGET END -->


               <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
                   <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> Available Tickets for {{ event.name }} </h2>



			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

		<div data-widget-sortable="false" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-10" class="jarviswidget jarviswidget-color-blueLight" style="" role="widget">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
					<h2>Tickets available for sale for this event </h2>

					<div class="widget-toolbar hidden-phone" role="menu">
						<div class="smart-form">
							<label class="checkbox">

								<i></i></label>
						</div>
					</div>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<div id="accordion-2" class="panel-group smart-accordion-default">
                            {% for ticket in tickets %}



							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-{{ ticket.id }}"
                                                               data-parent="#accordion-2"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong>{{ ticket.name|capfirst }}</strong> On sale from
                                        {{ ticket.open_date|naturalday}} to {{ ticket.close_date|date }} <span class="badge pull-right"> Price {{ ticket.price|intcomma }}$</span></a> </h4>
								</div>
								<div class="panel-collapse collapse" id="collapseOne-{{ ticket.id }}">
									<div class="panel-body">
										{{ ticket.description }}
                                        <p>
                                            <div class="col-md-6">
                                        <img src="{{ STATIC_URL }}images/payments_cc_standard_4.png" alt=""/>
                                    </div>
                                        <div class="col-md-6">
                                            <span class="pull-right">
                                            <form action="/pay-for-event/{{ event.id }}/" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_csYmy2bLMruu3twUZP6egWHh"
                                            data-image=""
                                            data-name="Event Services"
                                            data-description="{{ event.name }} - ticket: {{ ticket.name }}"
                                            data-amount="{{ ticket.stripe_amount }}"
                                            data-panelLabel="To RSVP Pay "
                                            data-label="Pay ${{ ticket.price }} to RSVP"     >
                                          </script>
                                        </form>
                                                </span>


                                        </div>
                                        </p>
									</div>
								</div>
							</div>
                            {% endfor %}

						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div></article>

					</div>

            <div class="row" id="details">



            </div>

            <!-- end row -->


         </div>
    <style>
    .active{

        color:green;
    }
    </style>

{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
var date = new Date();
date.setDate(date.getDate());

     $('#start_date').datetimepicker({startDate: date});
     $('#close_date').datetimepicker({startDate: date});
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}