<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2> {{ event.name }} - {{ act_type.short_name }}</h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">

										</div>

										<table id="datatable_tabletools" class="table table-striped table-bordered table-hover">
											<thead>
                                               <tr>
                                                   <th>Activity Name</th>
                                                   <th> Type </th>
                                                   <th> Description </th>
                                                   <th> Industry </th>
                                                   <th> Start Date </th>
                                                   <th> Start Time </th>
                                                   <th class="sorttable_nosort"> End Date </th>
                                                   <th class="sorttable_nosort"> End Time </th>
                                                   <th class="sorttable_nosort"> Register </th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                          {% if activities %}

                                           {% for activity in activities %}
                                                <tr>
                                                    <td> {{ activity.name }} </td>
                                                    <td> {{ activity.type }} </td>
                                                    <td> {{ activity.description }} </td>
                                                    <td>
                                                     <ul>
                                                    {% for industry in activity.industry.all %}
                                                        <li> {{ industry }} </li>
                                                    {% endfor %}
                                                      </ul>
                                                    </td>
                                                    <td> {{ activity.start_time|date:"D d M Y" }} </td>
                                                    <td> {{ activity.start_time|time:"H:i" }} </td>
                                                    <td> {{ activity.end_time|date:"D d M Y" }} </td>
                                                    <td> {{ activity.start_time|time:"H:i" }} </td>
                                                    <td class="center">

                                                        {% if activity.id in activities_attendees %}
                                                      <br/> <span class="btn btn-success"><i class="fa fa-check-circle" tooltip="Registered"></i> Registered </span>

                                                        {% else %}
                                                       <br/> <span class="class{{ activity.id }}"> <a  class="btn btn-primary regActivity" id = "{{ activity.id }}" >&nbsp;&nbsp;&nbsp;&nbsp; Register &nbsp;&nbsp;&nbsp;&nbsp; </a> </span>
                                                        {% endif %}


                                                    </td>
                                                </tr>
                                           {% endfor %}
                                          {% else %}
                                                <tr >
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                          {% endif %}


                                            </tbody>
										</table>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->



						</article>