{% extends 'admin_base.html' %}
{% block breadcrumb %}
    <li>Events</li>
    <li>Register for {{ event.name }}</li>

{% endblock breadcrumb %}
{% load humanize %}

{% block content %}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53559c8e2d66543f"></script>
<div id="content">
            <!-- row -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="well well-sm">
                     <div class="row">


                            <div class="col-sm-12 col-md-12 col-lg-6 "  >
                           <div class="well well-light well-sm no-margin no-padding highlight" id="div{{ event.id }}">
                               <div class="row">
                                 <div class="col-sm-12" >
                                    <div class="row">

                                       <div class="col-sm-8" style="text-align: center">
                                          <h1><span class="semi-bold">
                                             {{ event.name }}</span></h1>

                                             <p>Start Date :{{ event.start_time }}</p>
                                                 <p>End Date :{{ event.end_time }} </p>
                                                 <p>Venue : {{ event.venue }}</p>
                                           <p>Max # of Seats : {{ event.limit }}</p>
                                           <p>Remaining Seats: {{ event.available_seats }}</p>


                                       </div>
                                    <div class="col-sm-4 ">
                                          <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width:95px">
                                       </div>
                                       <div class="col-sm-12" >
                                          <br>
                                          &nbsp;&nbsp;<a href="javascript:void(0);" class="btn btn-primary btn-xs"
                                             style="padding-left:5px;margin-top: -10px">
                                          <i class="fa fa-print "></i> Agenda</a>
                                          <a href="javascript:void(0);" id="{{ event.id }}"
                                             class="btn btn-success btn-xs pull-right event"
                                             style="margin-right:10px">
                                          <i class="fa fa-info"></i>Details</a>&nbsp;&nbsp;

                                           <br/><br/>





                                       </div>

                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
                         <div class="col-sm-12 col-md-12 col-lg-6 " >
                           <div class="well well-light well-sm no-margin no-padding highlight" id="div{{ event.id }}">
                               <div class="row">
                                 <div class="col-sm-12" >
                                    <div class="row" style="text-align: center">


                                          <h1><span class="semi-bold" >
                                              <br/><br/>
                                             This is a paid event</span></h1>


                                        <form action="/pay-for-event/{{ plan.id }}/" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_csYmy2bLMruu3twUZP6egWHh"
                                            data-image=""
                                            data-name="Event Services"
                                            data-description="{{ event.name }}"
                                            data-amount="{{ event.stripe_amount }}"
                                            data-panelLabel="Pay ${{ event.amount }} and register"
                                            data-label="Pay ${{ event.amount }} to register"     >
                                          </script>
                                        </form>

                                        <br/><br/><br/>
                                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
                                        <br/>










                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>


                     </div>
                  </div>
               </div>
            </div>

            <div class="row" id="details">



            </div>

            <!-- end row -->

         </div>
    <style>
    .active{

        color:green;
    }
    </style>
{% endblock content %}