{% extends 'admin_base.html' %}
{% block breadcrumb %}
    <li>Events</li>
    <li>Upcoming Events</li>

{% endblock breadcrumb %}
{% load humanize %}
{% block content %}
<div id="content">
            <!-- row -->
            <div class="row">
             <div class="col-sm-2" id="event-details">




                 <div data-widget-fullscreenbutton="false" data-widget-deletebutton="false"
                      data-widget-togglebutton="false"
                      data-widget-colorbutton="false"class="jarviswidget jarviswidget-color-blue jarviswidget-sortable activity"
                      style="" role="widget">



				<header role="heading">
					<h2> <i></i></h2>

				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<p class="alert alert-info">
                            Click on an event to show activity</p>


					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
             </div>
               <div class="col-sm-10">
                  <div class="well well-sm">
                     <div class="row">
                     {% if events %}
                     {% for event in  events %}



                        <div class="col-sm-12 col-md-12 col-lg-4 " >
                           <div class="well well-light well-sm no-margin no-padding highlight" id="div{{ event.id }}">
                               <div class="row">
                                 <div class="col-sm-12" >
                                    <div class="row">

                                       <div class="col-sm-8">
                                          <h1><span class="semi-bold">
                                             {{ event.name }}</span></h1>

                                             <p>Start Date :{{ event.start_time }}</p>
                                                 <p>End Date :{{ event.end_time }} </p>
                                                 <p>Venue : {{ event.venue }}</p>
                                           <p>Max # of Seats : {{ event.limit }}</p>
                                           <p>Remaining Seats: {{ event.available_seats }}</p>


                                       </div>
                                    <div class="col-sm-4 ">
                                          <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width:95px">
                                       </div>
                                       <div class="col-sm-12" >
                                          <br>
                                          &nbsp;&nbsp;<a href="javascript:void(0);" class="btn btn-primary btn-xs"
                                             style="padding-left:5px">
                                          <i class="fa fa-print "></i> Agenda</a>
                                          <a href="javascript:void(0);" id="{{ event.id }}"
                                             class="btn btn-success btn-xs pull-right event"
                                             style="margin-right:10px">
                                          <i class="fa fa-info"></i>Activities</a>&nbsp;&nbsp;
                                           {% if event.registered  %}
                                           <a href="javascript:void(0);"
                                             class="btn btn-warning btn-xs pull-right" style="margin-right:10px">
                                          <i class="fa fa-check-o"></i>Registered</a>&nbsp;&nbsp;

                                       {% else %}
                                               <a href="javascript:void(0);"
                                             class="btn btn-warning btn-xs pull-right register"
                                             id="{{ event.id }}" style="margin-right:10px">
                                          <i class="fa fa-user" ></i>Register</a>&nbsp;&nbsp;
                                        {% endif %}
                                          <br>
                                          <br>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
                         {% endfor %}
                     {% else %}
                     <div class="col-sm-12 col-md-12 col-lg-12">
                           <div class="well well-light well-sm no-margin no-padding">
                               <div class="row">
                                <h6 style="padding-left: 20%">No upcoming events or you have registered to all upcoming events, check 'Events attending'</h6>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
                     {% endif %}

                     </div>
                  </div>
               </div>

            </div>
        {% if events %}
            <div class="row" id="details">

            </div>

            <!-- end row -->
{% endif %}
         </div>
    <style>
    .active{

        color:green;
    }
    </style>
{% endblock content %}
{% block page_js %}


        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>



    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).on('load', '#details', function() {



			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */




		})



		</script>
<script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>

<script>

           $(".regActivity").click(function(e){
            e.preventDefault();

            activityid = $(this).attr('id');

            $.ajax({

            url: "/events/register-activity/"+activityid+"/",
            dataType: 'json',
            context: document.body
            }).done(function(data) {

               $( ".class"+data.id ).html("<span class='btn btn-success'><i class='fa fa-check-circle' tooltip='Registered'></i> Registered </span><br/>" );
            })
          });

</script>
    <style>
    .activity {
        cursor: pointer;

    }
    </style>
    <script src="{{ STATIC_URL }}js/event-reg.js"></script>
{% endblock page_js %}
