
					
					<div class="col-sm-12">
						
						<div class="well well-light">
							
							<h1>Available plans <small>Plans</small></h1>
							<div class="row">
                            {% for plan in plans %}



                                {% if forloop.counter|divisibleby:2 %}
								
						        <div class="col-xs-12 col-sm-6 col-md-3">
						            <div class="panel panel-success pricing-big">

						                <div class="panel-heading">
						                    <h3 class="panel-title">
						                        {{ plan.name }}</h3>
						                </div>
						                <div class="panel-body no-padding text-align-center">
						                    <div class="the-price">
						                        <h1>
						                            ${{ plan.price }}<span class="subscript"></span></h1>
						                    </div>
											<div class="price-features">
												<ul class="list-unstyled text-left">
										          <li><i class="fa fa-check text-success"></i>
                                                      {{ plan.description }}

                                                  </li>

										        </ul>
											</div>
						                </div>
						                <div class="panel-footer text-align-center">
						                    <form action="/pay-for-event/{{ plan.id }}/" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_csYmy2bLMruu3twUZP6egWHh"
                                            data-image=""
                                            data-name="Event Services"
                                            data-description="{{ plan.name }}"
                                            data-amount="{{ plan.stripe_amount }}"
                                            data-panelLabel="Pay ${{ plan.price }} and register"
                                            data-label="Pay ${{ plan.price }} to register"     >
                                          </script>
                                        </form>
						                	<div>
						                		<a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
						                	</div>
						                </div>
						            </div>
						        </div>
                                {% else %}
						        
						        <div class="col-xs-12 col-sm-6 col-md-3">
						            <div class="panel panel-teal pricing-big">
						            	
						                <div class="panel-heading">
						                    <h3 class="panel-title">
						                        {{ plan.name }}</h3>
						                </div>
						                <div class="panel-body no-padding text-align-center">
						                    <div class="the-price">
						                        <h1>
						                            ${{ plan.price }}<span class="subscript"></span></h1>
						                    </div>
											<div class="price-features">
												<ul class="list-unstyled text-left">
										          <li><i class="fa fa-check text-success"></i>
                                                      {{ plan.description }}

                                                  </li>

										        </ul>
											</div>
						                </div>
						                <div class="panel-footer text-align-center">
						                    <form action="/pay-for-event/{{ plan.id }}/" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_csYmy2bLMruu3twUZP6egWHh"
                                            data-image=""
                                            data-name="Event Services"
                                            data-description="{{ plan.name }}"
                                            data-amount="{{ plan.stripe_amount }}"
                                            data-panelLabel="Pay ${{ plan.price }} and register"
                                            data-label="Pay ${{ plan.price }} to register"     >
                                          </script>
                                        </form>
						                	<div>
						                		<a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
						                	</div>
						                </div>
						            </div>
						        </div>
                                {% endif %}
                            {% endfor %}

						        

				    		</div>
				

							
						</div>
						
					</div>
					
				</div>


			</div>
                    <style>
                        .price-features{
                            max-height:300px;
                            min-height:300px;
                            overflow: scroll;
                        }
                    </style>