{% extends 'admin_base.html' %}
{% block title %}
    {{ event.name }} - {{ event.subject }}
{% endblock title %}
{% block breadcrumb %}
    <li>Events</li>
    <li>Upcoming Events</li>

{% endblock breadcrumb %}
{% load humanize %}
{% block content %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53559c8e2d66543f"></script>
<div id="content">
            <!-- row -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="well well-sm">
                     <div class="row">

{% if event %}
                        <div class="col-sm-12 col-md-12 col-lg-6 " >
                           <div class="well well-light well-sm no-margin no-padding highlight" id="div{{ event.id }}">
                               <div class="row">
                                 <div class="col-sm-12" >
                                    <div class="row">

                                       <div class="col-sm-8">
                                          <h1><span class="semi-bold">
                                             {{ event.name }}</span></h1>

                                             <p>Start Date :{{ event.start_time }}</p>
                                                 <p>End Date :{{ event.end_time }} </p>
                                                 <p>Venue : {{ event.venue }}</p>
                                           <p>Max # of Seats : {{ event.limit }}</p>
                                           <p>Remaining Seats: {{ event.available_seats }}</p>


                                       </div>
                                    <div class="col-sm-4 ">
                                          <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width:95px">
                                       </div>
                                       <div class="col-sm-12" >
                                          <br>
                                          &nbsp;&nbsp;<a href="javascript:void(0);" class="btn btn-primary btn-xs"
                                             style="padding-left:5px">
                                          <i class="fa fa-print "></i> Agenda</a>
                                          <a href="javascript:void(0);" id="{{ event.id }}"
                                             class="btn btn-success btn-xs pull-right event"
                                             style="margin-right:10px">
                                          <i class="fa fa-info"></i>Details</a>&nbsp;&nbsp;



                                          <br>
                                          <br>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
    <div class="col-sm-12 col-md-12 col-lg-6 " >
                           <div class="well well-light well-sm no-margin no-padding highlight" id="div{{ event.id }}">
                               <div class="row">
                                 <div class="col-sm-12" >
                                    <div class="row" style="text-align: center">


                                          <br>
                                          <br>
                                        <br/><br/><br/><br/>
                                           <div class="addthis_sharing_toolbox"></div>
                                        <br>
                                          <br>
                                        <br/><br/>
                                        <br>
                                          <br>


                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>


                     {% else %}
                     <div class="col-sm-12 col-md-12 col-lg-12">
                           <div class="well well-light well-sm no-margin no-padding">
                               <div class="row">
                                <h6 style="padding-left: 20%"> You haven't registered to any events, what are you waiting for </h6>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
                     {% endif %}

                     </div>
                  </div>
               </div>
            </div>
        {% if event %}
            <div class="row" id="details">


            </div>

            <!-- end row -->
{% endif %}
         </div>
    <style>
    .active{

        color:green;
    }
    </style>
{% endblock content %}
{% block page_js %}
    <script src="{{ STATIC_URL }}js/event-reg.js"></script>
        {% endblock page_js %}