<label for="id_building" class="control-label ">
    &nbsp;
</label>
<div class="controls ">
    <a href="#modal-activities"  class="btn btn-success" data-toggle="modal" ><i class="fa fa-question-circle"></i> Check availability</a>
</div>
