{% extends 'admin_base.html' %}
{% load static %}
{% load code_tags %}
{% load inplace_edit %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}
    <style>
        #searchResultTable tr.rowSelected td{
            background: lightgreen !important;
        }

        #selectedResultTable tr.rowSelected td{
            background: #C79121!important;
        }
    </style>
{% endblock %}
{% block content %}
<div id="content">
    {# form.media #}
    {# codes_form.media #}
    {# overview_form.media #}
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-block alert-success">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;We couldn't find your company profile. Please add it here </h4>
                <p></p>
            </div>
            <div class="widget-body">
                <div class="panel-group smart-accordion-default" id="comProfilePanel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#comProfilePanel" href="#collapse1"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Company Information Basic </a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse {% if current_tab == 'base' %}in{% endif %}">
                            {% include 'company/include/_add_company_basic.html' %}
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#comProfilePanel" href="#collapse2"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Company Information Codes </a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse {% if current_tab == 'codes' %}in{% endif %}">
                            {% include 'company/include/_add_company_codes.html' with form=codes_form %}
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#comProfilePanel" href="#collapse3"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Company Information Overview </a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse  {% if current_tab == 'overview' %}in{% endif %}">
                            {% include 'company/include/_add_company_overview.html' with form=overview_form%}
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#comProfilePanel" href="#collapse4"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Company Information Performance </a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse  {% if current_tab == 'performance' %}in{% endif %}">
                            {% include 'company/include/_add_company_performance.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end row -->

<!-- search modal -->
    {% code_modal %}
<!-- end search modal -->

{% endblock content %}

{% block page_js %}

<script>
    $(document).ready(function() {
        $("#current_states").select2({
            placeholder : "States in which you do business"
        });
        $("#wish_states").select2({
            placeholder : "States in which you wish to do business"
        });

    });
    var date = new Date();
    date.setDate(date.getDate());
    $('#est').datetimepicker({
        startDate : date
    });
    $('#cve').datetimepicker({
        startDate : date
    });
    var date = new Date();
    date.setDate(date.getDate());
    $('#id_date_established').datepicker({
    });
    $('#id_cve_verified_on').datepicker({
    }); 
</script>

<script src="{{ STATIC_URL }}js/script.js"></script>

<script type="text/javascript">
    $('#id_youtube_video').blur(function() {
        youtube_previewer($(this));
    }).blur(); 
</script>

<script type="text/javascript" src="{% static "js/add-company-third-step.js" %}"></script>
<script type="text/javascript" src="{% static "js/libs/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/libs/dataTables.bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>

{% include 'company/include/products-widget-js.html' with app='company' model='CVGPOrgProfile' %}
{% endblock page_js %}