{% extends 'admin_base.html' %}
{% load static %}
{% load code_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}
    <style>
        #searchResultTable tr.rowSelected td{
            background: lightgreen !important;
        }

        #selectedResultTable tr.rowSelected td{
            background: #C79121!important;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        {# form.media #}
        <!-- row -->
        <div class="row " >

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="row">

                    <div class="col-sm-12">

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-block alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                    <a href="#" data-dismiss="alert" class="close">×</a>
                                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> {{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% elif is_edit %}
                            <div class="alert alert-block alert-info">
                                <a href="#" data-dismiss="alert" class="close">×</a>
                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Please edit your government organisation profile</h4>
                                <p></p>
                            </div>
                        {% else %}
                            <div class="alert alert-block alert-info">
                                <a href="#" data-dismiss="alert" class="close">×</a>
                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>If you couldn't find your government organisation profile, please add it here</h4>
                                <p></p>
                            </div>
                        {% endif %}

                        <section class="" id="widget-grid">

                            <form novalidate="novalidate" id="gov-form-1" name="gov-form-1" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div id="naicsSelected" data-url="{% url 'get_naics' %}">
                                    {{ form.naics }}
                                </div>
                                <div id="pscSelected" data-url="{% url 'get_psc' %}">
                                    {{ form.psc_fsc }}
                                </div>

                                <!-- START ROW -->

                                <div class="row">

                                    <!-- NEW COL START -->
                                    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

                                        <div data-widget-custombutton="false" data-widget-editbutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">

                                            <header role="heading">
                                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                                <h2>Government Organisation  Profile</h2>

                                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                            </header>

                                            <!-- widget div-->
                                            <div role="content">

                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->

                                                <!-- widget content -->
                                                <div class="widget-body no-padding smart-form">

                                                    <fieldset>

                                                        <div class="row">
                                                            <section class="col col-4 {% if form.org_category.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Organisation Category</label>
                                                            </section>
                                                            <section class="col col-4 {% if form.department.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Department</label>
                                                            </section>
                                                            <section class="col col-4 {% if form.agency.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Agency</label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4 form-group {% if form.org_category.errors %}has-error{% endif %}">
                                                                {{ form.org_category }}
                                                                {% if form.org_category.errors %}
                                                                    <span id="error_1_id_facility" class="help-block"><strong>{{ form.org_category.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                            <section class="col col-4 form-group {% if form.department.errors %}has-error{% endif %}">
                                                                {{ form.department }}
                                                                {% if form.department.errors %}
                                                                    <span id="error_1_id_facility" class="help-block"><strong>{{ form.department.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                            <section class="col col-4 form-group {% if form.agency.errors %}has-error{% endif %}">
                                                                {{ form.agency}}
                                                                {% if form.agency.errors %}
                                                                    <span id="error_1_id_facility" class="help-block"><strong>{{ form.agency.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4 {% if form.office.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Office</label>
                                                            </section>
                                                            <section class="col col-4 {% if form.organisation.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Organisation</label>
                                                            </section>
                                                            <section class="col col-4 {% if form.industry.errors %}has-error{% endif %}">
                                                                <label class="control-label select">Industry</label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4 form-group {% if form.office.errors %}has-error{% endif %}">
                                                                {{ form.office }}
                                                                {% if form.office.errors %}
                                                                    <span id="" class="help-block"><strong>{{ form.office.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                            <section class="col col-4 form-group {% if form.organisation.errors %}has-error{% endif %}">
                                                                {{ form.organisation }}
                                                                {% if form.organisation.errors %}
                                                                    <span id="" class="help-block"><strong>{{ form.organisation.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                            <section class="col col-4 form-group {% if form.industry.errors %}has-error{% endif %}">
                                                                {{ form.industry }}
                                                                {% if form.industry.errors %}
                                                                    <span id="" class="help-block"><strong>{{ form.industry.errors }}</strong></span>
                                                                {% endif %}
                                                            </section>
                                                        </div>

                                                    </fieldset>

                                                    <fieldset>

                                                        <section class="form-group {% if form.website.errors %}has-error{% endif %}">
                                                            <label class="control-label input">
                                                                {{ form.website }}
                                                                <b class="tooltip tooltip-bottom-right">Organisation website</b>
                                                            </label>
                                                            {% if form.website.errors %}
                                                                <span id="" class="help-block"><strong>{{ form.website.errors }}</strong></span>
                                                            {% endif %}
                                                        </section>

                                                    </fieldset>

                                                    <fieldset>

                                                        <section class="form-group {% if form.youtube_video.errors %}has-error{% endif %}">
                                                            <label class="control-label input">
                                                                {{ form.youtube_video }}
                                                                <b class="tooltip tooltip-bottom-right">YouTube video URL</b>
                                                            </label>
                                                            {% if form.youtube_video.errors %}
                                                                <span id="" class="help-block"><strong>{{ form.youtube_video.errors }}</strong></span>
                                                            {% endif %}
                                                        </section>

                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Major Initiative" name="major_initiative" rows="3">{{ form.major_initiatives.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Major Initiative</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Mission" name="mission" rows="3">{{ form.mission.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Mission</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Key Objectives" name="key_obj" rows="3">{{ form.key_objectives.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Key Objectives</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <header>Please enter your company details, - You will be listed as the principal</header>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Programmes" name="program_names" rows="3">{{ form.program_names.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Programmes</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Greatest Challenge" name="greatest_challenges" rows="3">{{ form.greatest_challenges.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Greatest Challenges</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Contractor Needs for small business" name="c_needs_for" rows="3">{{ form.c_needs_for.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Contractor Needs for small business</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Contractor Needs" name="contractor_needs" rows="3">{{ form.contractor_needs.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Contractor Needs</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <fieldset>
                                                        <section>
                                                            <label class="control-label textarea">
                                                                <textarea placeholder="Relevant Links" name="relevant_links" rows="3">{{ form.relevant_links.value|default_if_none:'' }}</textarea>
                                                                <b class="tooltip tooltip-bottom-right">Relevant Links</b>
                                                            </label>
                                                        </section>
                                                    </fieldset>

                                                    <footer>
                                                        <button class="btn btn-primary" type="submit">Save</button>
                                                    </footer>

                                                </div>

                                            </div>
                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </article>
                                    <!-- END COL -->

                                    <!-- NEW COL START -->
                                    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

                                        <div data-widget-custombutton="false" data-widget-editbutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">

                                            <header role="heading">
                                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                                <h2>Government Organisation  Profile - CODES</h2>

                                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                            </header>

                                            <!-- widget div-->
                                            <div role="content">

                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->

                                                <!-- widget content -->
                                                <div class="widget-body no-padding smart-form">

                                                    {% include 'company/include/products-widget-html.html' with app='company' model='GVGPOrgProfile' %}

                                                    <footer>
                                                        <button class="btn btn-primary" type="submit">Save</button>
                                                    </footer>

                                                </div>

                                            </div>

                                        </div>

                                    </article>

                                </div>
                                <!-- END ROW -->

                            </form>

                        </section>

                    </div>

                </div>

            </div>

        <!-- end row -->
        </div>

    </div>

    <!-- search modal -->
        {% code_modal %}
    <!-- end search modal -->
{% endblock content %}

{% block page_js %}
    <script type="text/javascript" src="{% static "js/libs/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>
    {% include 'company/include/products-widget-js.html' with app='company' model='GVGPOrgProfile' %}

    <script src="{{ STATIC_URL }}js/script.js"></script>

    <script type="text/javascript">
        $('#id_youtube_video').blur(function() {youtube_previewer($(this));}).blur();
    </script>
{% endblock page_js %}