{% extends 'admin_base.html' %}
{% block breadcrumb %}
    <li>Edit Your VOSB Profile</li>

{% endblock breadcrumb %}
{% load humanize %}

{% block content %}


<div id="content">
            <!-- row -->
           <div class="row">

 <!-- Vosb Info -->


           <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">



			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

		<div data-widget-sortable="false" data-widget-custombutton="false"
             data-widget-fullscreenbutton="false" data-widget-deletebutton="false"
             data-widget-togglebutton="false" data-widget-editbutton="false"
             data-widget-colorbutton="false" id="wid-id-10" class="jarviswidget jarviswidget-color-blueLight" style="" role="widget">


				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                    <h2>VOSB Information And NAICS PSC Codes</h2>

					<div class="widget-toolbar hidden-phone" role="menu">
						<div class="smart-form">
							<label class="checkbox">

								<i></i></label>
						</div>
					</div>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<div id="accordion-0" class="panel-group smart-accordion-default">



							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-0"
                                                               data-parent="#accordion-0"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong> Update </strong>
                                        VOSB Information
                                        <span class="badge pull-right"> 1 </span></a> </h4>
								</div>
								<div class="panel-collapse in " id="collapseOne-0">
									<div class="panel-body">
										<form class="smart-form" id="add-vosb-info" method="post"
                              action="/edit-vosb-info/" novalidate="novalidate">

							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="label">Company Name</label>
										<label class="input"> <i class="icon-append fa fa-building"></i>
											<input type="text" name="name" value="{{ company.name }}">
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Company Phone</label>
										<label class="input"> <i class="icon-append fa fa-phone"></i>
											<input type="tel" name="phone" required=""value="{{ company.phone  }}" >
										</label>
									</section>

								</div>
                                <div class="row">
									<section class="col col-6">
										<label class="label">Country</label>
										<label class="select">
											{{ form.country }}
										</label>
									</section>
									<section class="col col-6">
										<label class="label">State</label>
										<label class="select">
											{{ form.region }}
										</label>
									</section>
                                    <section class="col col-6">
										<label class="label">City</label>
										<label class="select">
											{{ form.city }}
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Zip</label>
										<label class="input">
											<input type="number" name="zip" value="{{ company.zip }}">
										</label>
									</section>

								</div>
                                <section>
										<label class="label">Company Website</label>
										<label class="input"> <i class="icon-append fa fa-globe"></i>
											<input type="url" name="website" required="" value="{{ company.website }}">
										</label>
									</section>
                                <section >

                                	<label class="label">Youtube Video Link</label>
										<label class="input"> <i class="icon-append fa fa-youtube"></i>
											<input type="text" name="youtube" value="{{ company.youtube_video }}">
										</label>
									</section>



								<section>
									<label class="label">Address</label>
									<label class="textarea"> <i class="icon-append fa fa-location-arrow"></i> 										<textarea name="address" rows="4" required="">{{ company.address }}</textarea> </label>

								</section>
                                <section>
									<label class="label">Company Logo</label>
									<label class="input input-file" for="file">
										<div class="button"><input type="file"
                                        onchange="this.parentNode.nextSibling.value = this.value"
                                        name="logo">Browse</div><input type="text" readonly=""
                                                                                                                                                            placeholder="{% if company.logo %}{{ company.logo }}{% else %}Not Added Yet{% endif %}">
									</label>
								</section>

                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
									Save Information
								</button>
							</footer>

							<div class="message-info" id='message-info' style="display: none">
								<i class="fa fa-check fa-lg"></i>
								<p>
									Information was successfully updated!
								</p>'
							</div>
						</form>


                                        </div>
                                        </p>
									</div>
								</div>

                            <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-1"
                                                               data-parent="#accordion-1"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong>NAICS PSC Codes</strong>

                                        <span class="badge pull-right"> 2 </span></a> </h4>
								</div>
								<div class="panel-collapse" id="collapseOne-1">
									<div class="panel-body">
										<form class="smart-form" id="code-form" method="post"
                              action="" novalidate="novalidate">

							<fieldset>


								<section>
									<label class="label">Type code or Keyword</label>
									<label class="textarea"> <i class="icon-append fa fa-search"></i>
                                        <select name="code" id="codes" class="select2">
                                           <option></option >
                                            {% for code in codes %}
                                                <option value="{{ code.id }}">{{ code.code }} {{ code.about }}</option>

                                            {% endfor %}




                                        </select> </label>
									<div class="note">
										Type in the code or keyword and add it your list below
									</div>
								</section>

                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
									Add to my list
								</button>
							</footer>

							<div class="message" id="code-info" style="display: none">
								<i class="fa fa-check fa-lg"></i>

							</div>
						</form>

                  <fieldset>
                       <div >
								<p>
									VOSB NAICS PSC Codes
								</p>
                       <div class="alert alert-success" id="code-list" style="display: none">
                           <fieldset><ol>

                           </ol></fieldset>


                       </div>
								<table class="table table-bordered" >
									<thead>
										<tr>
											<th width="20%">Code</th>
											<th width="60%">Decription</th>
                                            <th width="20%">Remove</th>

										</tr>
									</thead>
									<tbody >
                                    {% for code in my_codes %}
										<tr>
											<td>{{ code.code }}</td>
                                            <td>{{ code.about}}</td>
                                        <td><a href="/delete-vosb-code/{{ code.id }}/" class="badge alert-danger">Delete</a></td>


										</tr>
                                    {% endfor %}

									</tbody>
								</table>
							</div>

                    </fieldset>



                                        </div>
                                        </p>
									</div>
								</div>
                        <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-4"
                                                               data-parent="#accordion-1"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong>Documents </strong>

                                        <span class="badge pull-right"> 3 </span></a> </h4>
								</div>
								<div class="panel-collapse" id="collapseOne-4">
									<div class="panel-body">

										<form class="smart-form" id="doc-form" method="post"
                              action="" novalidate="novalidate">

							<fieldset>
								<section>
									<label class="label">Add a Document </label>
									<label class="input input-file" for="file">
										<div class="button"><input type="file"
                                        onchange="this.parentNode.nextSibling.value = this.value"
                                        name='doc'>Browse</div><input type="text" readonly=""
                                                                                                                                                            placeholder="Add a document">
									</label>
								</section>
                                <section> <strong>Only visible to</strong></section>
                                <div class="row">
									<section class="col col-md-4">
									<label class="radio"><input type="radio"  value="G-BP" name="doc_visibility" ><i></i>
                                        Business Partners</label>
								</section>
                                    <section class="col col-md-4">
									<label class="radio"><input type="radio"  value="Pub" name="doc_visibility" ><i></i>
                                        Public </label>
								</section>

                                    <section class="col col-md-4">
									<label class="radio"><input type="radio" value="Gov" name="doc_visibility"><i></i>
                                        Government</label>
								</section>


								</div>







                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
									Save Document
								</button>
							</footer>

							<div class="message" id="doc-info">
								<i class="fa fa-check fa-lg"></i>
								<p>
									Your Document was successfully added!
								</p>
							</div>
						</form>


                                        <fieldset>
                       <div >
								<p>
									VOSB Documents
								</p>
                       <div class="alert alert-success"id="document-list" style="display: none">
                           <fieldset><ol>

                           </ol></fieldset>


                       </div>
								<table class="table table-bordered" >
									<thead>
										<tr>
											<th width="40%">Document</th>
											<th width="20%">Visibility</th>
                                            <th width="30%">Upload date</th>
										</tr>
									</thead>
									<tbody >
                                    {% for doc in documents %}
										<tr>
											<td>{{ doc.filename }}</td>
                                            <td>{{ doc.get_visibility_display}}</td>

											<td>{{ doc.uploaded|naturaltime }}</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>
							</div>

                    </fieldset>





                                        </div>


                                        </p>
									</div>
								</div>

							</div>

						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->


            </article>


 <!-- Company Overview -->
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

		<div data-widget-sortable="false" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-10" class="jarviswidget jarviswidget-color-blueLight" style="" role="widget">


				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
					<h2>VOSB Overview, Certifications. Documents</h2>

					<div class="widget-toolbar hidden-phone" role="menu">
						<div class="smart-form">
							<label class="checkbox">

								<i></i></label>
						</div>
					</div>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<div id="accordion-2" class="panel-group smart-accordion-default">




							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-3"
                                                               data-parent="#accordion-21"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong>VOSB - Company Overview</strong>

                                        <span class="badge pull-right"> 3 </span></a> </h4>
								</div>
								<div class="panel-collapse collapsed" id="collapseOne-3">
									<div class="panel-body">
										<form class="smart-form" id="overview-form" method="post"
                              action="/create-ticket/{{ event.id }}/" novalidate="novalidate">

							<fieldset>
                                <section>
									<label class="label">Corporate Overview</label>
									<label class="textarea"> <i class="icon-append fa fa-book"></i> 										<textarea name="corporate_overview" rows="4">
                                        {{ company.corporate_overview }}</textarea> </label>
									<div class="note">
										A short description of the corporate overview
									</div>
								</section>
                                

									<section >
										<label class="label">States in which you do business</label>
										<label class="select">
											{{ form.states_you_do_business }}
										</label>
									</section>
                                    <section >
										<label class="label">States you wish to do business in</label>
										<label class="select">
											{{ form.states_you_wish_to_do }}
										</label>
									</section>
                                <div class="row">
									<section class="col col-6">
										<label class="label">Total Number of employees</label>
										<label class="input"> <i class="icon-append fa fa-money"></i>
											<input type="number" name="total_employees" value="{{ company.total_employees }}">
										</label>
									</section>
									<section class="col col-6">
										<label class="label">No of veteran employees</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="number" name="vet_employees" value="{{ company.vet_employees }}">
										</label>
									</section>
								</div>
                                <section>
									<label class="label">Relevant Links</label>
									<label class="textarea"> <textarea name="relevant_links" rows="4">
                                        {{ company.relevant_links }}</textarea> </label>
									<div class="note">
										List of Links with more information
									</div>
								</section>



                                <div class="row">
									<section class="col col-6">
										<label class="label">Small Business type</label>
										<label class="select">
                                            <select name="small_bus_cat" id="">
                                                <option value="1">VOSB</option>
                                                <option value="2">SDVOSB</option>
                                                <option value="3">Minority Owned</option>
                                                <option value="4">HubZone</option>
                                                <option value="5">SDB</option>
                                            </select>
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Primary POC</label>
										<label class="select">
                                            <select name="poc" id="">
                                                <option value="1">POC 1</option>
                                            </select>
										</label>
									</section>

								</div>
                                
                                <div class="row">
									<section class="col col-6">
										<label class="label">Date established</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="date" name="date_established" required id="date_established"
                                                   value="{{ company.date_established }}">
										</label>
									</section>
									<section class="col col-6">
										<label class="label">CVE established date</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="date" name="cve_verified_on" required id="cve_verified_on"
                                                    value="{{ company.cve_verified_on }}">
										</label>
									</section>

								</div>
                                <div class="row">
									<section class="col col-6">
										<label class="label">Average revenue (3yrs)</label>
										<label class="input"> <i class="icon-append fa fa-money"></i>
											<input type="date" name="avg_rev" required id="date_established"
                                                   value="{{ company.avg_rev }}">
										</label>
									</section>
									<section class="col col-6">
									<label class="label">.</label>
                                        <label class="checkbox">
                                        <input type="checkbox"  name="small_business" value="true"
                                                {% if company.small_business %} checked {% endif %}
                                                                   value="{{ company.small_business }}">
                                            Small Business ?<i></i>
                                        </label>
								</section>

								</div>

									<section >
										<label class="label">Business Partnership</label>
										<label class="input"> <i class="icon-append fa fa-hand"></i>
											<input type="text" name="business_partner_ship"

                                                   value="{{ company.business_partner_ship }}">
										</label>
									</section>
                            <section><strong>Mentor Protege Relationship</strong></section>
                                <div class="row">
									<section class="col col-md-6">
									<label class="radio"><input type="radio" id="popular" name="mentor" value="mentor"><i></i>
                                        Mentor</label>
								</section>
                                    <section class="col col-md-6">
									<label class="radio"><input type="radio"  name="mentor" value="protege"><i></i>
                                        Protege </label>
								</section>



								</div>
                            <section >
										<label class="label">Federal Agency Program</label>
										<label class="input"> <i class="icon-append fa fa-hand"></i>
											<input type="text" name="agency_program"

                                                   value="{{ company.agency_program }}">
										</label>
									</section>




                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
								Save VOSB Overview
								</button>
							</footer>

							<div class="message" style="display: none" id="overview-info">

								<i class="fa fa-check fa-lg"></i>
								<p><span id="overview-show">

								</span></p>
							</div>
						</form>


                                        </div>
                                        </p>
									</div>
								</div>
                            <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#collapseOne-4"
                                                               data-parent="#accordion-2"
                                                               data-toggle="collapse" class="collapsed">

                                        <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i>

                                        <strong>Certifications</strong>

                                        <span class="badge pull-right"> 4 </span></a> </h4>
								</div>
								<div class="panel-collapse" id="collapseOne-4">
									<div class="panel-body">

										<form class="smart-form" id="cert-form" method="post"
                              action="" novalidate="novalidate">

							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="label">Certification Name</label>
										<label class="input"> <i class="icon-append fa fa-list"></i>
											<input type="text" name="cert_name">
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Date Obtained</label>
										<label class="input"> <i class="icon-append fa fa-clock-o"></i>
											<input type="date" name="cert_date"  id="cert_date">
										</label>
									</section>

								</div>
                                <section>Only visible to</section>
                                <div class="row">
									<section class="col col-md-4">
									<label class="radio"><input type="radio"  value="GB-P" id="popular" name="cert_visibility"><i></i>
                                        Business Partners</label>
								</section>
                                    <section class="col col-md-4">
									<label class="radio"><input type="radio"  value="PUB" name="cert_visibility"><i></i>
                                        Public </label>
								</section>

                                    <section class="col col-md-4">
									<label class="radio"><input type="radio"  value="Gov" id="popular" name="cert_visibility"><i></i>
                                        Government</label>
								</section>


								</div>





                                {% csrf_token %}
							</fieldset>

							<footer>
								<button class="btn btn-primary" name="submit" type="submit">
									Save Certification
								</button>
							</footer>

							<div class="cert-info" style="display: none">
								<i class="fa fa-check fa-lg"></i>
								<p>
									Your Certification was successfully added!
								</p>
							</div>
						</form>
                                        <div class="well" id="cert-show" style="display: none">
                                            <div class="alert alert-success">
                           <fieldset><ol id="cert-list">

                           </ol></fieldset>
                                             </div> </div>

                                                <fieldset>

                                                    <table class="table table-bordered" >
									<thead>
										<tr>
											<th width="60%">Certification name</th>
											<th width="40%">Date Obtained</th>

										</tr>
									</thead>
									<tbody >
                                    {% for cert in certs %}
										<tr>
											<td>{{ cert.certification_name }}</td>
                                            <td>{{ cert.date_obtained}}</td>


										</tr>
                                    {% endfor %}

									</tbody>
								</table>

                                                </fieldset>












                                        </p>
									</div>
								</div>

							</div>

						</div></div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->


            </article>








					</div>

            <div class="row" id="details">



            </div>

            <!-- end row -->


         </div>
    <style>
    .active{

        color:green;
    }
    </style>

{% endblock content %}
{% block page_js %}
    <script src="{{ STATIC_URL }}js/vosb.js"></script>
    <script>
$(document).ready(function() {
    $("#id_states_you_wish_to_do").select2({
placeholder: "States you wish to do business"

});
$("#id_states_you_do_business").select2({
placeholder: "States you wish to do business"

});
});

     $('#date_established').datepicker();
$('#cert_date').datepicker();
     $('#cve_verified_on').datepicker();
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}


        </style>
{% endblock page_js %}