{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% load humanize %}
{% block content %}
			<div id="content">

				<!-- Bread crumb is created dynamically -->
				<!-- row -->
				<div class="row">

					<!-- col -->
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-file-o"></i>
                          <span>
							  {{ org.name }}</span></h1>
					</div>
					<!-- end col -->

					<!-- right side of the page with the sparkline graphs -->
					<!-- col -->
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<!-- sparks -->
						<ul id="sparks">
							<li class="sparks-info">
								<h5> Captured Contracts <span class="txt-color-blue">{{ contracts }}</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
									1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
								</div>
							</li>
							<li class="sparks-info">
								<h5> Bid <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ awarded }}</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
							<li class="sparks-info">
								<h5> Conferences Attended <span class="txt-color-greenDark">
                                    <i class="fa fa-briefcase"></i>&nbsp;{{ events }}</span></h5>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
						</ul>
						<!-- end sparks -->
					</div>
					<!-- end col -->

				</div>
				<!-- end row -->

				<!-- row -->

				<div class="row">

					<div class="col-sm-12">


							<div class="well well-sm">

								<div class="row">

									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="well well-light well-sm no-margin no-padding">

											<div class="row">



												<div class="col-sm-12">

													<div class="row">

														<div class="col-sm-3 profile-pic">
                                                            {% if org.logo %}
															<img src="{{ org.logo.url }}">
                                                            {% else %}
                                                            <img src="{{ STATIC_URL }}images/avatar.jpg">
                                                            {% endif %}

														</div>
														<div class="col-sm-9">
															<h1> <span class="semi-bold">{{ org.name }}</span>
															<br>
															<small>{{ org.branch }}</small></h1>

															<ul class="list-unstyled">

																<li>
																	<p class="text-muted">
																		<i class="fa fa-globe"></i>&nbsp;&nbsp;
                                                                        <a href="{{ org.website }}">{{ org.website }}</a>
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-phone"></i>&nbsp;&nbsp;
                                                                        <a href="{{ org.phone }}"></a>{{ org.phone }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-globe"></i>&nbsp;&nbsp;
                                                                        <a href=""> Cage Code </a>{{ org.cage_code }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-globe"></i>&nbsp;&nbsp;
                                                                        <a href="">DUNS NO: </a>{{ org.duns_no }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-dollar"></i>&nbsp;&nbsp;
                                                                        <a href="">AVG Revenue(3 YRS): </a>{{ org.avg_rev }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-user"></i>&nbsp;&nbsp;
                                                                        <a href="">Total Employees: </a>{{ org.total_employees }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-user"></i>&nbsp;&nbsp;
                                                                        <a href="">No fo Veteran Employees: </a>
                                                                        {{ org.vet_employees }}
																	</p>
																</li>
                                                                <li>
																	<p class="text-muted">
																		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Small Business type: </a>
                                                                        {{ org.small_business_type }}
																	</p>
																</li>

                                                                <li>
																	<p class="text-muted">

                                                                		<i class="fa fa-calendar"></i>&nbsp;&nbsp;
                                                                        <a href="">CVE verified on: </a>
                                                                        {{ org.cve_verified_on }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-calendar"></i>&nbsp;&nbsp;
                                                                        <a href="">DCAA compliant account </a>
                                                                        {{ org.cve_verified_on }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Date Established: </a>
                                                                        {{ org.date_established }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Location </a>
                                                                        {{ org.location }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">CBLA  </a>
                                                                        {{ org.cbla }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">CBLA per contract </a>
                                                                        {{ org.cbla_per_contract }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Construction bonding level aggregate </a>
                                                                        {{ org.bonding_level }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-lock"></i>&nbsp;&nbsp;
                                                                        <a href="">Facility Security Clearance </a>
                                                                        {{ org.sec_clearance }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-briefcase"></i>&nbsp;&nbsp;
                                                                        <a href="">Primary POC </a>
                                                                        {{ org.sec_clearance }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-briefcase"></i>&nbsp;&nbsp;
                                                                        <a href="">State </a>
                                                                        {{ org.region }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-briefcase"></i>&nbsp;&nbsp;
                                                                        <a href="">City </a>
                                                                        {{ org.city }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-briefcase"></i>&nbsp;&nbsp;
                                                                        <a href="">Zip </a>
                                                                        {{ org.zip }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Location </a>
                                                                        {{ org.location }}
																	</p>
																</li>
                                                                <li>
                                                					<p class="text-muted">
                                                                		<i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                                                                        <a href="">Street </a>
                                                                        {{ org.street}}
																	</p>
																</li>



																<li>
																	<p class="text-muted">
																		<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken"> Next Conference <a href="/upcoming/{{ org.id }}" rel="tooltip" title="" data-placement="top" data-original-title="Attend Conference">View Details</a></span>
																	</p>
																</li>
															</ul>
															<br>

															<br>
															<a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Message Admin for this organisation</a>
															<br>
															<br>

														</div>


													</div>

												</div>

											</div>

											<div class="row">

												<div class="col-sm-12">

													<hr>

													<div class="padding-10">

														<ul class="nav nav-tabs tabs-pull-right">
															<li class="active">
																<a href="#a1" data-toggle="tab">More Information</a>
															</li>
															<li>
																<a href="#a2" data-toggle="tab">Members</a>
															</li>
															<li class="pull-left">
																<span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
															</li>
														</ul>

														<div class="tab-content padding-top-10">
															<div class="tab-pane fade in active" id="a1">

																<div class="row">

																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Corporate</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Corporate Overview</a></h6>
																		<p>
                                                                            {{ org.corporate_overview }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>States</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                States in which we currently do business</a></h6>
																		<p>
                                                                            {% for state in org.states_you_do_business_set.all %}
                                                                            {{ state }},
                                                                            {% endfor %}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>States</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                States  in which we wish to do business</a></h6>
																		<p>

                                                                            {% for state in org.states_you_wish_to_do_set.all %}
                                                                            {{ state }},
                                                                            {% endfor %}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>


                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Links</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

                                                                    <div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Relevant Links</a></h6>
																		<p>
                                                                            {{ org.relevant_links }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong> Files
                                                                                </strong>
																			<span><i class="fa  fa-download "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">Documents
                                                                                (Capabilities,Presentations,Briefs)</a></h6>
																		<p>
                                                                            {{ org.downloads }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Certificates</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Business Certifications</a></h6>
																		<p>
                                                                            {{ org.businesscert_set }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Core</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Core Strengths</a></h6>
																		<p>
                                                                            {{ org.corestrength_set }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>
                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Additional</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Additional Capabilities</a></h6>
																		<p>
                                                                            {{ org.additional_capability }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Partner</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Business Partnership</a></h6>
																		<p>
                                                                            {{ org.partner_name }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Mentor</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Mentor/Protege relationship</a></h6>
																		<p>
                                                                            {{ org.mentor }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>
                                                                     <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Business</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Business Requirements</a></h6>
																		<p>
                                                                            {{ org.bus_requirement}}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>
                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Past</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                               Past Performance</a></h6>
																		<p>
                                                                            {{ org.past_perfomance}}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>







																	<div class="col-sm-12">

																		<br>

																	</div>

																</div>

															</div>
															<div class="tab-pane fade" id="a2">

																<div class="alert alert-info fade in">
																	<button class="close" data-dismiss="alert">
																		×
																	</button>
																	<i class="fa-fw fa fa-info"></i>
																	<strong>{{ total_users }}  Members in this
                                                                        organisation</strong>
																</div>

                                                                {% for user in users %}




																<div class="user" title="email@company.com">
                                                                {% if user.picture %}
																	<img src="{{ user.picture.url }}">
                                                                {% else %}
                                                                    <img src="{{ STATIC_URL }}images/avatar.jpg">
                                                                {% endif %}
                                                                    <a href="/user/{{ user.username }}/">
                                                                        {{ user.first_name|capfirst }}
                                                                     {{ user.last_name|capfirst }}</a>
																	<div class="email">
																		{{ user.role}}
																	</div>
																</div>
                                                                {% endfor %}


																<div class="text-center">
																	<ul class="pagination pagination-sm">
																		<li class="disabled">
																			<a href="javascript:void(0);">Prev</a>
																		</li>
																		<li class="active">
																			<a href="javascript:void(0);">1</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">2</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">3</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">...</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">99</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">Next</a>
																		</li>
																	</ul>
																</div>

															</div><!-- end tab -->
														</div>

													</div>

												</div>

											</div>
											<!-- end row -->

										</div>

									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">

                                        <h1><span class="margin-top-10 display-inline">
                                            <i class="fa fa-rss text-success"></i> Upcoming Conferences</span></h1>

                                        <div class="tab-content padding-top-10">
															<div class="tab-pane fade in active" id="a1">

																<div class="row">

																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Jan</strong>
																			<span>10</span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Allice in Wonderland</a></h6>
																		<p>
																			Etiam ultricies nisi vel augue. Curabitur
                                                                            ullamcorper ultricies nisi Nam eget dui.
																			Etiam rhoncus. Maecenas tempus, tellus eget
                                                                            condimentum rhoncus, sem quam semper libero,
																			sit amet adipiscing sem neque sed ipsum.
                                                                            Nam quam nunc, blandit vel.
																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

																	</div>

																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Jan</strong>
																			<span>10</span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
																		<p>
																			Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
																			You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
																			Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
																		</p>
																	</div>

																	<div class="col-sm-12">

																		<br>

																	</div>

																</div>

															</div>
															<div class="tab-pane fade" id="a2">

																<div class="alert alert-info fade in">
																	<button class="close" data-dismiss="alert">
																		×
																	</button>
																	<i class="fa-fw fa fa-info"></i>
																	<strong>51 new members </strong>joined today!
																</div>

																<div class="user" title="email@company.com">
																	<img src="img/avatars/female.png"><a href="javascript:void(0);">Jenn Wilson</a>
																	<div class="email">
																		travis@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Travis Wilson</a>
																	<div class="email">
																		travis@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="Joe Cadena joe@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);"> Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>

																<div class="text-center">
																	<ul class="pagination pagination-sm">
																		<li class="disabled">
																			<a href="javascript:void(0);">Prev</a>
																		</li>
																		<li class="active">
																			<a href="javascript:void(0);">1</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">2</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">3</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">...</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">99</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">Next</a>
																		</li>
																	</ul>
																</div>

															</div><!-- end tab -->
														</div>




                                </div>


                                </div>

							</div>


					</div>

				</div>

				<!-- end row -->

			</div>
			<!-- END MAIN CONTENT -->

{% endblock content %}
