{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
    <div id="content">
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.min.js"></script>
<script type="text/javascript" src="/static/redactor/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js?v=2"></script>
<script type="text/javascript" src="/static/select2/js/select2.js?v=1"></script>

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	<a href="#" data-dismiss="alert" class="close">×</a>
	<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> You couldn't find your company profile, please add it here</h4>
	<p>


	</p>
</div>
								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


            <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>New Company  Profile </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" class="smart-form" id="order-form" name="company-form-1"
                              method="POST" enctype="multipart/form-data">





							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Company Name" name="name">
										</label>
									</section>
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Department or Subsidiary" name="department">
										</label>
									</section>
								</div>

								<section>
									<label class="input"> <i class="icon-append fa fa-globe"></i>
										<input type="text" placeholder="Official Company Website" name="website">
										<b class="tooltip tooltip-bottom-right">Official website</b> </label>
								</section>

								<section>
									<label class="input"> <i class="icon-append fa fa-envelope"></i>
										<input type="email" id="c_email" placeholder="Company Email" name="email">
										<b class="tooltip tooltip-bottom-right">Company email</b> </label>
								</section>

								<section>
									<label class="input"> <i class="icon-append fa fa-location-arrow"></i>
										<input type="text" placeholder="Company Address or Subsidiary Address" name="c_address">
										<b class="tooltip tooltip-bottom-right">Enter company address subsidiary preffered</b> </label>
								</section>
                                <section>
									<label class="textarea">
										<textarea placeholder="About this Company, department or subsidiary" name="info" rows="3"></textarea> <b class="tooltip tooltip-bottom-right">Details about this company</b>
									</label>
								</section>
                                <section>
									<div class="input input-file ">
										<span class="button"><input type="file" onchange="this.parentNode.nextSibling.value = this.value" name="logo" id="cphoto">Choose Photo</span><input type="text" readonly="" placeholder="Upload a profile photo">
									</div>
								</section>
							</fieldset>

							<fieldset>
                                <div class="row">
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Phone" name="phone">
										</label>
									</section>
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Zip Code" name="zip" >
										</label>
									</section>
								</div>



							</fieldset>



						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-comment-o"></i> </span>
					<h2> Other Details </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form"  novalidate="novalidate" name="company-form-2"  id="company-form-2" method="POST">
							<header>
								Please enter your company details, - You will be listed as the principal
							</header>


                            <fieldset>


								<div class="row">
                                    <section class="col col-12">
										<label class="select">
											<strong>Select  Codes for this Company</strong></label>
									</section>
									<section class="col col-12">
										<label class="input">
											{{ form.codes }} </label>
									</section>

								</div>



							</fieldset>
                            <fieldset>
                                <div class="row">
									<section class="col col-4">
										<label class="select">
											Company Country  </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											State

                                        </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											City

                                        </label>
									</section>

								</div>
								<div class="row">
									<section class="col col-4">
										<label class="select">
											{{ form.country }}
                                             <i></i>
										</label>
									</section>
									<section class="col col-4">
										<label class="select">
											{{ form.region }}
                                            <i></i>
										</label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											{{ form.city }}
                                            <i></i>
										</label>
									</section>
								</div>
                                <div class="row">
									<label class="label col col-4"><strong>Size of Company</strong></label>
									<section class="col col-8">
										<label class="select">
											<select name="csize">

												<option value="1">Small Less than 50 Employees</option>
                                                <option value="2">Large more than 50 Employees</option>

											</select> <i></i> </label>
									</section>

								</div>
								<div class="row">
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Facebook Fanpage" name="fbpage">
										</label>
									</section>
									<section class="col col-6">
										<label class="input">
											<input type="text" placeholder="Linkedin Profile" name="linkedinpage">
										</label>
									</section>
								</div>







							</fieldset>

							<footer>
								<button class="btn btn-primary" type="submit">
									Save Company Details
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>

{% endblock content %}
{% block page_js %}

    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}