{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% load humanize %}
{% block content %}
			<div id="content">

				<!-- Bread crumb is created dynamically -->
				<!-- row -->
				<div class="row">
				
					<!-- col -->
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-file-o"></i>
                          <span>
							  {{ org.office|capfirst }}</span></h1>
					</div>
					<!-- end col -->
				
					<!-- right side of the page with the sparkline graphs -->
					<!-- col -->
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<!-- sparks -->
						<ul id="sparks">
							<li class="sparks-info">
								<h5> Open Contracts <span class="txt-color-blue">{{ contracts }}</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
									1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
								</div>
							</li>
							<li class="sparks-info">
								<h5> Awarded <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ awarded }}</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
							<li class="sparks-info">
								<h5> Conferences <span class="txt-color-greenDark">
                                    <i class="fa fa-briefcase"></i>&nbsp;{{ events }}</span></h5>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
						</ul>
						<!-- end sparks -->
					</div>
					<!-- end col -->
				
				</div>
				<!-- end row -->
				
				<!-- row -->
				
				<div class="row">
				
					<div class="col-sm-12">
				
				
							<div class="well well-sm">
				
								<div class="row">
				
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="well well-light well-sm no-margin no-padding">
				
											<div class="row">
				

				
												<div class="col-sm-12">
				
													<div class="row">
				
														<div class="col-sm-3 profile-pic">
															<img src="{{ STATIC_URL }}images/avatar.jpg">

														</div>
														<div class="col-sm-9">
															<h1> <span class="semi-bold">{{ org.department }}</span>
															<br>
															<small>{{ org.agency }}</small></h1>
				
															<ul class="list-unstyled">

																<li>
																	<p class="text-muted">
																		<i class="fa fa-globe"></i>&nbsp;&nbsp;
                                                                        <a href="{{ org.website }}">{{ org.website }}</a>
																	</p>
																</li>

																<li>
																	<p class="text-muted">
																		<i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken"> Next Conference <a href="/upcoming/{{ org.id }}" rel="tooltip" title="" data-placement="top" data-original-title="Attend Conference">View Details</a></span>
																	</p>
																</li>
															</ul>
															<br>
															<p class="font-md">
																<i>Mission</i>
															</p>
															<p>
				
																{{ org.mission }}
															</p>
															<br>
															<a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Message Admin for this organisation</a>
															<br>
															<br>
                                                            <p class="font-md">
																<i>Our Codes PSC/FSC/NAICS</i>
															</p>
                                                            <ol>
                                                                {% for code in org.naics.all %}

                                                                <li>{{code.code }}</li>
                                                                {% endfor %}



                                                            </ol>
				
														</div>

				
													</div>
				
												</div>
				
											</div>
				
											<div class="row">
				
												<div class="col-sm-12">
				
													<hr>
				
													<div class="padding-10">
				
														<ul class="nav nav-tabs tabs-pull-right">
															<li class="active">
																<a href="#a1" data-toggle="tab">More Information</a>
															</li>
															<li>
																<a href="#a2" data-toggle="tab">Members</a>
															</li>
															<li class="pull-left">
																<span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
															</li>
														</ul>
				
														<div class="tab-content padding-top-10">
															<div class="tab-pane fade in active" id="a1">
				
																<div class="row">
				
																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Mission</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>
				
																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">Mission</a></h6>
																		<p>
                                                                            {{ org.mission }}

																		</p>
																	</div>
				
																	<div class="col-sm-12">
				
																		<hr>
				
															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Key</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">Key Objectives</a></h6>
																		<p>
                                                                            {{ org.key_objectives }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Major</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Major Initiatives</a></h6>
																		<p>
                                                                            {{ org.major_initiatives }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>


                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Greatest</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

                                                                    <div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Greatest Challenges</a></h6>
																		<p>
                                                                            {{ org.greatest_challenges }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Programmes</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">Program Names</a></h6>
																		<p>
                                                                            {{ org.program_names }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Contractor</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Contractor Needs</a></h6>
																		<p>
                                                                            {{ org.contractor_needs }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>

                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Contractor</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Contractor Needs for small business</a></h6>
																		<p>
                                                                            {{ org.c_needs_for }}

																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

															        </div>
                                                                    <div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Relevant Links</strong>
																			<span><i class="fa  fa-hand-o-right "></i></span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Relevant Links</a></h6>
																		<p>
                                                                            {{ org.relevant_links }}

																		</p>
																	</div>


																	<div class="col-sm-12">

																		<hr>

															        </div>


				
																	<div class="col-sm-12">
				
																		<br>
				
																	</div>
				
																</div>
				
															</div>
															<div class="tab-pane fade" id="a2">
				
																<div class="alert alert-info fade in">
																	<button class="close" data-dismiss="alert">
																		×
																	</button>
																	<i class="fa-fw fa fa-info"></i>
																	<strong>{{ total_users }}  Members in this
                                                                        organisation</strong>
																</div>

                                                                {% for user in users %}



				
																<div class="user" title="email@company.com">
                                                                {% if user.picture %}
																	<img src="{{ user.picture.url }}">
                                                                {% else %}
                                                                    <img src="{{ STATIC_URL }}images/avatar.jpg">
                                                                {% endif %}
                                                                    <a href="/user/{{ user.username }}/">
                                                                        {{ user.first_name|capfirst }}
                                                                     {{ user.last_name|capfirst }}</a>
																	<div class="email">
																		{{ user.role}}
																	</div>
																</div>
                                                                {% endfor %}

				
																<div class="text-center">
																	<ul class="pagination pagination-sm">
																		<li class="disabled">
																			<a href="javascript:void(0);">Prev</a>
																		</li>
																		<li class="active">
																			<a href="javascript:void(0);">1</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">2</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">3</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">...</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">99</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">Next</a>
																		</li>
																	</ul>
																</div>
				
															</div><!-- end tab -->
														</div>
				
													</div>
				
												</div>
				
											</div>
											<!-- end row -->
				
										</div>
				
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">

                                        <h1><span class="margin-top-10 display-inline">
                                            <i class="fa fa-rss text-success"></i> Upcoming Conferences</span></h1>

                                        <div class="tab-content padding-top-10">
															<div class="tab-pane fade in active" id="a1">

																<div class="row">

																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Jan</strong>
																			<span>10</span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin">
                                                                            <a href="javascript:void(0);">
                                                                                Allice in Wonderland</a></h6>
																		<p>
																			Etiam ultricies nisi vel augue. Curabitur
                                                                            ullamcorper ultricies nisi Nam eget dui.
																			Etiam rhoncus. Maecenas tempus, tellus eget
                                                                            condimentum rhoncus, sem quam semper libero,
																			sit amet adipiscing sem neque sed ipsum.
                                                                            Nam quam nunc, blandit vel.
																		</p>
																	</div>

																	<div class="col-sm-12">

																		<hr>

																	</div>

																	<div class="col-xs-2 col-sm-1">
																		<time datetime="2014-09-20" class="icon">
																			<strong>Jan</strong>
																			<span>10</span>
																		</time>
																	</div>

																	<div class="col-xs-10 col-sm-11">
																		<h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
																		<p>
																			Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
																			You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
																			Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
																		</p>
																	</div>

																	<div class="col-sm-12">

																		<br>

																	</div>

																</div>

															</div>
															<div class="tab-pane fade" id="a2">

																<div class="alert alert-info fade in">
																	<button class="close" data-dismiss="alert">
																		×
																	</button>
																	<i class="fa-fw fa fa-info"></i>
																	<strong>51 new members </strong>joined today!
																</div>

																<div class="user" title="email@company.com">
																	<img src="img/avatars/female.png"><a href="javascript:void(0);">Jenn Wilson</a>
																	<div class="email">
																		travis@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Travis Wilson</a>
																	<div class="email">
																		travis@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="Joe Cadena joe@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
																	<div class="email">
																		marshall@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
																	<div class="email">
																		joe@company.com
																	</div>
																</div>
																<div class="user" title="email@company.com">
																	<img src="img/avatars/male.png"><a href="javascript:void(0);"> Mike McBride</a>
																	<div class="email">
																		mike@company.com
																	</div>
																</div>

																<div class="text-center">
																	<ul class="pagination pagination-sm">
																		<li class="disabled">
																			<a href="javascript:void(0);">Prev</a>
																		</li>
																		<li class="active">
																			<a href="javascript:void(0);">1</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">2</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">3</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">...</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">99</a>
																		</li>
																		<li>
																			<a href="javascript:void(0);">Next</a>
																		</li>
																	</ul>
																</div>

															</div><!-- end tab -->
														</div>

				


                                </div>


                                </div>

							</div>
				
				
					</div>
				
				</div>
				
				<!-- end row -->

			</div>
			<!-- END MAIN CONTENT -->

{% endblock content %}