{% load staticfiles %}
{% load base_tags %}
{% load inplace_edit %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title> {% block title %}MatchMaker {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Use the correct meta names below for your web application
        Ref: http://davidbcalhoun.com/2010/viewport-metatag

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/smartadmin-skins.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">



        {% block extra_css %}
        {% endblock extra_css %}

        <!-- SmartAdmin RTL Support is under construction
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/smartadmin-rtl.css"> -->

        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css">

        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/assets/css/demo.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">


        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

    </head>

    <body class="{% if not request.user.profile_complete %}minified{% endif %}">

        <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="{{ STATIC_URL }}hassets/javascripts/jquery_2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="{{ STATIC_URL }}hassets/javascripts/jquery_1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->
        <!-- HEADER -->
        <header id="header">
            <div id="logo-group">

                <!-- PLACE YOUR LOGO HERE -->
                <span id="logo"> <img src="{{ STATIC_URL }}images/MatchMaker.png" alt="MatchMaker Logo"> </span>
                <!-- END LOGO PLACEHOLDER -->

                <!-- Note: The activity badge color changes when clicked and resets the number to 0
                Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->

                <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
                <div class="ajax-dropdown">

                    <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="activity" id="/">
                            Connections (0) </label>
                        <label class="btn btn-default">
                            <input type="radio" name="activity" id="/">
                            Events (0) </label>
                        <label class="btn btn-default">
                            <input type="radio" name="activity" id="/">
                            Alerts (0) </label>
                    </div>

                    <!-- notification content -->
                    <div class="ajax-notifications custom-scroll">

                        <div class="alert alert-transparent">
                            <h4>Click a button to show messages here</h4>
                            This blank page message helps protect your privacy, or you can show the first message here automatically.
                        </div>

                        <i class="fa fa-lock fa-4x fa-border"></i>

                    </div>
                    <!-- end notification content -->

                    <!-- footer: refresh area -->
                    <span> Last updated on: 12/12/2013 9:43AM
                        <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                            <i class="fa fa-refresh"></i>
                        </button> </span>
                    <!-- end footer -->

                </div>
                <!-- END AJAX-DROPDOWN -->
            </div>


            <!-- pulled right: nav area -->
            <div class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->

                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="/logout/" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
                </div>
                <!-- end logout button -->

                <!-- search mobile button (this is hidden till mobile view port) -->
                <div id="search-mobile" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
                </div>
                <!-- end search mobile button -->

                <!-- input: search field -->
                <form action="" class="header-search pull-right">
                    <input type="text" placeholder="Find events and more" id="search-fld">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
                </form>
                <!-- end input: search field -->

            </div>
            <!-- end pulled right: nav area -->

        </header>
        <!-- END HEADER -->

        <!-- Left panel : Navigation area -->
        <!-- Note: This width of the aside area can be adjusted through LESS variables -->
        <aside id="left-panel">
            <!-- User info -->
            <div class="login-info">
                <span> <!-- User image size is adjusted inside CSS, it should stay as it --> <a href="javascript:void(0);" > {% if request.user.picture %} <img src="{{request.user.get_small_picture_thumbnail_url  }}" alt="me" class="online" /> {% else %} <img src="{{ STATIC_URL }}images/avatar.jpg" alt="me" class="online" /> {% endif %}
                    <span> Welcome  {{ request.user.username }} </span>
                    <i class="fa fa-angle-double-right"></i> </a> </span>
            </div>
            <!-- end user info -->

            <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
            <nav>
                <!-- NOTE: Notice the gaps after each icon usage <i></i>..
                Please note that these links work a bit different than
                traditional hre="" links. See documentation for details.
                -->

                <ul style="">
                    {% if user.is_authenticated and user.profile_complete %}

                        <li>
                            <a href="/dashboard/" title="Dashboard"> <i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="menu-item-parent">Dashboard</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Personal Profile</span></a>
                            <ul>
                                <li class="{% is_active_url '/edit-personal-profile/' 1 %}">
                                    <a href="/edit-personal-profile/">Edit Profile</a>
                                </li>
                                <li class="{% is_active_url '/user/'|add:request.user.username|add:'/' 1 %}">
                                    <a href="/user/{{ request.user.username }}/">View Public Profile</a>
                                </li>
                                {% comment %}
                                <li class="{% is_active_url '/profile/' 1 %}">
                                    <a href="/profile/">Account Information</a>
                                </li>
                                <li class="{% is_active_url '/profile/' 1 %}">
                                    <a href="/profile/">Privacy Settings</a>
                                </li>
                                {% endcomment %}
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">Search</span></a>
                            <ul>
                                <li class="{% is_active_url '/search/' 1 %}">
                                    <a href="{% url 'basic_search' %}" title="Search"> <i class="fa fa-lg fa-fw"></i> <span class="menu-item-parent">New Search </span></a>
                                </li>
                                <li class="{% is_active_url '/search/' 1 %}">
                                    <a href="{% url 'basic_search' %}" title="Search"> <i class="fa fa-lg fa-fw"></i> <span class="menu-item-parent">Saved Searches </span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">Contacts</span></a>
                            <ul>
                                <li class="{% is_active_url '/connections/' 1 %}">
                                    <a href="/connections/"><i class="fa fa-lg fa-fw"></i> <span class="menu-item-parent">View Contacts</span><span class="badge pull-right inbox-badge"> {{ request.user.relationships.following.count }}</span></a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Events</span></a>
                            <ul>
                                {% if request.user.is_staff %}
                                  <li class="{% is_active_url 'events' %}">
                                      <a href="{% url 'events' %}">Create / Edit Events</a>
                                  </li>
                                {% endif %}
                                <li class="{% is_active_url 'upcoming-events' 1 %}">
                                    <a href="/upcoming-events/">Upcoming events</a>
                                </li>
                            </ul>
                        </li>
                        {% if request.user.is_staff or request.user.vgp_type == '1' %}
                          <li>
                              <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">Activities</span></a>
                              <ul>
                                    <li>
                                        <a href="{% url 'events' %}">Create / Edit Activities</a>
                                    </li>
                              </ul>
                          </li>
                        {% endif %}
                        {% if request.user.is_staff %}
                          <li>
                              <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">Activity Matchmaking</span></a>
                              <ul>
                                  <li>
                                      <a href="#"><i class="fa fa-fw fa-folder-open"></i>Strategic Matching</a>
                                      <ul>
                                        <li>
                                            <a href="/create-schedule/">Round Table Activities</a>
                                        </li>
                                        <li>
                                            <a href="/create-schedule/">Decision Maker Activities</a>
                                        </li>
                                      </ul>
                                  </li>
                                  <li class="{% is_active_url '/create-schedule/' 1 %}">
                                      <a href="/create-schedule/">Non Strategic Matching</a>
                                  </li>
                              </ul>
                          </li>
                        {% endif %}
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Agenda</span></a>
                            <ul>
                                <li class="{% is_active_url '/events/activities-list/' 1 %}">
                                    <a href="/events/activities-list/">All Activities</a>
                                </li>
                                <li class="{% is_active_url '/schedule-list/' 1 %}">
                                    <a href="/schedule-list/">Schedules</a>
                                </li>
                                <li class="{% is_active_url '/reports/host/' 1 %}">
                                    <a href="/reports/host">Host Agenda</a>
                                </li>
                                <li class="{% is_active_url '/reports/schedule/' 1 %}">
                                    <a href="/reports/schedule/">User Agenda</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            {% if request.user.vgp_type == '2' %}

                                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i>
                                    <span class="menu-item-parent">Company Profile</span></a>
                                <ul>
                                    {% with org_id=request.user.commmercial_org.id|stringformat:'d' %}
                                        <li class="{% is_active_url '/company-profile/'|add:org_id|add:'/' 1 %}">
                                            <a href="/company-profile/{{ org_id }}/">Company Information</a>
                                        </li>
                                    {% endwith %}


                                  {% if request.user.vosb_type == 2 %}
                                    <li class="{% is_active_url '/add-company-profile/' 1 %}">
                                        <a href="/edit-company-profile/">Edit VOSB Experience</a>
                                    </li>
                                  {% else %}
                                      <li class="{% is_active_url '/edit-vosb-information/' 1 %}">
                                        <a href="/edit-vosb-profile/">Edit VOSB information</a>



                                  {% endif %}

                                </ul>
                            {% else %}
                                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i>
                                    <span class="menu-item-parent">Organization Profile</span></a>
                                <ul>
                                    {% with dep_id=request.user.gov_department.id|stringformat:'d' %}
                                        <li class="{% is_active_url '/organisation-profile/'|add:dep_id|add:'/' 1 %}">
                                            <a href="/organisation-profile/{{ dep_id }}/">Organization Information</a>
                                        </li>

                                    {% endwith %}
                                    <li class="{% is_active_url '/edit-gov-org/' 1 %}">
                                        <a href="/edit-gov-org/">Edit Organization</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Employees</span></a>
                            <ul>
                                <li>
                                    <a href="">View Employees</a>
                                </li>
                            </ul>
                        </li>

                        {% if request.user.is_staff %}
                            <li class="{% is_active_url '/profile-fields/' 1 %}">
                                <a href="/profile-fields/"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent" style="color:green">Field Management</span></a>
                            </li>
                            <li class="{% is_active_url '/roles/' 1 %}">
                                <a href="/roles/"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent" style="color:green">Role Management</span></a>
                            </li>
                            <li class="{% is_active_url '/all-users/' 1 %}">
                                <a href="/all-users/"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent" style="color:green">User Management</span></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent" style="color:green">Communication</span></a>
                              <ul>
                                  <li class="{% is_active_url '/message-campaign/' 1 %}">
                                      <a href="/message-campaign/">Campaigns</a>
                                  </li>
                                  <li class="{% is_active_url '/message-email/' 1 %}">
                                      <a href="/message-email/">New Email</a>
                                  </li>
                                  <li class="{% is_active_url '/message-sms/' 1 %}">
                                      <a href="/message-sms/">New SMS</a>
                                  </li>
                                  <!--
                                  <li class="{% is_active_url '/message-old/' 1 %}">
                                      <a href="/message-old/">Old Page</a>
                                  </li>
                                   -->
                              </ul>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-lg fa-fw fa-tag"></i> <span class="menu-item-parent">RFID Management</span></a>
                                <ul>
                                    <li>
                                        <a href="">Activate New User</a>
                                    </li>
                                    <li>
                                        <a href="">Search</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Reporting</span></a>
                            <ul>
                                <li class="{% is_active_url '/reports/dynamic/' 1 %}">
                                    <a href="/reports/dynamic/">Dynamic Report</a>
                                </li>
                                <li class="{% is_active_url '/reports/activity/' 1 %}">
                                    <a href="/reports/activity">Activity Report</a>
                                </li>
                                <li class="{% is_active_url '/reports/admin/' 1 %}">
                                    <a href="/reports/admin/">Admin Report</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Surveys</span></a>
                            <ul>

                                <li>
                                    <a href="">Create Survey</a>
                                </li>
                                <li class="{% is_active_url '/my-surveys/' 1 %}">
                                    <a href="/my-surveys/">My Surveys</a>
                                </li>

                            </ul>
                        </li>

                    {% else %}

                        {% if user.is_authenticated %}
                            <li class="{% is_active_url 'events' %}">
                                <a href="{% url 'events' %}" title="Home"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
                            </li>
                        {% else %}
                            <li class="{% is_active_url '/' 1 %}">
                                <a href="/" title="Home"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Personal Profile</span></a>
                            <ul>
                                <li class="{% is_active_url '/edit-personal-profile/' 1 %}">
                                    <a href="/edit-personal-profile/">Edit Profile</a>
                                </li>
                            </ul>
                        </li>

                    {% endif %}

                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-question-circle"></i> <span class="menu-item-parent">Support</span></a>
                        <ul>
                            <li>
                                <a href="http://youtu.be/CILbYx4n6jo">Video Tutorials</a>
                            </li>
                            <li>
                                <a href="mailto:support@cloudcustomsolutions.com" target="_top">Email Support</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="window.open('http://livesupport.azurewebsites.net?PortalCode=7430E154-758A-4516-9AAD-ACDC932DFDD6', '_blank', 'toolbar=no,scrollbars=no,location=no,resizable=no,width=1100,height=550')">Live Chat</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">



            <!-- MAIN CONTENT -->
            {% block content %}
            {% endblock content %}
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->

        <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
        Note: These tiles are completely responsive,
        you can add as many as you like
        -->

        <!-- END SHORTCUT AREA -->

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ STATIC_URL }}/assets/js/plugin/pace/pace.min.js"></script>

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="{{ STATIC_URL }}/hassets/javascripts/jquery_2.0.2/jquery.min.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="{{ STATIC_URL }}/assets/js/libs/jquery-2.0.2.min.js"><\/script>');
            }
        </script>

        <script src="{{ STATIC_URL }}/hassets/javascripts/jqueryui_1.10.3/jquery-ui.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="{{ STATIC_URL }}/assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="{{ STATIC_URL }}/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{ STATIC_URL }}/assets/js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="{{ STATIC_URL }}/assets/js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="{{ STATIC_URL }}/assets/js/plugin/fastclick/fastclick.js"></script>

        <!-- HANDLEBARS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>

        <!--[if IE 7]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

        <!-- Demo purpose only -->
        {% comment %}
        <script src="{{ STATIC_URL }}/assets/js/demo.js"></script>
        {% endcomment %}

        <!-- MAIN APP JS FILE -->
        <script src="{{ STATIC_URL }}/assets/js/app.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js"></script>
        {% inplace_toolbar %}

        <!-- PAGE RELATED PLUGIN(S)
        <script src="..."></script>-->

        <!- select2 API activator -->

        <script>

    function activate_select2_fk(id,resource_url,rendertemplateResult,rendertemplateSelection){
     activate_select2_foreignkey_relations(id,resource_url,rendertemplateResult,rendertemplateSelection,true);
    }
    function activate_select2_to_one(id,resource_url,rendertemplateResult,rendertemplateSelection){
     activate_select2_foreignkey_relations(id,resource_url,rendertemplateResult,rendertemplateSelection,false);
    }

    function activate_select2_foreignkey_relations(id,resource_url,rendertemplateResult,rendertemplateSelection,multiple){
      var rendertemplateResult = rendertemplateResult;
      var rendertemplateSelection = rendertemplateSelection;
      $(id).select2({
            placeholder: "Search",
            multiple: multiple,
            minimumInputLength: 0,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: resource_url+'search/',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term, // search term
                        //page_limit: 10,
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data.objects};
                }
            },
            formatResult: function(res){
              var h = Handlebars.compile(rendertemplateResult);
              return h(res);
            },
            formatSelection: function(res){
              var h = Handlebars.compile(rendertemplateSelection);
              return h(res);
            },
            initSelection: function(element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected object's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the object name is shown preselected
                var id=$(element).val();
                if (id!=="") {
                    var ids = id.split(',');
                    var loaderurl = resource_url+'set/';
                    //console.log(ids);
                    for (idd in ids){
                    if (idd >0) {loaderurl += ';'}
                    loaderurl += ids[idd].replace(resource_url,'').replace('/','')
                    }
                }
                else{
                  loaderurl = resource_url;
                }
                if (multiple){
                      $.ajax(loaderurl+'/', {
                        data: {
                        },
                        dataType: "json"
                      }).done(function(data) { callback(data.objects); });
                    } else {
                      $.ajax(loaderurl+'/', {
                        data: {
                        },
                        dataType: "json"
                      }).done(function(data) { callback(data.objects[0]); });
                }
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    }


        </script>

        <script type="text/javascript">
            // DO NOT REMOVE : GLOBAL FUNCTIONS!

            $(document).ready(function() {


                pageSetUp();
                $(':input[type="number"]').attr("min", "0");

            })

        </script>

        <!-- Your GOOGLE ANALYTICS CODE Below -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
        {% block page_js %}
        {% endblock page_js %}
    </body>

</html>
