<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Matchmaker- Landing Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--== CSS Files ==-->
		<link href="{{ STATIC_URL }}blue/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/style.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/animate.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/owl.carousel.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/flexslider.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/fancySelect.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}blue/css/responsive.css" rel="stylesheet" media="screen">

		<!--== Google Fonts ==-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="container box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<span class="navbar-brand logo">
									<span class="fa fa-map-marker"></span>Matchmaker
								</span>

							</div>
							<div class="navbar-collapse collapse">

								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#header">Home</a></li>
									<li><a href="#faq">Upcoming Events</a></li>
									<li><a href="#partners">Partners</a></li>
									<li><a href="#login" id="login-link">Login</a></li>
									<li><a href="#register">Register</a></li>
								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="{{ STATIC_URL }}blue/bg/1.jpg" alt="Slide Image"/></li>
						<li><img src="{{ STATIC_URL }}blue/bg/2.jpg" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">





				<!--===============================-->
				<!--== Image Slider ===============-->
				<!--===============================-->
				<section id="image-slider" class="row">
					<div class="col-sm-12">
						<div class="section-header text-right">
							<h2>Why go through the hassle of searching to buy or sell products.
                                </h2>
							<h4>Get a glance at what we do!</h4>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<h3>Lorem ipsum</h3>
						<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quos, ratione, optio, blanditiis deserunt saepe iure sunt odit atque eius voluptatum labore excepturi explicabo aliquid sapiente porro voluptas commodi sint?</h4>
						<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi fugiat veritatis cupiditate commodi</blockquote>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="flexslider">
							<ul class="slides">
                                <li><img src="{{ STATIC_URL }}images/network2.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>

                                <li><img src="{{ STATIC_URL }}images/yeahs.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>

                                <li><img src="{{ STATIC_URL }}images/soldier.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>



                                <li><img src="{{ STATIC_URL }}images/network2.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>

                                <li><img src="{{ STATIC_URL }}images/training.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>



                                <li><img src="{{ STATIC_URL }}images/education.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>

                                <li><img src="{{ STATIC_URL }}images/teamwork.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>

                                <li><img src="{{ STATIC_URL }}images/workshop.jpg"
                                         alt="Slide Image" style="max-width:610px;max-height: 350px"/></li>



							</ul>
						</div>
					</div>
				</section>
				<!--==========-->






				<!--===============================-->
				<!--== FAQ ========================-->
				<!--===============================-->
				<section id="faq" class="row">
					<div class="col-sm-12">
						<div class="section-header text-right">
							<h2>Upcoming Events</h2>
							<h4>Awesome section description goes here.</h4>
						</div>
					</div>
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
						        </div>
						    </li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
						        </div>
						    </li>
						</ul>
					</div>
				</section>
				<!--==========-->



				<!--===============================-->
				<!--== Carousel ===================-->
				<!--===============================-->
				<section id="partners" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Partners</h2>
							<h4>Awesome section description goes here.</h4>
						</div>
					</div>
					<div class="col-sm-12">
						<div id="carousel" class="owl-carousel">
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-01.png" alt="Logo 1"></div>
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-02.png" alt="Logo 2"></div>
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-03.png" alt="Logo 3"></div>
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-04.png" alt="Logo 4"></div>
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-05.png" alt="Logo 5"></div>
							<div class="item"><img src="{{ STATIC_URL }}blue/images/demo/partners/logo-06.png" alt="Logo 6"></div>
						</div>
						<div class="owl-carousel-navigation">
							<a class="owl-btn prev fa fa-angle-left"></a>
							<a class="owl-btn next fa fa-angle-right"></a>
						</div>
					</div>
				</section>
				<!--==========-->




				<!--===============================-->
				<!--== Register ===================-->
				<!--===============================-->
				<section id="register" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Register here</h2>
							<h4 id="error">To experience the awesomeness</h4>
						</div>
					</div>
					<div class="col-sm-12">
						<form id="register-form" method="post" class="form" action="/register/">
							<div class="col-md-3 col-sm-6">
								<input name="first_name" id="first_name" type="text" placeholder="Full Name" required>
							</div>
                            <div class="col-md-3 col-sm-6">
                                <select name="gov" id="" required="">
                                    <option value="1">Government User</option>
                                    <option value="2">Commercial User</option>
                                </select>
							</div>
                            <div class="col-md-3 col-sm-6">
								<input name="username" id="username" type="text" placeholder="Username" required>
							</div>
							<div class="col-md-3 col-sm-6">
								<input name="email" id="email" type="email" placeholder="Email" required>
							</div>
                            <div class="col-md-3 col-sm-6">
								<input name="phone" id="phone" type="text" placeholder="Phone Number" required>
							</div>

                            {% csrf_token %}
							<div class="col-md-3 col-sm-6">
								<input name="password" id="telephone" type="password" placeholder="Password" required>
							</div>
                            <div class="col-md-3 col-sm-6">
								<input name="passwordConfirm" id="telephone" type="password" placeholder="Confirm Password" required>
							</div>


							<div class="col-md-3 col-sm-12">
								<input type="submit" value="Register" name="submit">
							</div>
							<p class="form-notificatio" style="display: none;">Registration Complete</p>
						</form>
					</div>
				</section>
				<!--==========-->
                <!--===============================-->
				<!--== login  ===================-->
				<!--===============================-->
				<section id="login" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Welcome back</h2>
							<h4>Login to proceed</h4>
						</div>
					</div>
					<div class="col-sm-12">
						<form id="login-form" method="post" class="form" action="/login/">

                            <div class="col-md-4 col-sm-6">
								<input name="user_name" id="user_name" type="text" placeholder="Your username or email" required>
							</div>
                            <div class="col-md-4 col-sm-6">
								<input name="pass_word" id="pass_word" type="password" placeholder="Your Password" required>
							</div>


                            {% csrf_token %}


							<div class="col-md-2 col-sm-6">
								<input type="submit" value="Sign Me In" name="submit">
							</div>
                            <div class="col-md-2 col-sm-6">
                                <a href="/forgot-password/"><h4>Forgot password?</h4></a>
							</div>
							<p class="form-notification" style="display: none;">Registration Complete</p>
						</form>
					</div>
				</section>
				<!--==========-->


				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">

			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-youtube"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								Cloud Custom Solutions All Rights Reserved. © 2014
							</div>
						</div>
					</section>

				</div>
			</div>


            <!-- Modal -->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                        <div class="modal-body">
                            ...
                        </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                        </div>
                  </div>
            </div>

		</footer>

		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery-2.1.0.min.js"></script>

		<script src="{{ STATIC_URL }}blue/js/jquery.scrollTo.js"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery.nav.js"></script>
		<script src="{{ STATIC_URL }}blue/js/owl.carousel.min.js"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery.flexslider.js"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery.accordion.js"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery.placeholder.js"></script>
		<script src="{{ STATIC_URL }}blue/js/jquery.fitvids.js"></script>
		<script src="{{ STATIC_URL }}blue/js/gmap3.js"></script>
		<script src="{{ STATIC_URL }}blue/js/fancySelect.js"></script>
        <script src="{{ STATIC_URL }}blue/js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}blue/js/main.js"></script>
        <style>
            .fail{
                color: red;
            }
        </style>

	</body>
</html>