<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sign In - MatchMaker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

        <!-- $DEMO =========================================================================================

        Remove this section on production
        -->
        <style>
            #signin-demo {
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 10000;
                background: rgba(0,0,0,.6);
                padding: 6px;
                border-radius: 3px;
            }
            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }
            #signin-demo img:hover {
                opacity: .5;
            }
            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
            /* captcha */
            .js-captcha-refresh {
              border-bottom: 1px dashed #bbb;
              color: #999;
              display: inline-block;
              font-size: 11px;
              margin-left: 10px;
              padding-bottom: 1px;
              cursor: pointer;
            }
            .js-captcha-refresh:hover {
              color: #555555;
              text-decoration: none;
            }
            #id_captcha_1 {
                margin-top: 10px;
            }
        </style>
        <!-- / $DEMO -->

    </head>

    <!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signin">

        <script>
            var init = [];

        </script>
        <!-- Demo script -->
        <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>
        <!-- / Demo script -->

        <!-- Page background -->
        <div id="page-signin-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg" alt="">
        </div>
        <!-- / Page background -->

        <!-- Container -->
        <div class="signin-container">

            <!-- Left side -->
            <div class="signin-info">
                <a href="index.html" class="logo"> <img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                MatchMaker </a><!-- / .logo -->
                <div class="slogan">
                    Attend Events.
                </div>
                <!-- / .slogan -->
                <ul>
                    <li>
                        <i class="fa fa-sitemap signin-icon"></i> Flexible modular structure
                    </li>
                    <li>
                        <i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files
                    </li>
                    <li>
                        <i class="fa fa-outdent signin-icon"></i> RTL direction support
                    </li>
                    <li>
                        <i class="fa fa-heart signin-icon"></i> Crafted with love
                    </li>
                </ul>
                <!-- / Info list -->
            </div>
            <!-- / Left side -->

            <!-- Right side -->
            <div class="signin-form">

                <!-- Form -->
                <form action="" id="signin-form_id" method="POST">
                    <div class="signin-text">
                        <span >Sign In to your account</span>
                    </div>
                    <!-- / .signin-text -->
                    <div class="signin-text" id="error-div">
                        <span id="errors" style="display: none;color: red"></span>
                    </div>
                    <!-- / .signin-text -->

                    {% csrf_token %}
                    <div class="form-group w-icon">
                        <input type="text" name="username" id="username_id" class="form-control input-lg" placeholder="Username or email">
                        <span class="fa fa-user signin-form-icon"></span>
                    </div>
                    <!-- / Username -->

                    <div class="form-group w-icon">
                        <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <!-- / Password -->

                    <div class="form-group w-icon captcha-container" {% if not show_captcha %}style="display: none;"{% endif %} >
                        {{ form.captcha }}
                    </div>
                    <!-- / Password -->

                    <div class="form-actions">
                        <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
                        <a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
                    </div>
                    <!-- / .form-actions -->
                </form>
                <!-- / Form -->

                <!-- Password reset form -->
                <div class="password-reset-form" id="password-reset-form">
                    <div class="header">
                        <div class="signin-text">
                            <span id="errors2">Password Reset</span>
                            <div class="close">
                                &times;
                            </div>
                        </div>
                        <!-- / .signin-text -->
                    </div>
                    <!-- / .header -->

                    <!-- Form -->
                    <form action="{% url 'reset_password' %}" id="password-reset-form_id" method="POST" name="password-form">
                        <div class="form-group w-icon">
                            {% csrf_token %}
                            <input type="text" name="email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
                            <span class="fa fa-envelope signin-form-icon"></span>
                        </div>
                        <!-- / Email -->

                        <div class="form-actions">
                            <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
                        </div>
                        <!-- / .form-actions -->
                    </form>
                    <!-- / Form -->
                </div>
                <!-- / Password reset form -->
            </div>
            <!-- Right side -->
        </div>
        <!-- / Container -->

        <div class="not-a-member">
            Not a member? <a href="/register/">Sign up now</a>
        </div>

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->

        <!-- Pixel Admin's javascripts -->
        <script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/ajaxsubmit.js"></script>
        <script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                $('.js-captcha-refresh').click(function(){
                    $.getJSON('{% url "captcha-refresh" %}', {}, function(data) {
                        $('img.captcha').attr('src',data.image_url);
                        $('#id_captcha_0').val(data.key);
                        $('#id_captcha_1').val('');
                    });

                    return false;
                });

                $('#signin-form_id').submit(function(e) {

                    if (!$("#signin-form_id").valid()) {
                        e.preventDefault();
                        e.stopImmediatePropagation();
                        return;
                    }
                    var $form = $(this);

                    $form.ajaxSubmit({
                        url: '{% url "user_login" %}',
                        type: "post",
                        dataType: 'json',
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (response, textStatus, jqXHR) {
                            if (response.hasOwnProperty('success') && response.success) {
                                window.location.href = '{% url "profile" %}';

                            } else {
                                var $error = $('#errors');
                                $error.show();
                                $error.html(response.message);
                                if (response.show_captcha) {
                                    $('img.captcha').attr('src',response.captcha_data.image_url);
                                    $('#id_captcha_0').val(response.captcha_data.key);
                                    $('#id_captcha_1').val('');
                                    $('.captcha-container').show();
                                }
                            }
                        }
                    });

                e.preventDefault();
                //STOP default action
                e.stopImmediatePropagation();
            });
            });

            // Resize BG
            init.push(function() {
                var $ph = $('#page-signin-bg'), $img = $ph.find('> img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height : '100%',
                            width : 'auto'
                        });
                    }
                });
            });

            // Show/Hide password reset form on click
            init.push(function() {
                $('#forgot-password-link').click(function() {
                    $('#password-reset-form').fadeIn(400);
                    return false;
                });
                $('#password-reset-form .close').click(function() {
                    $('#password-reset-form').fadeOut(400);
                    return false;
                });
            });

            // Setup Sign In form validation
            init.push(function() {
                $("#signin-form_id").validate({
                    focusInvalid : true,
                    errorPlacement : function() {
                    }
                });

                // Validate username
                $("#username_id").rules("add", {
                    required : true
                });

                // Validate password
                $("#password_id").rules("add", {
                    required : true
                });
            });

            // Setup Password Reset form validation
            init.push(function() {
                $("#password-reset-form_id").validate({
                    focusInvalid : true,
                    errorPlacement : function() {
                    }
                });

                // Validate email
                $("#p_email_id").rules("add", {
                    required : true,
                    email : true
                });
            });

            window.PixelAdmin.start(init);
        </script>
        <style>
            .error {
                color: red;
            }
        </style>

    </body>
</html>
