<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sign Up - Matchmaker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

        <!-- $DEMO =========================================================================================

        Remove this section on production
        -->
        <style>
            #signup-demo {
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 10000;
                background: rgba(0,0,0,.6);
                padding: 6px;
                border-radius: 3px;
            }
            #signup-demo img {
                cursor: pointer;
                height: 40px;
            }
            #signup-demo img:hover {
                opacity: .5;
            }
            #signup-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
            .spinner {
                margin-top: 5%;
                margin-left: 40%;
                text-align:center;
                z-index:10;
                overflow: auto;
            }

        </style>
        <!-- / $DEMO -->

    </head>

    <!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signup">

        <script>
            var init = [];
            init.push(function() {
                var $div = $('<div id="signup-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'), bgs = ['{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-2.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-3.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-4.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-5.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-6.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-7.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-8.jpg', '{{ STATIC_URL }}hassets/demo/signin-bg-9.jpg'];
                for (var i = 0, l = bgs.length; i < l; i++)
                    $div.append($('<img src="' + bgs[i] + '">'));
                $div.find('img').click(function() {
                    var img = new Image();
                    img.onload = function() {
                        $('#page-signup-bg > img').attr('src', img.src);
                        $(window).resize();
                    };
                    img.src = $(this).attr('src');
                });
                $('body').append($div);
            });
        </script>
        <!-- Demo script -->
        <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>
        <!-- / Demo script -->

        <!-- Page background -->
        <div id="page-signup-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg" alt="">
        </div>
        <!-- / Page background -->

        <!-- Container -->
        <div class="signup-container">
            <!-- Header -->
            <div class="signup-header" style="margin-top: -15px">
                <a href="/" class="logo"> <img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                Create Account </a><!-- / .logo -->
                <div class="slogan">
                    Its easy and fast.
                </div>
                <!-- / .slogan -->
            </div>
            <!-- / Header -->

            <!-- Form -->
            <div class="signup-form">
                <form action="index.html" id="signup-form_id">

                    {% csrf_token %}
                    <div class="form-group w-icon">
                        <input type="text" name="name" id="name_id" class="form-control input-lg alphaonly" placeholder="Full Name" required>
                        <span class="fa fa-info signup-form-icon"></span>
                    </div>
                    <div class="form-group errors-div" id="error-name" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>
                    {% comment%}
                    <div class="form-group w-icon">
                        <input type="text" name="username" id="username_id" class="form-control input-lg" placeholder="Name" required>
                        <span class="fa fa-user signup-form-icon"></span>
                    </div>
                    <div class="form-group errors-div" id="error-username" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>
                    {% endcomment%}

                    <div class="form-group w-icon">
                        <input type="text" name="email" id="email_id" class="form-control input-lg" placeholder="E-mail" required>
                        <span class="fa fa-envelope signup-form-icon"></span>
                    </div>
                    <div class="form-group errors-div" id="error-email" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>

                    <div class="form-group w-icon">
                        <input type="text" name="phone" id="phone_id" class="form-control input-lg" placeholder="Phone +480xxxxxxx" required>
                        <span class="fa fa-phone signup-form-icon"></span>
                    </div>
                    <div class="form-group errors-div" id="error-phone" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>
                    {% comment%}
                    <div class="form-group  " id="pwd-container">
                        <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password" required>
                        <span class=" signup-form-icon"></span>
                        <div class="" style="padding-top: 4px">
                            <div class="pwstrength_viewport_progress"></div>
                        </div>
                    </div>
                    <div class="form-group errors-div" id="error-password" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>

                    <div id="messages" ></div>

                    <div class="form-group w-icon">
                        <input type="password" name="password_confirm" id="pconfirm_id" class="form-control input-lg" placeholder="Repeat Password" required>
                        <span class="fa fa-lock signup-form-icon"></span>
                    </div>
                    <div class="form-group errors-div" id="error-password_confirm" style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>

                    <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                        <label class="select"> <span class="lbl"> <a href="#" target="_blank">Register as a</a></span>
                            <select name="vgp_type" id="" required>
                                {% for row in  vgp_type_choices %}
                                <option value="{{ row.0 }}">{{ row.1 }}</option>
                                {% endfor %}
                            </select> </label>
                    </div>
                    <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                        <label class="select"> <span class="lbl"> <a href="javascript:;" >Verify my account via </a></span>
                            <select name="activation_method" id="" required>
                                {% for row in activation_method_choices %}
                                <option value="{{ row.0 }}">{{ row.1 }}</option>
                                {% endfor %}
                            </select> </label>
                    </div>

                    <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="signup_confirm" class="px" id="confirm_id" required>
                            <span class="lbl">I agree with the <a href="#" target="_blank">Terms and Conditions</a></span> </label>
                    </div>
                    {% endcomment%}
                    <div class="form-group errors-div" id="error-signup_confirm"style="margin-top: 20px;margin-bottom: 20px;display: none">
                        <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
                    </div>

                    <div class="form-actions">
                        <input type="submit" value="SIGN UP" class="signup-btn bg-primary" id="signupBtn">
                    </div>
                    <div id="spinner" class="spinner" style="display:none;">
                        <img id="img-spinner" src="http://www.coastalcarolinabsa.org/images/dk_loading_gray.gif" alt="Loading" width="15%"/>Please wait
                    </div>

                </form>
                <!-- / Form -->

                <!-- "Sign In with" block -->

                <!-- / "Sign In with" block -->
            </div>
            <!-- Right side -->
        </div>

        <div class="have-account">
            Already have an account? <a href="/login/">Sign In</a>
        </div>

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->

        <!-- Pixel Admin's javascripts -->
        <script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>

        <script type="text/javascript">

            // Resize BG
            init.push(function() {
                var $ph = $('#page-signup-bg'), $img = $ph.find('> img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height : '100%',
                            width : 'auto'
                        });
                    }
                });

                $("#signup-form_id").validate({
                    focusInvalid : true,
                    errorPlacement : function() {
                    }
                });

                // Validate name
                $("#name_id").rules("add", {
                    required : true,
                    minlength : 3
                });

                // Validate email
                $("#email_id").rules("add", {
                    required : true,
                    email : true
                });

                // Validate username
                $("#username_id").rules("add", {
                    required : true,
                    minlength : 3
                });

                // Validate password
                $("#password_id").rules("add", {
                    required : true,
                    minlength : 6
                });

                // Validate confirm checkbox
                $("#confirm_id").rules("add", {
                    required : true
                });
                $("#pconfirm_id").rules("add", {
                    required : true
                });
            });

        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/pwstrength.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/zxcvbn-async.js"></script>
        <script src="{{ STATIC_URL }}js/libs/ajaxsubmit.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {"use strict";
                var options = {};
                options.ui = {
                    container : "#signup-form",
                    showVerdictsInsideProgressBar : true,
                    showErrors : true,
                    viewports : {
                        progress : ".pwstrength_viewport_progress",
                        errors : "#messages"
                    }
                };
                options.common = {
                    usernameField : "#username_id",
                    zxcvbn : true,
                    debug : true,
                    onLoad : function() {
                        $('#messages').text('');
                    }
                };
                $('#password_id').pwstrength(options);

                $('#signup-form_id').submit(function(e) {
                    $("#signupBtn").val('Please wait.....');
                    // $("#signupBtn").prop('disabled', true);
                    //document.getElementById("signupBtn").disabled=true;
                    $('#signupBtn').attr('disabled','disabled');
                    $('#signupBtn').css({"background":"#444 !important"});
                    var formURL = '/register/';
                    $(this).ajaxSubmit({
                        url : formURL,
                        type : "POST",
                        dataType : 'html',
                        async : false,
                        cache : false,
                        contentType : false,
                        processData : false,
                        success : function(response, textStatus, jqXHR) {
                            console.log(response);
                            $("#signupBtn").val("SIGN UP")
                            //document.getElementById("signupBtn").disabled=false;
                            $('#signupBtn').removeAttr('disabled');
                             $('#spinner').hide();
                            $('.errors-div').hide();
                            var data = response;
                            if (data['success']) {
                                window.location.href = '/registration-successful/';
                            } else {
                                $.each(data['message'], function (key, value) {
                                  $('#error-'+key).show();
                                  $('#error-'+key+' .error').html(value);
                                });
                            }

                        },
                        error : function(jqXHR, textStatus, errorThrown) {
                            $("#signupBtn").val("SIGN UP")
                        }
                    });

                    e.preventDefault();
                    //STOP default action
                    e.stopImmediatePropagation();

                });
            });
        </script>
    <script type="text/javascript">
$('.alphaonly').bind('keyup blur',function(){
    $(this).val( $(this).val().replace(/[^aA-zZ]/g,' ') ); }
);
</script>
    </body>
</html>
