<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Registration Success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

    </head>

    <!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signin-alt">
        <!-- Demo script -->
        <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>
        <!-- / Demo script -->

        <!-- 2. $MAIN_NAVIGATION ===========================================================================

        Main navigation
        -->
        <div class="signin-header">
            <a href="javascript:;" class="logo">
            <div class="demo-logo bg-primary"><img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -4px;">
            </div>&nbsp; <strong>Matchmaker</strong> Software </a><!-- / .logo -->
            <a href="javascript:;" class="btn btn-primary">Welcome {{ request.user.username }}</a>
        </div>
        <!-- / .header -->

        <h1 class="form-header">Registration Successful. Next step is to verify your account</h1>

        <!-- Form -->
        <form action="/verify-code/{{ request.user.id }}/" id="phone-form" class="panel" method="POST" name="phone">
            <h2 class="form-header">Please enter the code you received in sms or email</h2>

            <div class="form-group">
                <input type="text" name="code" id="code" class="form-control input-lg" placeholder="Code" required="">
            </div>
            <div class="form-group errors-div" style="margin-top: 20px;margin-bottom: 20px;display: none">
                <label class="checkbox-inline"> <span class="lbl error" style="color: red"></span> </label>
            </div>
            <!-- / Username -->
            {% csrf_token %}

            <div class="form-actions">
                <input type="submit" value="Verify" class="btn btn-primary btn-block btn-lg">
            </div>
            <!-- / .form-actions -->
        </form>
        <!-- / Form -->

        <div class="signin-with">
            <div class="header">
                or check your email for a verification link
            </div>

            Register&nbsp;<a href="#" class="btn btn-lg btn-primary rounded"> <i class="fa fa-check"></i></a>&nbsp;&nbsp;
            Verify Account&nbsp;&nbsp;<a href="#" class="btn btn-lg btn-primary rounded"><i class="fa fa-angle-double-right"></i></a>&nbsp;&nbsp;

        </div>

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->

        <!-- Pixel Admin's javascripts -->
        <script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js"></script>
        <script src="{{ STATIC_URL }}js/libs/ajaxsubmit.js"></script>

        <script type="text/javascript">
            window.PixelAdmin.start([
            function() {
                $("#signin-form_id").validate({
                    focusInvalid : true,
                    errorPlacement : function() {
                    }
                });

                // Validate username
                $("#code").rules("add", {
                    required : true,
                    minlength : 4
                });

            }]);
            jQuery(document).ready(function() {"use strict";
                var $form = $('#phone-form');
                $form.validate();
                $form.submit(function(e) {
                    $(this).ajaxSubmit({
                        url : '/verify-code/',
                        type : "POST",
                        dataType : 'json',
                        async : false,
                        cache : false,
                        contentType : false,
                        processData : false,
                        success : function(data, textStatus, jqXHR) {
                            $('.errors-div').hide();

                            if (data.success) {
                                window.location.href = '/register-type/';
                            } else {
                                $('.errors-div').show();
                                $('.errors-div .error').html(data.message);
                            }
                        },
                        error : function(jqXHR, textStatus, errorThrown) {
                        }
                    });

                    e.preventDefault();
                    //STOP default action
                    e.stopImmediatePropagation();

                });
            });
        </script>

    </body>
</html>
