/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}
.navbar-inverse {
	background: #ffffff;
	border-color: #ffffff;
}

.navbar-inverse .container{
	padding: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4e4e4e;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #4e4e4e;
    background-color: #f6f6f6;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #858585;
}

.register{
	color: #42a2e0;
	border: 2px solid #42a2e0;
}

.register a{
	color: #42a2e0 !important;
}

.jumbotron{
	background: url("../images/showcase-bg.jpg") #323232;
	background-size:cover;
	background-position: center top;
	color: #ffffff;
	padding-bottom:0;
}

.showcase-register{
	border: 4px solid #42a2e0;
	color: #42a2e0;
	padding: 10px 20px;
}

.features{
	color: #ffffff;
	background: #42a2e0;
padding: 10px;
margin-top: -30px;
}

.features-button{
	color: #42a2e0;
	background: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
}

.our-features{
	padding-top:56px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.testimonials {
    background: #303030;
    padding-top: 10px;
    padding-bottom: 40px;
	color: #ffffff;
}

.user-comment-right {
    padding-right: 40px;
    background-image: url("../images/testimonial.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 1px;
}

.user-comment-left {
    padding-left: 40px;
    padding-top: 1px;
    background-image: url("../images/testimonial.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.signup-orange{
	font-size: 20px;
	background: #42a2e0;
	color: #ffffff;
	padding: 10px 20px;
}

.signup-orange:hover, .signup-orange:active, .signup-orange:focus{
	background: #60bdf9;
	color: #ffffff;
	text-decoration:none;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

ul.green-checked li {
    list-style-image: url("../images/checked.png");
    margin-left: -10px;
}

.our-features h3{
	color: #42a2e0;
}

.navbar-inverse .navbar-toggle{
	background: #42a2e0;
	border: 1px solid #42a2e0;
	border-radius: 0;
}