<form novalidate="novalidate" autocomplete="off" id="form-profile" method="POST" enctype="multipart/form-data" name="profile-form">
{% csrf_token %}
{# form.media #}


{#{% for hidden in form.hidden_fields %}#}
{#    {{ hidden }}#}
{#{% endfor %}#}
<div id="naicsSelected" data-url="{% url 'get_naics' %}">
    {{ form.naics }}
</div>
<div id="pscSelected" data-url="{% url 'get_psc' %}">
    {{ form.psc_fsc }}
</div>

<!-- START ROW -->
<div class="row">
    <div class="col-md-12">
        <div role="content">
            <div class="widget-body">
                <div class="panel-group smart-accordion-default"
                     id="govUserAccordion">
                    <div class="panel-default panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse"
                                                       data-parent="#govUserAccordion"
                                                       href="#collapse1">
                                Personal Information</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body no-padding">
                            <!-- widget div-->
                            <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body smart-form">

                            <fieldset>

                                <div class="row form-group {% if form.username.errors %}has-error{% endif %} {% if form.username.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.username.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            {{ form.username }}
                                        </label>
                                        {% if form.username.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.username.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                </div>

                                <div class="row form-group {% if form.change_password.errors %}has-error{% endif %} {% if form.change_password.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.change_password.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            {{ form.change_password }}
                                        </label>
                                        {% if form.change_password.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.change_password.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                        <p class="help-block">Password must be at least 8 characters.</p>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.confirm_password.errors %}has-error{% endif %} {% if form.confirm_password.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.confirm_password.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            {{ form.confirm_password }}
                                        </label>
                                        {% if form.confirm_password.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.confirm_password.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                </div>

                                <div class="row form-group {% if form.picture.errors %}has-error{% endif %} {% if form.picture.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.picture.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        {% if profile.picture %}
                                            <a href="{{ profile.get_picture_thumbnail_url }}" target="_blank">
                                                <img src="{{ profile.get_picture_thumbnail_url }}" style="float: right;" />
                                            </a>
                                        {% endif %}
                                    </section>
                                </div>

                                <div class="row form-group {% if form.picture.errors %}has-error{% endif %}">
                                    <section class="col col-11" style="width: 91.66%;">
                                        <div class="input input-file">
                                            <span class="button"><input type="file" name="picture" id="id_picture" onchange="$(this).parent().next().val($(this).val().split('\\').pop());">Choose Photo</span>
                                            <input type="text" value="{% if profile.picture %}{{ profile.picture_file_name }}{% endif %}" placeholder="" readonly="">
                                        </div>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-md-11"></section>
                                    <section class="col col-md-1">Is private &darr;</section>
                                </div>

                                <div class="row form-group {% if form.salutation.errors %}has-error{% endif %} {% if form.salutation.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.salutation.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            {{ form.salutation }}
                                        </label>
                                        {% if form.salutation.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.salutation.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_salutation }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.first_name.errors %}has-error{% endif %} {% if form.first_name.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.first_name.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            {{ form.first_name }}
                                        </label>
                                        {% if form.first_name.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.first_name.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_first_name }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.last_name.errors %}has-error{% endif %} {% if form.last_name.field.required %}required{% endif %}">
                                    <section class="col col-5">
                                        {{ form.last_name.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            {{ form.last_name }}
                                        </label>
                                        {% if form.last_name.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.last_name.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_last_name }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.preffered_name.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.preffered_name.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            {{ form.preffered_name }}
                                        </label>
                                        {% if form.preffered_name.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.preffered_name.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_preffered_name }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                            </fieldset>

                            <fieldset>
                            <legend>Personal Details</legend>

                            <div class="row">
                                <section class="col col-5">
                                    {{ form.bio.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="textarea">
                                        {{ form.bio }}
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_bio }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-5">
                                    {{ form.responsibilities.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="textarea">
                                        {{ form.responsibilities }}
                                    </label>
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_responsibilities }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.email.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.email.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope-o"></i>
                                        <input type="email" placeholder="{{ form.email.label }}"
                                               value="{{ form.email.value }}" name="email" id="{{ form.email.auto_id }}">
                                    </label>
                                    {% if form.email.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.email.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_email }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.phone.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.phone.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-phone"></i>
                                        <input type="tel" placeholder="{{ form.phone.label }}" value="{{ form.phone.value }}" name="phone" id="{{ form.phone.auto_id }}">
                                    </label>
                                    {% if form.phone.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.phone.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_phone }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.street.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.street.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-location-arrow"></i>
                                        {{ form.street }}
                                    </label>
                                    {% if form.street.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.street.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_street }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.zip.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.zip.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-location-arrow"></i>
                                        {{ form.zip }}
                                    </label>
                                    {% if form.zip.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.zip.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_zip }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.country.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.country.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="select">
                                        {{ form.country }}
                                        <i></i>
                                    </label>
                                    {% if form.country.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.country.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_country }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.region.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.region.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="select">
                                        {{ form.region }}
                                        <i></i>
                                    </label>
                                    {% if form.region.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.region.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_region }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.city.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.city.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="select">
                                        {{ form.city }}
                                        <i></i>
                                    </label>
                                    {% if form.city.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.city.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_city }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            <div class="row form-group {% if form.linkedin_url.errors %}has-error{% endif %}">
                                <section class="col col-5">
                                    {{ form.linkedin_url.label_tag }}
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-linkedin"></i>
                                        {{ form.linkedin_url }}
                                    </label>
                                    {% if form.linkedin_url.errors %}
                                        <span class="help-block">
                                                                    {% for error in form.linkedin_url.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                    {% endif %}
                                </section>
                                <section class="col col-1">
                                    <label class="checkbox">
                                        {{ form.is_private_linkedin_url }}
                                        <i></i>
                                    </label>
                                </section>
                            </div>

                            {% if form.facebook_url %}
                                <div class="row form-group {% if form.facebook_url.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.facebook_url.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-facebook"></i>
                                            {{ form.facebook_url }}
                                        </label>
                                        {% if form.facebook_url.errors %}
                                            <span class="help-block">
                                                                        {% for error in form.facebook_url.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_facebook_url }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>
                            {% endif %}

                            {% if form.twitter_url %}
                                <div class="row form-group {% if form.twitter_url.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.twitter_url.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-twitter"></i>
                                            {{ form.twitter_url }}
                                        </label>
                                        {% if form.twitter_url.errors %}
                                            <span class="help-block">
                                                                        {% for error in form.twitter_url.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_twitter_url }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>
                            {% endif %}

                            {% if form.website_url %}
                                <div class="row form-group {% if form.website_url.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.website_url.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-globe"></i>
                                            {{ form.website_url }}
                                        </label>
                                        {% if form.website_url.errors %}
                                            <span class="help-block">
                                                                        {% for error in form.website_url.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_website_url }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>
                            {% endif %}

                            {% if form.agenda_email %}
                                <div class="row form-group {% if form.agenda_email.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.agenda_email.label_tag }}
                                    </section>
                                    <section class="col col-2">
                                        <label class="checkbox">
                                            {{ form.agenda_email }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>
                            {% endif %}

                            </fieldset>


                            </div>
                            <!-- end widget content -->

                            </div>
                            <!-- end widget div -->
                            </div>
                        </div>
                    </div>
                    <div class="panel-default panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse"
                                                       data-parent="#govUserAccordion"
                                                       href="#collapse2">Role and status
                                </a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body no-padding">

                            <!-- widget div-->
                            <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body smart-form">

                            {% include 'company/include/products-widget-html.html' with app='users' model='user' %}

                            <fieldset>

                                <div class="row">
                                    <section class="col col-6"></section>
                                    <section class="col col-6 text-right">Is private &darr;</section>
                                </div>


                                {% if form.gov_department %}
                                    <div class="row form-group {% if form.gov_department.errors %}has-error{% endif %} {% if form.gov_department.field.required %}required{% endif %}">
                                        <section class="col col-5">
                                            {{ form.gov_department.label_tag }}
                                        </section>
                                        <section class="col col-6">
                                            <label class="select">
                                                {{ form.gov_department }}
                                                <i></i>
                                            </label>
                                            {% if form.gov_department.errors %}
                                                <span class="help-block">
                                                                        {% for error in form.gov_department.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                            {% endif %}
                                        </section>
                                    </div>
                                {% endif %}

                                {% if form.role %}
                                    <div class="row form-group {% if form.role.errors %}has-error{% endif %} {% if form.role.field.required %}required{% endif %}">
                                        <section class="col col-5">
                                            {{ form.role.label_tag }}
                                        </section>
                                        <section class="col col-6">
                                            <label class="select">
                                                {{ form.role }}
                                                <i></i>
                                            </label>
                                            {% if form.role.errors %}
                                                <span class="help-block">
                                                                        {% for error in form.role.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                            {% endif %}
                                        </section>
                                        <section class="col col-1">
                                            <label class="checkbox">
                                                {{ form.is_private_role }}
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                {% endif %}

                                {% if form.duns %}
                                    <div class="row form-group {% if form.duns.errors %}has-error{% endif %} {% if form.duns.field.required %}required{% endif %}">
                                        <section class="col col-5">
                                            {{ form.duns.label_tag }}
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                {{ form.duns }}
                                            </label>
                                            {% if form.duns.errors %}
                                                <span class="help-block">
                                                                        {% for error in form.duns.errors %}
                                                                            {{ error }}<br />
                                                                        {% endfor %}
                                                                    </span>
                                            {% endif %}
                                        </section>
                                        <section class="col col-1">
                                            <label class="checkbox">
                                                {{ form.is_private_duns }}
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                {% endif %}

                            </fieldset>

                            <fieldset>
                                <legend>Individual Certifications</legend>
                                {% include 'profile/cert-widget.html' with model='IndividualCert' app='users' %}
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-md-11"></section>
                                    <section class="col col-md-1">Is private &darr;</section>
                                </div>

                                <div class="row form-group {% if form.market_segment.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.market_segment.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="select">
                                            {{ form.market_segment }}
                                            <i></i>
                                        </label>
                                        {% if form.market_segment.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.market_segment.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_market_segment }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.years_of_exp.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.years_of_exp.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-append fa fa-"></i>
                                            <input type="number" placeholder="Years Of Experience" value="{{ form.years_of_exp.value }}" name="years_of_exp" id="{{ form.years_of_exp.auto_id }}">
                                        </label>
                                        {% if form.years_of_exp.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.years_of_exp.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_years_of_exp }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group {% if form.veteran_status.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.veteran_status.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="checkbox">
                                            {{ form.veteran_status }}
                                            <i></i>
                                        </label>
                                        {% if form.veteran_status.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.veteran_status.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_veteran_status }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>


                                <div class="row form-group {% if form.veteran_type.errors %}has-error{% endif %}">
                                    <section class="col col-5">
                                        {{ form.veteran_type.label_tag }}
                                    </section>
                                    <section class="col col-6">
                                        <label class="select">
                                            {{ form.veteran_type }}
                                            <i></i>
                                        </label>
                                        {% if form.veteran_type.errors %}
                                            <span class="help-block">
                                                                    {% for error in form.veteran_type.errors %}
                                                                        {{ error }}<br />
                                                                    {% endfor %}
                                                                </span>
                                        {% endif %}
                                    </section>
                                    <section class="col col-1">
                                        <label class="checkbox">
                                            {{ form.is_private_veteran_type }}
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                            </fieldset>




                            </div>

                            </div><!-- end widget content -->

                            </div>
                        </div>
                    </div>
                    <div class="panel-default panel">
                        <div class="smart-form">
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- NEW COL START -->

</div><!-- END ROW -->

</form>
