


<div class="modal fade" id="{{ user.user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-activities-width" style="width: 1000px; position: absolute; margin-left: -200px">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>

      <div class="modal-body">
        <!-- row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        {% if user.user.picture %}
                                            <img src="{{ user.user.get_picture_thumbnail_url }}">
                                        {% else %}
                                            <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width: 150px">
                                        {% endif %}
                                        <h1>
                                            {% if not user.user.is_private_salutation and user.user.salutation %}{{ user.user.salutation }}{% endif %}
                                            {% if user.user.preffered_name and not user.user.is_private_preffered_name %}
                                                {{ user.user.preffered_name }}
                                            {% elif user.user.first_name and not user.user.is_private_first_name or user.user.last_name and not user.user.is_private_last_name %}
                                                {% if not user.user.is_private_first_name %}{{ user.user.first_name|capfirst }}{% endif %}
                                                {% if not user.user.is_private_last_name %}<span class="semi-bold">{{ user.user.last_name|capfirst }}</span>{% endif %}
                                            {% else %}
                                                {{ user.user.username|capfirst }}
                                            {% endif %}
                                            <br />
                                            <small>
                                                {% if not user.user.is_private_role and user.user.role %}{{ user.user.role }},{% endif %}
                                                {{ user.user.company }}
                                            </small>
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-8">

                                {% if user.user.company.youtube_video %}
                                    <iframe style="border: 0; width: 100%; height: 315px;" src="https://www.youtube.com/embed/{{ user.user.company.youtube_video_id }}?autoplay=0&autohide=1&border=0&wmode=opaque&enablejsapi=1"></iframe>
                                {% endif %}

                            </div>

                        </div>


                        <div class="row">
                            <br />

                            <div class="col-sm-4 ">

                                <div class="well padding-10">
                                    <p>Personal Details</p>
                                    <hr class="simple">
                                    <dl class="padding-10">
                                        {% if not user.user.is_private_bio and user.user.bio %}
                                            <dt>Bio</dt>
                                            <dd>{{ user.user.bio }}</dd>
                                        {% endif %}

                                        {% if not user.user.is_private_responsibilities and user.user.responsibilities %}
                                            <dt>Responsibilities</dt>
                                            <dd>{{ user.user.responsibilities }}</dd>
                                        {% endif %}
                                        {% if not user.user.is_private_market_segment and user.user.market_segment %}
                                            <dt>Market Segment</dt>
                                            <dd>{{ user.user.market_segment }}</dd>
                                        {% endif %}
                                        {% if not user.user.is_private_years_of_exp and user.user.years_of_exp %}
                                            <dt>Years Of Experience</dt>
                                            <dd>{{ user.user.years_of_exp }}</dd>
                                        {% endif %}

                                        {% if not user.user.is_private_veteran_status and user.user.veteran_status %}
                                            <dt>Veteran Status</dt>
                                            <dd>Yes</dd>
                                        {% endif %}
                                        {% if not user.user.is_private_veteran_type and user.user.veteran_type %}
                                            <dt>Veteran Type</dt>
                                            <dd>{{ user.user.veteran_type }}</dd>
                                        {% endif %}
                                    </dl>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="well padding-10">
                                    <p>Address</p>
                                    <hr class="simple">

                                    <ul class="list-unstyled padding-10">
                                        {% if not user.user.is_private_street and user.user.street %}
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-location-arrow"></i><span>{{ user.user.street }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_zip and user.user.zip %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-location-arrow"></i><span>{{ user.user.zip }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_city and user.user.city %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-location-arrow"></i><span>{{ user.user.city }}</span>
                                                </p>
                                            </li>
                                        {% elif not user.user.is_private_region and user.user.region %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-location-arrow"></i><span>{{ user.user.region }}</span>
                                                </p>
                                            </li>
                                        {% elif not user.user.is_private_country and user.user.country %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-location-arrow"></i><span>{{ user.user.country }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>

                                    <p>Individual Certifications</p>
                                    <hr class="simple">
                                    <ul class="list-unstyled padding-10">
                                        {% for cert in user.user.individualcert_set.all %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-file"></i>
                                                   <span>
                                                       {{ cert.date_obtained }} - {{ cert.certification_name }} -
                                                       {% if cert.document %}<a href='{{ cert.document.url }}' title="certificate" target="_blank" download="{{ cert.file_name }}">{{ cert.file_name }}</a>{% endif %}
                                                   </span>
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <p>Products</p>
                                    <hr class="simple">
                                    <ul class="list-unstyled padding-10">
                                        {% for prod in user.user.naics.all %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-shopping-cart "></i><span>(NAICS) {{ prod.code }} - {{ prod.about }}</span>
                                                </p>
                                            </li>
                                        {% endfor %}
                                        {% for prod in user.user.psc_fsc.all %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-shopping-cart "></i><span>(PSC) {{ prod.code }} - {{ prod.about }}</span>
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="well padding-10">
                                    <p>Contact information</p>
                                    <hr class="simple">
                                    <ul class="list-unstyled padding-10">

                                        {% if not user.user.is_private_email and user.user.email %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-envelope"></i><span>{{ user.user.email }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_phone and user.user.phone %}
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-phone"></i><span>{{ user.user.phone }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>

                                    <p>Websites</p>
                                    <hr class="simple">
                                    <ul class="list-unstyled padding-10">
                                        {% if not user.user.is_private_website_url and user.user.website_url %}
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-link"></i><span>{{ user.user.website_url }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_linkedin_url and user.user.linkedin_url %}
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-linkedin"></i><span>{{ user.user.linkedin_url }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_facebook_url and user.user.facebook_url %}
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-facebook"></i><span>{{ user.user.facebook_url }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if not user.user.is_private_twitter_url and user.user.twitter_url %}
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-twitter"></i><span>{{ user.user.twitter_url }}</span>
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            <!-- end row -->
          </div>
      


      </div>
    </div>
  </div>
</div>
<!-- END Modal -->