{% extends 'admin_base.html' %}


{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}

{% block content %}
<div id="content">
            <!-- row -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="well well-sm">
                     <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                           <div class="well well-light well-sm no-margin no-padding">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="row">
                                       <div class="col-sm-2 ">

                                       </div>
                                       <div class="col-sm-8">

                                          <h1> <strong>Add a business certification for your comapny</strong> </h1>




                                        {% crispy form %}




                                               <ul class="list-unstyled">
                                              <li>
                                                  &nbsp;&nbsp;<button class="btn btn-primary btn-xs">
                                                  <i class="fa fa-forward"></i> &nbsp;&nbsp; Continue </button>

                                              </li>

                                          </ul>


                                          <br>
                                          <br/>
                                       </div>

                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

            <!-- end row -->
         </div>

{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}