{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
<div id="content">
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.min.js"></script>
<script type="text/javascript" src="/static/redactor/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js?v=2"></script>
<script type="text/javascript" src="/static/select2/js/select2.js"></script>
            <!-- row -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="well well-sm">
                     <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                           <div class="well well-light well-sm no-margin no-padding">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="row">
                                       <div class="col-sm-2 ">

                                       </div>
                                       <div class="col-sm-8">

                                          <h1> <strong>Search and select your organisation</strong> </h1>
                                           {% if error %}
                                           <div class="alert alert-danger fade in col-sm-8">
								<button data-dismiss="alert" class="close">
									×
								</button>
								<i class="fa-fw fa fa-times"></i>
								<strong>Error!</strong> Please Choose a company to proceed, or if your company is not found,
                                               <a href="/company-profile/">add it here</a>
							</div>
                                           {% endif %}

                                           <form action="" method="post">
                                          <ul class="list-unstyled">
                                             <li>
                                                <p class="text-muted">

                                                    <select name="company" id="id_company" class="select2">
                                                        <option value=""></option>
                                                        {% for i in form %}
                                                        <option value="{{ i.id }}">{{ i.name }}</option>

                                                        
                                                         {% endfor %}

                                                    </select>
                                                    {% csrf_token %}
                                                </p>
                                             </li>
                                              <li>
                                                  &nbsp;&nbsp;<button class="btn btn-primary btn-xs">
                                                  <i class="fa fa-forward"></i> &nbsp;&nbsp; Continue </button>

                                              </li>

                                          </ul>
                                               </form>
                                          <br>
                                          <br/>
                                       </div>

                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

            <!-- end row -->
         </div>

{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}