{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}
<div id="content">


				<!-- row -->



                <div class="row">

                    <div class="col-sm-12">


							<div class="well well-sm">


								<div class="row">

                                    {% for user in following %}
                                        <div class="col-sm-12 col-md-12 col-lg-4">
										<div class="well well-light well-sm no-margin no-padding">

											<div class="row">



												<div class="col-sm-12">

													<div class="row">

														<div class="col-sm-4 ">

                                                            <a href="/user/{{ user.user.username  }}/"><img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width:80px"></a>

														</div>
														<div class="col-sm-8">

															<h1><span class="semi-bold">
                                                                {{user.user.first_name|capfirst }}
                                                                {{user.user.last_name|capfirst }}</span>
															<br>
															<small> <strong>{{ user.user.role|capfirst}},</strong>
                                                                <br/>
                                                                <span title="{{ user.user.company }}">
                                                                    {{ user.user.company|truncatechars:26 }}
                                                                </span></small></h1>


														</div>
                                                         <div class="col-sm-12" >
                                                                <br>

															&nbsp;&nbsp;<a href="javascript:void(0);" class="btn btn-primary btn-xs"
                                                                           style="padding-left:5px">
                                                                <i class="fa fa-check-circle-o"></i> Connected</a>
                                                             <a href="javascript:void(0);" class="btn btn-success btn-xs pull-right"
                                                                style="margin-right:10px">
                                                                <i class="fa fa-check-circle"></i>
                                                                 {{ user.match }}%</a>&nbsp;&nbsp;

                                                                {% if user.user.vgp_type == '1' %}
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-warning btn-xs pull-right"
                                                                   style="margin-right:10px">

                                                                <i class="fa fa-flag-o"></i> Gov</a>&nbsp;&nbsp;
                                                             {% endif %}

															<br>
															<br>
                                                            </div>


													</div>

												</div>

											</div>


											<!-- end row -->

										</div>

									</div>


                                    {% endfor %}





								</div>

							</div>


					</div>



					</div>

				<!-- end row -->

			</div
                    >
{% endblock content %}
{% block page_js %}
    <script>
$(document).ready(function() { $("#id_company").select2({
placeholder: "Select your Company"

}); });
</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}