<form action="/connections/" method="post">

                             {% csrf_token %}
<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title text-success" id="myModalLabel">Add
                                    {{ frd.first_name|capfirst }} {{ frd.last_name|capfirst }} as contact
                                </h4>
							</div>
							<div class="modal-body">


								<div class="row">
                                    <div class="alert alert-block alert-success">
                                        <a href="#" data-dismiss="alert" class="close">×</a>
                                        <h4 >
                                        {{ frd.role }}  {{ frd.company }} ! </h4>
                                        <p>

                                        If you wish you can send {{ frd.first_name|capfirst }}
                                        {{ frd.last_name|capfirst }} an introductory email or SMS (optional)
                                        </p>
                                    </div>

									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Subject"
                                                   value="Hello  {{ frd.first_name|capfirst }}" required />
										</div>
										<div class="form-group">
											<textarea class="form-control" placeholder="I want to add you as a contact"
                                                    rows="5" ></textarea>
										</div>
									</div>
								</div>



							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="submit" class="btn btn-primary">
									Connect
								</button>
							</div>
    </form>