{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}



<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.min.js"></script>
<script type="text/javascript" src="/static/redactor/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js?v=2"></script>
<script type="text/javascript" src="/static/select2/js/select2.js?v=1"></script>

 <div id="content">

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	<a href="#" data-dismiss="alert" class="close">×</a>
	<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Please update personal profile</h4>
	<p>
		Remember you can always choose what to share using the privacy settings
	</p>
</div>
								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


            <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2> Add fields to users profile Profile </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" class="smart-form" id="order-form" method="POST" action="/update-my-profile/">


							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-info-circle"></i>
											<input type="text" placeholder="Field Name"
                                                   name="name">
										</label>
									</section>
                                    <section class="col col-6">
										<label class="select">
											<select name="type">
												<option disabled="" selected="" value="0">Field Type</option>
												<option value="1">TEXTFIELD</option>
												<option value="2">TEXTAREA</option>
												<option value="3">SELECT</option>
                                                <option value="3">NUMBER</option>
                                                <option value="3">SELECT MULTIPLE</option>
                                                <option value="3">RADIO</option>
											</select> <i></i> </label>
									</section>

								</div>



							</fieldset>

                            <fieldset>




                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i>Required</label>

								</section>



							</fieldset>

							<footer>
								<button class="btn btn-primary" type="submit">
									Save Profile
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-lock"></i> </span>
					 <h2> Preview</h2>

				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form" id="smart-form-register" novalidate="novalidate" method="post" action="/update-privacy/">
							<header>
								Anything checked  as Private will be visible only to you
							</header>

							<fieldset>
                                {% csrf_token %}


                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Email Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Phone Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Title Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Gender Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Facebook name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Twitter name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make LinkedIn name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make  Google plus name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make website Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make NAICS SIC codes Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Address  Private</label>

								</section>
                                {% for qs in  qs %}
                                    {% if qs.question_type == 'select-multiple' %}
                                       <section>
									<label class="input"> <i class="icon-append fa fa-location-arrow "></i>
										<input type="text" placeholder="Your Address" name="myaddress">
										<b class="tooltip tooltip-bottom-right">qs.name </b> </label>
								</section>

                                        {% else %}





                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> {{ qs.name }} {{ qs.question_type }}</label>
                                    <br/>

								</section>
                                    {% endif %}
                                {% endfor %}






							</fieldset>


							<footer>
								<button class="btn btn-primary" type="submit">
									Save Settings
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>

{% endblock content %}
{% block page_js %}


    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}