{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}



<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.min.js"></script>
<script type="text/javascript" src="/static/redactor/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js?v=2"></script>
<script type="text/javascript" src="/static/select2/js/select2.js?v=1"></script>

 <div id="content">

				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
                            <div class="alert alert-block alert-success">
	<a href="#" data-dismiss="alert" class="close">×</a>
	<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Please update personal profile</h4>
	<p>
		Remember you can always choose what to share using the privacy settings
	</p>
</div>
								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


            <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>{{ request.user.username }} Personal Profile </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" class="smart-form" id="order-form" method="POST" action="/update-my-profile/">


							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" placeholder="First Name"
                                                   value="{{ profile.user.first_name }}" name="first_name">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" placeholder="Last Name"
                                                   value="{{ profile.user.last_name }}" name="last_name">
										</label>
									</section>
								</div>

								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-envelope-o"></i>
											<input type="email" placeholder="E-mail"
                                                   value="{{ profile.user.email }}" name="email">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-phone"></i>
											<input type="tel" data-mask="(999) 999-9999" placeholder="Phone"
                                                   value="{{ profile.phone  }}" name="phone">
										</label>
									</section>
								</div>
                                <div class="row">
                                    <section class="col col-6">
										<label class="input"> <i class="icon-append fa  fa-bookmark  "></i>
											<input type="text" placeholder="Designation or Title"
                                                   value="{{ profile.designation }}" name="title">
										</label>
									</section>
									<section class="col col-6">
										<label class="select">
											<select name="gender">
												<option disabled="" selected="" value="0">Gender</option>
												<option value="1">Male</option>
												<option value="2">Female</option>
												<option value="3">Prefer not to answer</option>
											</select> <i></i> </label>
									</section>

								</div>

                                <div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-twitter"></i>
											<input type="text" placeholder="Twitter Username" name="twitter">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-facebook"></i>
											<input type="text" placeholder="Facebook Username" name="facebook">
										</label>
									</section>
								</div>
                                <div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-linkedin"></i>
											<input type="text" placeholder="LinkedIn Username" name="linkedin">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-google-plus"></i>
											<input type="text" placeholder="Google + Username" name="googleplus">
										</label>
									</section>
								</div>







								<section>
									<div class="input input-file ">
										<span class="button"><input type="file" onchange="this.parentNode.nextSibling.value = this.value" name="file2" id="file2">Choose Photo</span><input type="text" readonly="" placeholder="Upload a profile photo">
									</div>
								</section>


							</fieldset>
                            <fieldset>
                                <div class="row">
									<section class="col col-6">
										<label class="select">
											Choose Your Company  </label>
									</section>
                                    <section class="col col-6">
										<label class="select">
											Your Department
                                        <b class="tooltip tooltip-bottom-right">Your Department or subsidiary</b>
                                        </label>
									</section>

								</div>
                                <div class="row">
									<section class="col col-6">
										<label class="select">
											{{ form.company }} <i></i> </label>
									</section>
                                    <section class="col col-6">
										<label class="select">
											{{ form.department }} <i></i>
                                        <b class="tooltip tooltip-bottom-right">Your Department or subsidiary</b>
                                        </label>
									</section>

								</div>
								<section>
									<label class="input"> <i class="icon-append fa fa-location-arrow "></i>
										<input type="text" placeholder="Your Address" name="myaddress">
										<b class="tooltip tooltip-bottom-right">Your Address </b> </label>
								</section>



							</fieldset>


							<fieldset>





							</fieldset>
                            <fieldset>




                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i>I want to receive news of new events of interest</label>

								</section>



							</fieldset>

							<footer>
								<button class="btn btn-primary" type="submit">
									Save Profile
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-lock"></i> </span>
					 <h2> Privacy Settings</h2>

				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form" id="smart-form-register" novalidate="novalidate" method="post" action="/update-privacy/">
							<header>
								Anything checked  as Private will be visible only to you
							</header>

							<fieldset>
                                {% csrf_token %}


                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Email Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Phone Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Title Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Gender Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Facebook name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Twitter name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make LinkedIn name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make  Google plus name Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make website Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make NAICS SIC codes Private</label>

								</section>
                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> Make Address  Private</label>

								</section>
                                {% for qs in  qs %}
                                    {% if qs.question_type == 'select-multiple' %}
                                       <section>
									<label class="input"> <i class="icon-append fa fa-location-arrow "></i>
										<input type="text" placeholder="Your Address" name="myaddress">
										<b class="tooltip tooltip-bottom-right">qs.name </b> </label>
								</section>

                                        {% else %}





                                <section>
									<label class="checkbox">
										<input type="checkbox" id="subscription" name="subscription">
										<i></i> {{ qs.name }} {{ qs.question_type }}</label>
                                    <br/>

								</section>
                                    {% endif %}
                                {% endfor %}






							</fieldset>


							<footer>
								<button class="btn btn-primary" type="submit">
									Save Settings
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>

{% endblock content %}
{% block page_js %}


    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:500px;
}
        </style>
{% endblock page_js %}