{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block content %}

<div id="content">
    {{ form.media }}
    <!-- row -->
    <div class="row " >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <section class="" id="widget-grid">
                    <!-- START ROW -->
                        <div class="row">
                            <!-- NEW COL START -->
                            <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
                                <div data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                                    <header role="heading">
                                        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
                                        <h2>New Group/Role </h2>

                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                                    <!-- widget div-->
                                    <div role="content">
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">

                                            <form novalidate="novalidate" class="smart-form" id="addevent-1" enctype="multipart/form-data" name="add-event-1" method="post"> {% csrf_token %}
                                                <fieldset>
                                                    {% for field in form %}
                                                        <section>
                                                            <label class="input"> <i class="icon-append fa fa-bullseye"></i>
                                                            {{ field.errors }}
                                                            {{ field }}
                                                            <b class="tooltip tooltip-bottom-right">{{ field.label_tag}}</b> </label>
                                                        </section>
                                                    {% endfor %}
                                                </fieldset>
                                                <footer>
                                                    <button class="btn btn-primary" type="submit">
                                                        Create Group/Role
                                                    </button>
                                                </footer>
                                            </form>
                                        </div>
                                        <!-- end widget content -->
                                    </div>
                                    <!-- end widget div -->
                                </div>
                                </article>
                            <!-- END COL -->
                        </div>
                        <!-- END ROW -->
                    </section>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
{% endblock content %}

