<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> MatchMaker Software </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag 
			 
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-skins.css">	
		
		<!-- SmartAdmin RTL Support is under construction
			<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-rtl.css"> -->
		
		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/demo.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="img/logo.png" alt="MatchMaker Software Logo here"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

			<span id="login-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="/register/" class="btn btn-danger">Creat account</a> </span>

		</header>

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-red login-header-big">MatchMaker Software</h1>
						<div class="hero">

							<div >
								<h3 class="paragraph-header">Why go through the hassle of searching to buy or sell products.
                                Get a glance at what we do!</h3>

							</div>
                            <div style="text-align: center;float: right">

                            <iframe width="600" height="350" src="//www.youtube.com/embed/CILbYx4n6jo" frameborder="0" allowfullscreen class="pull-left "></iframe>
                            </div>



						</div>



					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                         <br/><br/><br/>
						<div class="well no-padding">

							<form action="/login/" id="login-form" class="smart-form client-form" method="POST">
								<header>
									Sign In
								</header>

								<fieldset>
									
									<section>
										<label class="label">Username</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" name="username">
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter  Username</b></label>
									</section>

									<section>
										<label class="label">Password</label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<input type="password" name="password">
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
										<div class="note">
											<a href="/forgot-password/">Forgot password?</a>
										</div>
									</section>

									<section>
										<label class="checkbox">
											<input type="checkbox" name="remember" checked="">
											<i></i>Stay signed in</label>
									</section>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										Sign in
									</button>
								</footer>
							</form>

						</div>
						
						<h5 class="text-center"> - Or sign in using -</h5>
															
										<ul class="list-inline text-center">
											<li>
												<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
											</li>
										</ul>
						
					</div>
				</div>
                <div class="row">
                    <div class="well">

							<table class="table table-striped table-forum">
								<thead>
									<tr>
										<th colspan="2">Upcoming Events</th>
										<th style="width: 100px;" class="text-center hidden-xs hidden-sm"> Date </th>
										<th style="width: 100px;" class="text-center hidden-xs hidden-sm">Attending</th>
										<th style="width: 200px;" class="hidden-xs hidden-sm">Visit</th>
									</tr>
								</thead>
								<tbody>

									<!-- TR -->
									<tr>
										<td style="width: 40px;" class="text-center"><i class="fa fa-globe fa-2x text-muted"></i></td>
										<td><h4><a href="forum-topic.html"> Hello, welcome to SmartAdmin Forum! </a><small>You can introduce yourself here</small></h4></td>
										<td class="text-center hidden-xs hidden-sm"><a href="javascript:void(0);">January 1, 2014</a></td>
                                        <td class="text-center hidden-xs hidden-sm"><a href="javascript:void(0);">431</a></td>

										<td class="hidden-xs hidden-sm"><a href="javascript:void(0);">
                                        <button class="btn btn-success btn-sm">
										Visit >>
									</button></a>

									</tr>
									<!-- end TR -->
                                <!-- TR -->
									<tr>
										<td style="width: 40px;" class="text-center"><i class="fa fa-globe fa-2x text-muted"></i></td>
										<td><h4><a href="forum-topic.html"> Hello, welcome to SmartAdmin Forum! </a><small>You can introduce yourself here</small></h4></td>
										<td class="text-center hidden-xs hidden-sm"><a href="javascript:void(0);">January 1, 2014</a></td>
                                        <td class="text-center hidden-xs hidden-sm"><a href="javascript:void(0);">431</a></td>

										<td class="hidden-xs hidden-sm"><a href="javascript:void(0);">
                                        <button class="btn btn-success btn-sm">
										Visit >>
									</button></a>

									</tr>
									<!-- end TR -->





								</tbody>
							</table>



						</div>

                </div>
			</div>

		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="{{ STATIC_URL }}assets/js/plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="{{ STATIC_URL }}assets/js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="{{ STATIC_URL }}assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="{{ STATIC_URL }}assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="{{ STATIC_URL }}assets/js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{ STATIC_URL }}assets/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{ STATIC_URL }}assets/js/smartwidgets/jarvis.widget.min.js"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="{{ STATIC_URL }}assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		
		<!-- SPARKLINES -->
		<script src="{{ STATIC_URL }}assets/js/plugin/sparkline/jquery.sparkline.min.js"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="{{ STATIC_URL }}assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="{{ STATIC_URL }}assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{ STATIC_URL }}assets/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
		<!-- browser msie issue fix -->
		<script src="{{ STATIC_URL }}assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="{{ STATIC_URL }}assets/js/plugin/fastclick/fastclick.js"></script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{{ STATIC_URL }}assets/js/app.js"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						username : {
							required : true

						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						username : {
							required : 'Please enter your username '

						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>

	</body>
</html>