<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> MatchMaker </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag 
			 
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-skins.css">

		
		<!-- SmartAdmin RTL Support is under construction
			<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/smartadmin-rtl.css"> -->
		
		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}assets/css/demo.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="img/logo.png" alt="Matchmaker"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

			<span id="login-header-space"> <span class="hidden-mobile">Welcome {{ request.user }}?</span> <a href="/logout/" class="btn btn-info">Logout</a> </span>


		</header>

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content">

				<!-- row -->
				<div class="row " style="padding-left: 10%">

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">
								<div class="text-center error-box">
									<h1 class="error-text-2 bounceInDown animated"> Thankyou for creating an acoount <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
									<h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning">

									</i> Please verify your <u>PHONE NUMBER</u> to activate your account</strong></h2>
									<br>
									<p class="lead">
										We sent you a 4 digit code <b>using the phone number you provided when creating your account.

									<br>
                                     <form action="" method="post" name="phone" id="phone-form">
									<div class="error-search well well-lg padding-10">

										<div class="input-group">
											<input type="text"  name='code' id="search-error" placeholder="9999" class="form-control input-lg">
											<span class="input-group-addon"><i class="fa fa-fw fa-lg fa-mobile-phone"></i></span>
										</div>

                                        {% csrf_token %}

									</div>
                                    <footer>
									<button type="submit" class="btn btn-primary" >
										Continue >>
									</button>
								</footer>
                                          </form>
                                    <br/><br/>
                                        <p class="font-md">
										<b>... Did not get the code? Resend it</b>
									</p>

									<div class="row">

										<div class="col-sm-12">
											<ul class="list-inline">

											</ul>
										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>

		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="{{ STATIC_URL }}assets/js/plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="{{ STATIC_URL }}assets/js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="{{ STATIC_URL }}assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="{{ STATIC_URL }}assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="{{ STATIC_URL }}assets/js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{ STATIC_URL }}assets/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{ STATIC_URL }}assets/js/smartwidgets/jarvis.widget.min.js"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="{{ STATIC_URL }}assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		
		<!-- SPARKLINES -->
		<script src="{{ STATIC_URL }}assets/js/plugin/sparkline/jquery.sparkline.min.js"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="{{ STATIC_URL }}assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="{{ STATIC_URL }}assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{ STATIC_URL }}assets/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
		<!-- browser msie issue fix -->
		<script src="{{ STATIC_URL }}assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="{{ STATIC_URL }}assets/js/plugin/fastclick/fastclick.js"></script>
         <script>
$(document).ready(function() { $("#company").select2({
placeholder: "Select your company",
allowClear: true
}); });
</script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{{ STATIC_URL }}assets/js/app.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js"></script>

		<script type="text/javascript">
			runAllForms();

		</script>

	</body>
</html>