{% extends 'admin_base.html' %}

{% load humanize %}

{% block breadcrumb %}
    <li>Profile</li>
    <li>Account Information</li>
    <li>Public Profile</li>
{% endblock breadcrumb %}

{% block content %}
<div id="content">

    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                {% if profile.picture %}
                                    <img src="{{ profile.get_picture_thumbnail_url }}">
                                {% else %}
                                    <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width: 150px">
                                {% endif %}
                                <h1>
                                    {% if profile.salutation %}{{ profile.salutation }}{% endif %}
                                    {% if profile.preffered_name and not profile.is_private_preffered_name %}
                                        {{ profile.preffered_name }}
                                    {% elif profile.first_name or profile.last_name %}
                                        {{ profile.first_name|capfirst }}
                                        <span class="semi-bold">{{ profile.last_name|capfirst }}</span>
                                    {% else %}
                                        {{ profile.username|capfirst }}
                                    {% endif %}
                                    <br />
                                    <small>
                                        {% if profile.role %}{{ profile.role }},{% endif %}
                                        {{ profile.company }}
                                    </small>
                                </h1>
                                <div class="padding-10 text-left">
                                    <h4 class="font-md">
                                        <strong>{{ profile.relationships.followers|length }}</strong>
                                        <small>Followers</small>
                                    </h4>

                                    <h4 class="font-md">
                                        <strong>{{ profile.relationships.following|length }}</strong>
                                        <small>Following</small>
                                    </h4>
                                    <h4 class="font-md badge-success">
                                        <strong>{{ profile.relationships.friends|length }}</strong>
                                        <small>Friends</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-8">

                        {% if profile.company.youtube_video %}
                            <iframe style="border: 0; width: 100%; height: 315px;" src="https://www.youtube.com/embed/{{ profile.company.youtube_video_id }}?autoplay=0&autohide=1&border=0&wmode=opaque&enablejsapi=1"></iframe>
                        {% endif %}

                    </div>

                </div>


                <div class="row">
                    <br />

                    <div class="col-sm-4 ">

                        <div class="well padding-10">
                            <p>Personal Details</p>
                            <hr class="simple">
                            <dl class="padding-10">
                                {% if profile.bio %}
                                    <dt>Bio</dt>
                                    <dd>{{ profile.bio }}</dd>
                                {% endif %}

                                {% if profile.responsibilities %}
                                    <dt>Responsibilities</dt>
                                    <dd>{{ profile.responsibilities }}</dd>
                                {% endif %}
                                {% if profile.market_segment %}
                                    <dt>Market Segment</dt>
                                    <dd>{{ profile.market_segment }}</dd>
                                {% endif %}
                                {% if profile.years_of_exp %}
                                    <dt>Years Of Experience</dt>
                                    <dd>{{ profile.years_of_exp }}</dd>
                                {% endif %}

                                {% if profile.veteran_status %}
                                    <dt>Veteran Status</dt>
                                    <dd>Yes</dd>
                                {% endif %}
                                {% if profile.veteran_type %}
                                    <dt>Veteran Type</dt>
                                    <dd>{{ profile.veteran_type }}</dd>
                                {% endif %}
                            </dl>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="well padding-10">
                            <p>Address</p>
                            <hr class="simple">

                            <ul class="list-unstyled padding-10">
                                {% if profile.street %}
                                    <li>
                                        <p class="text-muted">
                                            <i class="fa fa-location-arrow"></i><span>{{ profile.street }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.zip %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-location-arrow"></i><span>{{ profile.zip }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.city %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-location-arrow"></i><span>{{ profile.city }}</span>
                                        </p>
                                    </li>
                                {% elif profile.region %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-location-arrow"></i><span>{{ profile.region }}</span>
                                        </p>
                                    </li>
                                {% elif profile.country %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-location-arrow"></i><span>{{ profile.country }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                            </ul>

                            <p>Individual Certifications</p>
                            <hr class="simple">
                            <ul class="list-unstyled padding-10">
                                {% for cert in profile.individualcert_set.all %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-file"></i>
                                           <span>
                                               {{ cert.date_obtained }} - {{ cert.certification_name }} - 
                                               {% if cert.document %}<a href='{{ cert.document.url }}' title="certificate" target="_blank" download="{{ cert.file_name }}">{{ cert.file_name }}</a>{% endif %}
                                           </span>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>

                            <p>Products</p>
                            <hr class="simple">
                            <ul class="list-unstyled padding-10">
                                {% for prod in profile.naics.all %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-shopping-cart "></i><span>(NAICS) {{ prod.code }} - {{ prod.about }}</span>
                                        </p>
                                    </li>
                                {% endfor %}
                                {% for prod in profile.psc_fsc.all %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-shopping-cart "></i><span>(PSC) {{ prod.code }} - {{ prod.about }}</span>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="well padding-10">
                            <p>Contact information</p>
                            <hr class="simple">
                            <ul class="list-unstyled padding-10">

                                {% if profile.email %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-envelope"></i><span>{{ profile.email }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.phone %}
                                    <li>
                                        <p class="text-muted">
                                           <i class="fa fa-phone"></i><span>{{ profile.phone }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                            </ul>

                            <p>Websites</p>
                            <hr class="simple">
                            <ul class="list-unstyled padding-10">
                                {% if profile.website_url %}
                                    <li>
                                        <p class="text-muted">
                                            <i class="fa fa-link"></i><span>{{ profile.website_url }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.linkedin_url %}
                                    <li>
                                        <p class="text-muted">
                                            <i class="fa fa-linkedin"></i><span>{{ profile.linkedin_url }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.facebook_url %}
                                    <li>
                                        <p class="text-muted">
                                            <i class="fa fa-facebook"></i><span>{{ profile.facebook_url }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                                {% if profile.twitter_url %}
                                    <li>
                                        <p class="text-muted">
                                            <i class="fa fa-twitter"></i><span>{{ profile.twitter_url }}</span>
                                        </p>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        &nbsp;&nbsp;
                        <a href="/user/{{ request.user.username }}/"
                                     class="btn btn-primary btn-xs" style="padding-left:5px">
                        <i class="fa fa-user"></i> View profile as others see it</a>
                        {% if profile.company.nature == '1' %}
                            <a href="javascript:void(0);" class="btn btn-warning btn-xs pull-right" style="margin-right:10px">
                                <i class="fa fa-flag-o"></i> Gov
                            </a>&nbsp;&nbsp;
                        {% endif %}
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </div>
    <!-- end row -->
    </div>

    <div class="row">
        <article class="col-sm-12 sortable-grid ui-sortable">
            <div id="wid-id-x" class="jarviswidget jarviswidget-color-blueDark" data-widget-sortable="false" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" style="" role="widget">

                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                    <h2>Upcoming Events</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">
                    <div class="widget-body">

                        <div class="col-sm-12">

                            <div class="row">

                                {% for event in events %}
                                    <div class="chat-body no-padding profile-message">
                                        <ul>
                                            <li class="message">
                                                {% if event.event.cover %}
                                                    <img src="{{ event.event.cover.url }}" class="online" style="max-width:50px">
                                                {% else %}
                                                    <img src="/static/images/avatar.jpg" class="online" style="max-width:50px">
                                                {% endif %}
                                                <span class="message-text" style="min-height:50px;min-width:350px">
                                                    <a href="javascript:void(0);" class="username">
                                                        {{ event.event.name|capfirst }}
                                                        <small class="text-muted pull-right ultra-light"> {{ event.event.start_time|timeuntil }} </small>
                                                    </a>
                                                    <strong>{{ event.event.subject }} : </strong> {{ event.event.description }}
                                                </span>
                                                <ul class="list-inline font-xs">
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-success">
                                                        <i class="fa fa- fa-check-circle-o"></i> Attending as {{ event.get_attend_as_display }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-info">
                                                        <i class="fa fa-linkedin"></i> Share</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-info">
                                                        <i class="fa fa-facebook"></i> Share</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-info">
                                                        <i class="fa fa-google-plus"></i> Share</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-info">
                                                        <i class="fa fa-twitter"></i> Share</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="text-warning">
                                                        <i class="fa fa-filter"></i> {{ event.event.get_mm_type_display }}</a>
                                                   </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <hr />
                                {% empty %}

                                    <p class="alert alert-info no-margin">No events yet</p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="row">
        <article class="col-sm-12 sortable-grid ui-sortable">
            <div id="wid-id-x" class="jarviswidget jarviswidget-color-blueDark" data-widget-sortable="false" data-widget-custombutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" style="" role="widget">

                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-group"></i> </span>
                    <h2>Connections</h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">
                    <div class="widget-body">

                        <div class="col-sm-12">

                            <div class="row">

                                {% for user in following %}
                                    <div class="col-sm-12 col-md-12 col-lg-4">
                                        <div class="well well-light well-sm no-margin no-padding">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4 ">
                                                            <img src="{{ STATIC_URL }}images/avatar.jpg" style="max-width:80px">
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h1><span class="semi-bold">
                                                                {{user.first_name|capfirst }}
                                                                {{user.last_name|capfirst }}</span>
                                                                <br>
                                                                <small> <strong>{{ user.role|capfirst}},</strong>
                                                                <br/><span title="{{ user.company}}"></span> {{ user.company|truncatechars:26}} </small>
                                                          </h1>
                                                        </div>
                                                        <div class="col-sm-12" >
                                                            <br>
                                                            &nbsp;&nbsp;
                                                            <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="padding-left:5px"><i class="fa fa-check-circle "></i> Connected</a>
                                                            <a href="javascript:void(0);" class="btn btn-success btn-xs pull-right" style="margin-right:10px"><i class="fa fa-check-circle"></i> 80%</a>
                                                            &nbsp;&nbsp;
                                                            {% if user.company.nature == '1' %}
                                                                <a href="javascript:void(0);" class="btn btn-warning btn-xs pull-right" style="margin-right:10px"><i class="fa fa-flag-o"></i>Gov</a>
                                                                &nbsp;&nbsp;
                                                            {% endif %}
                                                           <br />
                                                           <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>

                                {% empty %}

                                    <p class="alert alert-info no-margin">No connections yet</p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>


 </div><!-- #content -->
{% endblock content %}