<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Choose your profile type - MatchMaker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ STATIC_URL }}hassets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}hassets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

{#        {{ gov_form.media }}#}
        <!-- $DEMO =========================================================================================

        Remove this section on production
        -->
        <style>
            #signin-demo {
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 10000;
                background: rgba(0,0,0,.6);
                padding: 6px;
                border-radius: 3px;
            }
            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }
            #signin-demo img:hover {
                opacity: .5;
            }
            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
            #id_vgp_type {
                list-style: none;
            }
            #id_vgp_type label{
                display: inline-flex;
            }
            #id_vgp_type input{
                margin-top: -4px;
                width: auto;
                margin-right: 10px;
            }
        </style>
        <!-- / $DEMO -->

    </head>

    <!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
    <body class="theme-default page-signin">

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->

        <script>
            var init = [];

        </script>

        <!-- Demo script -->
        <script src="{{ STATIC_URL }}hassets/demo/demo.js"></script>
        <!-- / Demo script -->

        <!-- Page background -->
        <div id="page-signin-bg">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="{{ STATIC_URL }}hassets/demo/signin-bg-1.jpg" alt="">
        </div>
        <!-- / Page background -->

        <!-- Container -->
        <div class="signin-container">

            <!-- Left side -->
            <div class="signin-info">
                <a href="index.html" class="logo"> <img src="{{ STATIC_URL }}hassets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                MatchMaker </a><!-- / .logo -->
                <div class="slogan">
                    Attend Events.
                </div>
                <!-- / .slogan -->
                <ul>
                    <li>
                        <i class="fa fa-sitemap signin-icon"></i> Flexible modular structure
                    </li>
                    <li>
                        <i class="fa fa-outdent signin-icon"></i> RTL direction support
                    </li>
                    <li>
                        <i class="fa fa-heart signin-icon"></i> Crafted with love
                    </li>
                </ul>
                <!-- / Info list -->
            </div>
            <!-- / Left side -->

            <!-- Right side -->
            {% load crispy_forms_field %}
            <div class="signin-form">

                <!-- Form -->

                <form action="" id="company-search-form" name="change-form" method="post">
                    <div class="signin-text">
                        <span class="fa"><span id="errors3">Register as</span></span>
                    </div>
                    <!-- / .signin-text -->

                    {% csrf_token %}
                    <div class="form-group ">
                        {% crispy_field form.vgp_type %}
                        <div class="error">
                            {{ form.errors.vgp_type.0 }}
                        </div>
                    </div>
                    
                    <div id="com_form" {% if form.vgp_type.data != form.vgp_type.field.choices.1.0 %}style="display: none" {% endif %}>
                        <div class="form-group ">
                            {% crispy_field form.vosb_type %}
                            <div class="error">
                                {{ form.errors.vosb_type.0 }}
                            </div>
                        </div>
                    </div>

                    <div id="gov_form" {% if form.vgp_type.data == form.vgp_type.field.choices.1.0 %}style="display: none" {% endif %}>
                        <div class="form-group ">
                            {% crispy_field gov_form.department %}
                            <div class="error">
                                {{ gov_form.errors.department.0 }}
                            </div>
                        </div>
                        <div class="form-group ">
                            {% crispy_field gov_form.agency %}
                            <div class="error">
                                {{ gov_form.errors.agency.0 }}
                            </div>    
                        </div>
                        <div class="form-group ">
                            {% crispy_field gov_form.office %}
                            <div class="error">
                                {{ gov_form.errors.office.0 }}
                            </div>    
                        </div>
                        <div class="form-group ">
                            {% crispy_field gov_form.industry %}
                            <div class="error">
                                {{ gov_form.errors.industry.0 }}
                            </div>
                        </div>
                        <a href="{% url 'create_gov_org' %}">Can't Find Organization?</a>
                    </div>
                    
                    <div class="form-actions">
                        <input type="submit" value="Next" class="signin-btn bg-primary">

                    </div>
                    <!-- / .form-actions -->
                </form>
                <!-- / Form -->

            </div>
            <!-- Right side -->
        </div>
        <!-- / Container -->

        <div class="not-a-member">
            Welcome {{ request.user.username }}
        </div>



        <!-- Pixel Admin's javascripts -->
        <script src="{{ STATIC_URL }}hassets/javascripts/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}hassets/javascripts/pixel-admin.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js"></script>

        <script type="text/javascript">
            // Resize BG
            init.push(function() {
                var $ph = $('#page-signin-bg'), $img = $ph.find('> img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height : '100%',
                            width : 'auto'
                        });
                    }
                });
            });

            //var existsDepartment = [];
            var existsAgency = [];
            var existsOffice = [];
            var existsIndustry = [];

            {% for row in gov_orgs %}
            //existsDepartment.push('{{ row.department.id }}');
            existsAgency.push('{{ row.agency.id }}');
            existsOffice.push('{{ row.office.id }}');
            existsIndustry.push('{{ row.industry.id }}');
            {% endfor %}

            init.push(function() {

                $("#id_org_category").select2({
                    allowClear : true,
                    placeholder : "Select Organisation"
                });
                $("#jquery-select2-example1").select2({
                    allowClear : true,
                    placeholder : "Select Your Role"
                });

                var prepareField = function(field, array) {
                    var $field = $(field);
                    $field.addClass('form-control');
                    $field.bind("DOMSubtreeModified", function(e) {
                        $(this).find('option').each(function(i, el) {
                            var $el = $(el);
                            if (array.indexOf($el.val()) === -1) {
                                $el.remove();
                            }
                        });
                    });

                };
                $('#id_department').addClass('form-control');
                //prepareField('#id_department', existsDepartment);
                prepareField('#id_agency', existsAgency);
                prepareField('#id_office', existsOffice);
                prepareField('#id_industry', existsIndustry);
            });

            window.PixelAdmin.start(init);
            
            $(document).ready(function() {
                $('#id_vgp_type_1').click(function(){
                    $('#com_form').show();
                    $('#gov_form').hide();
                });
                $('#id_vgp_type_0').click(function(){
                    $('#com_form').hide();
                    $('#gov_form').show();
                });
            });
        </script>

        <style>
            .error {
                color: red;
            }
        </style>

    </body>
</html>
