<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                © Cloud Custom Solutions 2014. All Rights Reserved <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
            </div>
            <!-- END COPYRIGHT -->
        </div>
    </div>
</div>