<div class="header">
    <div class="container">
        <a class="site-logo" href="javascript:;"><img src="{{ STATIC_URL }}images/MatchMaker.png" alt="Matchmaker"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'events' %}">Home</a>
                    {% else %}
                        <a href="{% url 'home' %}" >Home</a>
                    {% endif %}
                </li>
                <li>
                    <a href="javascript:;" >Tour</a>
                </li>

                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" >Logged in as {{ request.user.full_name }}</a>
                </li>

                <li>
                    <a href="{% url 'logout' %}" >Log Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'user_login' %}" >Sign in</a>
                </li>

                <li>
                    <a href="{% url 'register'%}" >Register</a>
                </li>

                {% endif %}

                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>
                    <div class="search-box">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        Search
                                    </button> </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>