<style>
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #050202;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.myButton:active {
    position:relative;
    top:1px;
}
</style>
{% extends "flatpages/main.html" %}
{% block content %}
<div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <span>Welcome</span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.
        </p>
    </div>
    <div class="col-md-4 col-sm-4 events_list">
        <div class="service-box-heading">
            <span>News and Events</span>
        </div>
        <ul>
        {% for event in events %}
            <li>
            <label><a class="event_name_link" href="#">{{ event.name }}</a></label>
            <p>{{ event.start_time|date }} @ {{ event.start_time|time }} - {% if not event.start_time|date == event.end_time|date %} {{ event.end_time|date }} @ {% endif %}{{ event.end_time|time }}</p>
            <div class="event_details_source" style="display: none;">
                <label>{{ event.name }}</label>
                <p>Start Date: {{ event.start_time|date }} @ {{ event.start_time|time }}</p>
                <p>End Date: {{ event.end_time|date }} @ {{ event.end_time|time }}</p>
                <p>Registration Opens: {{ event.reg_start|date }}</p>
                <p>Creator: {{ event.creator.full_name }}</p>
                <p>Description: {{ event.description }}</p>
            </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 events_list">
        <div class="service-box-heading">
            <span>Event Details</span>
        </div>
            <div class="event_details_container">
                <label>{{ details.name }}</label>
                <p>Start Date: {{ details.start_time|date }} @ {{ details.start_time|time }}</p>
                <p>End Date: {{ details.end_time|date }} @ {{ details.end_time|time }}</p>
                <p>Registration Opens: {{ details.reg_start|date }}</p>
                <p>Creator: {{ details.creator.full_name }}</p>
                <p>Description: {{ details.description }}</p>
                <button type="button" class="myButton">Sign up to register</button>
            </div>
    </div>
</div>
{% endblock content %}
{% block end_page_javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function() {"use strict";
            $('.event_name_link').click(function(e) {
                e.preventDefault();
                $('.event_details_container').html(
                    $(this).closest('li').find('.event_details_source').clone().html()
                );
            });
        });
    </script>
{% endblock end_page_javascript %}