<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->

    <!-- Head BEGIN -->
    <head>
        <meta charset="utf-8">
        <title>MatchMaker</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta property="og:site_name" content="-CUSTOMER VALUE-">
        <meta property="og:title" content="-CUSTOMER VALUE-">
        <meta property="og:description" content="-CUSTOMER VALUE-">
        <meta property="og:type" content="website">
        <meta property="og:image" content="-CUSTOMER VALUE-">
        <!-- link to image for socio -->
        <meta property="og:url" content="-CUSTOMER VALUE-">

        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link href="/favicon.ico" rel="SHORTCUT ICON" type="image/ico">

        <!-- Fonts START -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
        <!-- Fonts END -->

        <!-- Global styles START -->
        <link href="{{ STATIC_URL }}home/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Global styles END -->

        <!-- Page level plugin styles START -->
        <link href="{{ STATIC_URL }}home/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
        <!-- Page level plugin styles END -->

        <!-- Theme styles START -->
        <link href="{{ STATIC_URL }}home/assets/global/css/components.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/frontend/layout/css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/frontend/pages/css/style-revolution-slider.css" rel="stylesheet">
        <!-- metronic revo slider styles -->
        <link href="{{ STATIC_URL }}home/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/assets/frontend/layout/css/custom.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}hassets/javascripts/ie.min.js"></script>
        <![endif]-->

        <!-- Theme styles END -->
    </head>
    <!-- Head END -->

    <!-- Body BEGIN -->
    <body class="corporate page-header-fixed">
        <!-- BEGIN HEADER -->
        {% block header %}
            {% include 'flatpages/header.html' %}
        {% endblock header %}
        <!-- Header END -->

        <!-- BEGIN SLIDER -->
        <div class="page-slider margin-bottom-40">
            <div class="fullwidthbanner-container revolution-slider">
                <div class="fullwidthabnner">
                    <ul id="revolutionul">
                        <!-- THE NEW SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400"
                        data-thumb="{{ STATIC_URL }}images/education.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{{ STATIC_URL }}images/teamwork.jpg" alt="">

                            <div class="caption lft slide_title_white slide_item_left"
                            data-x="30"
                            data-y="90"
                            data-speed="400"
                            data-start="1500"
                            data-easing="easeOutExpo">
                                Explore the Power
                                <br>
                                <span class="slide_title_white_bold">of Matchmaker</span>
                            </div>
                            <div class="caption lft slide_subtitle_white slide_item_left"
                            data-x="87"
                            data-y="245"
                            data-speed="400"
                            data-start="2000"
                            data-easing="easeOutExpo">
                                This is what you were looking for
                            </div>
                            <a class="caption lft btn dark slide_btn slide_item_left" href="{% url 'register'%}"
                            data-x="187"
                            data-y="315"
                            data-speed="400"
                            data-start="3000"
                            data-easing="easeOutExpo"> Register Now! </a>
                            <div class="caption lfb"
                            data-x="640"
                            data-y="0"
                            data-speed="700"
                            data-start="1000"
                            data-easing="easeOutExpo">

                            </div>
                        </li>

                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="{{ STATIC_URL }}images/education.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{{ STATIC_URL }}images/education.jpg" alt="">

                            <div class="caption lft slide_title_white slide_item_left"
                            data-x="30"
                            data-y="90"
                            data-speed="400"
                            data-start="1500"
                            data-easing="easeOutExpo">
                                Explore the Power
                                <br>
                                <span class="slide_title_white_bold">of Matchmaker</span>
                            </div>
                            <div class="caption lft slide_subtitle_white slide_item_left"
                            data-x="87"
                            data-y="245"
                            data-speed="400"
                            data-start="2000"
                            data-easing="easeOutExpo">
                                This is what you were looking for
                            </div>
                            <a class="caption lft btn dark slide_btn slide_item_left" href="{% url 'register'%}"
                            data-x="187"
                            data-y="315"
                            data-speed="400"
                            data-start="3000"
                            data-easing="easeOutExpo"> Register Now! </a>
                            <div class="caption lfb"
                            data-x="640"
                            data-y="0"
                            data-speed="700"
                            data-start="1000"
                            data-easing="easeOutExpo">

                            </div>
                        </li>

                        <!-- THE SECOND SLIDE -->

                        <!-- THE THIRD SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="{{ STATIC_URL }}home/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                            <img src="{{ STATIC_URL }}images/network2.jpg" alt="">
                            <div class="caption lft slide_title_white slide_item_left"
                            data-x="30"
                            data-y="90"
                            data-speed="400"
                            data-start="1500"
                            data-easing="easeOutExpo">
                                Explore the Power
                                <br>
                                <span class="slide_title_white_bold">of Matchmaker</span>
                            </div>
                            <div class="caption lft slide_subtitle_white slide_item_left"
                            data-x="87"
                            data-y="245"
                            data-speed="400"
                            data-start="2000"
                            data-easing="easeOutExpo">
                                This is what you were looking for
                            </div>
                            <a class="caption lft btn dark slide_btn slide_item_left" href="{% url 'register'%}"
                            data-x="187"
                            data-y="315"
                            data-speed="400"
                            data-start="3000"
                            data-easing="easeOutExpo"> Register Now! </a>
                            <div class="caption lfb"
                            data-x="640"
                            data-y="0"
                            data-speed="700"
                            data-start="1000"
                            data-easing="easeOutExpo">

                            </div>
                        </li>

                        <!-- THE FORTH SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="{{ STATIC_URL }}images/workshop.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{{ STATIC_URL }}images/workshop.jpg" alt="">
                            <div class="caption lft slide_title_white slide_item_left"
                            data-x="30"
                            data-y="90"
                            data-speed="400"
                            data-start="1500"
                            data-easing="easeOutExpo">
                                Explore the Power
                                <br>
                                <span class="slide_title_white_bold">of Matchmaker</span>
                            </div>
                            <div class="caption lft slide_subtitle_white slide_item_left"
                            data-x="87"
                            data-y="245"
                            data-speed="400"
                            data-start="2000"
                            data-easing="easeOutExpo">
                                This is what you were looking for
                            </div>
                            <a class="caption lft btn dark slide_btn slide_item_left" href="{% url 'register'%}"
                            data-x="187"
                            data-y="315"
                            data-speed="400"
                            data-start="3000"
                            data-easing="easeOutExpo"> Register Now! </a>
                            <div class="caption lfb"
                            data-x="640"
                            data-y="0"
                            data-speed="700"
                            data-start="1000"
                            data-easing="easeOutExpo">

                            </div>

                        </li>

                        <!-- THE FIFTH SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="{{ STATIC_URL }}images/soldier.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{{ STATIC_URL }}images/soldier.jpg" alt="">
                            <div class="caption lft slide_title_white slide_item_left"
                            data-x="30"
                            data-y="90"
                            data-speed="400"
                            data-start="1500"
                            data-easing="easeOutExpo">
                                Explore the Power
                                <br>
                                <span class="slide_title_white_bold">of Matchmaker</span>
                            </div>
                            <div class="caption lft slide_subtitle_white slide_item_left"
                            data-x="87"
                            data-y="245"
                            data-speed="400"
                            data-start="2000"
                            data-easing="easeOutExpo">
                                This is what you were looking for
                            </div>
                            <a class="caption lft btn dark slide_btn slide_item_left" href="{% url 'register'%}"
                            data-x="187"
                            data-y="315"
                            data-speed="400"
                            data-start="3000"
                            data-easing="easeOutExpo"> Register Now! </a>
                            <div class="caption lfb"
                            data-x="640"
                            data-y="0"
                            data-speed="700"
                            data-start="1000"
                            data-easing="easeOutExpo">

                            </div>

                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
        </div>
        <!-- END SLIDER -->

        <div class="main">
            <div class="container">
                <!-- BEGIN CONTENT -->
                {% block content %}{% endblock content %}
                <!-- END CONTENT -->
            </div>
        </div>

        <!-- BEGIN FOOTER -->
        {% block footer %}
            {% include 'flatpages/footer.html' %}
        {% endblock footer %}
        <!-- END FOOTER -->

        <!-- Load javascripts at bottom, this will reduce page load time -->
        <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
        <!--[if lt IE 9]>
        <script src="assets/plugins/respond.min.js"></script>
        <![endif]-->
        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>");
        </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->
        <script src="{{ STATIC_URL }}home/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}home/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}home/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
        <script src="{{ STATIC_URL }}home/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
        <script src="{{ STATIC_URL }}home/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

        <!-- BEGIN RevolutionSlider -->

        <script src="{{ STATIC_URL }}home/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}home/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}home/assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
        <!-- END RevolutionSlider -->

        <script src="{{ STATIC_URL }}home/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                Layout.init();
                Layout.initOWL();
                RevosliderInit.initRevoSlider();
                Layout.initTwitter();
                Layout.initNavScrolling();
            });
        </script>
        {% block end_page_javascript %}{% endblock end_page_javascript %}
        <!-- END PAGE LEVEL JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
