{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form.as_p }}
    </div>

    <table id="document_formset_table" class="table table-striped table-condensed">
        <thead>
          {% if formset.readonly and not formset.queryset.exists %}
          {% else %}
              <tr>
                  {% for field in formset.forms.0 %}
                      {% if field.label and not field.is_hidden %}
                          <th for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
                              {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                          </th>
                      {% endif %}
                  {% endfor %}
              </tr>
          {% endif %}
        </thead>

        <tbody>

        <tr class="hide" id="documentEmptyForm">
            {% for field in formset.empty_form %}
                {% if field|is_checkbox %}
                    <th id="div_{{ field.auto_id }}" class="textinput textInput {% if field.errors %} has-error{% endif %}">
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                    </th>
                {% elif field|is_file %}
                    <th class="form-group {% if form.logo.errors %}has-error{% endif %}">
                        <div class="input input-file ">
                            <span class="button">
                                {{ field }}
                                Choose Document</span>
                            <input type="text" readonly="" placeholder="{{ field.label|safe }}">
                            {% if field.errors %}
                            <span id="" class="help-block"><strong>{{ field.errors }}</strong></span>
                            {% endif %}
                        </div>
                    </th>
                {% else %}
                    {% include 'bootstrap3/field.html' with tag="td" form_show_labels=False %}
                {% endif %}
            {% endfor %}
        </tr>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap3/errors.html" %}
                {% endif %}

                <tr>
                    {% for field in form %}
                        {% if field|is_checkbox %}
                            <th id="div_{{ field.auto_id }}" class="textinput textInput {% if field.errors %} has-error{% endif %}">
                                <div class="controls {{ field_class }}">
                                    {% crispy_field field %}
                                    {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                                </div>
                            </th>
                        {% elif field|is_file %}
                            <th class="form-group {% if form.logo.errors %}has-error{% endif %}">
                                <div class="input input-file ">
                                    <span class="button">
                                        {{ field }}
                                        Choose Document</span>
                                    <input type="text" readonly="" placeholder="{{ field.label|safe }}">
                                    {% if field.errors %}
                                    <span id="" class="help-block"><strong>{{ field.errors }}</strong></span>
                                    {% endif %}
                                </div>
                            </th>
                        {% else %}
                            {% include 'bootstrap3/field.html' with tag="td" form_show_labels=False %}
                        {% endif %}                        
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}