<section class="col col-6 ">
    <label class="input"> {{ field.label }} </label>
</section>
<section class="form-group {% if form.avg_rev.errors %}has-error{% endif %}">
    {% for choice in field %}
        <label for="{{ field.auto_id }}_{{ forloop.counter0 }}" style="padding-right: 20px;">
            <input name='{{ field.name }}' id='{{ field.auto_id }}_{{ forloop.counter0 }}' type='radio'
                value='{{ choice.choice_value }}' {% if field.data == choice.choice_value %} checked='checked' {% endif %}/>
            {{ choice.choice_label }}
        </label>
    {% endfor %}
    {% if field.errors %}
    <span id="" class="help-block"><strong>{{ field.errors }}</strong></span>
    {% endif %}
</section>  