<section class="col col-6 ">
    <label class="input"> {{ field.label }} </label>
</section>
<section class="form-group col-6 {% if form.avg_rev.errors %}has-error{% endif %}">
    <label class="select">{{ field }}</label>
    {% if field.errors %}
    <span id="" class="help-block"><strong>{{ field.errors }}</strong></span>
    {% endif %}
</section>