{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <article class="col-md-12 sortable-grid ui-sortable">
        <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">
            <div role="content">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding smart-form">
                    <fieldset>
                        <div id="documentFormset">
                            {% crispy document_formset document_formset_helper %}
                        </div>
                        <footer>
                            <button type="button" class="btn btn-primary" id="addMoreDocument">
                                Add more
                            </button>
                        </footer>
                    </fieldset>
                    <fieldset>
                        <div id="performanceFormset">
                            {% crispy performance_formset performance_formset_helper %}
                        </div>
                        <footer>
                            <button type="button" class="btn btn-primary" id="addMorePerformance">
                                Add more
                            </button>
                        </footer>
                    </fieldset>
                    <fieldset>
                        {% crispy partner_info_form %}
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary" id="submit" name="action" value="performance" {% if not form.instance.pk %}disabled="disabled"{% endif %}>
                            Save
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </article>
</form>