<form novalidate="novalidate" action="{% url 'edit_company' %}" id="company-form-2" name="company-form-2" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="naicsSelected" data-url="{% url 'get_naics' %}">
        {{ form.naics }}
    </div>
    <div id="pscSelected" data-url="{% url 'get_psc' %}">
        {{ form.psc_fsc }}
    </div>
    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

        <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding smart-form">

                    {% include 'company/include/products-widget-html.html' with app='company' model='CVGPOrgProfile' %}

                    <fieldset>
                        <div>
                            <label class="label col col-6">Facility Security Clearance</label>
                            <section class="form-group col-6 {% if form.sec_clearance.errors %}has-error{% endif %}">
                                {{ form.sec_clearance }}
                                {% if form.sec_clearance.errors %}
                                <span id="" class="help-block"><strong>{{ form.sec_clearance.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <label class="label col col-6">DCAA Compliant Account</label>
                            <section class="form-group col-6 {% if form.dcaa_compliant_acc.errors %}has-error{% endif %}">
                                {{ form.dcaa_compliant_acc }}
                                {% if form.dcaa_compliant_acc.errors %}
                                <span id="" class="help-block"><strong>{{ form.dcaa_compliant_acc.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <label class="label col col-6"><strong>Cage Code</strong></label>
                            <section class="form-group {% if form.cage_code.errors %}has-error{% endif %}">
                                <label class="input col-6">{{ form.cage_code }}</label>
                                {% if form.cage_code.errors %}
                                <span id="" class="help-block"><strong>{{ form.cage_code.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <label class="label col col-6"><strong>DUNS Number</strong></label>
                            <section class="form-group {% if form.duns_no.errors %}has-error{% endif %}">
                                <label class="input col-6">{{ form.duns_no }}</label>
                                {% if form.duns_no.errors %}
                                <span id="" class="help-block"><strong>{{ form.duns_no.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-8 ">
                                <label class="input"> Construction Bonding Number Aggregate </label>
                            </section>
                            <section class="form-group col-4 {% if form.bonding_number_aggregate.errors %}has-error{% endif %}">
                                {{ form.bonding_number_aggregate }}
                                {% if form.bonding_number_aggregate.errors %}
                                <span id="" class="help-block"><strong>{{ form.bonding_number_aggregate.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-8 ">
                                <label class="input"> Construction Bonding Number per Contract </label>
                            </section>
                            <section class="form-group col-4 {% if form.bonding_number_contract.errors %}has-error{% endif %}">
                                {{ form.bonding_number_contract }}
                                {% if form.bonding_number_contract.errors %}
                                <span id="" class="help-block"><strong>{{ form.bonding_number_contract.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                    </fieldset>

                    <footer>
                        <button class="btn btn-primary" type="submit" id="show_submit"  name="action"  value="codes" {% if not form.instance.pk %}disabled="disabled"{% endif %}>
                            Save
                        </button>
                    </footer>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>
    <!-- END COL -->
</form>