<form novalidate="novalidate" id="company-form-3" name="company-form-3"
method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

        <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding smart-form">

                    <fieldset>
                        <div>
                            <section class="col col-6">
                                <label class="input">Corporate overview</label>
                            </section>
                            <section class="form-group col-6 {% if form.corporate_overview.errors %}has-error{% endif %}">
                                <label class="input">{{ form.corporate_overview }}</label>
                                {% if form.corporate_overview.errors %}
                                <span id="" class="help-block"><strong>{{ form.corporate_overview.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>

                        <div>
                            <section class="col col-6">
                                <label class="input"><strong>States in which you currently do bussiness</strong></label>
                            </section>
                            <section class="form-group col-6 {% if form.states_you_do_business.errors %}has-error{% endif %}">
                                <label class="input">{{ form.states_you_do_business }}</label>
                                {% if form.states_you_do_business.errors %}
                                <span id="" class="help-block"><strong>{{ form.states_you_do_business.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"><strong>States in which you wish do bussiness</strong></label>
                            </section>
                            <section class="form-group col-6 {% if form.states_you_wish_to_do.errors %}has-error{% endif %}">
                                <label class="input">{{ form.states_you_wish_to_do }}</label>
                                {% if form.states_you_wish_to_do.errors %}
                                <span id="" class="help-block"><strong>{{ form.states_you_wish_to_do.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"> Total Employees </label>
                            </section>
                            <section class="form-group col-6 {% if form.total_employees.errors %}has-error{% endif %}">
                                <label class="input">{{ form.total_employees }}</label>
                                {% if form.total_employees.errors %}
                                <span id="" class="help-block"><strong>{{ form.total_employees.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"> Total Vetaran Employees </label>
                            </section>
                            <section class="form-group col-6 {% if form.vet_employees.errors %}has-error{% endif %}">
                                <label class="input">{{ form.vet_employees }}</label>
                                {% if form.vet_employees.errors %}
                                <span id="" class="help-block"><strong>{{ form.vet_employees.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"> Relevant Links </label>
                            </section>
                            <section class="form-group col-6 {% if form.relevant_links.errors %}has-error{% endif %}">
                                <label class="input">{{ form.relevant_links }}</label>
                                {% if form.relevant_links.errors %}
                                <span id="" class="help-block"><strong>{{ form.relevant_links.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"> <strong>Industry</strong> </label>
                            </section>
                            <section class="form-group col-6 {% if form.industry.errors %}has-error{% endif %}">
                                <label class="select">{{ form.industry }}</label>
                                {% if form.industry.errors %}
                                <span id="" class="help-block"><strong>{{ form.industry.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6">
                                <label class="input"> Small Business Type</label>
                            </section>
                            <section class="form-group col-6 {% if form.small_business_category.errors %}has-error{% endif %}">
                                <label class="select">{{ form.small_business_category }}</label>
                                {% if form.small_business_category.errors %}
                                <span id="" class="help-block"><strong>{{ form.small_business_category.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div>
                            <label class="label col col-6"><strong>Date Established</strong></label>
                            <section class="form-group col-6 {% if form.date_established.errors %}has-error{% endif %}">
                                <label class="input">{{ form.date_established }}</label>
                                {% if form.date_established.errors %}
                                <span id="" class="help-block"><strong>{{ form.date_established.errors }}</strong></span>
                                {% endif %}
                            </section>

                        </div>
                        <div>
                            <label class="label col col-6">CVE Established</label>
                            <section class="form-group col-6 {% if form.cve_verified_on.errors %}has-error{% endif %}">
                                <label class="input">{{ form.cve_verified_on }}</label>
                                {% if form.cve_verified_on.errors %}
                                <span id="" class="help-block"><strong>{{ form.cve_verified_on.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6 ">
                                <label class="input"> Primary POC</label>
                            </section>
                            <section class="form-group col-6 {% if form.primary_poc.errors %}has-error{% endif %}">
                                <label class="input">{{ form.primary_poc }}</label>
                                {% if form.primary_poc.errors %}
                                <span id="" class="help-block"><strong>{{ form.primary_poc.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                        <div>
                            <section class="col col-6 ">
                                <label class="input"> Average Revenue </label>
                            </section>
                            <section class="form-group col-2 {% if form.avg_rev.errors %}has-error{% endif %}" style="float: left;">
                                <label class="input">{{ form.avg_rev }}</label>
                                {% if form.avg_rev.errors %}
                                <span id="" class="help-block"><strong>{{ form.avg_rev.errors }}</strong></span>
                                {% endif %}
                            </section>
                            <section class="col col-1 ">
                            </section>
                            <section class="form-group col-3 {% if form.average_visiblity.errors %}has-error{% endif %}" >
                                <label class="select">{{ form.average_visiblity }}</label>
                                {% if form.average_visiblity.errors %}
                                <span id="" class="help-block"><strong>{{ form.average_visiblity.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        {% include 'profile/cert-widget.html' with model='BusinessCert' app='company' %}
                    </fieldset>

                    <fieldset>
                        <div>
                            <section class="col col-6 ">
                                <label class="input"> Overview Visibilty </label>
                            </section>
                            <section class="form-group col-6 {% if form.overview_visiblity.errors %}has-error{% endif %}" >
                                <label class="select">{{ form.overview_visiblity }}</label>
                                {% if form.overview_visiblity.errors %}
                                <span id="" class="help-block"><strong>{{ form.overview_visiblity.errors }}</strong></span>
                                {% endif %}
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button class="btn btn-primary" type="submit" id="show_submit" name="action" value="overview" {% if not form.instance.pk %}disabled="disabled"{% endif %}>
                            Save
                        </button>
                    </footer>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>
    <!-- END COL -->
</form>