<form novalidate="novalidate" id="company-form-1" name="company-form-1" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

        <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding smart-form">

                    <fieldset>
                        <section class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label class="input">{{ form.name }}</label>
                            {% if form.name.errors %}
                            <span id="" class="help-block"><strong>{{ form.name.errors }}</strong></span>
                            {% endif %}
                        </section>

                        <div class="row">
                            <section class="col col-4">
                                <label class="select"> Company Country </label>
                            </section>
                            <section class="col col-4">
                                <label class="select"> State </label>
                            </section>
                            <section class="col col-4">
                                <label class="select"> City </label>
                            </section>

                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="select"> {{ form.country }} <i></i></label>
                            </section>
                            <section class="col col-4">
                                <label class="select"> {{ form.region }} <i></i> </label>
                            </section>
                            <section class="col col-4">
                                <label class="select"> {{ form.city }} <i></i> </label>
                            </section>
                        </div>
                        <section>
                            <label class="input"> <i class="icon-append fa fa-location-arrow"></i> {{ form.street }} <b class="tooltip tooltip-bottom-right">Street Address</b> </label>
                        </section>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input"> {{ form.zip }} </label>
                            </section>
                            <section class="col col-6">
                                <label class="input"> {{ form.phone }} </label>
                            </section>
                        </div>
                        <section class="form-group {% if form.website.errors %}has-error{% endif %}">
                            <label class="input"> <i class="icon-append fa fa-globe"></i> {{ form.website }}
                                {% if form.website.errors %} <span id="" class="help-block"><strong>{{ form.website.errors }}</strong></span> {% endif %} <b class="tooltip tooltip-bottom-right">Official website</b> </label>
                            <br />
                        </section>
                        
                        <div class="row">
                            <section class="col col-6">
                                <strong>Company LOGO:</strong>
                            </section>
                            <section class="col col-6">
                                {% if profile.logo %}
                                    <a href="{{ profile.get_logo_thumbnail_url }}" target="_blank">
                                        <img src="{{ profile.get_logo_thumbnail_url }}" style="float: right;" />
                                    </a>
                                {% endif %}
                            </section>
                        </div>

                        <section class="form-group {% if form.logo.errors %}has-error{% endif %}">
                            <div class="input input-file ">
                                <span class="button"> {{ form.logo }}
                                    Choose Logo Picture</span>
                                <input type="text" readonly="" placeholder="Upload Company LOGO">
                                {% if form.logo.errors %}
                                <span id="" class="help-block"><strong>{{ form.logo.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </section>
                    </fieldset>

                    <fieldset>

                        <section class="form-group {% if form.youtube_video.errors %}has-error{% endif %}">
                            <label class="control-label input"> {{ form.youtube_video }} <b class="tooltip tooltip-bottom-right">YouTube video URL</b> </label>
                            {% if form.youtube_video.errors %}
                            <span id="" class="help-block"><strong>{{ form.youtube_video.errors }}</strong></span>
                            {% endif %}
                        </section>

                    </fieldset>

                    <footer>
                        <button class="btn btn-primary" type="submit" id="show_submit">
                            Save
                        </button>
                    </footer>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>
    <!-- END COL -->
</form>