<script type="text/template" id="selectedCodeTmpl">
    <% if(item.code_type=='ns'){ %>
        <input name="naics" type="hidden" value="<%- item.pk %>">
    <% }else{ %>
        <input name="psc_fsc" type="hidden" value="<%- item.pk %>">
    <% } /* if(item.code_type='ns') */ %>
</script>
<script type="text/javascript">
    var $searchTable = $("#searchResultTable").DataTable({
        searching: false,
        paging: false,
        scrollY: 400,
        columns: [
            { "data": "code" },
            { "data": "code_type" },
            { "data": "about" }
        ]
    });
    var $resultTable= $("#selectedResultTable").DataTable({
        searching: false,
        paging: false,
        scrollY: 400,
        columns: [
            { "data": "code" },
            { "data": "code_type" },
            { "data": "about" }
        ]
    });


    (function(){
        $resultTable.rows().remove().draw();

        var $naicsDiv = $("#naicsSelected");
        var naicsUrl = $naicsDiv.data('url');
        var naicsPks = _.map(
                $naicsDiv.find('input'),
                function(item){return 'pks=' + $(item).val()}
        ).join('&');
        $.get(naicsUrl, naicsPks, function(responseData){
            $resultTable.rows.add(_.map(responseData.codes, function(item){
                item.DT_RowId='code_' + item.code_type + '_' + item.pk;
                return item;
            })).draw();
        });


        var $pscDiv = $("#pscSelected");
        var pscUrl = $pscDiv.data('url');
        var pscPks = _.map(
                $pscDiv.find('input'),
                function(item){return 'pks=' + $(item).val()}
        ).join('&');
        $.get(pscUrl, pscPks, function(responseData){
            $resultTable.rows.add(_.map(responseData.codes, function(item){
                item.DT_RowId='code_' + item.code_type + '_' + item.pk;
                return item;
            })).draw();
        });

        $('.dataTable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('rowSelected');
        } );
        
        $("#collapse2, #collapse3").on('shown.bs.collapse', function () {
            $("#selectedResultTable").DataTable().columns.adjust();
        });
        
        $('#searchProductsModal').on('shown.bs.modal', function () {
            $("#searchResultTable").DataTable().columns.adjust();
        });

        $("#searchProductForm").on("submit", function(e){
            var $this = $(this);
            var data = $this.serialize();
            var action = $this.attr('action');

            $.get(action, data, function(responseData){
                console.log(responseData);
                $searchTable.rows().remove();
                if(responseData.status == 'ok'){
                    $searchTable.rows.add(
                        _.map(responseData.codes, function(item){
                            item.DT_RowId='code_' + item.code_type + '_' + item.pk;
                            return item;
                        })
                    ).draw();
                }
            });
            return false;
        });
        $('body').on('click', "#addSelected", function(){
            var selectedNaics = _.map($("#naicsSelected").find('input'), function(item){
                return parseInt($(item).val());
            });
            var selectedPsc = _.map($("#pscSelected").find('input'), function(item){
                return parseInt($(item).val());
            });

            var selectedItems = _.filter(
                    $searchTable.rows(".rowSelected").data(),
                    function(item){
                        if(item.code_type == 'ps'){
                            return selectedPsc.indexOf(item.pk) == -1;
                        }else{
                            return selectedNaics.indexOf(item.pk) == -1;
                        }
                    }
            );
            _.each(selectedItems, function(item){

                var itemHtml = _.template(
                        $("#selectedCodeTmpl").html(),
                        {'item': item}
                );
                console.log(itemHtml);
                if(item.code_type == 'ns'){
                    $("#naicsSelected").append(itemHtml);
                }else{
                    $("#pscSelected").append(itemHtml);
                }
            });
            $resultTable.rows.add(selectedItems).draw();
            $("#searchProductsModal").modal("hide");
        });

        $("#deleteSelectedFieldsButton").on("click", function(e){
            e.preventDefault();
            var selectedData = $resultTable.rows('.rowSelected').data();
            _.each(selectedData, function(item){
                if(item.code_type == 'ns'){
                    $("#naicsSelected input[value=" + item.pk + "]").remove();
                }else{
                    $("#pscSelected input[value=" + item.pk + "]").remove();
                }
            });
            $resultTable.rows('.rowSelected').remove().draw();
            return false;
        });
    })();

</script>