<fieldset>

    <legend>Products</legend>

    <div>
        <a href="#" class="btn btn-success btn-lg" data-toggle="modal" data-target="#searchProductsModal"><i class="fa fa-search"></i>Products lookup by keywords</a>
    </div>

    <div role="cotnet">
        <div class="widget-body">
            <table id="selectedResultTable" class="table table-striped table-bordered dataTable no-footer">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
    <div>
       <a href="#" class="btn btn-warning btn-sm pull-right" id="deleteSelectedFieldsButton"><i class="fa fa-trash-o"></i>Delete selected</a>
    </div>

    <div>
    </div>

</fieldset>