<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

    <head>
    <meta charset="utf-8"/>
    <title>Cloud Custom Connections | Create Contact</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2-metronic.css"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ STATIC_URL }}assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ STATIC_URL }}assets/css/pages/login-soft.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png"/>
    <script>

        function lefttoright_onclick()
        {

            left_list = document.getElementById("members");
            right_list = document.getElementById("selected_members");
            left_list_length = left_list.options.length;
            if(left_list_length != 0)
            {
                count = 0;
                for(count=0; count<left_list_length; count++)
                {
                    if(left_list.options[count].selected)
                    {
                       var option = document.createElement("option");
                       option.text = left_list.options[count].text;
                       option.value = left_list.options[count].value;
                       right_list.add(option);
                       left_list.remove(count);
                    }
                }
            }
        } // End of lefttoright_onclick

        function righttoleft_onclick()
        {
            left_list = document.getElementById("members");
            right_list = document.getElementById("selected_members");
            right_list_length = right_list.options.length;

            if(right_list_length != 0)
            {
                count = 0;
                for(count=0; count<right_list_length; count++)
                {
                    if(right_list.options[count].selected)
                    {
                       var option = document.createElement("option");
                       option.text = right_list.options[count].text;
                       option.value = right_list.options[count].value;
                       left_list.add(option);
                       right_list.remove(count);
                    }
                }
            }
        } // End of lefttoright_onclick

        function create_team_form_onsubmit()
        {
            right_list = document.getElementById("selected_members");
            right_list_length = right_list.options.length;
            for(count=0; count<right_list_length; count++)
            {
                right_list.options[count].selected = "selected";
            }
        }

    </script>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top"> 
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner"> 
    <!-- BEGIN LOGO --> 
    <a class="navbar-brand" href="index.html"> <img src="{{ STATIC_URL }}images/logo.png" alt="logo" class="img-responsive" style="margin-top: -16px"/> </a> 
    <!-- END LOGO --> 
    <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
    <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <img src="{{ STATIC_URL }}assets/img/menu-toggler.png" alt=""/> </a> 
    <!-- END RESPONSIVE MENU TOGGLER --> 
    <!-- BEGIN TOP NAVIGATION MENU -->
    <ul class="nav navbar-nav pull-right">
          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <li class="dropdown" id="header_notification_bar"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="fa fa-warning"></i> <span class="badge"> 6 </span> </a>
        <ul class="dropdown-menu extended notification">
              <li>
            <p> You have 14 new notifications </p>
          </li>
              <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                  <li> <a href="#"> <span class="label label-sm label-icon label-success"> <i class="fa fa-plus"></i> </span> New user registered. <span class="time"> Just now </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-danger"> <i class="fa fa-bolt"></i> </span> Server #12 overloaded. <span class="time"> 15 mins </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-warning"> <i class="fa fa-bell-o"></i> </span> Server #2 not responding. <span class="time"> 22 mins </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-info"> <i class="fa fa-bullhorn"></i> </span> Application error. <span class="time"> 40 mins </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-danger"> <i class="fa fa-bolt"></i> </span> Database overloaded 68%. <span class="time"> 2 hrs </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-danger"> <i class="fa fa-bolt"></i> </span> 2 user IP blocked. <span class="time"> 5 hrs </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-warning"> <i class="fa fa-bell-o"></i> </span> Storage Server #4 not responding. <span class="time"> 45 mins </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-info"> <i class="fa fa-bullhorn"></i> </span> System Error. <span class="time"> 55 mins </span> </a> </li>
                  <li> <a href="#"> <span class="label label-sm label-icon label-danger"> <i class="fa fa-bolt"></i> </span> Database overloaded 68%. <span class="time"> 2 hrs </span> </a> </li>
                </ul>
          </li>
              <li class="external"> <a href="#"> See all notifications <i class="m-icon-swapright"></i> </a> </li>
            </ul>
      </li>
          <!-- END NOTIFICATION DROPDOWN --> 
          <!-- BEGIN INBOX DROPDOWN -->
          <li class="dropdown" id="header_inbox_bar"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="fa fa-envelope"></i> <span class="badge"> 5 </span> </a>
        <ul class="dropdown-menu extended inbox">
              <li>
            <p> You have 12 new messages </p>
          </li>
              <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                  <li> <a href="#"> <span class="photo"> {% if request.user.photo %} <img src="{{ request.user.photo.url }}" alt=""/> {% endif %} </span> <span class="subject"> <span class="from"> Lisa Wong </span> <span class="time"> Just Now </span> </span> <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span> </a> </li>
                  <li> <a href="inbox.html?a=view"> <span class="photo"> {% if request.user.photo %} <img src="{{ STATIC_URL }}assets/img/avatar3.jpg" alt=""/> {% endif %} </span> <span class="subject"> <span class="from"> Richard Doe </span> <span class="time"> 16 mins </span> </span> <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span> </a> </li>
                  <li> <a href="inbox.html?a=view"> <span class="photo"> {% if request.user.photo %} <img src="request.user.photo.url" alt=""/> {% endif %} </span> <span class="subject"> <span class="from"> {{ request.user.username|capfirst }} </span> <span class="time"> 2 hrs </span> </span> <span class="message"> Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span> </a> </li>
                  <li> <a href="inbox.html?a=view"> <span class="photo"> <img src="{{ STATIC_URL }}assets/img/avatar2.jpg" alt=""/> </span> <span class="subject"> <span class="from"> Lisa Wong </span> <span class="time"> 40 mins </span> </span> <span class="message"> Vivamus sed auctor 40% nibh congue nibh... </span> </a> </li>
                  <li> <a href="inbox.html?a=view"> <span class="photo"> <img src="{{ STATIC_URL }}assets/img/avatar3.jpg" alt=""/> </span> <span class="subject"> <span class="from"> Richard Doe </span> <span class="time"> 46 mins </span> </span> <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span> </a> </li>
                </ul>
          </li>
              <li class="external"> <a href="inbox.html"> See all messages <i class="m-icon-swapright"></i> </a> </li>
            </ul>
      </li>
          <!-- END INBOX DROPDOWN --> 
          <!-- BEGIN TODO DROPDOWN -->
          <li class="dropdown" id="header_task_bar"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="fa fa-tasks"></i> <span class="badge"> 5 </span> </a>
        <ul class="dropdown-menu extended tasks">
              <li>
            <p> You have 12 pending tasks </p>
          </li>
              <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                  <li> <a href="#"> <span class="task"> <span class="desc"> New release v1.2 </span> <span class="percent"> 30% </span> </span> <span class="progress"> <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 40% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> Application deployment </span> <span class="percent"> 65% </span> </span> <span class="progress progress-striped"> <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 65% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> Mobile app release </span> <span class="percent"> 98% </span> </span> <span class="progress"> <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 98% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> Database migration </span> <span class="percent"> 10% </span> </span> <span class="progress progress-striped"> <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 10% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> Web server upgrade </span> <span class="percent"> 58% </span> </span> <span class="progress progress-striped"> <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 58% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> Mobile development </span> <span class="percent"> 85% </span> </span> <span class="progress progress-striped"> <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 85% Complete </span> </span> </span> </a> </li>
                  <li> <a href="#"> <span class="task"> <span class="desc"> New UI release </span> <span class="percent"> 18% </span> </span> <span class="progress progress-striped"> <span style="width: 18%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only"> 18% Complete </span> </span> </span> </a> </li>
                </ul>
          </li>
              <li class="external"> <a href="#"> See all tasks <i class="m-icon-swapright"></i> </a> </li>
            </ul>
      </li>
          <!-- END TODO DROPDOWN --> 
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <li class="dropdown user"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> {% if request.user.photo %} <img alt="" src="{{ request.photo.url}}"/> {% endif %} <span class="username"> {{ request.user.username }} </span> <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu">
              <li> <a href="extra_profile.html"> <i class="fa fa-user"></i> My Profile </a> </li>
              <li> <a href="page_calendar.html"> <i class="fa fa-calendar"></i> My Calendar </a> </li>
              <li> <a href="inbox.html"> <i class="fa fa-envelope"></i> My Inbox <span class="badge badge-danger"> 3 </span> </a> </li>
              <li> <a href="#"> <i class="fa fa-tasks"></i> My Tasks <span class="badge badge-success"> 7 </span> </a> </li>
              <li class="divider"> </li>
              <li> <a href="javascript:;" id="trigger_fullscreen"> <i class="fa fa-arrows"></i> Full Screen </a> </li>
              <li> <a href="extra_lock.html"> <i class="fa fa-lock"></i> Lock Screen </a> </li>
              <li> <a href="/user/login/"> <i class="fa fa-key"></i> Log Out </a> </li>
            </ul>
      </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
    <!-- END TOP NAVIGATION MENU --> 
  </div>
      <!-- END TOP NAVIGATION BAR --> 
    </div>
<!-- END HEADER -->
<div class="clearfix"> </div>
<!-- BEGIN CONTAINER -->
<div class="page-container"> 
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse"> 
          <!-- add "navbar-no-scroll" class to disable the scrolling of the sidebar menu --> 
          <!-- BEGIN SIDEBAR MENU -->
          <ul class="page-sidebar-menu">
        <li class="sidebar-toggler-wrapper"> 
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
              <div class="sidebar-toggler hidden-phone"> </div>
              <!-- BEGIN SIDEBAR TOGGLER BUTTON --> 
            </li>
        <li class="sidebar-search-wrapper"> 
              <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
              <form class="sidebar-search" action="extra_search.html" method="POST">
            <div class="form-container">
                  <div class="input-box"> <a href="javascript:;" class="remove"> </a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
              </div>
                </div>
          </form>
              <!-- END RESPONSIVE QUICK SEARCH FORM --> 
            </li>
        <li class="start active "> <a href="/user/dashboard/"> <i class="fa fa-dashboard"></i> <span class="title"> Dashboard </span> <span class="selected"> </span> </a> </li>
        <li> <a href="javascript:;"> <i class="fa fa-cogs"></i> <span class="title"> Settings </span> <span class="arrow "> </span> </a>
              <ul class="sub-menu">
            <li> <a href="/recharge/"> <i class="fa fa-money"></i> Billing and Payments </a> </li>
            <li> <a href="/user/profile/"> <i class="fa fa-user"></i> Profile </a> </li>
          </ul>
            </li>
        <li class="last "> <a href="#"> 
          <!--<i class="fa fa-bar-chart-o"></i> --> 
          <span class="title"> Teams </span> </a> </li>
        <li class="last "> <a href="#"> 
          <!--<i class="fa fa-bar-chart-o"></i> --> 
          <span class="title"> Social Media </span> </a> </li>
        <li class="last "> <a href="#"> 
          <!--<i class="fa fa-bar-chart-o"></i> --> 
          <span class="title"> Ads </span> </a> </li>
        <li> <a href="javascript:;"> <i class="fa fa-users"></i> <span class="title"> Contacts </span>
          <!-- <span class="arrow"> --> 
          </span> </a> 
              <!--
					<ul class="sub-menu">
						<li>
							<a href="/campaigns/v-contacts/">
								<i class="fa fa-phone"></i>
								Verified Contacts
							</a>
						</li>

						<li>
							<a href="/campaigns/u-contacts/">
								<i class="fa fa-exclamation"></i>
								Unverified Contacts
							</a>
						</li>

					</ul> --> 
            </li>
        <li> <a href="javascript:;"> <i class="fa fa-bullhorn"></i> <span class="title"> Campaigns </span> <span class="arrow "> </span> </a>
              <ul class="sub-menu">
            <li> <a href="/create-sms-campaign/"> <i class="fa fa-envelope"></i> SMS Campaigns </a> </li>
            <li> <a href="/create-voice-campaign/"> <i class="fa fa-microphone"></i> Voice Campaigns </a> </li>
            <li> <a href="/create-email-campaign/"> <i class="fa fa-envelope"></i> Email Campaigns </a> </li>
            <li> <a href="/create-mms-campaign/"> <i class="fa fa-instagram"></i> MMS Campaigns </a> </li>
          </ul>
            </li>
        <li class="last "> <a href="#"> 
          <!--<i class="fa fa-bar-chart-o"></i> --> 
          <span class="title"> Resume </span> </a> </li>
        <li class="last "> <a href="#"> 
          <!--<i class="fa fa-bar-chart-o"></i> --> 
          <span class="title"> Webinar </span> </a> </li>
      </ul>
          <!-- END SIDEBAR MENU --> 
        </div>
  </div>
      <!-- END SIDEBAR --> 
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
    <div class="page-content"> 
          <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
          <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
              <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                  <h4 class="modal-title">Modal title</h4>
                </div>
            <div class="modal-body"> Widget settings form goes here </div>
            <div class="modal-footer">
                  <button type="button" class="btn blue">Save changes</button>
                  <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
          </div>
              <!-- /.modal-content --> 
            </div>
        <!-- /.modal-dialog --> 
      </div>
          <!-- /.modal --> 
          <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
          <!-- BEGIN STYLE CUSTOMIZER -->
          <div class="theme-panel hidden-xs hidden-sm">
        <div class="toggler"> </div>
        <div class="toggler-close"> </div>
        <div class="theme-options">
              <div class="theme-option theme-colors clearfix"> <span> THEME COLOR </span>
            <ul>
                  <li class="color-black current color-default" data-style="default"> </li>
                  <li class="color-blue" data-style="blue"> </li>
                  <li class="color-brown" data-style="brown"> </li>
                  <li class="color-purple" data-style="purple"> </li>
                  <li class="color-grey" data-style="grey"> </li>
                  <li class="color-white color-light" data-style="light"> </li>
                </ul>
          </div>
              <div class="theme-option"> <span> Layout </span>
            <select class="layout-option form-control input-small">
                  <option value="fluid" selected="selected">Fluid</option>
                  <option value="boxed">Boxed</option>
                </select>
          </div>
              <div class="theme-option"> <span> Header </span>
            <select class="header-option form-control input-small">
                  <option value="fixed" selected="selected">Fixed</option>
                  <option value="default">Default</option>
                </select>
          </div>
              <div class="theme-option"> <span> Sidebar </span>
            <select class="sidebar-option form-control input-small">
                  <option value="fixed">Fixed</option>
                  <option value="default" selected="selected">Default</option>
                </select>
          </div>
              <div class="theme-option"> <span> Sidebar Position </span>
            <select class="sidebar-pos-option form-control input-small">
                  <option value="left" selected="selected">Left</option>
                  <option value="right">Right</option>
                </select>
          </div>
              <div class="theme-option"> <span> Footer </span>
            <select class="footer-option form-control input-small">
                  <option value="fixed">Fixed</option>
                  <option value="default" selected="selected">Default</option>
                </select>
          </div>
            </div>
      </div>
          <!-- END STYLE CUSTOMIZER --> 
          <!-- BEGIN PAGE HEADER-->
          <div class="row">
        <div class="col-md-12"> 
              <!-- BEGIN PAGE TITLE & BREADCRUMB-->
              <h3 class="page-title"> Contacts </h3>
            </div>
      </div>
          <!-- END PAGE HEADER--> 
          <!-- BEGIN DASHBOARD STATS -->
          <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
              <!-- BEGIN CREATE TEAM -->
              <div class="content"> 
            
           <!-- BEGIN LOGIN FORM -->


	<form class="login-form1" action="/addcontact/" method="POST" enctype="multipart/form-data" id="create_contact_form1">
		<h3 class="form-title">Create New Contact</h3>
		   <div class="left"><div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">

                {% csrf_token %}
				<input class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Enter Contact Name" name="contact_name" id="contact_name_id"/>
			    <div>{{ contact_name_error }}</div>
            </div>
		</div>
               <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">


				<input class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Enter Company Name" id="company_name" name="company_name"/>
			    <div>{{ company_name_error }}</div>
            </div>
		</div>
                 <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">


				<input class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Enter Designation" id="designation" name="designation"/>
			    <div>{{ designation_error }}</div>
            </div>
		</div>

               <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">


				<textarea class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Add Notes" id="notes" name="notes"></textarea>
			     <div>{{ notes_error }}</div>
            </div>
		</div>

       </div>
    <div class="left">    <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">


				<input class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Enter Contact No" id="contact_no" name="contact_no"/>
			    <div>{{ contact_no_error }}</div>
            </div>
		</div> <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">


				<input class="form-control placeholder-no-fix" required type="text" autocomplete="off" placeholder="Enter Contact Email" id="contact_email" name="contact_email"/>
			    <div>{{ contact_email_error }}</div>
            </div>
		</div> <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<div class="input-icon">


				<select required class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Campaign" id="campaign" name="campaign">
                    <option value="1" selected>Campaign 1</option>
                    <option value="2">Campaign 2</option>
				</select>
                <div>{{ campaign_error }}</div>
			</div>
		</div>
        <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username or Email</label>
			<div class="input-icon">
				<input class="form-control placeholder-no-fix" required type="file" autocomplete="off" placeholder="Photo" id="contact_photo" name="contact_photo"/>
                <div>{{ contact_photo_error }}</div>
            </div>
		</div>
        <div class="form-actions">
		    <input type="submit" id="create_contact_button" required class="btn blue pull-left" style="margin-right: 10px;" value="Create" />
            <button id="register-back-btn" type="button" class="btn"><i class="m-icon-swapleft"></i> Cancel</button>
		</div>
    <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

			<div class="control-label" style="margin-top: -12px;">Jpg, Png Only</div>

		</div>

    </div>


	</form>
	<!-- END LOGIN FORM -->

            
          </div>
              <!-- END LOGIN --> 
              
            </div>
      </div>
        </div>
    <!-- END DASHBOARD STATS -->
    
    <div class="clearfix"> </div>
  </div>
    </div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER --> 
<!-- BEGIN FOOTER -->
<div class="footer">
      <div class="footer-inner"> 2014 &copy; Cloud Custom Connections </div>
      <div class="footer-tools"> <span class="go-top"> <i class="fa fa-angle-up"></i> </span> </div>
    </div>
<!-- END FOOTER --> 
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) --> 
<!-- BEGIN CORE PLUGINS --> 
<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}assets/plugins/respond.min.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/excanvas.min.js"></script>
<![endif]--> 
<script src="{{ STATIC_URL }}assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> 
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip --> 
<script src="{{ STATIC_URL }}assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/jquery.blockui.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/jquery.cokie.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script> 
<!-- END CORE PLUGINS --> 
<!-- BEGIN PAGE LEVEL PLUGINS --> 
<script src="{{ STATIC_URL }}assets/plugins/flot/jquery.flot.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script> 
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support --> 
<script src="{{ STATIC_URL }}assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script> 
<!-- END PAGE LEVEL PLUGINS --> 
<!-- BEGIN PAGE LEVEL SCRIPTS --> 
<script src="{{ STATIC_URL }}assets/scripts/core/app.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/scripts/custom/index.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}assets/scripts/custom/tasks.js" type="text/javascript"></script> 
<!-- END PAGE LEVEL SCRIPTS --> 
<script>
jQuery(document).ready(function() {
   App.init(); // initlayout and core plugins
   Index.init();
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   Index.initDashboardDaterange();
   Index.initIntro();
   Tasks.initDashboardWidget();
});
</script> 
<!-- END JAVASCRIPTS -->
</body>
    <!-- END BODY -->
</html>