                                        <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Contact Notes</h4>
										</div>
										
										<div class="modal-body">
										    <form action="/contact-note/{{ c_id }}/" role="form" method="POST" id="contact-note-form"> {% csrf_token %}
                                                <div class="form-group">

                                                     <input type="text" class="form-control" placeholder="New note" name="note">
                                                </div>
                                                
                                                <div class="margiv-top-10">
                                                    <input type="submit" value="Add Note"  class="btn green" >
                                                </div>
                                            </form>
                                            <br>
                                            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                							<thead>
						                    <tr>
                                            <th>Created on</th>
                                            <th>Note text details</th>
                							</thead>
							                </tr>
                                            {% for note in notes %}
                                                 <tr>
                                                 <td> {{ note.created_at }}</td>
                                                 <td> {{ note.note }}</td>
                                                 </tr>
                                            {% endfor %}
                                            </table>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>

										</div>
