                                        <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Edit Contact</h4>
										</div>
										<div class="modal-body">
                                            <form action="/edit-contact/{{ contact.id }}/" role="form" method="POST"  enctype="multipart/form-data" class="xform">
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="text" name="name" value="{{ contact.first_name }}" placeholder="John Doe" class="form-control input-medium">
                                                 </div>
                                                  <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-briefcase"></i>
                                                            </span>
                                                             <input type="text" name="company" value="{{ contact.company_name }}" placeholder="My Company Inc" class="form-control input-medium">
                                                 </div>

                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="text" name="email" value="{{ contact.email }}" placeholder="me@mydomain.com" class="form-control input-medium">
                                                 </div>
                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <input type="text" name="phone" value="{{ contact.phone }}" placeholder="format  +446567898765" class="form-control input-medium">
                                                 </div>
                                                        {% csrf_token %}

                                                 <br/>




                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-file-text"></i>
                                                            </span>
                                                            <input type="text" name="notes" value="{{ contact.note }}" placeholder="Notes" class="form-control input-medium">
                                                 </div>
                                                 <br/>





													<div class="margiv-top-10">
														<input class="btn green" type="submit" value="Edit Contact"/>
													</div>
										    </form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>

										</div>
