{% extends 'campaigns/base.html' %}
{% block title %} Contacts
{% endblock title %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css"/>
<!-- END PAGE LEVEL STYLES -->
 {% endblock css %}
{% block content %}
		<div class="page-content">

			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					My Contacts <small></small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li class="btn-group">

							<span class="primary yellow">
                                <a href="#basic" data-toggle="modal" class="btn default">
									<i class="fa fa-plus"></i> Add Contact <i class="fa fa-comments"></i>
									</a>

							</span>



						</li>
                        <li>
							<i class="fa fa-upload"></i>
							<a href="#upload" data-toggle="modal">
								Upload Contacts -(XLS, XLSX )
							</a>
							<i class="fa fa-angle-right"></i>
						</li>





					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">

					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-book"></i>My Contacts
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn default" href="#" data-toggle="dropdown">
										 Columns <i class="fa fa-angle-down"></i>
									</a>
									<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
										<label><input type="checkbox" checked data-column="0">Date</label>
										<label><input type="checkbox" checked data-column="1">Number</label>

										<label><input type="checkbox" checked data-column="2">Campaign</label>
										<label><input type="checkbox" checked data-column="3">Caller No</label>
										<label><input type="checkbox" checked data-column="4">Country</label>
                                        <label><input type="checkbox" checked data-column="5">City</label>
                                        <label><input type="checkbox" checked data-column="6">Zip</label>
									</div>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
							<thead>
							<tr>
							    <th></th>
								<th>
									 <i class="fa fa-calendar"></i> Created at
								</th>

                                <th>
									 <i class="fa fa-user"></i> First Name
								</th>
                                <th>
									 <i class="fa fa-bullhorn"></i> Campaigns
								</th>
                                <th>
									 <i class="fa fa-info"></i> ON/OFF
								</th>
								<th>
									<i class="fa fa-phone"></i> Phone No
								</th>
                                <th>
									<i class="fa fa-envelope"></i> Email
								</th>
                                <th>
									<i class="fa fa-bullhorn"></i> Source
								</th>


								<th class="hidden-xs">

									 <i class="fa fa-globe"></i> Country
								</th>


								<th>
								     Notes
								</th>


							</tr>
							</thead>
							<tbody>
							
                            {% for vc in contacts %}

							<tr ondblclick="$('#edit_contact_{{ vc.id }}').modal({remote: '/edit-contact/{{ vc.id }}/'})">
							    <td onclick="$('#edit_contact_{{ vc.id }}').modal({remote: '/edit-contact/{{ vc.id }}/'})">
							        <i class="fa fa-edit"></i></td>
								<td>
									{{ vc.created_at }}
								</td>

                                <td>
									{% if  vc.first_name   %}{{ vc.first_name }}{% else %}No Name {% endif %}

									 {% if   vc.last_name    %}{{  vc.last_name }}{% else %} {% endif %}
								</td>
                                <td>
								{{ vc.group.all.0.name }}
								</td>
                            <td>
									  {% if  vc.group.all %}
                                           <i class="fa  fa-check-circle" style="color:forestgreen"></i>
                                          {% else %}  <i class="fa fa-times-circle" style="color:red"></i>


									  {% endif %}
                                    </td>

                                <td>
									{{ vc.phone }}
								</td>
                                <td>
									{{ vc.email }}
								</td>
                                <td>
									{{ vc.get_lead_type_display }}
								</td>
                                <td>
									 {{ vc.country }}
								</td>


								<td onclick="$('#contact_note_{{ vc.id }}').modal({remote: '/contact-note/{{ vc.id }}/'})">
								    <i class="fa fa-edit"></i> {{ vc.notes }}
								</td>
							</tr>

                            {% endfor %}

							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>

    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Create Contact</h4>
										</div>
										<div class="modal-body">
											 <form action="/add-contact/" role="form" method="POST"  enctype="multipart/form-data" class="xform">
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="text" name="name"  placeholder="John Doe" class="form-control input-medium">
                                                 </div>
                                                  <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-briefcase"></i>
                                                            </span>
                                                             <input type="text" name="company" placeholder="My Company Inc" class="form-control input-medium">
                                                 </div>

                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="text" name="email" placeholder="me@mydomain.com" class="form-control input-medium">
                                                 </div>
                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <input type="text" name="phone" placeholder="format  +446567898765" class="form-control input-medium">
                                                 </div>
                                                        {% csrf_token %}

                                                 <br/>




                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-file-text"></i>
                                                            </span>
                                                            <input type="text" name="notes" placeholder="Notes" class="form-control input-medium">
                                                 </div>
                                                 <br/>

                                                    <br/>
                                                  <br/>

                                             <h4>Add to campaign</h4>

                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-bullhorn"></i>
                                                            </span>
                                                     <select name="group" class="form-control input-medium">
                                                         {% for campaign in campaigns %}
                                                               <option value="{{ campaign.id }}">{{ campaign }}</option>

                                                         {% endfor %}


                                                     </select>



                                                 </div>
                                                  <br/> <br/>


													<div class="margiv-top-10">
														<input class="btn green" type="submit" value="Create Contact"/>
													</div>
												</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>

										</div>
									</div>


									<!-- /.modal-content -->
								</div></div>
								<!-- /.modal-dialog -->
	{% for vc in contacts %}
							
	<div id="edit_contact_{{ vc.id }}" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
    </div>
    
    {% endfor %}
    
	{% for vc in contacts %}
							
	<div id="contact_note_{{ vc.id }}" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
    </div>
    
    {% endfor %}


    <!-- /.modal-dialog  upload-->

     <div class="modal fade" id="upload" tabindex="-1" role="basic" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Upload Contact</h4>
										</div>
										<div class="modal-body">
                                            <h5>Counting from zero, fill in the position of each field in your csv if you have no data for
                                                a certain field, leave it blank
                                            </h5>
											 <form action="/upload-contact/" role="form" method="POST"  enctype="multipart/form-data" class="xform" id="d-form">
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="number" name="first_name"  placeholder="First Name" class="form-control input-medium">
                                                 </div>
                                                  <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="number" name="last_name"  placeholder="Last Name" class="form-control input-medium">
                                                 </div>
                                                  <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-briefcase"></i>
                                                            </span>
                                                             <input type="text" name="company" placeholder="Company" class="form-control input-medium">
                                                 </div>

                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="text" name="email" placeholder="Email" class="form-control input-medium">
                                                 </div>
                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <input type="text" name="phone" placeholder="Phone" class="form-control input-medium">
                                                 </div>
                                                        {% csrf_token %}

                                                 <br/>
                                                  <br/>
                                             <h4>Add to campaign</h4>

                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-bullhorn"></i>
                                                            </span>
                                                     <select name="group" class="form-control input-medium">
                                                         {% for campaign in campaigns %}
                                                               <option value="{{ campaign.id }}">{{ campaign }}</option>

                                                         {% endfor %}


                                                     </select>



                                                 </div>
                                                  <br/> <br/>


                                                <div class="form-group purple">
                                                    <div style="position:relative;">
                                                    <a class='btn btn-primary fa fa-paperclip' href='javascript:;'>
                                                       Upload Excel .xls file
                                                        <input type="file"   name="excel"
                                                               style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
                                                               name="file_source" size="40"
                                                               onchange='$("#upload-file-info").html($(this).val());'>
                                                                </a>
                                                                &nbsp;
                                                                <span class='label label-info' id="upload-file-info"></span>
                                                        <input type="hidden" id="file-type" name="file-type"/>
                                                        </div>

                                                 </div>


                                                        <div class="alert alert-danger" style="display: none" id="error_div">
								        <strong>Error!</strong> <span id="error"></span>
							                </div>




                                                 <span id="show_submit">

													<div class="margiv-top-10">
														<input class="btn green" type="submit" value="Create Contact"/>
													</div>
                                                     </span>
												</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>

										</div>
									</div>


									<!-- /.modal-content -->
								</div></div>
								<!-- /.modal-dialog -->



    <!-- /.modal-dialog download -->

    <div class="modal fade" id="download" tabindex="-1" role="basic" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Create Contact</h4>
										</div>
										<div class="modal-body">
											 <form action="/add-contact/" role="form" method="POST"  enctype="multipart/form-data" class="xform">
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="text" name="name"  placeholder="John Doe" class="form-control input-medium">
                                                 </div>
                                                  <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-briefcase"></i>
                                                            </span>
                                                             <input type="text" name="company" placeholder="My Company Inc" class="form-control input-medium">
                                                 </div>

                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="text" name="email" placeholder="me@mydomain.com" class="form-control input-medium">
                                                 </div>
                                                 <br/>
                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </span>
                                                            <input type="text" name="phone" placeholder="format  +446567898765" class="form-control input-medium">
                                                 </div>
                                                        {% csrf_token %}

                                                 <br/>




                                                 <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-file-text"></i>
                                                            </span>
                                                            <input type="text" name="notes" placeholder="Notes" class="form-control input-medium">
                                                 </div>
                                                 <br/>






													<div class="margiv-top-10">
														<input class="btn green" type="submit" value="Create Contact"/>
													</div>
												</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn default" data-dismiss="modal">Close</button>

										</div>
									</div>


									<!-- /.modal-content -->
								</div></div>
								<!-- /.modal-dialog  download end-->







{% endblock content %}

{% block scripts %}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script src="{{ STATIC_URL }}assets/scripts/custom/tasks.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="{{ STATIC_URL }}assets/scripts/custom/components-editors.js"></script>
    <script src="{{ STATIC_URL }}assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>


<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="{{ STATIC_URL }}assets/scripts/custom/table-advanced.js"></script>
<script>
jQuery(document).ready(function() {

   TableAdvanced.init();



ComponentsPickers.init();
});
</script>


<script>
  $( document ).ready(function() {
    $('.img-rounded').popover({
      html: true,
      trigger: 'hover',
      placement: 'top',
      content: function () {
         var src = $(this)[0].src



          src = '<img class="img-rounded" style="float:right;width:200px;max-width:500px;"'+ 'src='+src+'/>'


        return  src;

      }
    });
  });

</script>
    <style>
    td{
        text-align: center;
    }
    </style>

{% endblock scripts %}

