<div id="fake-container">
    <div class="input-append spinner" data-trigger="spinner">
        <div class="input-group">
            <input type="text" id="spinner-input" class="form-control" value="1" data-rule="quantity" /> <span class="spinner input-group-addon">
                 <a href="javascript:;" class="spin-up spin-control" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <br />
                   <a href="javascript:;" class="spin-down spin-control" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
            </span>

        </div>
    </div>
</div>
