{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>

{% endblock extra_css %}

{% block content %}
<div class="row">
    <div class="col-md-12"><br/>
        <div class="col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <input type="text" placeholder="Search..." name="qn" id="fid"/>
                    <input type="submit" class="btn btn-success" value="Search">
                </span>
            </div>
        </div>
        <h1 class="col-md-12"></h1>

        <!-- MAIN CONTENT -->
        <div id="content" class="col-md-12">
            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2> Activities list </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="widget-body-toolbar">
                                    </div>
                                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" style="text-align: center">
                                        <thead>
                                           <tr>
                                               <th>Activity Type Fullname</th>
                                               <th> ActivityType Shortname </th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                            {% if activity_types %}
                                                {% for activity in activity_types %}
                                                    <tr>
                                                        <td> {{ activity.full_name }} </td>
                                                        <td> {{ activity.short_name }} </td>
                                                    </tr>
                                                {% endfor %}
                                              {% else %}
                                                    <tr >
                                                        <td> </td>
                                                        <td> </td>
                                                    </tr>
                                              {% endif %}

                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
    </div>
</div>

</div>


{% endblock content %}
{% block page_js %}


        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>



    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {


            pageSetUp();

            /*
             * BASIC
             */
            $('#dt_basic').dataTable({
                "sPaginationType" : "bootstrap_full"
            });

            /* END BASIC */

            /* Add the events etc before DataTables hides a column */
            $("#datatable_fixed_column thead input").keyup(function() {
                oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
            });

            $("#datatable_fixed_column thead input").each(function(i) {
                this.initVal = this.value;
            });
            $("#datatable_fixed_column thead input").focus(function() {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("#datatable_fixed_column thead input").blur(function(i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = this.initVal;
                }
            });


            var oTable = $('#datatable_fixed_column').dataTable({
                "sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                //"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
                "oLanguage" : {
                    "sSearch" : "Search all columns:"
                },
                "bSortCellsTop" : true
            });



            /*
             * COL ORDER
             */
            $('#datatable_col_reorder').dataTable({
                "sPaginationType" : "bootstrap",
                "sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                "fnInitComplete" : function(oSettings, json) {
                    $('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
                }
            });

            /* END COL ORDER */

            /* TABLE TOOLS */
            $('#datatable_tabletools').dataTable({
                "sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                "oTableTools" : {
                    "aButtons" : ["copy", "print", {
                        "sExtends" : "collection",
                        "sButtonText" : 'Save <span class="caret" />',
                        "aButtons" : ["csv", "xls", "pdf"]
                    }],
                    "sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
                },
                "fnInitComplete" : function(oSettings, json) {
                    $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
                        $(this).addClass('btn-sm btn-default');
                    });
                }
            });

        /* END TABLE TOOLS */




        })



        </script>
<script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>

{% endblock page_js %}