{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <!--<link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>-->

{% endblock extra_css %}
{% block content %}
<div id="content" xmlns="http://www.w3.org/1999/html">

<div class="row">
    <div class="col-md-12">


        <h1> Activities </h1><br/>


        <div class="col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <input class="" type="text" placeholder="Search..." name="q" id="search-fid"/>
                    <input type="submit" class="btn btn-success" value="Search">
                </span>
            </div>
        </div>
        <h1 class="col-md-12"></h1>
        <div class="accordion-inner">
            <table  class="table table-bordered table-striped sortable">
                <thead>
                   <tr>
                       <th>Activity Name</th>
                       <th> Type </th>
                       <th> Description </th>
                       <th> Location </th>
                       <th> Start Date </th>
                       <th> Start Time </th>
                       <th class="sorttable_nosort"> End Date </th>
                       <th class="sorttable_nosort"> End Time </th>
                       <th class="sorttable_nosort">Action</th>
                   </tr>
                </thead>
                <tbody>

      {% for activity in activities %}
                    <tr>
                        <td> {{ activity.name }} </td>
                        <td> {{ activity.type }} </td>
                        <td> {{ activity.description }} </td>
                        <td> {{ activity.location }} </td>
                        <td> {{ activity.start_time }} </td>
                        <td> 11:00 </td>
                        <td> {{ activity.end_time }} </td>
                        <td> 11:00 </td>
                        <td>
                            <span><i class="fa fa-edit green" tooltip="edit"></i></span>&nbsp;
                            <span><i class="fa fa-trash-o red"></i></span>
                        </td>
                    </tr>
      {% endfor %}


                </tbody>

            </table>
            <br />
        </div>
        <span class="col-md-12">
            <button type="button" class="btn btn-success" id="activityToggleBtn"><i class="fa fa-plus-square"> </i>  Add new Activity</button>
        </span>
        <h1 class="col-md-12"></h1>
        <div class="col-md-12 well well-sm accordion" id="activityToggle" style="visibility:hidden">
            <h2>Add activity</h2>
               <form action="{% url 'activities' %}" method="post" enctype="multipart/form-data" class="well"> {% csrf_token %}
                   <div class="col-md-12">
                      <span class="col-md-6">
                          {{ form.name|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.type|as_crispy_field }}
                      </span>
                       <span class="col-md-12">
                          {{ form.description|as_crispy_field }}
                      </span>
                       <span class="col-md-6">
                          {{ form.start_time|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.end_time|as_crispy_field }}
                      </span>

                      <span class="col-md-6">
                          {{ form.limit|as_crispy_field }}
                      </span>
                      <span class="col-md-4">
                          {{ form.building|as_crispy_field }}
                      </span>


                      <span class="col-md-2">
                          <label for="id_building" class="control-label ">
                            &nbsp;
			              </label>
                          <div class="controls ">
                            <a href="#modal-activities"  class="btn btn-success" data-toggle="modal" ><i class="fa fa-question-circle"></i> Check availability</a>
                          </div>
                      </span>


                      <span class="col-md-12"></span>
                      <span class="col-md-6">
                          {{ form.seat_notification_threshold|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.slots|as_crispy_field }}
                      </span>
                      <span class="col-md-12">&nbsp;</span>
                      <span class="col-md-6">
                          {{ form.host|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.co_host|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                          {{ form.industry_preference|as_crispy_field }}
                      </span>
                      <span class="col-md-6">
                       {{ form.email_presentation|as_crispy_field }}
                      </span>
                      <span class="col-md-12">&nbsp;</span>
                      <span class="col-md-6">&nbsp;</span>
                      <span class="col-md-6">
                       {{ form.presentation_file|as_crispy_field }}
                      </span>
                      <span class="col-md-6">&nbsp;</span>

                      <span class="col-md-6">
                          {{ form.feedback|as_crispy_field }}
                      </span>
                   </div><br/>
                   <button class="btn btn-primary btn-large btn-block">Create</button>
               </form>


        </div>

    </div>

</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal-activities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-activities-width" style="width: 1000px; position: absolute; margin-left: -200px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Check room availability</h4>
      </div>
      <div class="modal-body">
          <div class="row">
             <div class="col-md-5">
                <form>
                    <div class="col-md-12">
                        <span class="control-label input-label col-md-4"> Building </span>
                        <select class="col-md-8">
                            <option value="">Select building</option>
                            <option value="building-a">Building A</option>
                            <option value="building-b">Building B</option>
                        </select>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Theater capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Classroom capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Banquet capacity</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="col-md-4">Square feet</label>
                        <span class="col-md-2">Min</span> <input class="col-md-2" type="text"  name="min" />
                        <span class="col-md-2">Max</span> <input class="col-md-2" type="text"  name="max" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                       <label class="col-md-4">Date</label><input class="col-md-6" type="text"  name="date" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                       <button type="button" class="btn btn-success pull-right"  ><i class="fa fa-search"> </i>  Search</button>
                    </div>
                </form>
                <div class="dotted-border">&nbsp;</div>
                <h1>Results</h1>
                 <ul style="list-style: none">
                     <li>
                        <input type="radio" checked  name="results" value="A401"> A401<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A402"> A402<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A403"> A403<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A404"> A404<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A405"> A405<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A406"> A406<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A407"> A407<br/>
                     </li>
                     <li>
                        <input type="radio" name="results" value="A408"> A408<br/>
                     </li>
                 </ul>
             </div>
             <div class="dotted-border-vertical col-md-1">&nbsp;</div>
             <div class="col-md-5">
                 <h2>A401 availability</h2>
                 <table border="1px">
                     <tr class="oddb">
                         <td colspan="2" class="text-center">12 PM</td>
                         <td colspan="2" class="text-center">1 AM</td>
                         <td colspan="2" class="text-center">2 AM</td>
                         <td colspan="2" class="text-center">3 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">4 AM</td>
                         <td colspan="2" class="text-center">5 AM</td>
                         <td colspan="2" class="text-center">6 AM</td>
                         <td colspan="2" class="text-center">7 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">8 AM</td>
                         <td colspan="2" class="text-center">9 AM</td>
                         <td colspan="2" class="text-center">10 AM</td>
                         <td colspan="2" class="text-center">11 AM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">12 Am</td>
                         <td colspan="2" class="text-center">1 PM</td>
                         <td colspan="2" class="text-center">2 PM</td>
                         <td colspan="2" class="text-center">3 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-orange"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">4 PM</td>
                         <td colspan="2" class="text-center">5 PM</td>
                         <td colspan="2" class="text-center">6 PM</td>
                         <td colspan="2" class="text-center">7 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>

                         <tr class="oddb">
                         <td colspan="2" class="text-center">8 PM</td>
                         <td colspan="2" class="text-center">9 PM</td>
                         <td colspan="2" class="text-center">10 PM</td>
                         <td colspan="2" class="text-center">11 PM</td>
                     </tr>
                     <tr class="evenb">
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o" ></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>00</div> <i class="fa fa-square-o"></i></td>
                         <td class="text-center bg-color-greenLight"><div>30</div> <i class="fa fa-square-o"></i></td>

                     </tr>
                 </table>

             </div>
          </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->
{% endblock content %}
{% block page_js %}
    <script src="{{ STATIC_URL }}js/sorttable.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
               $("#activityToggleBtn").click(function(){
                  $("#activityToggle").css('visibility', 'visible');// Show the div

               });
            });
    </script>
{% endblock page_js %}