{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <!--<link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>-->

{% endblock extra_css %}
{% block content %}
<div class="row">
    <div class="col-md-12"><br/>


        <div class="col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <input type="text" placeholder="Search..." name="qn" id="fid"/>
                    <input type="submit" class="btn btn-success" value="Search">
                </span>
            </div>
        </div>
        <h1 class="col-md-12"></h1>




        <!-- MAIN CONTENT -->
			<div id="content" class="col-md-12">



				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">

						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2> Activities list </h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">

										</div>

										<table id="datatable_tabletools" class="table table-striped table-bordered table-hover">
											<thead>
                                               <tr>
                                                   <th>Activity Name</th>
                                                   <th> Type </th>
                                                   <th> Description </th>
                                                   <th> Industry </th>
                                                   <th> Start Date </th>
                                                   <th> Start Time </th>
                                                   <th class="sorttable_nosort"> End Date </th>
                                                   <th class="sorttable_nosort"> End Time </th>
                                                   <th class="sorttable_nosort"> Register </th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                          {% if activities %}

                                           {% for activity in activities %}
                                                <tr>
                                                    <td> {{ activity.name|default:'---' }} </td>
                                                    <td> {{ activity.type|default:'---' }} </td>
                                                    <td> {{ activity.description|default:'---' }} </td>
                                                    <td>
                                                     <ul>
                                                    {% for industry in activity.industry.all %}
                                                        <li> {{ industry|default:'---' }} </li>
                                                    {% endfor %}
                                                      </ul>
                                                    </td>
                                                    <td> {{ activity.start_time|date:"D d M Y"|default:'---' }} </td>
                                                    <td> {{ activity.start_time|time:"H:i"|default:'---' }} </td>
                                                    <td> {{ activity.end_time|date:"D d M Y"|default:'---' }} </td>
                                                    <td> {{ activity.start_time|time:"H:i"|default:'---' }} </td>
                                                    <td class="center">

                                                        {% if activity.id in activities_attendees %}
                                                      <br/> <span class="btn btn-success"><i class="fa fa-check-circle" tooltip="Registered"></i> Registered </span>

                                                        {% else %}
                                                       <br/> <span class="class{{ activity.id }}"> <a  class="btn btn-primary regActivity" id = "{{ activity.id }}" >&nbsp;&nbsp;&nbsp;&nbsp; Register &nbsp;&nbsp;&nbsp;&nbsp; </a> </span>
                                                        {% endif %}


                                                    </td>
                                                </tr>
                                           {% endfor %}
                                          {% else %}
                                                <tr >
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                          {% endif %}


                                            </tbody>
										</table>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->



						</article>
						<!-- WIDGET END -->

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->

			</div>






    </div>

</div>

</div>


{% endblock content %}
{% block page_js %}


        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>



    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */




		})



		</script>
<script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>

<script>

           $(".regActivity").click(function(e){
            e.preventDefault();

            activityid = $(this).attr('id');

            $.ajax({

            url: "/events/register-activity/"+activityid+"/",
            dataType: 'json',
            context: document.body
            }).done(function(data) {

               $( ".class"+data.id ).html("<span class='btn btn-success'><i class='fa fa-check-circle' tooltip='Registered'></i> Registered </span><br/>" );
            })
          });

</script>
{% endblock page_js %}