{% extends 'admin_base.html' %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>


{% endblock extra_css %}

{% block content %}
<div id="content">
<div class="row">

   <div class="col-md-12 well-sm well-light">




         <div class="col-md-12 well"><br/>

             <h2 class="col-md-12">Activity registration reports</h2>

             <div class="col-md-12">
                 <div class="pull-right">
                  <span class="col-md-8"> <input class="form-control" type="text" placeholder="Search..."></span>

                                            <button type="submit" class="btn btn-success">
                                                &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
                                            </button>
                  </div>

             </div>















             <div class="fixed-table-container pull-left" style="height: 250px;">
                  <div class="header-background"> </div>
                  <div class="fixed-table-container-inner">

                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover">
                              <thead>
                                    <tr>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;">Activity Name</div>
                                          </th>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> Type </div>
                                          </th>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> Description </div>
                                          </th>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> Location </div>
                                          </th>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> Start Date </div>
                                          </th>
                                          <th class="">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> Start Time </div>
                                          </th>
                                          <th class="sorttable_nosort">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> End Date </div>
                                          </th>
                                          <th class="sorttable_nosort">
                                            <div class="th-inner" style="text-align: center; color: #ffffff; margin-left: -10px;"> End Time </div>
                                          </th>



                                    </tr>
                              </thead>
                              <tbody class="">

                    <tr>
                        <td> activity 1 </td>
                        <td> Learning Session </td>
                        <td> Description 1 </td>
                        <td> Location 1 </td>
                        <td> 12/04/2014 </td>
                        <td> 11:00 </td>
                        <td> 13/04/2014 </td>
                        <td> 11:00 </td>

                    </tr>
                    <tr>
                        <td> activity 2 </td>
                        <td> Business requirement session </td>
                        <td> Description 2 </td>
                        <td> Location 2 </td>
                        <td> 12/04/2014 </td>
                        <td> 11:00 </td>
                        <td> 13/04/2014 </td>
                        <td> 11:00 </td>

                    </tr>
                    <tr>
                        <td> activity 3 </td>
                        <td> Senior Leader Round Table </td>
                        <td> Description 3 </td>
                        <td> Location 3 </td>
                        <td> 12/04/2014 </td>
                        <td> 11:00 </td>
                        <td> 13/04/2014 </td>
                        <td> 11:00 </td>

                    </tr>
                    <tr>
                        <td> activity 4 </td>
                        <td> Executive Round Tables </td>
                        <td> Description 4 </td>
                        <td> Location 4 </td>
                        <td> 12/04/2014 </td>
                        <td> 11:00 </td>
                        <td> 13/04/2014 </td>
                        <td> 11:00 </td>

                    </tr>
                    <tr>
                        <td> activity 5 </td>
                        <td> Networking Round Tables </td>
                        <td> Description 5 </td>
                        <td> Location 5 </td>
                        <td> 12/04/2014 </td>
                        <td> 11:00 </td>
                        <td> 13/04/2014 </td>
                        <td> 11:00 </td>

                    </tr>

                              </tbody>
                        </table>
                  </div>
             </div>





             <div class="col-md-8">
                <button type="submit" class="btn btn-success pull-right">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-bar-chart-o fa-lg"></i>&nbsp; Get analytics
                </button>
             </div>
             <div class="col-md-4">
                <button type="submit" class="btn btn-success pull-right">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-th fa-lg"></i>&nbsp; Export activity reports
                </button>
             </div>







         </div>






         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
             <span>&nbsp;</span>
















						<!-- NEW WIDGET START -->
						<article >

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget" id="wid-id-11" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
									<h2> Activity 2 - Registered Attendees - Daily reports </h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

										<div id="line-example" class="chart no-padding"></div>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->
						</article>
						<!-- WIDGET END -->

					<!-- end row -->






         </div>
         <div class="col-md-12">




             <!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget col-md-3" id="wid-id-6" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
									<h2>#registrants/cancelled registrations</h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

										<div id="donut-graph1" class="chart no-padding"></div>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->



<div class="col-md-1">&nbsp;</div>


             <!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget col-md-3" id="wid-id-7" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
									<h2># of registrants / # of attendees</h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

										<div id="donut-graph2" class="chart no-padding"></div>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->








         </div>
   </div>
</div>
 </div>

 <!-- Modal pie 1 registrants-->
<div class="modal fade" id="modal-registrants-pie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

 <!-- Modal pie 1 attendees-->
<div class="modal fade" id="modal-attendees-pie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

 <!-- Modal pie 1 cancelles-->
<div class="modal fade" id="modal-cancelles-pie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->


 <!-- Modal pie 2 registrants-->
<div class="modal fade" id="modal-registrants-pie2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

 <!-- Modal pie 2 attendees-->
<div class="modal fade" id="modal-attendees-pie2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

 <!-- Modal pie 2 cancels-->
<div class="modal fade" id="modal-cancels-pie2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

{% endblock content %}

{% block page_js %}
    <script src="{{ STATIC_URL }}js/sorttable.js"></script>
    		<script type="text/javascript">
  Morris.Line({
  element: 'line-example',
  data: [{
						"y" : '2014-1-1',
						"a" : 34
					}, {
						"y" : '2014-1-2',
						"a" : 24
					}, {
						"y" : '2014-1-3',
						"a" : 3
					}, {
						"y" : "2014-1-4",
						"a" : 12
					}, {
						"y" : "2014-1-5",
						"a" : 13
					}, {
						"y" : "2014-1-6",
						"a" : 22
					}, {
						"y" : "2014-1-7",
						"a" : 5
					}, {
						"y" : "2014-1-8",
						"a" : 26
					}, {
						"y" : "2014-1-9",
						"a" : 12
					}, {
						"y" : "2014-1-10",
						"a" : 19
					}],
  xkey: 'y',
  ykeys: 'a',
  labels: ['Attendees'],
  xLabels : 'day'
});
  </script>
    <script type="text/javascript">
    $(document).ready( function() {

    $('#sparkline03').sparkline([5,10 ], {
  type: 'pie',
  width: 'auto',
  height: '250px',
  sliceColors: ['#22beef','#a2d200'],
  class:["id1","id2"]
    });

        $("#id1").bind('click', function(){
                     alert("Clicked");
                  });
});





    </script>
   <script type="text/javascript">
					Morris.Donut({
						element : 'donut-graph1',
						data : [{
							value : 70,
							label : 'registrants',
                            class:'id1'
						}, {
							value : 30,
							label : 'cancelled registrations',
                            id:'id2'
						}],
						formatter : function(x) {
							return x + "%"
						}
					});
   </script>
   <script type="text/javascript">
					Morris.Donut({
						element : 'donut-graph2',
						data : [{
							value : 70,
							label : 'registrants',
                            class:'id1'
						}, {
							value : 30,
							label : 'attendees',
                            id:'id2'
						}],
						formatter : function(x) {
							return x + "%"
						}
					});
   </script>
{% endblock page_js %}