{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load activities_attendees_fielter %}
{% load event_tags %}
{% load facility_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}redactor/css/redactor.css" xmlns="http://www.w3.org/1999/html"/>
    <!--<link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>-->
{% endblock extra_css %}

{% block content %}
{% is_moderator event as can_moderate %}
<div id="content">

<div class="row">
    <div class="col-md-12">
        <h1> Event {{ event.name }} Activities </h1><br/>
    </div>
</div>
<div class="col-md-12" style="margin-bottom: 10px;">
            {% if can_moderate %}
            <button type="button" class="btn btn-success pull-right" id="activityToggleBtn"><i class="fa fa-plus-square"> </i>  Add new Activity</button>
            {% endif %}
</div>
{% with active='activities' %}
    {% include "events/includes/event_details_menu.html" %}
{% endwith %}
<div class="row">

    <!-- MAIN CONTENT -->
			<div class="col-md-12">
				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">

						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Activities list</h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">

										</div>

										<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" style="text-align: center">
                                            <thead>
                                                   <tr>
                                                       <th>Activity <br/> Name</th>
                                                       <th> Type </th>
                                                       <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                       <!--<th> Location </th>-->
                                                       <th> Date </th>
                                                       <th> Start <br/> Time </th>
                                                       <th> End <br/> Time </th>
                                                       <th> Participants </th>
                                                       <th> Room <br/> name  </th>
                                                       <th> Room <br/> number </th>
                                                       <th> Room <br/> capacity </th>
                                                       <th> Action </th>
                                                   </tr>
                                            </thead>
                                            <tbody>
                                                  {% if object_list %}

                                                       {% for activity in object_list %}
                                                            <tr id="row_id_{{ activity.id }}">
                                                                <td> {{ activity.name|default:'---' }} </td>
                                                                {% if activity.agenda_based_activity_type %}
                                                                <td> {{ activity.agenda_based_activity_type|default:'---'  }} </td>
                                                                {% else %}
                                                                <td> {{ activity.scheduled_based_activity_type|default:'---'  }} </td>
                                                                {% endif %}
                                                                <td> {{ activity.description|default:'---'  }} </td>
                                                                <td> {{ activity.date|date:"D d M Y"|default:'---'  }} </td>
                                                                <td> {{ activity.start_time|time:"H:i"|default:'---'  }} </td>
                                                                <td> {{ activity.end_time|time:"H:i"|default:'---'  }} </td>
                                                                <td> {{ activity.id|get_attendees_count:activities_attendees|default:'---'  }} </td>
                                                                <td> {{ activity.facility|default:'---'  }} </td>
                                                                <td> {{ activity.facility.room_number|default:'---'  }} </td>
                                                                <td> {{ activity.facility.classroom_capacity|default:'---'  }} </td>
                                                                <td>
                                                                    {% if can_moderate %}
                                                                        <span><i class="fa fa-edit green editActivity" tooltip="edit" data-looking-date="{{ activity.date|date:"Y-m-d" }}" data-facility-pk="{{ activity.facility.pk }}" data-facility-theater-capacity="{{ activity.facility.theater_capacity }}" data-facility-classroom-capacity="{{ activity.facility.classroom_capacity }}" data-facility-banquet-capacity="{{ activity.facility.banquet_capacity }}" data-facility-sqft="{{ activity.facility.sqft }}" data-facility-building="{{ activity.facility.building }}" data-update-url="{% url 'ajax_update_activity' pk=activity.pk %}" data-id="{{ activity.id }}"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <span><i class="fa fa-trash-o red delete_activity" data-id ="{{ activity.id }}"></i></span>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                      {% endfor %}
                                                  {% else %}
                                                        <tr >
                                                            <!--   colslpan="11" doesn't work with datatables   -->
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-right" style="border: 0">No</td>
                                                            <td class="text-center" style="border: 0">activities</td>
                                                            <td style="border: 0">yet.</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                            <td class="text-center" style="border: 0">&nbsp;</td>
                                                        </tr>
                                                  {% endif %}
                                            </tbody>
										</table>
									</div>
									<!-- end widget content -->
								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->
						</article>
						<!-- WIDGET END -->
					</div>
					<!-- end row -->
				</section>
				<!-- end widget grid -->
			</div>
    <!--/////////////////////////////////////////////////////////////////////////////////////-->


        <h1 class="col-md-12"></h1>
        <div class="col-md-12 well well-sm hide" id="replace">
        </div>
</div>

</div>

{% search_facility_modal %}

{% endblock content %}
{% block page_js %}

        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.confirm.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
        <script type="text/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/django-csrf.js" %}"></script>
        <script src="{{ STATIC_URL }}redactor/redactor.js"></script>





    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		   /* END TABLE TOOLS */

           $(".regActivity").click(function(e){
            e.preventDefault();

            activityid = $(this).attr('id');

            $.ajax({

            url: "/events/register-activity/"+activityid+"/",
            dataType: 'json',
            context: document.body
            }).done(function(data) {

               $( ".class"+data.id ).html("<span class='btn btn-success'><i class='fa fa-check-circle' tooltip='Registered'></i> Registered </span><br/>" );
            })
            });

            $('#id_looking_date').attr('readonly', 'true')
            $('#id_facility_input').val($('#id_facility').val())




            $(document).on('change', ".activity_type_option", function(){
                if ($('.activity_type_option').is(':checked')){

                    x = $(this).attr('id')

                    read = $(this).attr('rect')

                    $('#'+x+'_type').attr('disabled', 'true')
                    $('#'+read).removeAttr( "disabled" )
                }

            });

        })

        $( document ).ajaxComplete(function() {
          $('#id_scheduled_based_activity_type').attr('disabled', 'true');
          $('#id_facility_input').val($('#id_facility').val())
          $('#id_looking_date').attr('readonly', 'true')
        });


        $(document).on('change', '#id_date', function(e) {
            var x = $(this).val();

            $('#id_looking_date').val(x)

        });


		</script>
 <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>

<script>
            //activity delete confirmation dialog

            $(".delete_activity").click( function(e){

                        activityid = $(this).data('id');



                        $.confirm({
                            text: "Are you sure you want to delete that activity?",
                            confirm: function(button) {
                                // do something

					///////////////////////////////////

                            $.ajax({

                                url: "/events/delete-activity/"+activityid+"/",
                                dataType: 'json',
                                context: document.body
                                }).done(function(data) {

                                $("#row_id_"+data.id).remove()

                                })
                    //////////////////////////////////////
                            },
                            cancel: function(button) {
                            }
                        });
			});
</script>
<script>
    $(document).on('submit', 'form.dummy-form', function(form) {
          form.preventDefault()
          var $form = $(form);
          formid = $(".dummy-form").attr('id');


          $.ajax({
                type: "GET",
                url: form.action,
                data: {form:$form.serialize(), id:formid},
                success: function(data) {
                    $('html, body').animate({
                      scrollTop: $("#activityToggleBtn").offset().top
                    }, 2000);
                    $("#activityToggle").css('visibility', 'visible');// Show the add activity form div
                    $("#activityToggleBtn").css('visibility', 'hidden');// Hide button
                    $("#addedit").html("Edit activity");
                    $(".dynamic-form").remove();
                    $("#replace").html(data);
                }
          });
    });
</script>
<script type="text/javascript">
    var djangoConstants = {
        newActivityUrl: "{% url 'ajax_new_activity' event_pk=event.pk %}"
    }
</script>
<script type="text/template" id="FormWrapperTmpl">
		<article>
            <div data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">
				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
					<h2><%= title %></h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
				<div role="content">

					<div class="jarviswidget-editbox">
					</div>

					<div class="widget-body no-padding" id="activityFormWrapper">
					</div>
				</div>
			</div>
	    </article>
</script>
<script  type="text/javascript" src="{% static "js/activities.js" %}"></script>
{% search_facility_js %}
{% endblock page_js %}