{% extends 'base.html' %}
{% load humanize %}
{% block content %}

			<div class="container"><div class="row row-app">
	<div class="col-md-12">
		<div class="col-separator col-separator-first col-unscrollable bg-none">
			<div class="col-table">
				
				<div class="innerTB">
					<h3 class="margin-none pull-left">Upcoming Events &nbsp;<i class="fa fa-fw fa-calendar text-muted"></i></h3>
					<div class="btn-group pull-right">
						<a href="/" class="btn btn-default"><i class="fa fa-fw fa-clock-o"></i> MY Events</a>
						<a href="/" class="btn btn-primary"><i class="fa fa-fw fa-calendar"></i> Past Events </a>

					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="col-separator-h"></div>

				<div class="row">

                {% for event in my_events %}



					<div class="col-md-4">
						


						<div class="box-generic padding-none bg-gray overflow-hidden">
							<div class="innerAll border-bottom">
								<div class="media margin-none">
									<a href="" class="pull-right"><i class="fa fa-star"></i></a>
                                    {% if event.cover %}


									<img src="{{ event.cover.url }}" alt="" class="img-circle pull-right" style="max-width:70px">
                                     {% endif %}
									<div class="media-body innerT half">
										<h4>{{ event.name }}</h4>
										<p class="margin-none">{{ event.start_time|naturaltime }}</p>
									</div>
								</div>
							</div>
							<ul class="list-unstyled">
								<li class="innerAll border-bottom">
									<span class="badge badge-default pull-right">{{ event.attendees }}</span>
									<i class="fa fa-fw icon-user-1"></i> Attendees
								</li>
								<li class="innerAll border-bottom">
									<span class="badge badge-default pull-right"></span>
									<i class="fa fa-fw fa-location-arrow"></i> {{ event.venue }}
								</li>


								<li class="innerAll bg-white text-center">
									<a href="/events/event/{{ event.id }}/" class="btn btn-info btn-sm">View Event Details</a>
								</li>



							</ul>
						</div>

					</div>
                 {% endfor %}

                {% for event in events %}



					<div class="col-md-4">



						<div class="box-generic padding-none bg-gray overflow-hidden">
							<div class="innerAll border-bottom">
								<div class="media margin-none">
									<a href="" class="pull-right"><i class="fa fa-star"></i></a>
                                    {% if event.cover %}


									<img src="{{ event.cover.url }}" alt="" class="img-circle pull-right" style="max-width:70px">
                                    {% endif %}
									<div class="media-body innerT half">
										<h4>{{ event.name }}</h4>
										<p class="margin-none">{{ event.start_time|naturaltime }}</p>
									</div>
								</div>
							</div>
							<ul class="list-unstyled">
								<li class="innerAll border-bottom">
									<span class="badge badge-default pull-right">{{ event.attendees }}</span>
									<i class="fa fa-fw icon-user-1"></i> Attendees
								</li>
								<li class="innerAll border-bottom">
									<span class="badge badge-default pull-right"></span>
									<i class="fa fa-fw fa-location-arrow"></i> {{ event.venue }}
								</li>

                                <li class="innerAll bg-white text-center">
									<a data-toggle="modal" href="#modal-{{ event.id }}" class="btn btn-info btn-sm">Register </a>
								</li>




							</ul>
						</div>

					</div>
                 {% endfor %}



				</div>
				
				<div class="row">
					<div class="col-md-8">
						
						<div class="row">
							<div class="col-md-6">
								
							</div>
							<div class="col-md-6">
								
								
								
							</div>
						</div>

					</div>
					<div class="col-md-4">
						
						

					</div>
				</div>
				
				<div class="col-separator-h"></div>
				
			</div>
		</div>
	</div>
</div>





		</div>



    <!-- modals    -->

  {% for event in events %}
<!-- Modal -->
<div class="modal fade" id="modal-{{ event.id }}">

	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal heading -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" style="text-align: center"> <i class="glyphicon lock"></i>Register to attend {{ event.name }} {{ event.start_time|naturaltime }}</h3>
			</div>
			<!-- // Modal heading END -->

			<!-- Modal body -->
			<div class="modal-body">
				<div class="innerAll">
					<div class="innerLR">
						<form class="form-horizontal" role="form" class="attend-form" method="post" action="/events/attend/">
        <span id="error_div" style="display: none">
           <span id="error" style="color: red"></span>
        </span>


    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email"  required name="email" placeholder="email" style="min-width: 100%">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input type="phone" class="form-control" id="phone" name='phone' placeholder="Phone Number" required >
            <input type="hidden" class="form-control" id="id" name='id' value="{{ event.id }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label class="checkbox-custom">
                    <i class="fa fa-fw fa-square-o"></i>
                    <input type="checkbox" checked="checked"> Receive reminders me
                </label>
            </div>
        </div>
    </div>
                            {% csrf_token %}
                            <span id="show-submit">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-success"> RSVP</button>
        </div>

    </div>

     <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <p class="form-control-static">The email and phone provided will be used for sending reminders</p>
        </div>
    </div>




                                </span>
</form>




					</div>
				</div>
			</div>
			<!-- // Modal body END -->

		</div>
	</div>

</div>
<!-- // Modal END -->
{% endfor %}
<!-- modals end     -->



{% endblock %}

            {% block js %}
	<script src="{{ STATIC_URL }}assets/components/library/jquery/jquery.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/library/jquery/jquery-migrate.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/library/modernizr/modernizr.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/less-js/less.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.9.6&sv=v0.0.1"></script>	<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

	<script src="{{ STATIC_URL }}assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/breakpoints/breakpoints.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/preload/pace/pace.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/core/js/preload.pace.init.js?v=v1.9.6"></script>
	<script src="{{ STATIC_URL }}assets/components/common/gallery/blueimp-gallery/assets/lib/js/blueimp-gallery.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/common/gallery/blueimp-gallery/assets/lib/js/jquery.blueimp-gallery.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/image-preview/image-preview.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/core/js/core.init.js?v=v1.9.6"></script>
	<script src="{{ STATIC_URL }}assets/components/core/js/animations.init.js?v=v1.9.6"></script>
    <script src="{{ STATIC_URL }}js/ajax.js"></script>
    {% endblock js %}