{% extends "base.html" %}

{% load builder_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/formable_style.css"/> 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form_style.css"/>
{% endblock extra_css %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/default.js"></script>
    <script src="{{ STATIC_URL }}js/helpers.js"></script>
{% endblock extra_js %}

{% block content %}

    <div>
        <h2>Survey List</h2>
    </div>
    <div class="section container row border_solid">
        {% builder %}
    </div>

{% endblock content %}
