{% extends 'admin_base.html' %}

	{% block extra_css %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>

    {% endblock extra_css %}


{% block content %}

<div class="row">
    <div class="col-md-12">

        <h1>Matchmaker schedule</h1><br/>


        <div class="col-md-4">
            <span class="control-label input-label col-md-4">Select event</span>
            <select class="selectpihcker col-md-8">
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
            </select>
        </div>
        <div class="col-md-8">
             <a class="btn btn-success" type="button" href="#"><i class="fa fa-search"></i> Show event schedule</a>
        </div>
        <br/>



        <div class="col-md-9">
            <h2>MIDA presentation schedule</h2>
            <div class="fixed-table-container pull-left">
                  <div class="header-background"> </div>
                  <div class="fixed-table-container-inner">

                        <table cellspacing="0" border="1">
                              <thead>
                                    <tr>
                                          <th class="first">
                                            <div class="th-inner fst1 text-center" style="color: #ffffff">Table #</div>
                                          </th>
                                          <th class="second">
                                            <div class="th-inner fst2 text-center" style="color: #ffffff">Meeting Time</div>
                                          </th>
                                          <th class="third">
                                            <div class="th-inner fst3 text-center" style="color: #ffffff">Supplier</div>
                                          </th>
                                          <th class="fourth">
                                            <div class="th-inner fst4" style="text-align: center; color: #ffffff">Matching criteria</div>
                                          </th>
                                    </tr>
                              </thead>
                              <tbody class="colorall">
                                    <tr>
                                      <td class="fst1">1</td>
                                      <td class="fst2">9:00 AM - 9:30 AM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Hubbard  Gene (Volte communications Inc)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. desGrosseilliers Jane (Mountain View Media)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Canizales Rose Ann (Great Impact)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">3</td>
                                      <td class="fst2">12:00 PM - 12:30 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Orona Peter (Advanved Foarm & packaging, Inc) </a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">4</td>
                                      <td class="fst2">14:30 PM - 15:00 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">5</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">28</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">134</td>
                                      <td class="fst2">16:00 PM - 16:30 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1"></td>
                                      <td class="fst2"></td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Mr. Sosniscki Ted (Go Green World, LLC)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">487</td>
                                      <td class="fst2">16:30 PM - 17:00 PM</td>
                                      <td class="fst3"><a href="#modal-buyers" data-toggle="modal" >Ms. Anau Nathalie (Integreted process technologies)</a></td>
                                      <td class="fst3">331, 555, 593</td>
                              </tbody>
                        </table>
                  </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Shortlisted for 1:1 meetings</h2>
            <table border="1">
                <tbody class="colorall">
                    <tr>
                       <td class="">Mr. desGrosseilliers Jane (Mountain View Media)</td>
                    </tr>
                    <tr>
                       <td class="">Mr. desGrosseilliers Jane (Mountain View Media)</td>
                    </tr>
                    <tr>
                       <td class="">Mr. desGrosseilliers Jane (Mountain View Media)</td>
                    </tr>
                    <tr>
                       <td class="">Mr. desGrosseilliers Jane (Mountain View Media)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-buyers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        <p>Do you want to short list <span id="add"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->


{% endblock %}

{% block page_js %}
    <script src="{{ STATIC_URL }}assets/js/plugin/jqGrid/jqGrid.min.js"></script>
    <script type="text/javascript">

        $(document).on("click", "a", function (e) {
            e.preventDefault();
            var add=$(this).text()
            $("#add").html(add)
        });

	</script>
{% endblock page_js %}