
{% extends 'admin_base.html' %}

{% block content %}
			<!-- row -->
<div class="row row-app">

	<!-- col -->
	<div class="col-md-12">

		<!-- col-separator -->
		<div class="col-separator col-separator-first col-unscrollable bg-none">

			<!-- col-table -->
			<div class="col-table">
				
				<!-- heading -->
				<div class="innerTB">
					<h3 class="margin-none pull-left">Dashboard Overview &nbsp;<i class="fa fa-fw fa-pencil text-muted"></i></h3>
					<div class="btn-group pull-right">
						<a href="dashboard_analytics.html?lang=en" class="btn btn-default"><i class="fa fa-fw fa-bar-chart-o"></i> Analytics</a>
						<a href="dashboard_users.html?lang=en" class="btn btn-default"><i class="fa fa-fw fa-user"></i> Users</a>
						<a href="dashboard_overview.html?lang=en" class="btn btn-primary"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- // END heading -->

				<div class="col-separator-h"></div>
				
				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app.col-unscrollable -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">

							<!-- content -->
							<div class="row row-app">
								<div class="col-md-3">
									<div class="col-separator">
										<div class="text-center innerAll inner-2x border-bottom">
	<div class="innerTB">
		<div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender primary" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
			<div class="value text-center">
				<span class="strong"><i class="icon-graph-up-1 fa-3x text-primary"></i></span>
			</div>
		</div>
	</div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
	<p class="lead margin-none"><span class="text-large text-regular">8,320</span><span class="clearfix"></span> <span class="text-primary">Visits</span></p>
</div>


									</div>
								</div>
								<div class="col-md-3">
									<div class="col-separator">
										<div class="text-center innerAll inner-2x border-bottom">
	<div class="innerTB">
		<div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender success" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
			<div class="value text-center">
				<span class="strong"><i class="icon-cash-bag fa-4x text-success"></i></span>
			</div>
		</div>
	</div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
	<p class="lead margin-none"><span class="text-large text-regular">&euro;3,470</span><span class="clearfix"></span> <span class="text-success">Income</span></p>
</div>

									</div>
								</div>
								<div class="col-md-3">
									<div class="col-separator">
										<div class="text-center innerAll inner-2x border-bottom">
	<div class="innerTB">
		<div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender info" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
			<div class="value text-center">
				<span class="strong"><i class="icon-shopping-bag fa-3x text-info"></i></span>
			</div>
		</div>
	</div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
	<p class="lead margin-none"><span class="text-large text-regular">683</span> <span class="clearfix"></span> <span class="text-info">Sales</span></p>
</div>

									</div>
								</div>
								<div class="col-md-3">
									<div class="col-separator col-separator-last">
										<div class="text-center innerAll inner-2x border-bottom">
	<div class="innerTB">
		<div data-percent="85" data-size="100" class="easy-pie inline-block easy-pie-gender inverse" data-scale-color="false" data-track-color="#efefef" data-line-width="5">
			<div class="value text-center">
				<span class="strong"><i class="icon-user-2 fa-3x text-faded"></i></span>
			</div>
		</div>
	</div>
</div>
<div class="text-center innerAll inner-2x bg-gray">
	<p class="lead margin-none"><span class="text-large text-regular">1209</span> <span class="clearfix"></span><span>Total Sign Ups</span></p>
</div>

									</div>
								</div>
							</div>
							<div class="col-separator-h"/></div>

							<div class="row row-app">
								<div class="col-md-8">
									<div class="col-separator">
										
										<div class="innerLR heading-buttons border-bottom">
											<h4 class="innerTB margin-none pull-left">Recent Activity</h4>
											<div class="btn-group btn-group-xs pull-right">
												<button class="btn btn-default filled"><i class="fa fa-refresh "></i></button>
												<button class="btn btn-default "><i class="fa fa-cog "></i></button>
											</div>
											<div class="clearfix"></div>
										</div>

										<div class="innerAll border-bottom text-center">
											<div class="btn-group innerAll ">
												<a href="" class="btn btn-primary"><i class="icon-user-1"></i> Visitors</a>
												<a href="" class="btn btn-default"><i class=" icon-document-blank"></i> PageViews</a>
												<a href="" class="btn btn-default"><i class="icon-user-2"></i> Unique Visitors</a>
											</div>
										</div>

										<div class="innerAll inner-2x bg-gray text-center">
											<!-- Simple Chart -->
<div id="chart_simple" class="flotchart-holder"></div>




										</div>
										<div class="col-separator-h"></div>

										<div class="innerLR heading-buttons border-bottom">
											<h4 class="innerTB margin-none pull-left">Reports</h4>
											<div class="btn-group btn-group-xs pull-right">
												<button class="btn btn-default filled"><i class="fa fa-refresh "></i></button>
												<button class="btn btn-default "><i class="fa fa-cog "></i></button>
											</div>
											<div class="clearfix"></div>
										</div>

										<table class="table table-vertical-center table-striped bg-white margin-none">
											<thead>
												<tr>
													<th class="center">No.</th>
													<th>Name</th>
													<th>Location</th>
													<th>Position</th>
													<th class="center">Rating</th>
													<th class="center">Progress</th>
													<th class="text-right">Action</th>
												</tr>
											</thead>
											<tbody>
																								
												<tr>
													<td class="center">1</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/5.jpg" width="20" class="img-circle"/> <span >Adrian Demian</span></td>
													<td>MI,USA </td>
													<td>Senior UI Designer</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">2</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/6.jpg" width="20" class="img-circle"/> <span >Suzanne Marie</span></td>
													<td>DUBLIN,IE </td>
													<td>Project Manager</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">3</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/7.jpg" width="20" class="img-circle"/> <span >John Carsten</span></td>
													<td>ML,IT </td>
													<td>Assistant</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">4</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/8.jpg" width="20" class="img-circle"/> <span >Bogdan Laza</span></td>
													<td>MI,USA </td>
													<td>CEO</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">5</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/9.jpg" width="20" class="img-circle"/> <span >Adrian Demian</span></td>
													<td>DUBLIN,IE </td>
													<td>Director</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">6</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/10.jpg" width="20" class="img-circle"/> <span >Suzanne Marie</span></td>
													<td>ML,IT </td>
													<td>Senior Associate</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">7</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/11.jpg" width="20" class="img-circle"/> <span >John Carsten</span></td>
													<td>ML,IT </td>
													<td>Personal Assistant</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">8</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/12.jpg" width="20" class="img-circle"/> <span >Bogdan Laza</span></td>
													<td>DUBLIN,IE </td>
													<td>Developer</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
																								
												<tr>
													<td class="center">9</td>
													<td> <img src="{{ STATIC_URL }}assets//images/people/35/13.jpg" width="20" class="img-circle"/> <span >Bogdan Laza</span></td>
													<td>DUBLIN,IE </td>
													<td>Developer</td>
													<td class="center"><div class="rating text-faded">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star"></span>
</div>  


</td>
													<td class="center">
														<div class="progress progress-mini margin-bottom">
															<div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
														</div>
													</td>
													<td class="text-right">
														<div class="btn-group btn-group-xs ">
															<a href="" class="btn btn-inverse"><i class="fa fa-pencil"></i></a>
															<a href="" class="btn btn-default text-danger"><i class="fa fa-times"></i></a>

														</div>
													</td>
												</tr>
												
											</tbody>
										</table>
										
									</div>
								</div>
								<div class="col-md-4">			
									<div class="col-separator col-separator-last">
										<a href="" class="widget widget-icon inverse innerAll inner-2x text-center text-regular">
	<i class="display-block icon-alarm-clock text-xlarge"></i>
	<span class="lead">3 Alerts</span>
</a>

										<div class="col-separator-h"></div>

										<a href="" class="widget widget-icon primary innerAll inner-2x text-center text-regular">
	<i class="display-block  icon-graduation text-xlarge"></i>
	<span class="lead">5 Graduates</span>
</a>	
	
										<div class="col-separator-h"></div>

										<a href="" class="widget widget-icon success innerAll inner-2x text-center text-regular">
	<i class="display-block icon-envelope-2 text-xlarge"></i>
	<span class="lead">9 Messages</span>
</a>	
	
										<div class="col-separator-h"></div>

										<!-- Demographics Widget -->
<div class="widget widget-inverse">
	<div class="widget-head border-bottom-none">
		<h4 class="heading"><i class="icon-wind-speed-censor"></i> Demographics</h4>
	</div>
	<div class="widget-body padding-none">
		
		<div class="innerAll inner-2x text-center border-bottom">
			<p class="lead margin-none"><span class="text-large3">1,210</span> of <span class="text-primary">your customers</span></p>
		</div>
		<div class="innerAll inner-2x">
			<div class="innerLR text-center">
				<div class="progress progress-mini">
					<div class="progress-bar progress-bar-primary" style="width: 30%"></div>
				</div>
				<p class="margin-none">living in <span class="strong">United States</span>, aged <span class="strong">45+</span></p>
				<p class="margin-none">suffer from a <span class="strong text-primary">deadly disease</span></p>
			</div>
		</div>
				
	</div>
</div>

										<div class="col-separator-h"></div>
									</div>
								</div>
							</div>
							<!-- // END content -->

						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->

			</div>
			<!-- // END col-table -->

		</div>
		<!-- // END col-separator -->

	</div>
	<!-- // END col -->

</div>
<!-- // END row -->

{% endblock content %}
	

	{% block js %}
	<script src="{{ STATIC_URL }}assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/breakpoints/breakpoints.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/preload/pace/pace.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/preload.pace.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-simple.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/sidebar.main.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/sidebar.collapse.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/sidebar.kis.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/core.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/animations.init.js?v=v1.9.6"></script>

{% endblock js %}
