{% extends 'admin_base.html' %}

{% block content %}
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Event {{ object.name }}</h1>
            </div>
        </div>
        {% with event=object active='details' %}
            {% include "events/includes/event_details_menu.html" %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12">
                <h2>Subject: {{ object.subject }}</h2>
                <p>
                    <strong>Start date:</strong> {{ object.start_time|date:"Y-m-d" }}
                </p>
                <p>
                    <strong>End date:</strong> {{ object.end_time|date:"Y-m-d" }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Description</h2>
                <p>
                    {{ object.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Keynote speaker</th>
                        <td>{{ object.keynote_speakers_name }}</td>
                    </tr>
                    <tr>
                        <th>Keynote speakers bio</th>
                        <td>{{ object.keynote_speakers_bio }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ object.get_is_paid_display }}</td>
                    </tr>
                    {% if object.is_paid %}
                        <tr>
                            <th>Fee</th>
                            <td>${{ object.fee }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Venue</th>
                        <td>{{ object.venue }}</td>
                    </tr>
                    <tr>
                        <th>
                            Registration start
                        </th>
                        <td>
                            {{ object.reg_start|date:"Y-m-d H:i" }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Registration end
                        </th>
                        <td>
                            {{ object.reg_end|date:"Y-m-d H:i" }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Registration threshold
                        </th>
                        <td>
                            {{ object.attendee_threshold }}
                        </td>
                    </tr>
                    <tr>
                        <th>Visibility</th>
                        <td>{{ object.get_visibility_display }}</td>
                    </tr>
                    <tr>
                        <th>Show schedule</th>
                        <td>{{ object.get_show_schedule_display }}</td>
                    </tr>
                    <tr>
                        <th>Require registration code:</th>
                        <td>{{ object.get_require_reg_code_display }}</td>
                    </tr>
                    {% if object.require_reg_code %}
                        <tr>
                            <th>Registration code</th>
                            <td></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Active</th>
                        <td>{{ object.get_active_display }}</td>
                    </tr>
                    <tr>
                        <th>Survey</th>
                        <td>{{ object.survey }}<td>
                    </tr>
                    <tr>
                        <th>Available for feedback</th>
                        <td>{{ object.get_active_display }}</td>
                    </tr>
                    <tr>
                        <th>Social media integration</th>
                        <td>{{ object.get_social_display }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
