{% extends "admin_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="row">
            <div class="col-md-12"><h1>Events</h1></div>
        </div>
        <div class="col-md-12" style="margin-bottom: 10px;">
                {% if user.is_superuser %}
                <a href="{% url 'create_event' %}" class="btn btn-success pull-right" id="createEvent" >Create event</a>
                {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <section id="widget-grid" class="">

                    <!-- row -->
                    <div class="row">

                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2> Event list </h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">

                                        </div>

                                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Event<br/> Name</th>
                                                <th> Type </th>
                                                <th> Subject </th>
                                                <!--<th> Location </th>-->
                                                <th> Start Date </th>
                                                <th> End Date </th>
                                                <th> Participants </th>
                                                <th> Type </th>
                                                <th> Fee </th>
                                                 <th> Tickets </th>
                                                <th> Action </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for event in object_list %}
                                                    <tr id="row_id_{{ event.pk }}">
                                                        <td><a href="{% url 'event_details' pk=event.pk %}"><strong class="text-info">{{ event.name }}</strong></a></td>
                                                        <td> {{ event.get_event_type_display|default:'---'}} </td>
                                                        <td> {{ event.subject|default:'---' }} </td>
                                                        <td> {{ event.start_time|date:"D d M Y"|default:'---' }} </td>
                                                        <td> {{ event.end_time|date:"D d M Y"|default:'---' }} </td>
                                                        <td>---</td>
                                                        <td> {{ event.get_is_paid_display }} </td>
                                                        <td> {% if event.is_paid %}${{ event.fee }}{% else %}---{% endif %} </td>
                                                     <td > {% if event.is_paid %}
                                                         <strong><a href="/create-ticket/{{ event.id }}/">View</a></strong>{% else %}---{% endif %} </td>
                                                        <td>
                                                            {% if user.is_superuser %}
                                                                <a href="{% url "edit_event" pk=event.pk %}" class="editEvent" data-url="""><i class="fa fa-edit green editEvent" tooltip="edit" {# data-update-url="{% url 'ajax_update_activity' pk=activity.pk %}" #} data-id="{{ activity.id }}"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <a href="{% url "delete_event" pk=event.pk %}" data-event-name="{{ event.name }}" class="deleteEvent"><i class="fa fa-trash-o red delete_activity" data-id="{{ activity.id }}"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr >
                                                        <td class="text-center" style="border: 0">&nbsp;</td>
                                                        <td class="text-center" style="border: 0">&nbsp;</td>
                                                        <td class="text-center" style="border: 0">&nbsp;</td>
                                                        <td class="text-right" style="border: 0">&nbsp;</td>
                                                        <td class="text-right" style="border: 0">No events</td>
                                                        <td class="text-left" style="border: 0">yet</td>
                                                        <td class="text-center" style="border: 0">&nbsp;</td>
                                                        <td class="text-center" style="border: 0">&nbsp;</td>
                                                        <td class="text-center" style="border: 0">&nbsp;</td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- end row -->
                </section>
            </div>
        </div>

    </div>

    <!-- Modal window for events -->
    <div class="modal fade" id="eventModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" id="eventModalTitle"></div>
                <div class="modal-body" id="eventModalBody"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static "assets/js/plugin/datatables/jquery.dataTables-cust.min.js" %}"></script>
    <script src="{% static "assets/js/plugin/datatables/ColReorder.min.js" %}"></script>
    <script src="{% static "assets/js/plugin/datatables/FixedColumns.min.js" %}"></script>
    <script src="{% static "assets/js/plugin/datatables/ColVis.min.js" %}"></script>
    <script src="{% static "assets/js/plugin/datatables/ZeroClipboard.js" %}"></script>
    <script src="{% static "assets/js/plugin/datatables/media/js/TableTools.min.js" %}"></script>
    <script src="{%  static "assets/js/plugin/datatables/DT_bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.confirm.js" %}"></script>
{#    <script src="{% static "assets/js/plugin/datatables/media/js/TableTools.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/django-csrf.js" %}"></script>
    <script type="text/javascript" src="{% static "js/event-list.js" %}"></script>
{% endblock %}