{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>

{% endblock extra_css %}

{% block content %}
<div class="row">
    <div class="col-md-12"><br/>
        <div class="col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <input type="text" placeholder="Search..." name="qn" id="fid"/>
                    <input type="submit" class="btn btn-success" value="Search">
                </span>
            </div>
        </div>
        <h1 class="col-md-12"></h1>

        <!-- MAIN CONTENT -->
        <div id="content" class="col-md-12">
            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="" data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2> Manage Roles </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="widget-body-toolbar">
                                    </div>
                                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" style="text-align: center">
                                        <thead>
                                           <tr>
                                               <th>Activity Type</th>
                                               {% for group in groups %}
                                                   <th> {{group.name}} </th>
                                                {% endfor %}
                                           </tr>
                                        </thead>
                                        <tbody>
                                            {% if activities %}
                                                {% for activity in activities %}
                                                    <tr>
                                                        <td> {{ activity.full_name }} </td>
                                                        {% for group in groups %}
                                                            <td><input type="checkbox" name="option3" {% if group in activity.groups.all %}checked{% endif %} /></td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                              {% else %}
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                    </tr>
                                              {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
    </div>
</div>

</div>


{% endblock content %}
