{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load facility_tags %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% block extra_css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>
    <!--<link rel="stylesheet" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>-->
{% endblock extra_css %}
{% block content %}
<div id="content" xmlns="http://www.w3.org/1999/html">

<div class="row">
    <div class="col-md-12">



        <div class="col-md-12 well well-sm accordion">

            <div class="alert alert-block alert-success">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <h4 class="alert-heading"><i class="fa fa-calendar-o"></i> You got an upcoming activity, add it here</h4>
            </div>
            <article>


                <div data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" style="" role="widget">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
                        <h2>New Activity </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        {% crispy form %}
                        <!-- end widget edit box -->
                        <br/>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

</div>
{% search_facility_modal %}
{% endblock content %}
{% block page_js %}

        <script src="{{ STATIC_URL }}assets/js/plugin/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColReorder.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/FixedColumns.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ColVis.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/ZeroClipboard.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/media/js/TableTools.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/datatables/DT_bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.confirm.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
        <script type="text/javascript" src="{% static "js/libs/underscore-min.js" %}"></script>





    <script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {


			pageSetUp();

			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});

			/* END BASIC */

			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});

			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});


			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});



			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});

			/* END COL ORDER */

			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "/static/assets/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});

		/* END TABLE TOOLS */

           $(".regActivity").click(function(e){
            e.preventDefault();

            activityid = $(this).attr('id');

            $.ajax({

            url: "/events/register-activity/"+activityid+"/",
            dataType: 'json',
            context: document.body
            }).done(function(data) {

               $( ".class"+data.id ).html("<span class='btn btn-success'><i class='fa fa-check-circle' tooltip='Registered'></i> Registered </span><br/>" );
            })
          });


		})



</script>
 <script>

    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>


 <script>
$(document).ready(function() {

    $("#range-slider-2").ionRangeSlider();
    $("#range-slider-3").ionRangeSlider();
     });
    $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');



});



       $("#select-code").select2({
							allowClear: true,
							placeholder: "Enter Code or Keyword"
						});





</script>
<style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:310px;
}
</style>
<script type="text/javascript">
        $(document).ready(function(){
               $("#activityToggleBtn").click(function(){
                  $("#activityToggle").css('visibility', 'visible');// Show the div
               });
        });
</script>
{% search_facility_js %}
{% endblock page_js %}