{% extends 'admin_base.html' %}

	{% block extra_css %}
	
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
	
    {% endblock extra_css %}

{% block content %}

<div class="container" style="width:70%">


<div class="row row-app">
	<div class="col-md-12">
		<div class="col-separator col-separator-first col-unscrollable bg-none">
			<div class="col-table">
				
				<div class="innerTB">
					<h1 class="margin-none pull-left">Event matches</h1>
					
					<div class="clearfix"></div>
				</div>
				
				<div class="col-separator-h"></div>

				<div class="row">
                                     <div class="row">
					<div class="col-md-4">
					
						<fieldset class="scheduler-border fieldset-height">
						    <legend class="scheduler-border">Event info</legend>
						    <div class="row">
						      <div class="col-md-12">
                                    <span class="control-label input-label col-md-4">Event</span>
                                    <select class="selectpihcker col-md-8">
                                          <option>MIDA presentation</option>
                                          <option>MIDA presentation</option>
                                          <option>MIDA presentation</option>
                                          <option>MIDA presentation</option>
                                          <option>MIDA presentation</option>
                                          <option>MIDA presentation</option>
                                    </select>
						       </div>
						    </div><br/><br/>
						    
						    
						    <span class="control-group">
							    <div class="row"> 
							        <div class="col-md-12">
								    <span class="col-md-8">Registered buyers</span>
									   
								    <span class="col-md-4"><a href="#modal-buyers" data-toggle="modal" > {{ 200 }} </a></span>
								</div><br/><br/>
								<div class="col-md-12">
									<span class="col-md-8">Registered sellers</span>
									  
								        <span class="col-md-4"><a href="#modal-sellers" data-toggle="modal" > {{ 630 }} </a></span>
								 </div><br/><br/>
							      </div>	  
							  </span>					    
						    
						</fieldset>

					</div>
                    <div class="col-md-8">



						<fieldset class="scheduler-border fieldset-height">
						    <legend class="scheduler-border">Event setup</legend>
						    <div class="control-group row">
						      
						         
							     
                                  <div class="col-md-6">
                                     <div class="row">
                                    <span class="col-md-6">Total tables</span>
                                    <span class="col-md-2">{% include "events/_spinner.html" %}</span>
                                     </div>
                                      </div>
                                  <div class="col-md-6">
                                      <div class="row">
                                        <span class="col-md-5">Lunch break</span>
                                        <span class="col-md-2">{% include "events/_spinner.html" %}</span><span class="pull-right"> (Mins)</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6"> 								     <div class="row">
                                        <span class="col-md-6">Session duration</span>
                                        <span class="col-md-2">{% include "events/_spinner.html" %}</span><span class="pull-right"> (Mins)</span>
                                     </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="row">
                                        <span class="col-md-5">Dinner break</span>
                                        <span class="col-md-2">{% include "events/_spinner.html" %}</span><span class="pull-right"> (Mins)</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                     <div class="row">
                                        <span class="col-md-6">Session break</span>
                                        <span class="col-md-4">{% include "events/_spinner.html" %}</span><span> (Mins)</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                     <div class="row">
                                        <span class="col-md-5">Diverse Suppliers</span>
                                        <span class="col-md-2">{% include "events/_spinner.html" %}</span><span></span>
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                     <div class="row">
                                        <span class="col-md-3">Suppliers/Session</span>
                                        <span class="col-md-2">{% include "events/_spinner.html" %}</span><span></span>
                                      </div>
                                  </div>
							  	 
							  
			       
						      </div>
						</fieldset>
					   </div>
                    </div>
				</div>
				
				
				<div class="control-group">
				    <div class="row">
				        <div class="col-md-12"><a class="btn btn-success pull-right" type="button" href="#"><i class="fa fa-files-o"></i> Run matchmaker</a></div>
				    </div><br/>
				    <div class="row">
				        <div class="col-md-6 pull-left">
				            <h1>Total matches: <span class="matches">{{ 85 }}</span></h1>      
				        </div>
				        
				        <div class="col-md-5 pull-right">
				            <span class="control-label input-label">View </span>
							<select class="selectpihcker">
							      <option>All</option>
							      <option>10</option>
							      <option>20</option>
							      <option>30</option>
							      <option>40</option>
							      <option>50</option>
							      <option>70</option>
							      <option>100</option>
							      <option>150</option>
							      <option>200</option>
							      <option>500</option>
							      <option>1000</option>
							      <option>5000</option>
							</select>
					    <form action="#" class="search form-search pull-right">
						<input type="text" class="search-query"/>
						<button type="submit" class="btn"><i class="fa fa-search"></i></button>
					    </form>
					</div>
				    </div>
				</div>
				
				
				
				
				<div class="control-group">
					         
<div class="scrollableContainer">
  <div class="scrollingArea">
  	<table class="cruises scrollable">
  	  <thead>
  			<tr>
  	      <th class="no"><div>#</div></th>
  	      <th class="buyer"><div>Buyer</div></th>
  	      <th class="meeting-time"><div>Meeting time</div></th>
  	      <th class="supplier"><div>Supplier</div></th>
  	      <th class="matched-by"><div>Matched by</div></th>
  			</tr>
  		</thead>
  		<tbody>

        		  <tr class="colorx">
          <td class="no"><div>1</div></td>
          <td class="buyer"><div>Cunard Line</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#" class="toggler" data-prod-cat="1">Ms. Conzales Rose Ann (Great Impact)</a></div></td>
          <td class="matched-by"><div >857, 9847, uhh</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div>Formerly Aegean Dolphin and Aegean I. llc</div></td>
          <td class="matched-by colorx"><div>445, 46t4, 455</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div>Mr. Orona Peter (Advanced Foom and packaging Inc)</div></td>
          <td class="matched-by colorx"><div >567, 4534, 344</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div><a href="#modal-edit-timeslot" data-toggle="modal" >Thundg Berton Niyyt LLc(</a></div></td>
          <td class="matched-by colorx"><div>998,345,543</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div>9.30 AM - 10.00 AM</div></td>
          <td class="supplier colorx"><div><a href="#modal-edit-timeslot" data-toggle="modal" >Vibes carteb (Mini sst LLc)</a></div></td>
          <td class="matched-by colorx"><div>445, 46t4, 455</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div><a href="#modal-edit-timeslots" data-toggle="modal" >Ms thre rtd (Vera)</a></div></td>
          <td class="matched-by colorx"><div >567, 4534, 344</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div><a href="#modal-edit-timeslot" data-toggle="modal" >Mr. titus hrebts (techies Inc)</a></div></td>
          <td class="matched-by colorx"><div>998,345,543</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div>10.00 AM - 11.30 AM</div></td>
          <td class="supplier colorx"><div>Operating llc, tvbmdgv</div></td>
          <td class="matched-by colorx"><div >567, 4534, 344</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div>Operating llc, tvbmdgv</div></td>
          <td class="matched-by colorx"><div >567, 4534, 344</div></td>                        
        </tr>
        		  <tr class="cat1">
          <td class="no"><div></div></td>
          <td class="buyer"><div></div></td>
          <td class="meeting-time colorx"><div></div></td>
          <td class="supplier colorx"><div>Operating llc, tvbmdgv</div></td>
          <td class="matched-by colorx"><div >567, 4534, 344</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>2</div></td>
          <td class="buyer"><div>Cunard zanatackas</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >okra hggj jtrhen ttttt</a></div></td>
          <td class="matched-by"><div >675, 767, 098</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>3</div></td>
          <td class="buyer"><div>Regency Cruises</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Began operation in 1957 as the Gripsholm (II)</a></div></td>
          <td class="matched-by"><div >786, 870, 987 </div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>4</div></td>
          <td class="buyer"><div>tuhklohi Inter</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >764, t75, tyd</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>5</div></td>
          <td class="buyer"><div>Phoebe Reisen</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>6</div></td>
          <td class="buyer"><div>Phoen Voyages</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>10</div></td>
          <td class="buyer"><div>Royal Caribbean</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>11</div></td>
          <td class="buyer"><div>Ever Reisen</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>12</div></td>
          <td class="buyer"><div>Rogggers Vietnam</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>13</div></td>
          <td class="buyer"><div>Tony Btxtn</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>14</div></td>
          <td class="buyer"><div>Phharrel husssein</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>15</div></td>
          <td class="buyer"><div>Sussock derv</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>16</div></td>
          <td class="buyer"><div>dote jckson</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>17</div></td>
          <td class="buyer"><div>Phoebe Reisen</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>18</div></td>
          <td class="buyer"><div>Phoec fagus</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>19</div></td>
          <td class="buyer"><div>Alicia farcus</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>20</div></td>
          <td class="buyer"><div>Sreck hottw</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>21</div></td>
          <td class="buyer"><div>fiona Harry</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>25</div></td>
          <td class="buyer"><div>Gonne Geoffrey</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>27</div></td>
          <td class="buyer"><div>Mouser Gamed</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Mr. Orona Peter (Advanced Foom and packaging Inc)</a></div></td>
          <td class="matched-by"><div >345, 543, 567</div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>29</div></td>
          <td class="buyer"><div>Kenny wtes</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Local Vietnamese shipyard (Vuotsong).</a></div></td>
          <td class="matched-by"><div ></div></td>                        
        </tr>
        		  <tr>
          <td class="no"><div>30</div></td>
          <td class="buyer"><div>Dan tsavangari</div></td>
          <td class="meeting-time"><div>9.00 AM - 9.30 AM</div></td>
          <td class="supplier"><div><a href="#modal-supplier" data-toggle="modal" >Operating yurtv bbn</a></div></td>
          <td class="matched-by"><div >225,282, 767</div></td>                        
        </tr>	 
            </tbody>
  	</table>
	</div>
</div>

					    
				</div><br/>
				
				
				<div class="control-group row">
				
				     <div>
				
				          <fieldset class="scheduler-border col-md-6">
				            <span>Send meeting schedules</span>
				              
				              
				            <form name="meeting-schedules-form" action="#" method="POST">{% csrf_token %}
				                <label class="checkbox">
					           <input type="checkbox" value="" id="emailheckbox1"> Email
						</label>
				                 <div class="row pull-right">
				                     <input type="radio" name="show-send-email" value="show-send-email1" /> Same email for suppliers and buyers</br>
				                     <div id='same-email-show-me' style='display:none'>
				                     
						     <fieldset class="scheduler-border"><br/>
							      <table class="pull-right">
								<tr>
								    <td>Subject:</td>
								    <td><input type="text" name="email_all" value="" maxlength="100" /></td>
								</tr>
								<tr>
								     <td>Body:</td>
								     <td><textarea rows="5" cols="20" name="email_all_body"></textarea></td>
								</tr>
							       </table>
						      </fieldset>
						   </div>
						      <input type="radio" name="show-send-email" value="show-send-email2" />Different emails for suppliers and buyers<br/>
						      <div id='different-email-show-me' style='display:none'>
						      
						      <span>Supplier</span>
						      <fieldset class="scheduler-border"><br/>
						              
							      <table class="pull-right">
							      
								<tr>
								    <td>Subject:</td>
								    <td><input type="text" name="email_some" value="" maxlength="100" /></td>
								</tr>
								<tr>
								     <td>Body:</td>
								     <td><textarea rows="5" cols="20" name="email_some_body"></textarea></td>
								</tr>
							       </table>
						      </fieldset>
						   </div> <br/><br/>
						      <span>Buyer</span>
						      <fieldset class="scheduler-border"><br/>
						              
							      <table class="pull-right">
							      
								<tr>
								    <td>Subject:</td>
								    <td><input type="text" name="email_buyers" value="" maxlength="100" /></td>
								</tr>
								<tr>
								     <td>Body:</td>
								     <td><textarea rows="5" cols="20" name="email_buyers_body"></textarea></td>
								</tr>
							       </table>
						      </fieldset>
					         </div>
					      <div class="row">
						      <label class="checkbox col-md-12">
							   <input type="checkbox" value="" class="pull-left"> SMS
						      </label>
					      </div>
					      <div class="row">
					          <textarea class="col-md-8 pull-right" rows="5" cols="35" name="sms" placeholder="Enter SMS Message"></textarea>
					      </div>
				              
				              <span class="row"><br/> 
				                   <input type="submit" value="Send" class="btn btn-success pull-right"/>
				              </span>
					      </form>
				          
				          </fieldset>
				          
				          
				
				     </div>
				
				
				     <div>
				
				         <fieldset class="scheduler-border pull-right col-md-4">
				             <span>Export schedule</span>
				               <form name="export-form" action="#" method="POST">{% csrf_token %}
				             
						 <div class="controls span2">
							<label class="checkbox">
							    <input type="checkbox" value="option1" id="inlineCheckbox1"> CSV file
							</label>
							<label class="checkbox">
							    <input type="checkbox" value="option2" id="inlineCheckbox2"> XLS file
							</label>
							<label class="checkbox">
							    <input type="checkbox" value="option3" id="inlineCheckbox3"> HTML file
							</label>
							<label class="checkbox">
							    <input type="checkbox" value="option3" id="inlineCheckbox4"> PDF file
							</label>
							
							<div class="row">
							<span>Fields to export</span>
							    
							            <div class="col-md-10 pull-right">
								    	<span class="checkbox">
									  <input type="checkbox" value="company" id="inlineCheckbox2"> Company
									</span>
								 
									<span class="checkbox">
									    <input type="checkbox" value="name" id="inlineCheckbox3"> Name
									</span>
								
									<span class="checkbox">
									    <input type="checkbox" value="schedule" id="inlineCheckbox3"> Schedule
									</span>
								     </div>
							 </div>
							 <span> <input type="submit" value="Export" class="btn btn-success pull-right"/></span>
						    </form>
							
						 </div>
				         
				         </fieldset>
				
				     </div>
				

				</div>
				
			 	
		        </div>
		    <div class="row pull-right">  
		     <div class="col-md-12 pull-right">  
		     <!-- Saving the wholr matches -->
		      <div class="col-md-6"> <input type="submit" value="Cancel" class="btn btn-danger"/></div>
           
                      <div class="col-md-4"> <input type="submit" value="Save current matches" class="btn btn-success"/></div>
                    </div>
                  </div>
	       </div>
	</div>
</div>



		
</div>

<!-- Modal -->
<!-- Modal Buyers-->
<div class="modal fade" id="modal-buyers">
 <div class="modal-dialog">
		<div class="modal-content">
		        			<!-- Modal heading -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" style="text-align: center">Buyers</h3>
			</div>
			<!-- // Modal heading END -->
			
			<!-- Modal body -->
			
			<div class="modal-body">
				<div class="innerAll">
					<div class="innerLR">
						<ul class="list-group">
						   <li class="list-group-item">Tom Morgan</li>
						   <li class="list-group-item">Daisy Hatfield</li>
						   <li class="list-group-item">Cyra Thomas</li>
						   <li class="list-group-item">Vincent Arias</li>
						   <li class="list-group-item">Doug Campell</li>
						   <li class="list-group-item">Daisy Hatfield</li>
						   <li class="list-group-item">Cyra Thomas</li>
						   <li class="list-group-item">Melvin Sukov</li>
						   <li class="list-group-item">Garret Mills</li>
						   <li class="list-group-item">David Moyes</li>
						</ul>
				        </div>
				</div>
		        </div>
		        <!-- // Modal body END -->
		</div>
  </div>
</div>
<!-- End Modal Buyers-->

<!-- Modal sellers-->
<div class="modal fade" id="modal-sellers">
<div class="modal-dialog">
		<div class="modal-content">
		        			<!-- Modal heading -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" style="text-align: center">Sellers</h3>
			</div>
			<!-- // Modal heading END -->
			
			<!-- Modal body -->
			
			<div class="modal-body">
				<div class="innerAll">
					<div class="innerLR">
						<ul class="list-group">
						   <li class="list-group-item">Ms. Conzales Rose Ann (Great Impact)</li>
						   <li class="list-group-item">Mr. DesGrosseiliers Jane (Mountain View Media)</li>
						   <li class="list-group-item">Mrs. Annau Nathalie (Integrated process technologies)</li>
						   <li class="list-group-item">Mrs. Canizales Rose Ann Great Impact</li>
						   <li class="list-group-item">Mr. Orona Peter (Advanced Foom and packaging Inc)</li>
						   						   <li class="list-group-item">Mrs. Annau Nathalie (Integrated process technologies)</li>
						   <li class="list-group-item">Mrs. Canizales Rose Ann Great Impact</li>
						   <li class="list-group-item">Mr. Orona Peter (Advanced Foom and packaging Inc)</li>
						   						   <li class="list-group-item">Ms. Conzales Rose Ann (Great Impact)</li>
						   <li class="list-group-item">Mr. DesGrosseiliers Jane (Mountain View Media)</li>
						   <li class="list-group-item">Mrs. Annau Nathalie (Integrated process technologies)</li>
						   <li class="list-group-item">Mr. Orona Peter (Advanced Foom and packaging Inc)</li>
						   						   <li class="list-group-item">Mrs. Annau Nathalie (Integrated process technologies)</li>
						   <li class="list-group-item">Mrs. Canizales Rose Ann Great Impact</li>

						</ul>
				        </div>
				</div>
		        </div>
		        <!-- // Modal body END -->
		</div>
  </div>
</div>
<!-- End Modal sellers-->

<!-- Modal suppliers-->
<div class="modal fade" id="modal-supplier">
    <div class="modal-dialog">
		<div class="modal-content">
		        			<!-- Modal heading -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" style="text-align: center">Send SMS</h3>
			</div>
			<!-- // Modal heading END -->
			
			<!-- Modal body -->
			
			<div class="modal-body">
				<div class="innerAll">
					<div class="innerLR">
					    <form name="sms-form" action="#" method="POST">{% csrf_token %}
						   <span>To:</span><br/>
						   <div class="row">
						       <textarea class="col-md-8" rows="5" cols="35" name="sms" placeholder="Enter SMS Message"></textarea>
						   </div><br/>
						   <div> <input type="submit" value="Send" class="btn btn-success pull-right"/></div><br/>
					    </form> 
					</div>
				</div>
			</div>
		</div>
	
    </div>
</div>
<!-- Modal suppliers End-->

<!-- Modal suppliers-->
<div class="modal fade" id="modal-edit-timeslot">
    <div class="modal-dialog">
		<div class="modal-content">
		        			<!-- Modal heading -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" style="text-align: center">Update time slot</h3>
			</div>
			<!-- // Modal heading END -->
			
			<!-- Modal body -->
			
			<div class="modal-body">
				<div class="innerAll">
					<div class="innerLR">
					    <form name="sms-form" action="#" method="POST">{% csrf_token %}
						   <span>Time:</span><br/>
						   
						     <div class="row">
						       <div class="col-md-12">
							<span class="control-label input-label">Supplier</span>
							<select class="selectpihcker">
							      <option>Santos Andreas</option>
							      <option>Mark hg nhdre</option>
							      <option>Mina desmond</option>
							      <option>Barley carrington</option>
							      <option>Evarl goera</option>
							      <option>Amal Rates</option>
							</select>
						      <input type="submit" value="Update" class="btn btn-success pull-right"/>
						    </div><br/>
					    </form> 
					</div>
				</div>
			</div>
		</div>
    
    </div>
</div>
<!-- Modal suppliers End-->

<!-- Modal End-->

{% endblock %}

            {% block js %}
	<script src="{{ STATIC_URL }}assets/components/library/jquery/jquery.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/library/jquery/jquery-migrate.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/library/modernizr/modernizr.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/less-js/less.min.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.9.6&sv=v0.0.1"></script>
	<script src="{{ STATIC_URL }}assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.9.6&sv=v0.0.1"></script>	<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

<script src="{{ STATIC_URL }}assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/breakpoints/breakpoints.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/plugins/preload/pace/pace.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/preload.pace.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/sparkline/jquery.sparkline.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/charts/sparkline/sparkline.init.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/maps/vector/assets/lib/jquery-jvectormap-1.2.2.min.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/maps/vector/assets/lib/maps/jquery-jvectormap-world-mill-en.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/modules/admin/maps/vector/assets/custom/maps-vector.world-map-markers.init.js?v=v1.9.6&sv=v0.0.1"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/core.init.js?v=v1.9.6"></script>
<script src="{{ STATIC_URL }}assets/components/core/js/animations.init.js?v=v1.9.6"></script>	
<script src="{{ STATIC_URL }}js/spinner.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="{{ STATIC_URL }}tinymce/js/tinymce/tinymce.min.js"></script>
<script>
        tinymce.init({selector:'textarea',
                      toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
         });
         
</script>

 {% endblock js %}
