 {% load humanize %}
      <form action="/events/attending/{{ event.id }}/" method="post">
                             {% csrf_token %}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Register to {{ event.name }}</h4>
							</div>
							<div class="modal-body">


								<div class="row">

									<div class="col-md-12">
										<div class="alert alert-info fade in">
								<button data-dismiss="alert" class="close">
									×
								</button>
								<i class="fa-fw fa fa-warning"></i>

                                            <section>

												<h4>That will take place in {{ event.venue }} starting {{ event.start_time|naturaltime }}
                                                    <br/>I want to attend this event as a</h4>

													<div class="inline-group col col-6" >
														<label class="radio">
															<input type="radio" checked="checked" name="buyer" value="2">
															<i></i>Seller</label>
														<label class="radio">
															<input type="radio" name="buyer" value="1">
															<i></i>Buyer</label>

													</div>
												</section>


							</div>


									</div>
								</div>



							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="submit" class="btn btn-primary">
									Yes  Register
								</button>
							</div></form>