{% extends 'admin_base.html' %}
{% block bread_crumb %}
{% endblock bread_crumb %}
{% load humanize %}
{% block content %}
    <div id="content">

<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/redactor/jquery.min.js"></script>
<script type="text/javascript" src="/static/redactor/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/redactor/redactor.min.js"></script>
<script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js?v=2"></script>
<script type="text/javascript" src="/static/select2/js/select2.js?v=1"></script>



				<!-- row -->
				<div class="row " >

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-sm-12">

								<section class="" id="widget-grid">


	<!-- START ROW -->

	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">


            <div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">
					<span class="widget-icon"> <i class="fa fa-search"></i> </span>
					<h2>Search </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form novalidate="novalidate" class="smart-form" id="order-form">

                            <fieldset>
                            <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Looking for </strong> </label>
									</section>
                                    <section class="col col-6">
										<label class="select">
											<select name="mm_type">
												<option disabled="" selected="" value="0">Event Type</option>
												<option value="1">One to One Matchmaking</option>
												<option value="2">One to many Matchmaking</option>
												<option value="3">Speed Networking</option>
                                                <option value="4">Workshops</option>
                                                 <option value="4">Any Event</option>
											</select> <i></i> </label>

									</section>


								</div>
                            </fieldset>





							<fieldset>
                                <div class="row">
									<section class="col col-12">
										<label class="select">
										<strong>Filter by location </strong> </label>
									</section>


								</div>




                                <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Country </strong> </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											 <strong>State</strong>

                                        </label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											<strong>City</strong>

                                        </label>
									</section>

								</div>
                                <div class="row">
									<section class="col col-4">
										<label class="select">
											{{ form.country }}
                                             <i></i>
										</label>
									</section>
									<section class="col col-4">
										<label class="select">
											{{ form.region }}
                                            <i></i>
										</label>
									</section>
                                    <section class="col col-4">
										<label class="select">
											{{ form.city }}
                                            <i></i>
										</label>
									</section>
								</div>
                                 </fieldset>
                            <fieldset>
                                <div class="row">
									<section class="col col-4">
										<label class="select">
										<strong>Paid OR Free </strong> </label>
									</section>
                                    <section class="col col-8">
										<label class="select">
											<select name="size" >

												<option value="1">Free Event</option>
												<option value="1">Paid Event</option>

											</select> <i></i></label>

									</section>



								</div>
                                </fieldset>
                            <fieldset>
                                <div class="row">

                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Event starts on" name="start_time" id="from">

                                        </label>
									</section>



                                    <section class="col col-6">
										<label class="input"><i class="icon-append fa fa-clock-o"></i>
											<input type="text" placeholder="Event End Time" name="end_time" id="to">
										 <b class="tooltip tooltip-bottom-right">Event end date and time</b>
                                        </label>
									</section>


								</div>
                            </fieldset>







                             <fieldset>
                             <section >
							<strong>Attendance</strong>
							</section>
							<section >
							<input id="range-slider-2" type="text" name="range_2"
                                   value="1000;100000" data-type="double" data-step="500" data-postfix=" $"
                                   data-from="30000" data-to="90000" data-hasgrid="true">
							</section>
                             </fieldset>
                            <fieldset>
                             <section >
							<strong>Registration Fees</strong>
							</section>
							<section >
							<input id="range-slider-3" type="text" name="range_3"
                                   value="0;100" data-type="double" data-step="1" data-postfix=" yrs"
                                   data-from="0" data-to="100" data-hasgrid="true">
							</section>
                             </fieldset>



                            <footer>
								<button class="btn btn-primary" type="submit">
									Search
								</button>
							</footer>






						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>

			</article>
		<!-- END COL -->

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


			<!-- Widget ID (each widget will need unique ID)-->

			<!-- end widget -->


		<div data-widget-custombutton="false" data-widget-editbutton="false"  class="jarviswidget jarviswidget-sortable" style="" role="widget">

				<header role="heading">

					<span class="widget-icon"> <i class="fa fa-comment-o"></i> </span>
					<h2> Search Results </h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">



                        <div class="row">

                    <div class="col-sm-12">


							<div class="well well-sm">


								<div class="row">
                                {% if following %}



                                    {% for event in following %}
                                        <div class="search-results clearfix " style="margin-left:5%">
									<h4><a href="javascript:void(0);">{{ event.name }}  {{ event.start_time|naturaltime }}
                                        to {{ event.end_time|date}}
                                    </a>&nbsp;&nbsp;<a href="javascript:void(0);"><i class="fa fa-caret-up fa-lg"></i></a></h4>
                                            {% if event.cover %}
									<img alt="" src="{{ event.cover.url }}">
                                            {% else %}
                                                <img alt="" src="{{ STATIC_URL }}images/education.jpg">
                                            {% endif %}
									<div>
										<p class="note">
											<a class="text-danger" href="javascript:void(0);">
                                                <i class="fa fa-thumbs-up"></i> {{ event.mm_type }}&nbsp;&nbsp;</a>
											<a href="javascript:void(0);"><i class="fa fa-location-arrow"></i>
                                               {{ event.city }} {{ event.region }}&nbsp;&nbsp;{{ event.country }}</a>

										</p>
										<div class="url text-success">
											Registration starts {{ event.reg_start|naturaltime}} and closes on {{ event.reg_end|date }}
                                            <i class="fa fa-caret-down"></i>
										</div>
                                        <div class="url text-warning">
											<strong>{{ event.subject }}</strong>
                                            <i class="fa fa-building"></i>
										</div>
										<p class="description">
											{{ event.description }}
											<br>
											<br>
                                            &nbsp;&nbsp;<a class="btn btn-default btn-xs" href="javascript:void(0)">
                                            <i class="fa fa-money" title="Paid Event"></i></a>
											&nbsp;&nbsp;<a class="btn btn-default btn-xs" href="javascript:void(0)">Go to Event Page</a>
                                            &nbsp;&nbsp;<button data-target="#mymodal" data-toggle="modal" data-remote="/events/attending/{{ event.id }}/"
                                                                     class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-sign-in "></i> Register
                                                              </button>
                                            &nbsp;&nbsp;<a class="btn btn-inverse btn-xs" href="javascript:void(0)">
                                            <i class="fa fa-user" title="Attending">&nbsp;&nbsp;200 Attending</i></a>
                                            &nbsp;&nbsp;<a class="btn btn-warning btn-xs" href="javascript:void(0)">
                                            <i class="fa fa-filter" title="Event Type">
                                                &nbsp;&nbsp;{{ event.get_mm_type_display }}</i></a>
										</p>
									</div>

								</div>


                                    {% endfor %}
                                {% else %}
                                     <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-block alert-success">
                                        <a href="#" data-dismiss="alert" class="close">×</a>
                                        <h4 class="alert-heading"><i class="fa fa-search"></i>
                                            Whoops no results found! </h4>
                                        <p>
                                            Please refine your search criteria and try again
                                        </p>
                                    </div>
                                     </div>
                                {% endif %}
                                <div class="text-center col-sm-12 col-md-12 col-lg-12">
									<hr>
									<ul class="pagination no-margin">
										<li class="prev disabled">
											<a href="javascript:void(0);">Previous</a>
										</li>
										<li class="active">
											<a href="javascript:void(0);">1</a>
										</li>
										<li>
											<a href="javascript:void(0);">2</a>
										</li>
										<li>
											<a href="javascript:void(0);">3</a>
										</li>
										<li class="next">
											<a href="javascript:void(0);">Next</a>
										</li>
									</ul>
									<br>
									<br>
									<br>
								</div>






								</div>

							</div>


					</div>



					</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->

</section>

							</div>

						</div>

					</div>

				<!-- end row -->

			</div>

			</div>




    <!-- Modal -->
				<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content">

						</div>
                        <!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

{% endblock content %}
{% block page_js %}
    <!-- PAGE RELATED PLUGIN(S) -->
		<script src="{{ STATIC_URL }}assets/js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/ion-slider/ion.rangeSlider.min.js"></script>

    <!-- PAGE RELATED PLUGIN(S) -->

		<script src="{{ STATIC_URL }}assets/js/plugin/x-editable/moment.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/plugin/x-editable/jquery.mockjax.min.js"></script>




    <script>
$(document).ready(function() {
    $("#range-slider-2").ionRangeSlider();
    $("#range-slider-3").ionRangeSlider();
    // Date Range Picker
    var date = new Date();
    date.setDate(date.getDate());

			$("#from").datepicker({
			    defaultDate: "+1w",
                minDate: 0,
			    changeMonth: true,
			    numberOfMonths: 3,
                startDate: date,
			    prevText: '<i class="fa fa-chevron-left"></i>',
			    nextText: '<i class="fa fa-chevron-right"></i>',
			    onClose: function (selectedDate) {
			        $("#to").datepicker("option", "minDate",selectedDate);
			    }

			});

			$("#to").datepicker({
                minDate: 0,
			    defaultDate: "+1w",
			    changeMonth: true,
                startDate: date,
			    numberOfMonths: 3,
			    prevText: '<i class="fa fa-chevron-left"></i>',
			    nextText: '<i class="fa fa-chevron-right"></i>',
			    onClose: function (selectedDate) {
			        $("#from").datepicker("option", "maxDate",selectedDate);
			    }
			});
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});

 });

</script>
    <style>
            #s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width:310px;
}
        </style>
{% endblock page_js %}