{% extends 'admin_base.html' %}

	{% block extra_css %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/tablestyles.css" xmlns="http://www.w3.org/1999/html"/>

    {% endblock extra_css %}


{% block content %}

<div class="row">
    <div class="col-md-12">

        <h1>Matchmaker schedule</h1><br/>


        <div class="col-md-4">
            <span class="control-label input-label col-md-4">Select event</span>
            <select class="selectpihcker col-md-8">
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
                <option>MIDA presentation</option>
            </select>
        </div>
        <div class="col-md-8">
             <a class="btn btn-success" type="button" href="#"><i class="fa fa-search"></i> Show event schedule</a>
        </div>
        <br/>


        <div class="col-md-11">
            <h2>MIDA presentation schedule</h2>
            <div class="fixed-table-container pull-left">
                  <div class="header-background"> </div>
                  <div class="fixed-table-container-inner">

                        <table cellspacing="0">
                              <thead>
                                    <tr>
                                          <th class="first">
                                            <div class="th-inner fst1" style="text-align: center; color: #ffffff">Table #</div>
                                          </th>
                                          <th class="second">
                                            <div class="th-inner fst2" style="text-align: center; color: #ffffff">Meeting Time</div>
                                          </th>
                                          <th class="third">
                                            <div class="th-inner fst3" style="text-align: center; color: #ffffff">Supplier</div>
                                          </th>
                                          <th class="fourth">
                                            <div class="th-inner fst4" style="text-align: center; color: #ffffff">Matching criteria</div>
                                          </th>
                                    </tr>
                              </thead>
                              <tbody class="colorall">
                                    <tr>
                                      <td class="fst1">12</td>
                                      <td class="fst2">9:00 AM - 9:30 AM</td>
                                      <td class="fst3">Mr. Hubbard  Gene (Volte communications Inc)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">23</td>
                                      <td class="fst2">9:30 AM - 10:00 AM</td>
                                      <td class="fst3">Mr. desGrosseilliers Jane (Mountain View Media)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">11</td>
                                      <td class="fst2">10:00 AM - 11:00 AM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">12</td>
                                      <td class="fst2">11:00 AM - 11:30AM</td>
                                      <td class="fst3">Ms. Canizales Rose Ann (Great Impact)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">16</td>
                                      <td class="fst2">11:30AM - 12:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">2</td>
                                      <td class="fst2">12:00 PM - 12:30 PM</td>
                                      <td class="fst3">Mr. Orona Peter (Advanved Foarm & packaging, Inc) </td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">5</td>
                                      <td class="fst2">12:30 PM - 13:00 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">13</td>
                                      <td class="fst2">13:00 PM - 13:30 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">18</td>
                                      <td class="fst2">13:30 PM - 14:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">20</td>
                                      <td class="fst2">14:00 PM - 14:30 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">19</td>
                                      <td class="fst2">14:30 PM - 15:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">17</td>
                                      <td class="fst2">15:00 - 15:30 PM PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">28</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">34</td>
                                      <td class="fst2">16:00 PM - 16:30 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">89</td>
                                      <td class="fst2">16:30 PM - 17:00 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">17</td>
                                      <td class="fst2">15:00 - 15:30 PM PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">28</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">34</td>
                                      <td class="fst2">16:00 PM - 16:30 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">89</td>
                                      <td class="fst2">16:30 PM - 17:00 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">87</td>
                                      <td class="fst2">15:00 - 15:30 PM PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">99</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">134</td>
                                      <td class="fst2">16:00 PM - 16:30 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">189</td>
                                      <td class="fst2">16:30 PM - 17:00 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">200</td>
                                      <td class="fst2">15:00 - 15:30 PM PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">300</td>
                                      <td class="fst2">15:30 PM - 16:00 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">476</td>
                                      <td class="fst2">16:00 PM - 16:30 PM</td>
                                      <td class="fst3">Mr. Sosniscki Ted (Go Green World, LLC)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                                    <tr>
                                      <td class="fst1">487</td>
                                      <td class="fst2">16:30 PM - 17:00 PM</td>
                                      <td class="fst3">Ms. Anau Nathalie (Integreted process technologies)</td>
                                      <td class="fst3">331, 555, 593</td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}