{% extends "base.html" %}
{% block extra_css %}

    <!--<link href="{{ STATIC_URL }}css/bootstrap-form-builder/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/bootstrap-form-builder/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-form-builder/css/custom.css" rel="stylesheet">

{% endblock extra_css %}
{% block content %}
    <div class="container">
      <div class="row clearfix">

        <!-- Components -->
        <div class="span6">
          <div class="tabbable">
            <ul class="nav nav-tabs" id="formtabs">
              <!-- Tab nav -->
            </ul>
            <form class="form-horizontal" id="components">
              <fieldset>
                <div class="tab-content">
                  <!-- Tabs of snippets go here -->
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- / Components -->
        <!-- Building Form. -->
        <div class="span6" style="float:right;width:550px;padding-top:1px;">
        <div class="row clearfix">
            <h2>Survey Builder</h2>
            <hr>
            <div id="build">
              <form id="target" class="form-horizontal">
              </form>
            </div>
          </div>
        </div>
        <!-- / Building Form. -->
      </div>

    </div> <!-- /container -->

<div class="row clearfix">
{% endblock %}
{% block extra_js %}

    <script data-main="{{ STATIC_URL }}css/bootstrap-form-builder/js/main-built.js" src="{{ STATIC_URL }}css/bootstrap-form-builder/js/lib/require.js" ></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-13083321-13', 'minikomi.github.io');
      ga('send', 'pageview');

    </script>

{% endblock extra_js %}